[2016-04-05 20:18] gryffus commented on #1224
Could placeMarketOrder() use placeBitMarketOrder() in the same way as placeLimitOrder() does?

[2016-04-05 20:31] timmolter commented on #1224
If there are exceptions thrown, it's highly likely that the exchange changed their API and the code in XChnage is no longer working and needs to be fixed.

Look at the xchange-examples module for many examples of using the raw service directly.

Probably not, but possibly, depending on the details of the exchange. You need to see what REST endpoint the exchange has for placing market orders, and w

[2016-04-06 21:03] gryffus commented on #1224
Ok, so it works even with the generic API, the market just does not support market orders.
I have updated wiki with supported markets to reflect that.
But in my test i have found following issue:
If i send this LimitOrder to the market:
`LimitOrder [limitPrice=367.3905, Order [type=ASK, tradableAmount=0.01000000, averagePrice=0, currencyPair=BTC/EUR, id=null, timestamp=null, status=PENDING_NEW]]`

[2016-04-06 21:44] gryffus commented on #1140
I think that conversion from BitmarketOrder to Order is still wrong.
If i request an order with: `accountService.getOpenOrders().getOpenOrders().get(0);`
My (Ask) order gets returned as:
LimitOrder [limitPrice=367.3905, Order [type=BID, tradableAmount=0.01000000, averagePrice=0, currencyPair=BTC/EUR, id=42637602, timestamp=Wed Apr 06 22:46:23 CEST 2016, status=PENDING_NEW]]

[2016-04-07 00:50] gryffus commented on #1140
Also placing BID Limit order (Bitmarket supports only Limit orders, no Market orders) places ASK limit on the auction. IMHO this patch should be reverted

[2016-04-07 15:01] evdubs commented on #1165
I have this working, but there doesn't seem to be a consistent protocol for WebSocket data handling across XChange. Has this gotten better? I can either try to shoehorn something in it at least make the code available if someone else wants to port it.

[2016-04-07 15:19] evdubs commented on #933
Is 4.0 intended to be the next release? Have there been enough features added to warrant a 3.2 release while the 4.0 features are sorted out?

[2016-04-07 22:03] matthewdowney commented on #250
Has anybody made progress toward a hack to get around this without the 20ms delay? @timmolter You're right that the computer can only send one request at a time over the wire, but `PollingTradeService::placeLimitOrder` returns the order id, and must communicate with the exchange to do so. So there is definitely a significant speed increase from being able to make non-blocking `placeLimitOrder` cal

[2016-04-08 02:50] gryffus commented on #1224
Ok, so the problem should be solved by https://github.com/timmolter/XChange/pull/1227, so please review it.
But my second question still remains, what is the recommended way of verifying if my trade is still on the market and not sold?

[2016-04-08 07:32] mmazi commented on #933
I suggest a 3.x final release. Can we do this?

It's been a while since the last final release and I'd feel a bit better if I could use a fixed final version of the code when I need to use some of the features added in the last 8 months.

[2016-04-08 10:02] timmolter commented on #933
OK, I'll put some work into it thgis weekend. I might just release 4.0.0, as I think most of the features are implemented and if not hopefully I can do them quickly enough.

[2016-04-08 10:04] timmolter commented on #1224
Thanks, I'm happy you figured that out.

To answer your second question, I'd like to ask this one: "What API does Bitmarket provide to query open orders?

[2016-04-08 10:07] timmolter commented on #250
@matthewdowney What exchange are you working with? There is a new improved mechanism in XChange that makes dealing with this much better. When setting up the exchange, you can define a NonceFactory and the nonce is actually created by Rescu at the very moment before the message is sent.

[2016-04-08 10:13] timmolter commented on #1165
Unfortunately not. Streaming in XChange is quite sloppy and inconsistent. While that's not a good state to be in, I think having stuff that (at least) works is slightly better. Either that or completely removing all streaming code was also something I was considering.

[2016-04-08 11:17] gryffus commented on #1224
It implements getOpenOrders() in pollingTradeService(), so i'm fetching it from market with
`orders = tradeService.getOpenOrders();`
and then searching in it with
`orders.getOpenOrders().stream().anyMatch(l -> l.getId().equals(placedAskId));`

[2016-04-08 11:36] timmolter commented on #1224
That sounds like a good way to do it.

[2016-04-08 16:42] matthewdowney commented on #250
@timmolter Excellent! Primarily Bitfinex, Coinbase Exchange, Bitso, and Kraken. How is this done? I took a cursory look at [ExchangeSpecification](https://github.com/timmolter/XChange/blob/f2491a85e26cd526fd3baa3d9c07027345058d16/xchange-core/src/main/java/com/xeiam/xchange/ExchangeSpecification.java) and [ExchangeFactory](https://github.com/timmolter/XChange/blob/f2491a85e26cd526fd3baa3d9c0702734

[2016-04-08 17:09] timmolter commented on #250
take a look around in the `xchange-examples` module. Or search for usages of `NonceFactory` and you'll find what you're looking for.

[2016-04-08 17:30] matthewdowney commented on #250
@timmolter Thanks. For anyone else who ends up reading this, I think this is what is being referred to. The only result I found from a search of `xchange-examples` for `NonceFactory`, anyway.

[code]

[2016-04-10 06:38] abelgo commented on #1211
So this kind of stuff happens all the time. These exchanges are not really at any kind of NYSE type professional level. The HTTP 522 error is a connection timeout. It could be any thing from the result of cloud fare blocking a DOS attack, or just some maintenance update where they took the service down.

[2016-04-10 07:11] abelgo opened #1231 "Margin Lending Support"
Do we have any thing that supports this at the moment. ?
So we have sort of support for exchanges whit more than one wallet in AccountInfo, But then in the PolingAccountService we don't have and calls in the interface to do transfers between different wallets.

I saw the dto for LoneOrders but not sure that is usable with the PolingTradeService at this point ?

[2016-04-10 07:28] abelgo commented on #933
I agree with @jheusser, We need to probably re work the service interfaces so they are as generic as possible and independent of the underlying implementation, be it Poling, WebSocket or what ever my be available on some more advanced exchanges.  So for example in the Exchange interface instead of getPolingTradeService, we want to have something like getExchagneServiceInstance(ExchangeSpecificatio

[2016-04-11 09:23] mmazi commented on #1193
I think the safest nonce factory to use for 32-bit nonces is `TimestampIncrementingNonceFactory` -- for an argumentation see eg. #851 . (It's not 100% bullet proof, but that's because of issues inherent to HTTP APIs and the limitation of 32 bits.)

(This is when 32-bit nonces are required; with 64-bit nonces, a simple millisecond timestamp (`CurrentTimeNonceFactory`) is simpler and better.)

I cha

[2016-04-11 09:44] mmazi opened #1233 "Complete the generic API with exceptions"
## Rationale

One of the main features of XChange is the unified API to access many exchanges. This is provided through interfaces and their methods, eg:

[code]

So there is a single method signature that works for any exchange: the method parameters and the return type are well defined. This is great for the obvious reasons.

One thing that is lacking in the definition of the method is a well-de

[2016-04-11 09:46] mmazi commented on #1063
I don't think requiring every exchange implementation to include tons of try/catch boilerplate is a very good idea, for several reasons, including (but not limited to):
- There will be huge amounts of boilerplate (perhaps more than actual logic) which makes code unreadable and difficult to maintain.
- People just won't do it, or will do it wrong.

If this is indeed desirable ( @timmolter , could y

[2016-04-11 20:52] douggie commented on #1231
okcoin support futures but this is handeled a little differently by the exchange as okcoin treats them as a seperate product within the same account.

Margin trading on other exchange support the same product funded from a different 'margin account'

Keen to get this working for poloniex.

Not sure what Tim thinks but may be something along the following lines

1) add a flag to the order type like

[2016-04-12 07:56] timmolter commented on #1063
Closing in order to discuss this first more in depth. Thanks @mmazi !

[2016-04-12 07:56] #1063 closed

[2016-04-12 08:17] timmolter commented on #1233
I agree that proper exception handling is very important to the API design. Thanks for taking the initiative to clean this up.

Before my reasoning to wrap exceptions in a generic `ExchangeException` was to have a single exception type to catch and deal with at the generic API level rather than 'leak' raw exception types like `BitfinexException` out of the generic API. However, I agree with all yo

[2016-04-12 08:26] mmazi commented on #1233
I think we can provide support for exception handling in Services, using an `InvocationHandler`. It will be still up to exchange implementations to use this, but it should be doable in a few lines of code per implementation.

I'll write more about this, or perhaps provide a proof of concept, when I find the time (can't say when right now).

[2016-04-12 08:27] timmolter commented on #1231
Feel free to add any functionality you'd like at the "Raw" level. If it's commonly used across multiple exchanges, we can talk about adding it tot the "generic" level.

[2016-04-12 08:28] timmolter commented on #1233
@mmazi I'd appreciate to see a proof of concept. Sounds like a good solution. Thanks!

[2016-04-12 08:30] timmolter commented on #1224
fixed in #1227

[2016-04-12 08:30] #1224 closed

[2016-04-12 09:49] timmolter commented on #1214
@hegjon Please see <https://github.com/timmolter/XChange/wiki/Design-Notes> and <https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions> to address your issue. I just updated it for you specifically. Cheers!

[2016-04-12 09:49] #1214 closed

[2016-04-12 09:50] timmolter commented on #1204
Thanks for the implementation. Closing...

[2016-04-12 09:50] #1204 closed

[2016-04-12 09:53] mmazi commented on #1233
I was thinking something like this:
http://www.mscharhag.com/java/aspectj-exception-translation

AspectJ is supposed to be compatible with Android.

[2016-04-12 09:56] #1179 closed

[2016-04-12 09:57] timmolter commented on #1178
Weird. Any update on this?

[2016-04-12 10:02] douggie commented on #1231
Hi Tim,

Quite a few exchanges support the concept of 'lending' a balance for your
to trade with, aka margin.

here are a couple I am aware of.

*bitfinex*
https://www.bitfinex.com/pages/howitworks
*poloniex*
https://poloniex.com/support/aboutMarginTrading/
*Kraken*
https://support.kraken.com/hc/en-us/sections/200560633-Leverage-and-Margin

Do you think it would make sense to add it at the 'genric

[2016-04-12 10:12] timmolter commented on #1231
Yes, I think it's a possible candidate. First you should create PRs for the Raw implementations. Then create a PR for the generic implementation. That's the best and most efficient way to show it working.

[2016-04-12 10:15] timmolter commented on #1233
Interesting. I never saw that before. So how would we use that to convert prevent non-generic exceptions from leaking out of the generic layer? For a concrete example, where would `BitfinexException` be converted exactly? And would we even want/need `ExchangeException` anymore?

[2016-04-12 10:30] mmazi commented on #1233
The article describes a use case example that is almost identical to the XChange case: HibernateException is analogous to BitfinexException (etc.) and DataAccessException is analogous to ExchangeExeption.

I think ExchangeExeption can still be used as the root of the exception hierarchy, but I don't think this is relevant here.

I'm working on a POC, but not sure when it will be ready (if it prove

[2016-04-12 10:41] douggie commented on #1231
As always Tim!

Douggie Melville-Clarke
+44 7825 817575
douggiem@traiana.com

[2016-04-12 10:45] timmolter commented on #250
@matthewdowney Please see <https://github.com/timmolter/XChange/wiki/Design-Notes> and <https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions> to address your issue. I just updated it for you specifically. Cheers!

[2016-04-12 10:46] timmolter commented on #1233
OK, sounds good. No rush...

[2016-04-12 18:32] blbradley commented on #1178
I've quit using XChange in my project. So, I have nothing else to report. Sorry!

[2016-04-12 19:27] timmolter commented on #1178
OK, thanks!

[2016-04-12 19:27] #1178 closed

[2016-04-13 08:28] timmolter opened #1235 "XChange 4.1.0 Wish List"
1. ~~Purge all streaming code/implementations, fork into a separate project?? (Curious to hear opinions on this. I find it a huge un-maintainable mess, and I have no time to dedicate to it)~~
2. Exception handling cleanup (#1233)
3. ???

Not everything in the [4.0.0 wish list](https://github.com/timmolter/XChange/issues/933) got implemented. We can/should transfer things forward from that list tha

[2016-04-13 09:40] ezhik97 opened #1236 "PoloniexBasePollingService in 4.0.0 can't work"
Some changes were affected in snapshot. I just try to recompile my project and it can't work anymore - I have an exception:
`java.lang.NoSuchFieldError: ACCEPT_EMPTY_ARRAY_AS_NULL_OBJECT
	at com.xeiam.xchange.poloniex.service.polling.PoloniexBasePollingService$1.configureObjectMapper(PoloniexBasePollingService.java:51)
	at si.mazi.rescu.serialization.jackson.JacksonMapper.<init>(JacksonMapper.java

[2016-04-13 09:52] timmolter commented on #1236
We've bumped up to 4.0.1-SNAPSHOT after the 4.0.0 release. Notice the namespace change as well.

[2016-04-13 10:44] ezhik97 commented on #1236
I've moved to 4.0.0 release version (and new package) - the same story.

[2016-04-13 11:21] timmolter commented on #1236
which version of rescu is on your classpath?

[2016-04-13 11:24] ezhik97 commented on #1236
1.8.1

[2016-04-13 11:25] timmolter commented on #1236
OK, that's correct.

See: <https://github.com/vkolodrevskiy/spring-social-vkontakte/issues/35>. I think your Jackson deps are outdated versions.

[2016-04-13 11:38] ezhik97 commented on #1236
Yes, wafter updated jackson-databind it works. May be it may sense to add this dependency to xchange project pom?

[2016-04-13 11:47] timmolter commented on #1236
What did you have to update jackson-databind to, to get it to work? If greater than 2.5.0, we'll have rescu update its pom.

[2016-04-13 11:49] ezhik97 commented on #1236
The jackson-databind is on version 2.5.4 now.

[2016-04-13 11:57] timmolter commented on #1236
@mmazi I think we might need a pom update in rescu. thoughts?

[2016-04-13 12:05] ezhik97 commented on #1236
I've not discover what jar required this dependency, but I think that if we use jackson-databind functionality (in poloniex module we use DeserializationFeature class), we must declare this dependency ourself.

[2016-04-13 12:09] timmolter commented on #1236
No, look at the dependency hierarchy. Simplest is to update the rescu pom.

[2016-04-13 12:15] mmazi commented on #1236
Jackson version has been updated for rescu 1.8.2-SNAPSHOT. I suggest to upgrade the rescu version in XChange pom (currently uses 1.8.1).

[2016-04-13 12:16] ezhik97 commented on #1236
@mmazi, @timmolter - great!

[2016-04-13 12:17] mmazi commented on #1236
But I thinks XChange 4.0.0 is actually incorrect. Probably 4.0.1 should be released as a hot fix with an explicit dependency on jackson 2.5.x (and possibly jackson excluded from the rescu dependency in xchange).

[2016-04-13 12:21] timmolter commented on #1236
@mmazi You'll need to push update the rescu snapshot with the change. I can do a hot fix in a few days. there could be more issues popping up. You could also consider doing a rescu release beforehand as well.

[2016-04-14 07:56] timmolter commented on #1236
@mmazi You said you updated your 1.8.2-SNAPSHOT code/jar, but I don't see any new jar or new commits.

[2016-04-14 08:53] mmazi commented on #1236
@timmolter It was done a while ago: https://github.com/mmazi/rescu/commit/2eec5c74e1f51db2108f84c61365155aef7cb9ff#diff-600376dffeb79835ede4a0b285078036R221

[2016-04-14 09:10] timmolter commented on #1236
OK, but I thought the jackson dependency needed to be greater than 2.5.0, like around 2.5.4 or something. rescu 1.8.1 already depends on 2.5.0 so bumping to 1.8.2-SNAPSHOT doesn't even change anything. There are many new releases: http://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-core

[2016-04-14 09:46] mmazi commented on #1236
@timmolter

No, ACCEPT_EMPTY_ARRAY_AS_NULL_OBJECT exists in Jackson 2.5.0.

You're right; I was wrong before.

So now I think XChange 4.0.0 is actually OK. I've recompiled (with the rescu dependency downloaded by mvn from Maven Central) with no problems.

@ezhik97

You can check where it comes from like this:

    mvn dependency:tree

Exactly my thoughts. @timmolter  XChange should probably have a

[2016-04-19 06:33] Achterhoeker opened #1240 "getExchangeSymbols removed"
In my latest pull from xchange the getExchangeSymbols call is removed.
This api call was for some time marked as deprecated. Advised was to use getMetaData().getMarketMetaDataMap().keySet().

But this call isn't working correctly on some xchanges. For example bter and bittrex are now broken. I can not find any way to acquire the symbol pairs on the common api supported on those exchanges. The getM

[2016-04-19 08:14] timmolter opened #1241 "Clean up build regarding javadocs and source"
See comment on PR #1234 . Basically, the default should be to not generate all the extra stuff, but if a flag is set, it should.

[2016-04-22 10:15] douggie opened #1242 "Update okcoin futures getOrder to return all filled orders if not order id list supplied"

[2016-04-23 11:46] baffo32 commented on #933
@abelgo see also e.g. #1101 .  I spent some time planning precisely out how to generalize xchange so as to allow all exchanges to use the same interface and enumerate available functionality, flexible enough to allow adapters between polling and streaming interfaces allowing services to be used in either way.  I think I left this work at https://github.com/baffo32/XChange/tree/refactor .  I'm afra

[2016-04-25 13:47] Achterhoeker opened #1244 "Euro support on bitstamp"
https://www.bitstamp.net/article/bitstamp-first-nationally-licensed-btc-exchange/

Is somebody already working on this ? Adding the new eur/btc pair in the json file isn't enough. The api has been changed to support euro trading.

[2016-04-26 05:24] kyipi commented on #1184
hi there, unfortunately this was not solved.

[2016-04-26 08:44] Achterhoeker commented on #1244
I've implemented the api calls my bot needs: https://github.com/timmolter/XChange/pull/1245

[2016-04-27 12:28] yiranliu opened #1246 "Error when create ticker"
Exception in thread "main" java.lang.Error: Unresolved compilation problem:
	Syntax error on token "}", delete this token

	at com.xeiam.xchange.dto.marketdata.Ticker$Builder.currencyPair(Ticker.java:156)
	at com.xeiam.xchange.clevercoin.CleverCoinAdapters.adaptTicker(CleverCoinAdapters.java:154)
	at com.xeiam.xchange.clevercoin.service.polling.CleverCoinMarketDataService.getTicker(CleverCoinMarke

[2016-04-27 13:04] timmolter commented on #1246
Doesn't make sense because the entire project compiles just fine. We have a CI server to always double check everything committed to the repo. Also you should bump up to 3.0.0 or 3.0.1-SNAPSHOT.

[2016-04-27 13:26] yiranliu commented on #1246
updated my pom from com.xieam to org.knowm, this one fixed
Thanks

[2016-04-27 13:27] #1246 closed

[2016-04-28 13:37] mmazi commented on #1244
Most of the new API (v2) is done in #1247 (everything that was in v1 is now also in v2, but some things are missing from both). Euro support is done in full.

[2016-04-28 13:37] #1244 closed

[2016-04-29 10:07] #1242 closed

[2016-05-03 09:51] mmazi commented on #1240
Can you elaborate a bit? What's the exception / error message / what does the method return etc.?

[2016-05-03 10:09] mmazi commented on #1211
HTTP 522 response code indicates a networking error so this is not an XChange issue.

Even though the handling of this error in XChange is not perfect, XChange did report the relevant error (522), so I guess it did its job. Closing.

[2016-05-03 10:09] #1211 closed

[2016-05-03 10:22] mmazi commented on #1167
I see both `ACCEPT_EMPTY_ARRAY_AS_NULL_OBJECT` and the ticker cache hack have been added  by 948eb1aff. Closing this issue.

I'll implement general support for the caching issue in rescu:
https://github.com/mmazi/rescu/issues/80

I'll might replace the custom hack for Poloniex with the new rescu's `@Cached` when implemented.

[2016-05-03 10:22] #1167 closed

[2016-05-03 10:24] #1236 closed

[2016-05-03 10:26] #1002 closed

[2016-05-03 10:34] mmazi commented on #1053
Basically, all  `ItBitAuthenticated` should declare they throw a custom exception, eg. ItBitException.

It's easy. Here are quick instructions:

0. Create `class ItBitException extends HttpStatusExceptionSupport` (or without extends if you don't want rescu dependency, but this automatically adds the http status code to the exception object). Jackson-annotate it to conform to the itbit error json:

[2016-05-03 10:36] #1131 closed

[2016-05-03 14:18] Achterhoeker commented on #1240
@mmazi
Using the old removed function getExchangeSymbols  gives:
Pairs on:Bter :[TIPS/LTC, NAS/BTC, RED/LTC, BQC/CNY, EXC/BTC, FRSH/BTC, TBC/BTC, MGW/BTC, NMC/CNY, BTS/USD, QORA/BTC, RED/CNY, YAC/BTC, C2/BTC, TIPS/CNY, BTCD/NXT, XCP/CNY, QRK/CNY, XCR/BTC, CDC/BTC, VIA/BTC, NXT/USD, BTCD/BTC, XPM/BTC, ETH/BTC, TAG/BTC, NFD/BTC, ARCH/BTC, NET/BTC, UNITY/CNY, CENT/LTC, MINT/BTC, PTS/CNY, DOGE/CNY, DI

[2016-05-03 18:06] mmazi commented on #1240
@rafalkrupinski Any idea?

[2016-05-04 10:42] rafalkrupinski commented on #1240
It appears that getMarketMetaDataMap() returns only what's declared in the json files, so either remoteInit() is unimplemented or implemented incorrectly or it's simply not called. I can look into it later today.

[2016-05-26 07:52] br0x commented on #1235
Sounds reasonable to me. I stopped using streaming as unreliable feature long time ago

[2016-06-01 13:58] Polve opened #1261 "Add support for optimal TX fees"
Modern wallets have the need to use dynamic fees in order to transact when the blocks are full (i.e.: almost always). It would be handy to be able to use XChange for that too.

An example source of current fees is this one:
https://bitcoinfees.21.co/api/v1/fees/recommended

[2016-06-03 13:32] diogoribeiro commented on #1159
Did someone find anything about this error?
I'm having the same error

[2016-06-06 22:33] soks86 commented on #1205
The new exchange is now named GDAX. API information is at https://docs.gdax.com/.

I'm in the middle of implementing updates to this and am going to commit a rename of Coinbaseex to Gdax unless someone suggests otherwise.

[2016-06-07 06:42] kennethjor opened #1263 "Bitstamp EUR WebSocket suppport"
Currently only the polling service for Bitstamp support EUR. I'd love to see this added in the streaming implementation as well.

[2016-06-07 06:44] kennethjor opened #1264 "Support Coincheck"
Is anyone working on support for the Japanese exchange [Coincheck](https://coincheck.jp/en/)?

[2016-06-07 07:39] timmolter commented on #1264
I haven't heard of anyone working on it yet.

[2016-06-07 07:46] timmolter commented on #1205
sounds good!

[2016-06-09 18:05] generalbytes opened #1265 "BitfinexExchange should support Ethereum"
BitfinexExchange should support Ethereum

[2016-06-09 18:22] generalbytes opened #1267 "Add support into BitfinexExchange to request deposit address"

[2016-06-10 06:56] #1265 closed

[2016-06-10 06:56] #1267 closed

[2016-06-10 10:06] mmithril opened #1269 "No date in ItBit trades (change in API: date->timestamp)"
ItBit most probably changed its API – call https://api.itbit.com/v1/markets/XBTUSD/trades?since=0 returns

`{"recentTrades":[{"timestamp":"2016-06-10T09:29:47.5270000Z","matchNumber":698158,"price":"579.48000000","amount":"0.08000000"},{"timestamp":"2016-06-10T09:29:47.2130000Z","matchNumber":698157,"price":"579.48000000","amount":"0.04000000"},{"timestamp":"2016-06-10T09:27:04.4130000Z","matchNum

[2016-06-10 15:06] mmithril commented on #1269
Fix in merge request #1270

[2016-06-12 16:12] #1269 closed

[2016-06-14 16:45] andre77 commented on #1235
Not sure, whether this is right place, but anyway, what is about support for:
 - quadrigacx.com
 - bitcoin.de
any chance they would make it into the lib?

[2016-06-17 09:28] kennethjor opened #1277 "Thread pool and connection re-use"
I just got an exception while trying to fetch data from Kraken, and noticed the name of the thread name was `Thread-1060227`. That's thread number 1,060,227. The REST client, does it not execute requests on a thread pool and employ connection re-use? If possible, how do I make sure this is enabled? I had a look around the API, but wasn't immediately able to find anything.

I did find the method `H

[2016-06-17 09:33] timmolter commented on #1277
@mmazi would be able to answer this best.

[2016-06-17 12:42] kennethjor commented on #1277
@timmolter Ah quite, perhaps I should have raised a ticket over there instead.

[2016-06-20 10:56] mmazi commented on #1277
Rescu itself doesn't use any kind of multithreading, and I'm pretty sure XChange doesn't either. The application that uses rescu/XChange may create new threads though (eg. to issue HTTP requests simultaneously).

If you don't see immediately where your application (or another library you are using) creates new threads, perhaps you are using Java 8's high-level multithreading facilities like parall

[2016-06-20 11:38] kennethjor commented on #1277
@mmazi Interesting, perhaps it's my application then, I'll check it out. However all my code is indeed wrapped inside thread pools and such, so it shouldn't be creating that many threads, and especially not using that naming structure. I'll have a closer look.

[2016-06-20 14:49] zholmes1 commented on #1240
The problem is that polling services don't extend BaseExchangeService, which is what contains the getExchangeSymbols() method.

I am having the same issue. I can no longer call getExchangeSymbols() from my PollingMarketDataService. Getting the meta data doesn't work because (at least for some exchange) it does not contain the same functionality. For instance, for Poloniex it only returns one pair

[2016-06-21 07:17] Achterhoeker commented on #1240
Zach, polo is working fine here, but you need to call remoteInit() after
creating the exchange. That will fill the meta data with the symbols
retrieved from the remote exchange.

Ronald

Op 20-6-2016 om 16:50 schreef Zach Holmes:

[2016-06-21 08:40] #933 closed

[2016-06-21 14:06] timmolter opened #1282 "Exchange Metadata Update and Discussion"
Hi all,

After a long time of issues and confusion regarding exchange metadata, I finally implemented a solution, which I think is best based on feedback and discussions from the community.

Please see: <https://github.com/timmolter/XChange/wiki/Design-Notes> section **Exchange Metadata**.

The metadata for the exchanges (including the currency pairs) should be loaded and accessed from one place a

[2016-06-21 14:07] timmolter commented on #1240
Please see: Exchange Metadata Update and Discussion #1282

[2016-06-21 14:07] timmolter commented on #1197
Please see: Exchange Metadata Update and Discussion #1282

[2016-06-21 18:24] timmolter commented on #1282
I should also mention that the default behavior has now changed to always call `remoteInit()` during the creation of the `Exchange` instance. It's talked about in the above Wiki link, but for the lazy, I wanted to make that clear here.

[2016-06-21 19:55] timmolter commented on #1282
If you are going to create an exchange, you will be using the network, right? I wasn't a big fan of that either at first, but can you name one concrete problem with that? Unit testing maybe? Do we need a different mechanism? I'm open to solid reasoning.

It's now `exchange.getExchangeSymbols()`. I updated the Wiki now. I had a typo there previously.

You can call whatever methods you like on the R

[2016-06-23 09:07] Achterhoeker commented on #1240
@timmolter
This ticket seems to be closed. But there is still no way to get the exchange symbols on bittrex and bter. So i'm stuck to an old version were a working getExchangeSymbols  is still present.

[2016-06-23 12:35] timmolter commented on #1240
OK, I implemented it for Bter. See `BTERExchangeDemo`. Notice the coding I did in `BTERExchange`.

[2016-06-24 09:27] mmazi opened #1285 "Exchange Metadata json broken"
The commit c1073a930e230 broke HitbtcMetaData and possibly others as well. The json structure doesn't match the annotated POJO -- note the `currencies` vs. `currency` mismatch:

hitbtc.json:

    "currencies": { ...}

HitbtcMetaData.java:

    @JsonProperty
    public Map<Currency, CurrencyMetaData> currency;

[2016-06-24 12:00] timmolter commented on #1285
Fixed.

[2016-06-24 12:00] #1285 closed

[2016-06-25 16:03] zholmes1 commented on #1282
I can think of two good reasons not to make a network call when an `Exchange` instance is created.

1. There are going to be times when a user needs to make an `Exchange` instance directly before placing an order. Most of the demos are examples of this. In the case of exchanges with overly-aggressive throttling (like Kraken), consecutive API calls with no pause in between may result in the second

[2016-06-29 21:29] Garritt commented on #1085
Were you ever able to resolve the issue? I have tried all values for the withdrawal key and still am receiving the same error

Thanks!

[2016-07-12 12:38] mmazi commented on #1282
I'm also very much against calling `remoteInit()` (or any other network calls) during Exchange initialization. All of the issues mentioned above seem very valid.

There is no recovery mechanism for situations when `remoteInit()` repeatedly fails (eg. server/network issues, incorrect/outdated implementation of remoteInit() in the XChange submodule, or others) but other API calls (like market data o

[2016-07-12 12:42] rafalkrupinski commented on #1282
@mmazi it was added because many users complaint about exceptions when getting available currency pairs.

My proposition was to add a flag to skip remoteInit() and leave the default behavior as is now.

[2016-07-12 15:55] zholmes1 commented on #1282
That solution seems reasonable to me.

On Tue, Jul 12, 2016, 8:42 AM Rafał Krupiński <notifications@github.com>
wrote:

[2016-07-13 08:15] timmolter commented on #1282
Thanks for your input. I'm mostly concerned with a solution that is the most useful/helpful for the most people. So it sounds like a remoteInit flag is all that is now needed, with it being `true` by default. I'll add that. Feel free to provide more feedback.

[2016-07-13 08:17] mmazi commented on #1282
Seems fine to me too.

[2016-07-15 10:10] ezhik97 commented on #1207
Current user fee available via `PoloniexTradeService.getMakerFee()` and `PoloniexTradeService.getTakerFee()`

[2016-07-15 10:10] #1207 closed

[2016-07-21 04:26] DaveTheAve commented on #1205
@soks86 It would be awesome if I could get access to your development build of the new GDax implementation. Would you mind committing it to a feature-branch? I would not mind providing any updates I personally require that may not already be implemented.

[2016-07-27 13:49] ezhik97 opened #1291 "New rescu 1.9 broke poloniex module."
New rescu 1.9 dependency lead an exception while parse POLONIEX JSON response. Move down to version 1.8.2-SNAPSHOT of rescu fixed the issue.

`16:38:23.723 [main] WARN  si.mazi.rescu.ResponseReader - Noncritical error parsing error output: {"1CR":{"id":1,"name":"1CRedit","txFee":"0.01000000","minConf":3,"depositAddress":null,"disabled":0,...
com.fasterxml.jackson.databind.exc.UnrecognizedPropertyE

[2016-07-28 21:41] douggie commented on #1231
Hi Tim,

Been a bit busy, was thinking about this the following day. How about an implementation like ok coin:

1) create new class org.knowm.xchange.poloniex.service.polling.PoloniexMarginTradeService.java
1) add exchange specific parameter called margin
2) instantiate poloniex with use_margin=true
3) when poloniex is instantiated with use_magin it will use the PoloniexMarginTradeService implment

[2016-07-29 05:14] zholmes1 commented on #1291
@mmazi The problem appears to be that Poloniex have added fields to their response in "returnCurrencies" method.

https://poloniex.com/public?command=returnCurrencies

Our DTO did not have these, and rescu threw an exception because the fields were not declared as "ignorable." This clearly should not be how rescu works, because APIs can add fields all the time and it definitely should not break co

[2016-07-29 05:45] ezhik97 commented on #1291
Does the fix builded in current version of 1.9.0-SNAPSHOT? Because of the issue still exists. It seems that rescu can't parse field '1CR' - this is currency name and the response has many such fields and new currencies will be added soon.

[2016-07-29 05:48] zholmes1 commented on #1291
It only has trouble with "1CR" once it has decided to parse the response as
an error because of the additional fields not marked as ignorable. Look at
the two sets of fields it is looking for and you'll see what I mean. Yes,
my fix works in the current version of rescu. Look at my pull request and
you can just grab the file if you need it quickly.

On Fri, Jul 29, 2016, 1:45 AM ezhik97 <notificati

[2016-07-29 06:23] #1291 closed

[2016-07-29 06:26] mmazi commented on #1291
The problem was due to Jackson's `FAIL_ON_UNKNOWN_PROPERTIES` not being set to `false`. My mistake when upgrading rescu in XChange; `JacksonObjectMapperFactory::configureObjectMapper` should always call `super`. Fixed now.

[2016-07-29 06:28] ezhik97 commented on #1291
Great! Thanks.

[2016-08-05 04:03] viethuyphan commented on #1085
Hi guys,

Did you resolve this issue? I still got this error while I tried to withdraw with API.

Thanks!

[2016-08-05 08:25] timmolter commented on #1085
Not that I'm aware of. Make sure to try the latest snapshot jars.

[2016-08-05 09:04] viethuyphan commented on #1085
Thanks @timmolter,

I use the .NET API, but I'll try the latest version.

[2016-08-07 07:27] kennethjor opened #1294 "ExchangeException doesn't use exception wrapping"
I just noticed that the XChange libraries contain a lot of code like this:

    throw new ExchangeException(e.getMessage());

It's common practice to wrap exceptions to preserve stack traces and allow for better debugging, like so:

    throw new ExchangeException(e);

Is there a reason why ExchangeException is often thrown while discarding the original cause?

[2016-08-07 07:28] #1277 closed

[2016-08-08 12:30] timmolter commented on #1294
There's definitely room for improvement regarding Exception handling.

See related:
https://github.com/timmolter/XChange/issues/1233

[2016-08-14 03:19] kennethjor commented on #1294
Thank you.

[2016-08-14 03:19] #1294 closed

[2016-08-16 12:54] ICFiedler opened #1297 "Independent Reserve Currency Update and Private Trade Info"
Independent Reserve improvements:

(1)
support different currency pairs:

Placing limit orders on IR results always in BTC_USD, which is hard coded
see https://github.com/timmolter/XChange/blob/d252649301d5930d9549b758a8057b90aa4eb262/xchange-independentreserve/src/main/java/org/knowm/xchange/independentreserve/service/polling/IndependentReserveTradeService.java#L45
please use the currency pair, w

[2016-08-16 12:56] ICFiedler opened #1298 "200 mBTC Bounty - The Rock Trading not fully implemented"
TheRock improvements:

please implement getOpenOrders, cancelOrder as well as getTradeHistory methods. It also seems that the current The Rock implementation still uses the old API address and not the new and more powerful API.

[2016-08-16 12:57] ICFiedler opened #1299 "100 mBTC Bounty - QuadrigaCX implementation (1:1 Bitso API)"
It would be great to see Canada's largest Bitcoin exchange QuadrigaCX implemented. It is exactly the same APi as the one from Bitso, which is already in the library. Just the currencies are different, of course.

[2016-08-18 23:26] matthewdowney opened #1300 "itBit Authenticated Requests Intermittently Yield Invalid Signature"
I'm getting an issue with itBit where intermittently requests will fail with

```Exception in thread "Thread-0" org.knowm.xchange.itbit.v1.dto.ItBitException: Your request lacked a valid signature, and could not be authenticated. (HTTP status code: 401)```

but the rest of the time they work fine. If I run some simple polling code:

[code]

I'll get 5 or 10 successful responses

```Got account inf

[2016-08-19 08:52] timmolter commented on #1300
are you using the latest code on the `develop` branch?

[2016-08-19 18:49] bryan4887 commented on #1300
Yeah, he is.  We've also filed a bug with ItBit.  It would be nice to know if anyone else can reproduce this behavior as well.

[2016-08-22 15:37] matthewdowney commented on #1300
@timmolter Yeah I am. Are you not getting the same issue that I am?

[2016-08-22 15:42] jheusser commented on #1300
@bryan4887 @matthewdowney I get the same issue for a few years now, extensively debugged it with ItBit with no result. So unless there's a bug in the XChange code I haven't found (which is very possible) then it's a ItBit bug.

[2016-08-22 15:46] matthewdowney commented on #1300
@jheusser Interesting! Thanks for the input. I feel like it has to be something on the itBit side of things, because if the signing algorithm were incorrect every request should fail, and printing the timestamp and nonce values doesn't show anything strange. Maybe itBit is incorrectly handling some *other* error as an invalid signature?

[2016-08-22 15:49] jheusser commented on #1300
@matthewdowney I think we had a similar bug where only every so many calls used a timestamp that somehow lead to a wrongly signed message, but I don't think this is the case here. I kind of just came to the conclusion it's due to ItBit under load. Also the account request is usually the one that needs to hit the database making sure your balance is up to date, so takes longest.

[2016-08-30 06:28] ICFiedler commented on #1299
I would like to offer a 0,1BTC bounty on this one. How can I do this?

[2016-08-30 06:28] ICFiedler commented on #1298
I would like to offer a 0.2BTC bounty on this one. How can I do this?

[2016-08-30 07:24] timmolter commented on #1299
I've added the bounty tag and updated the title. If someone wants to complete this for the bounty, first claim it here and indicate you will work on it. Then @ICFiedler should send us (Knowm Inc.) the BTC and we will hold it until the code is complete and passes all functionality and quality checks. We will then forward the funds to the person carrying out the bounty.

[2016-08-30 07:24] timmolter commented on #1298
I've added the bounty tag and updated the title. If someone wants to complete this for the bounty, first claim it here and indicate you will work on it. Then @ICFiedler should send us (Knowm Inc.) the BTC and we will hold it until the code is complete and passes all functionality and quality checks. We will then forward the funds to the person carrying out the bounty.

[2016-09-01 16:31] veken0m commented on #1235
@andre77 Are you interested in MarketData API (Orderbook, Ticker, Transactions) or full trading capabilities for QuadrigaCX and Bitcoin.de? I might implement these in the next couple of weeks but was only planning to do MarketData for now.

I noticed is that there are a lot of obsolete exchanges module. I think we should compile a list and start getting rid of them.

Here are modules that I've fou

[2016-09-03 16:56] ICFiedler commented on #1297
I think this one is solved now.

[2016-09-04 20:14] brandonio21 commented on #1205
@soks86  - Any updates? I've started working on my own implementation and don't want to duplicate work. (I also don't have much clue what I'm doing.. I'm new to _XChange_ .. Trying my best!)

[2016-09-06 06:40] andre77 commented on #1235
@veken0m actually i'm interested in a complete API implementation. but its not about my wishes ;-)

[2016-09-06 06:47] andre77 commented on #1235
@timmolter another nice feature would be the possibility to set the http read and connection timeout. currently one can set it globally using the rescu.properties file like this
`# Read timeout in milliseconds when performing HTTP requests. The default is 30000 (30 seconds).`
`rescu.http.readTimeoutMillis = 5000`
`rescu.http.connTimeoutMillis = 5000`
see https://github.com/mmazi/rescu/issues/1

i

[2016-09-11 19:46] timmolter commented on #1205
@brandonio21 I haven't heard anything regarding updates on this implementation.

[2016-09-11 19:47] brandonio21 commented on #1205
@timmolter - Okay, great. I've been working on it in my spare time and will submit a PR when ready :)

[2016-09-11 19:49] timmolter commented on #1205
great!

[2016-09-12 21:40] veken0m commented on #1299
I'm starting work on QuadrigaCx implementation so I'd like to claim this bounty.

[2016-09-12 21:42] ICFiedler commented on #1299
Amazing! I am looking forward to your results. Let me know when you want me to test it.

[2016-09-13 09:04] matthewdowney commented on #1300
Just to follow up, ItBit never responded so I went with the approach of a retry handler that would give it three tries, because I've seen the request succeed the second time every time so far.

[2016-09-13 09:04] #1300 closed

[2016-09-22 06:02] ICFiedler commented on #1299
any update as of yet?

[2016-09-24 13:18] matthiasamberg opened #1306 "adding additional parameters to api rest call"
Hi all,

sorry if this has been covered before (actually is there a forum I couldn't find regarding XChange, where things like this could be discussed?):

I am fetching the orderbook of the QuoineExchange and noticed that it always returns exactly 20 bid and 20 ask limit orders. Reading through the Quoine API Specs the following statement is made:

I tried passing an optional argument for getOrder

[2016-09-26 07:09] timmolter commented on #1306
This is the correct place to ask such questions. You'll have to look at the XChange source code to see exactly what's going on. And if something needs to be changed to suit your needs, you'll have to change it. A PR would be nice with the fix. :)

[2016-09-28 22:56] veken0m commented on #1299
@ICFiedler Drive in my laptop gave out and lost all my progress... I'll do my best to hammer it out this weekend. Should be much quicker the second time around.

[2016-10-02 20:50] aditya-radhakrishnan opened #1309 "Issues with Bitfinex"
I'm currently using the Xchange library to stream data from various Bitcoin exchanges, including Bitfinex. I'm having a problem with some of the Bitfinex ticker data I'm receiving, namely, some samples have an execution timestamp that comes after in time from the received timestamp, which doesn't make much sense. I ran some tests by querying Bitfinex's API directly, and I didn't seem to receive an

[2016-10-03 08:03] timmolter commented on #1309
I don't see both "execution timestamp" and "received timestamp" on the Ticker from bitfinex so I'm not sure what you're trying to compare. Here's the adapter method. One thing is that it looks like the time resolution on the timestamp from bitfinex is seconds and not milliseconds. that could be your issue.

public static Ticker adaptTicker(BitfinexTicker bitfinexTicker, CurrencyPair currencyPair)

[2016-10-04 11:37] kennethjor commented on #1205
@brandonio21 @soks86 Can I be of help? I'd love to get GDAX support implemented.

[2016-10-04 15:29] brandonio21 commented on #1205
@kennethjor I linked a feature branch above. Feel free to contribute to it or change what I've done. (I've been pretty busy lately).

I've pretty much just been stepping through [The GDAX API Reference](https://docs.gdax.com), using Coinbase as a reference. I haven't tested any of it yet and I'm sure some parts (like the JSON deserializing) could use some work. Looking forward to your contribution

[2016-10-07 19:58] haiqu opened #1314 "Feature request - support for yobit and c-cex"
Please add Yobit https://yobit.net and C-Cex https://c-cex.com

They both have simple APIs.

And thank you, this is an awesome project. I may integrate it into Bitsquare P2P exchange.

[2016-10-09 11:58] ICFiedler commented on #1299
Is it working now?

[2016-10-09 14:23] jheusser commented on #1261
IMO this is probably better pushed to clients using XChange, to keep the library simpler and more focussed on trading. But I agree wallets do get more complex.

[2016-10-09 14:26] jheusser commented on #1235
@timmolter 👍 for getting rid of streaming

[2016-10-09 14:27] #1165 closed

[2016-10-09 14:27] #1104 closed

[2016-10-09 14:28] jheusser commented on #1013
Connectivity to China is very bad, highly likely you will not be able to keep a connection alive. Best to use just polling.

[2016-10-09 14:28] #1013 closed

[2016-10-09 14:30] jheusser commented on #1067
OkCoin streaming is mostly unmaintained at the moment, closing this for now. Be on the look out for Okcoin commits if anything changes.

[2016-10-09 14:30] #1067 closed

[2016-10-09 14:30] jheusser commented on #1152
This looks resolved.

[2016-10-09 14:30] #1152 closed

[2016-10-09 14:31] jheusser commented on #1168
Agree, streaming is too unreliable at the moment and unmaintained. Close?

[2016-10-09 17:50] douggie commented on #1152
I fixed this a while back

On Sun, Oct 9, 2016 at 3:30 PM, Jonathan Heusser <notifications@github.com>
wrote:

[2016-10-09 17:57] jheusser commented on #1152
@douggie cool, even better :)

[2016-10-10 07:13] timmolter commented on #1235
@jheusser Thanks for you comment on this. It looks like most people are or dropping streaming.

[2016-10-10 07:30] douggie commented on #1235
I found it too unreiable,  polling works well for now i feel even with
realtively fast trading strategies.

On Mon, 10 Oct 2016, 08:13 Tim Molter, <notifications@github.com> wrote:

[2016-10-10 09:01] quorak opened #1316 "OkCoin Streaming Example throws java.lang.NullPointerException"
Hey there,

just a quick note. It tried to get the `org.knowm.xchange.examples.okcoin.streaming.OkCoinSocketIODemo` running. But encountered multiple issues. Most obvious was the following Exception

[code]

which is probably thrown at the initial success event of okcoins Webhook API. The code tries to parse `{"channel":"ok_btcusd_ticker","success":"true"}` but cannot find the `data` attribute, wh

[2016-10-10 09:06] jheusser commented on #1316
@quorak thanks for reporting, this is partially to do with the streaming code being unmaintained but also due to Chinese connectivity. I suggest you to use REST polling instead.

[2016-10-12 09:02] kennethjor commented on #1235
@timmolter If streaming isn't maintained and unreliable, get rid of it. Personally I'd prefer to use streaming where possible, but if it's not maintained.

[2016-10-12 09:07] kennethjor commented on #1261
@Polve Could you elaborate a little? XChange is a library for dealing with third-party exchanges, not the Bitcoin network in itself. Why do you want Bitcoin network fee code in XChange?

[2016-10-12 09:16] Polve commented on #1261
I don't mean to connect directly to the bitcoin network, but to parse and present as a uniform interface third party services that give this information, like aforementioned 21.co

[2016-10-12 09:18] rafalkrupinski commented on #1235
Since this is a "wish list", I'd wish the streaming was stable and consistent across exchanges :)

[2016-10-12 09:20] jheusser commented on #1235
I think it would be quite a successful and in-demand project to provide an API for websocket-only marketdata-only access to Bitcoin exchanges.

[2016-10-13 19:04] timmolter commented on #1299
@veken0m Is this finished?

[2016-10-14 07:12] timmolter commented on #1235
@jheusser Definitely. Either one single umbrella project or I can imagine people taking over a single exchange's streaming API and creating a standalone dedicated project.

[2016-10-14 08:42] timmolter commented on #1235
@veken0m
I removed some obsolete exchanges:

Yacuna shut down: <http://www.coindesk.com/european-bitcoin-exchange-yacuna-announces-closure/>
BTC-Central ==> Paymium
Coinsetter and CAVirtex: http://www.coindesk.com/bitcoin-kraken-coinsetter-acquired/
Cryptsy: https://news.bitcoin.com/cryptsy-big-vern-speaks-press/

[2016-10-14 09:23] haiqu opened #1319 "Test failure on BTC China"
[INFO] XChange BTC China .................................. FAILURE [  0.764 s]
[INFO] XChange BTCE ....................................... SKIPPED
[INFO] XChange BTCMarkets ................................. SKIPPED
[INFO] XChange BtcTrade ................................... SKIPPED
[INFO] XChange BTER ....................................... SKIPPED
[INFO] XChange CampBX ..........................

[2016-10-14 09:25] haiqu commented on #1319
System: Windows 7, Maven 3.3.9, Oracle Java 1.8.0_101

[2016-10-14 09:39] timmolter commented on #1235
@andre77 Both are supported already it looks like

[2016-10-14 10:20] timmolter commented on #1316
Streaming now dropped in this lib: https://github.com/timmolter/XChange/issues/1235

[2016-10-14 10:20] #1316 closed

[2016-10-14 10:22] timmolter commented on #1264
Would you like to place a biounty on this to encourage it's implementation?

[2016-10-14 10:22] timmolter commented on #1263
Streaming now dropped in this lib: https://github.com/timmolter/XChange/issues/1235

[2016-10-14 10:22] #1263 closed

[2016-10-14 10:25] timmolter commented on #1216
Streaming now dropped in this lib: https://github.com/timmolter/XChange/issues/1235

[2016-10-14 10:25] #1216 closed

[2016-10-14 10:26] timmolter commented on #1200
Streaming now dropped in this lib: https://github.com/timmolter/XChange/issues/1235

[2016-10-14 10:26] #1200 closed

[2016-10-14 10:27] timmolter commented on #747
I'm assuming this isn't happening. If yes, please feel free to reopen.

[2016-10-14 10:27] #747 closed

[2016-10-14 10:28] timmolter commented on #1096
Streaming now dropped in this lib: https://github.com/timmolter/XChange/issues/1235

[2016-10-14 10:28] #1096 closed

[2016-10-14 11:34] timmolter commented on #1282
OK, I refactored this. See `BTERMetaDataDemo` for how it works.

One question I have is: What should be the default setting `remoteInit` true or false?

[2016-10-14 11:42] timmolter commented on #1240
`getExchangeSymbols` is working now.

[2016-10-14 11:42] #1240 closed

[2016-10-14 11:48] #1053 closed

[2016-10-14 11:49] rafalkrupinski commented on #1282
@timmolter remoteInit should be true, we're adding it to allow a custom initialization for more advanced scenarios. Multiple issue reports showed that most users expect exchange client just working.

[2016-10-14 12:04] zholmes1 commented on #1282
I agree with it defaulting to true. The case where it needs to be turned
off is not common, and the average user will probably just expect all meta
data to be up to date automatically.

On Fri, Oct 14, 2016, 7:50 AM Rafał Krupiński <notifications@github.com>
wrote:

[2016-10-14 13:04] timmolter commented on #1241
OK, not the ideal situation, but I added flags in the pom for this.

[2016-10-14 13:04] #1241 closed

[2016-10-14 13:43] rafalkrupinski commented on #1185
@hegjon I don't know about Redhat distributions, but I've noticed many Debian packages have a diff file attached to the original source. I'd expect RPM had similar mechanism. HTH

[2016-10-14 13:45] timmolter commented on #1282
OK, I set it to true. Thanks!

[2016-10-14 13:45] #1282 closed

[2016-10-14 16:54] veken0m commented on #1299
@timmolter yes, it's complete. @ICFiedler Let me know if you find any issues.

Bounty can be sent to this address: 1NqLkzEkortCzBeXM5hWW95LRBVbHw1Wbp

Thanks!

[2016-10-14 20:12] haiqu commented on #1319
The only obvious difference I can think of is that 32-bit Windows has a hard 3GB memory limit. Maybe the tools are demanding more than this. I've seen it before in Java.

[2016-10-14 22:35] haiqu commented on #1319
`mvn clean test` now runs cleanly since the last commit. You can close this one. Many thanks.

[2016-10-14 22:38] #1319 closed

[2016-10-18 10:22] ICFiedler commented on #1299
it works! thank you! send the bounty now

[2016-10-18 15:14] aditya-radhakrishnan commented on #1309
Apologies, I meant to say "receivedAt" instead of received timestamp and "timestamp" instead of execution timestamp. Essentially what's going on is that the value for "receivedAt" (when I get the data) is often lower (earlier in time) than the value for "timestamp," which doesn't make sense as this is saying I'm getting ticker values for data from the future. You can see from the histogram that th

[2016-10-18 15:24] timmolter commented on #1309
What is `receivedAt`? I cannot find what your referencing. What object is it contained in?

[2016-10-18 15:58] aditya-radhakrishnan commented on #1309
receivedAt is a field for a TickerWrapper object we constructed as a wrapper around the Xchange Ticker object. When we receive a new Ticker, we set receivedAt = new Date(). I can send you the code if you would like.

[2016-10-18 16:18] timmolter commented on #1309
Well that's the answer. `new Date()` is your computer's time. `timestamp` is Bitfinex's time they send.

[2016-10-18 17:00] zholmes1 commented on #1298
Is this bounty still available?

[2016-10-18 17:22] #1309 closed

[2016-10-18 17:41] aditya-radhakrishnan commented on #1309
I understand. Since new Date() is my computer's current time, I'm setting receivedAt = new Date() to show when I get the ticker while timestamp is just the ticker timestamp. The ticker timestamp should be much earlier than when I get the ticker value, but my issue is that the ticker timestamp is often higher in value than receivedAt.

[2016-10-18 17:55] timmolter commented on #1309
Your issue is not in the code in `XChange`, so we cannot help you here. `XChange` is unmarshalling the JSON correctly. Without full control and insight into your and Bitfinex's servers, how are you expecting to figure out your problem? It's simply a matter of unsynchronized clocks and it's not in your control, so better not to worry about it and design your system with that fact in consideration.

[2016-10-18 18:09] timmolter commented on #1299
@veken0m Let me know when you've received the BTC and I'll close this issue.

[2016-10-18 19:59] veken0m commented on #1299
@timmolter @ICFiedler Got the BTC, closing issue. Thanks!

[2016-10-18 19:59] #1299 closed

[2016-10-18 21:06] ICFiedler commented on #1298
The devs of The Rock have taken care of the issue without claiming the bounty. But it is not yet fully delivered. Some small percent are still missing. I would not give 200mbt for it, though. I will come back to this with either a to-do description and a new bounty or the solution in 2-3 days.

[2016-10-18 23:23] ICFiedler commented on #1298
Update: their API does not work with XChange: it needs a call to get all open orders. The Rock API only allows calls to query the open orders of one specific pair. So without them having their API changed things will not work. That will also make the boutny obsolete.

[2016-10-22 20:38] owahlen commented on #1212
Kraken has a similar functionality using https://api.kraken.com/0/public/OHLC which I would need.
Would it make sense to create common logic for this on the core level?
Or should this be implemented in a similar PR on Raw level?

[2016-10-23 06:48] timmolter commented on #1212
We could add a method in *Raw, `getOHCL` or similar. But how many exchanges offer it. Just two isn;t really enough to justify a generic method to me.

[2016-10-23 09:57] owahlen commented on #1212
I just had a look at Poloniex and Kraken. You may be right for the others. The PR will be merged into develop branch, right (i.e. this is the branch one should work on)?

[2016-10-24 00:06] unk1911 opened #1324 "Problems getting GDAXTradeHistoryParams"
I'm trying to list historical trades but I'm having issues with the call to createTradeHistoryParams(),  it returns null:

ExchangeSpecification specification = new ExchangeSpecification(GDAXExchange.class.getName());
specification.setApiKey(apiKey);
specification.setSecretKey(apiSecret);
specification.setExchangeSpecificParametersItem("passphrase", passphrase);
coinbase = ExchangeFactory.INSTANCE

[2016-10-25 10:15] timmolter commented on #1212
Yes, `develop` branch.

https://github.com/timmolter/XChange/wiki/New-Implementation-Best-Practices

[2016-10-26 02:03] diogoribeiro commented on #1159
I fixed this issue getting GDAX credentials.
It seems that coinbase is now part of GDAX.

[2016-10-26 07:08] timmolter commented on #1159
coinbaseex is now gdax in XChange.

[2016-10-26 07:08] #1159 closed

[2016-10-28 14:27] haiqu commented on #1314
Noticed it's done. Many thanks!

[2016-10-28 14:27] #1314 closed

[2016-10-28 23:58] unk1911 opened #1329 "GDAXAdapters.java #L63"
There is an issue in org.knowm.xchange.gdax.GDAXAdapters.class on line #63:

---

 private static Date parseDate(String rawDate) {
        try {
            if(rawDate.length() == 21) {
                rawDate = rawDate.substring(0, 20) + "000";
            } else if(rawDate.length() == 22) {
                rawDate = rawDate.substring(0, 21) + "00";
            } else if(rawDate.length() == 23) {

[2016-10-29 13:32] unk1911 commented on #1329
i did some more research into it, it looks like the following input date was causing the exception:  2016-10-28T14:24:02Z     you have to check for length size 20...

[2016-10-29 15:17] unk1911 commented on #1329
might want to change that last else statement to something like:

rawDate = rawDate.substring(0, rawDate.length() < 23 ? rawDate.length() : 23);

this way it will still throw ParseException on inputs that are shorter than 23 characters.

Here's a junit test for it:

   @Test
    public void testParseDate() {
        try {
            String rawDate = "2016-10-28T14:24:02Z";
            Date dt = G

[2016-10-31 11:02] radumiron opened #1330 "Cannot connect to exchange, I get SSLHandshakeException"
Hi all,

I am trying to connect to BTC-E / Kraken through a proxy. When creating the exchange instance, I get the following exception:

	at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor.postProcessBeforeInitialization(InitDestroyAnnotationBeanPostProcessor.java:136)
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.applyBeanPostP

[2016-11-02 09:25] Polve opened #1331 "BitcoinAverage API v1 now deprecated and in some case unusable"
I'm trying to use bitcoinavg quotation service and I get this error:

`Caused by: si.mazi.rescu.HttpStatusIOException: Can not construct instance of org.knowm.xchange.bitcoinaverage.dto.marketdata.BitcoinAverageTicker: no String-argument constructor/factory method to deserialize from String value ('This version of our API is now depreciated. Please update your code to use v2 immediately, documenta

[2016-11-02 12:05] kennethjor commented on #1329
I'm not fully familiar with this code, but I'm wondering why [SimpleDateFormat](https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html) isn't being used to output dates in the correct format, rather than checking the length and appending zeroes to it?

[2016-11-02 12:16] kennethjor commented on #1261
@Polve But XChange is an API for connecting to the crypto currency exchanges. These fee services are for the bitcoin network. To me it seems this is out of scope for XChange.

[2016-11-03 03:35] #1261 closed

[2016-11-03 03:38] timmolter commented on #1329
Sorry to be ignoring this issue. I'm currently up to my neck in another project. I'll help out with this when I can, if you don't solve it yourself and create a pull request.

[2016-11-03 08:07] kisapmata opened #1334 "get Funds Information (Deposits and Withdrawals)"
Hi, i'm just new user of xchange library. I am not aware yet how to raise a request or issue so bear with me. My concern basically is that I wanted to get the history of the deposits and withdrawals for certain exchanges but I dont think it is fully supported by the library , please feel free to correct me. I am able to do this for Bitfinex by adding below codes. I would like to suggest in adding

[2016-11-03 08:10] kisapmata commented on #1334
FundInfo object here
------- xchange-core-----
public final class FundsRecord {
  public FundsRecord(String address, Long date, String ccy, BigDecimal amount, String ref, String fundsType){
    this.address = address;
    this.date = date;
    this.ccy = ccy;
    this.amount = amount;
    this.ref = ref;
    this.fundsType = fundsType;
  }
}

[2016-11-09 19:31] Polve opened #1340 "Support Winkdex"
http://docs.winkdex.com/

[2016-11-09 21:25] jheusser commented on #1340
Winkdex is not an exchange so this is probably not the right lib for it

[2016-11-10 11:12] kisapmata opened #1341 "BTCChina getTradeHistory not giving the Order ID."
existing BTCChinaTradeService.getTradeHistory has significant issues:
1st: it queries all kinds of transactions via api, not just trades. Though it filters it by buy/sell type afterwards.
2nd: the main problem is that the result  doesn't contain the order id, so the order submitted cannot be reconciled.

proposed solution:
use GetOrders instead with "with_details" flag to true. The details will ha

[2016-11-12 19:35] matthiasamberg opened #1343 "Quoine: API Authentication fails for AccountInfoDemo"
Hello all,

I'm trying to run the demo from xchange-examples...quoine.account.AccountInfoDemo.java
I've added my ID and SECRET to empty placeholders in QuoineExamplesUtils.java class
however I get an 401  API Authentication failed error back.

My lines in QuoineExamplesUtils look similar (keys changed) to this:
[code]

The above are the keys I got from the (enabled) api settings page in my quoine

[2016-11-16 15:38] rafalkrupinski commented on #1340
https://github.com/timmolter/XChange/wiki/Exchange-Support#data-providers ;)

[2016-11-16 17:31] jheusser commented on #1340
@rafalkrupinski good point 😊

[2016-11-20 20:00] unk1911 commented on #1329
sorry i am having issues with the pull request.   i ended up just tweaking your code and doing a local maven release.     here's what i changed the function to:

`    static Date parseDate(String rawDate) {

        //    System.out.println("before: " + rawDate);
        try {
            if (rawDate.length() == 20 && rawDate.endsWith("Z")) {
                rawDate = rawDate.substring(0, 19) + ".

[2016-11-20 21:05] timmolter commented on #1329
Thanks, I updated the code.

[2016-11-20 21:05] #1329 closed

[2016-11-27 07:17] Ri5nV5 opened #1347 "Invalid Nonce with Kraken"
Good morning I'm trying to run the example and I always get the same nonce error.
How can I fix the problem.
Thank you

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" org.knowm.xchange.exceptions.NonceException

[2016-12-06 08:15] andre77 opened #1349 "NPE while order placement @ BTCe"
For some reason i see an NPE from time to time during the placement of a BTCe limit order

here is the place, where it happens:
https://github.com/timmolter/XChange/blob/develop/xchange-btce/src/main/java/org/knowm/xchange/btce/v3/service/polling/BTCETradeServiceRaw.java#L63
the call btce.Trade simply returns a null object, how is that possible?
here i would expect from the rescu proxy either an e

[2016-12-06 08:30] mmazi commented on #1349
Rescu will return `null` if the response body is empty.

Do you get any more relevant information in the log before the stack trace? If not, try setting up rescu to log more in your logback.xml (if you use Logback, otherwise the appropriate logging config file):

    <logger name="si.mazi.rescu" level="trace"/>

[2016-12-06 08:39] andre77 commented on #1349
@mmazi cool, thanks for fast reply
as far i have found the place, you are talking about:
https://github.com/mmazi/rescu/blob/develop/src/main/java/si/mazi/rescu/ResponseReader.java#L61

so basically it looks like, BTCe replies with a valid 200 code, but there is "nothing" in the response body, right?
how can that be? i guess, only the guys from BTCe can know the answer... :-(

[2016-12-06 08:44] mmazi commented on #1349
Yes, that's it.

It seems so.

Or you can get more info from the logs. Does this happen consistently (always or often), or was it a one-off? What do the BTC-e API docs say?

[2016-12-06 08:50] andre77 commented on #1349
i will try to extend the logging, to get more informations
the error happens very rarely, so may be one time per thousand calls, and i can not really reproduce it in my local environment...

here is the BTCe doc: https://btc-e.com/tapi/docs
nothing about an "empty answer"

will try to open a ticket at BTCe support

[2016-12-06 08:57] mmazi commented on #1349
One in a thousand calls is very low. My view is that you should always expect a certain percentage, definitely one in a thousand or more, API calls to fail with *any* remote API you are using in any of your application. So this has nothing to do with either rescu or BTC-e.

The correct solution then would be to design your application to handle such failures gracefully.

Check out https://www.goog

[2016-12-06 08:57] #1349 closed

[2016-12-06 09:32] andre77 commented on #1349
its not a problem at all to handle such an error, i would love to get an exception or the like here...
but here we deal with a very strange server reply, which obviously has the correct status code 200, but no body, such a reply is not documented. my question here is: has the order been placed or not?
i will open a ticket at BTCe for that, may be i will get an answer.

since the problem has nothin

[2016-12-06 10:01] mmazi commented on #1349
The thing here is that even in some cases when you _do_ get an error -- not an XChange error, but eg. a network error --, you _still_ won't know whether the order has been placed or not. For example, if the network connection drops after you've sent the request but before you received the response, there is no way for you to know whether the server processed the request or not.

So the point here

[2016-12-06 13:12] mmazi commented on #1085
I also ran into this issue. Kraken's API doesn't allow the caller to specify an arbitrary bitcoin address for withdrawal; rather, the name of one of the withdrawal addresses register via the Web UI (at https://www.kraken.com/u/funding/withdraw?asset=XXBT, `Add address`) must be used.

The easiest workaround that enables using the Kraken XChange API consistently with the XChange API contracts is to

[2016-12-14 13:07] yarKH commented on #1211
Hi!
Won't open new issue. My question is about UndeclaredThrowableException.
Method declarations:
PoloniexExchange.remoteInit() throws IOException
PoloniexMarketDataServiceRaw.getPoloniexCurrencyInfo() throws IOException
Poloniex.getCurrencyInfo(...) throws PoloniexException, IOException;

Why do I get UndeclaredThrowableException for HttpStatusIOException? I cant catch it with IOException..

Stac

[2016-12-14 13:30] mmazi commented on #1211
@yarKH I suspect this could be a ProGuard issue. Can you try without ProGuard and see if this still happens? Or perhaps (wildly guessing) ProGuard can be configured to not erase exception information or something?

BTW this is not related to the OP issue so it should probably be opened as a separate issue anyway :)

[2016-12-14 13:49] yarKH opened #1350 "UndeclaredThrowableException with ProGuard"
Hi!
I get UndeclaredThrowableException for HttpStatusIOException, and can`t catch it with IOException.

Method declarations:
[code]

My proguard config is:
[code]

StackTrace:
[code]

[2016-12-14 13:53] yarKH commented on #1211
@mmazi thank you! I will try to reproduce without proguard.
Opened new issue and added proguard config.

[2016-12-23 09:34] Gressill commented on #972
@sutra thx

[2016-12-28 22:18] erikparr opened #1353 "importing XChange to Processing"
Hi, I wanted to try importing XChange into Processing (processing.org) to try some more advanced visualizations. I imported xchange-core-4.1.1-SNAPSHOT library and xchange-yobit-4.1.1-SNAPSHOT.

First I got an error that it couldn't find slf4j logger so I downloaded that and imported it.

Now I am getting: java.lang.NoClassDefFoundError: si/mazi/rescu/SynchronizedValueFactory

I thought it wanted

[2016-12-29 09:07] timmolter commented on #1353
Sounds like you're missing classes on the classpath. This project uses Maven for handling the dependencies automatically. You'll just have to figure it out for yourself if you want/need to do it manually.

[2016-12-29 09:07] #1353 closed

[2017-01-09 22:02] dozd opened #1357 "PollingTradeService.openOrders - currency pair param"
Hi Timmolter,

I looked at `TheRockTradeService.getOpenOrders` and it's not implemented because `currencyPair` is needed. It's same in `ItBitTradeService` - there are all currency pairs loaded. In `BitstampTradeService` there is a "hack" that uses `getExchangeSpecificParameters()`.

What's the correct approach for this? I'd like to make PR for `TheRockTradeService` to implement this method.

[2017-01-09 22:07] dozd commented on #1347
You must be doing something wrong. KrakenExchange is working for me fine - account info as well as trading api.

[2017-01-10 08:08] timmolter commented on #1357
I created a demo class for The Rock called "TheRockMetaDataDemo". That's the best way to get the currency pairs for the exchange. Then you can use those pairs to fetch the open orders and combine all the results.

[2017-01-10 08:16] mmazi commented on #1300
I've been frequently getting the "request lacked a valid signature" errors from ItBit too.

I've seen, on several occasions, signature problems that stem from the fact that the server calculates the signature from a _normalized_ form of the request body instead of the verbatim form that is sent in the request. E.g. the body may be reformatted, possibly because the json is first parsed, then serial

[2017-01-10 13:38] dozd commented on #1357
Yeah, that's similar to `ItBitTradeService` implementation i pointed out. But my question was more about what's the best approach. The problem I see in this implementation is that API is called many times for retrieval of open orders - API limits can be a problem here (rock has 14 currency pairs).

Better way is to have a possibility to pass the argument. But I don't like "the Bistamp" way of impl

[2017-01-10 13:41] timmolter commented on #1357
It would only be possible if the exchange (The Rock) offers an API endpoint that returns all open orders without specifying a currency pair. Do they?

[2017-01-10 14:28] dozd commented on #1357
No they don't. But I meant changing of `PollingTradeService` interface as `OpenOrders getOpenOrders()` is not sufficient at least for three exchanges.

[2017-01-10 14:38] timmolter commented on #1357
Ah, ok. So you're proposing to add an additional method in `PollingTradeService` like: `OpenOrders getOpenOrders(CurrencyPair c)`? Or perhaps even something like: `OpenOrders getOpenOrders(OpenOrdersParams p)` like for `getTradeHistory`.

[2017-01-10 15:05] dozd commented on #1357
Yeah. `OpenOrdersParams` looks like good approach - I like it. If you're ok with that I can propose PR.

[2017-01-10 17:24] timmolter commented on #1357
Yeah, i think that'd be good.

[2017-01-10 22:07] dozd commented on #1298
Or better to change the XChange API as currency pair is needed on many exchanges for open orders ;-). Submitted PR.

[2017-01-12 10:26] jheusser opened #1361 "Add support for Btcchina Pro"
Anyone working on support for Btcchina Pro?

https://www.btcc.com/apidocs

[2017-01-12 22:20] #1357 closed

[2017-01-13 03:39] risingsun007 opened #1362 "Streaming?"
Would it be too hard to add streaming to this open source project?  For example, Poloniex has a push API

[2017-01-13 06:29] timmolter commented on #1362
We recently purged all streaming as it was a giant mess. You can look at past snapshots to dig for old code if you want to.

Sent from my iPhone

[2017-01-13 06:51] risingsun007 commented on #1362
Thank you, I will have a look.  Why was it a mess though to do streaming?  Was it hard to make a generic function to encompass the different streams?

[2017-01-13 09:56] timmolter commented on #1362
Yeah, that was tricky. But also many people contributed their own homegrown implementation with different dependencies and ways of doing things, and it became a nightmare to maintain. Lot's of issues kept coming up and there was no way to keep it all maintained and tested and updated.

[2017-01-15 11:13] dozd commented on #1362
Hello @risingsun007,

I was in need for streaming API as well and noticed that it has been removed from Xchange library. I'm finishing initial draft of the library build on top of Xchange to provide such consolidated streaming API with simplicity and easy to use in mind (using Reactive streams).

What exchange are you interested? I can add it to my library to prove my design is working well.

I th

[2017-01-15 14:44] jheusser commented on #1362
@dozd cool, interested to have a look when initial commits are up.

[2017-01-17 09:15] mmazi commented on #1347
Have you used the same API key you are using here in some other (non-XChange-based) application? If you have, the app may have already used a bigger nonce than what XChange tries to use, so XChange's calls will always fail.

If this is the case, then the solution is to use a fresh API key for the example.

[2017-01-17 09:18] mmazi commented on #1350
This seems to be a ProGuard issue. I don't think anyone from the XChange team is a ProGuard expert (I myself have never used ProGuard). Perhaps you should try asking the ProGuard team, or perhaps someone from the community here will answer. Or try browsing past XChange ProGuard-related issues.

[2017-01-17 09:29] mmazi commented on #1334
You are right, XChange generic API doesn't support this yet. I think this would be a useful addition to the generic API (I myself would use it immediately for some of my projects).

I already suggested it in #21 (though the issue discussion mostly digressed to other topics).

If someone starts implementing this, please ping me and I'll help with code review, suggestions, and possibly implementatio

[2017-01-17 09:34] mmazi commented on #1212
Bitstamp also has an OHLC API. They don't list it in the API docs though, but their Tradeview webapp connects to it.

[2017-01-17 09:38] mmazi commented on #1085
@Cocongo @Garritt  @viethuyphan does my workaround work for you? (I've used it myself for a while now without problems.) Do you think we can still help you in some way? If not, I'd like to close this issue.

[2017-01-17 21:42] dozd commented on #1362
@jheusser Initial commits up at https://github.com/bitrich-info/xchange-stream
@risingsun007 poloniex is using wamp protocol - it won't be hard to add, i'll look at it in some time
@timmolter I hope you're fine I named it xchange-stream.

I'm reworking some raw classes into library so large changes can be expected. But I want to follow my initial design. Take a look and tell me what your opinion a

[2017-01-17 21:48] timmolter commented on #1362
@dozd Great name. :) I'm excited for the project!

[2017-01-19 22:43] dozd commented on #1362
@timmolter When you are planning to release 4.1.1? I'd like to have same version numbers and release it at that time as well. I've made 3 different streaming backends (pusher, wamp, raw websocket) and 4 exchanges and everything works smooth and fine. So I'm happy with that state and ready to release first version.

[2017-01-20 00:21] timmolter commented on #1362
Cool! I can do it next week.

[2017-01-21 06:35] risingsun007 commented on #1362
@dozd, which exchanges did you include?

[2017-01-21 09:34] dozd commented on #1362
- okcoin
- bitstamp
- coinmate
- poloniex (only ticker, but rest should be easy)
- rock (will do next)

[2017-01-21 14:36] risingsun007 commented on #1362
@dozd, very well done. :)  I will be interested to see your code.  You might want to look at hitbtc if you get the chance.

[2017-01-22 15:18] #1350 closed

[2017-01-22 15:20] #1347 closed

[2017-01-22 15:24] #1180 closed

[2017-01-22 15:25] #1177 closed

[2017-01-22 15:34] timmolter commented on #1362
@dozd I bumped the version to 4.2.0-SNAPSHOT and did some refactoring. Please update and see if everything is still working for you. I'll put out a release soon.

[2017-01-24 15:48] itiroisolo opened #1366 "Use a proxy for platform communications"
Hi,

I want to all requests to plateforms (like kraken, poloniex, etc), pass by a proxy (with host, login and password).
What can I change in xchange-code (I suppose), to do that ?

[2017-01-27 10:29] wvr opened #1368 "XRP balances @ bitstamp"
Bitstamp just added support for XRP using XRP/USD and XRP/EUR orderbooks. Getting the orderbooks work fine, but I'm not seeing XRP balances on the AccountInfo call:

[BitstampBalance.java](https://github.com/timmolter/XChange/blob/develop/xchange-bitstamp/src/main/java/org/knowm/xchange/bitstamp/dto/account/BitstampBalance.java)

[2017-01-28 23:43] PoCk3T opened #1372 "Poloniex API needs to use USDT, not USD"
Hi everyone,

First, congrats to the original author and all contributors for this amazing project :)

Now, trying to get Poloniex ticker for CurrencyPair.BTC_USD results in error, even with latest 4.2.0 SNAPSHOT version of Xchange.

Indeed, Poloniex is using USDT, not USD, as pointed out by @mmazi  in https://github.com/timmolter/XChange/pull/1254

Should I implement a workaround in my own code o

[2017-01-29 03:58] mmazi commented on #1372
Hi @PoCk3T ,

USD and USDT are two entirely different currencies: USDT does not refer to the US Dollar but rather to [Tether](https://tether.to/). The exchange rate between USDT and USD does tend to stay around 1.0 by design, but that doesn't make them the same currency, just as AUD was never considered the same currency as USD even tough it has reached 1.000 exchange rate with USD in the past.

(

[2017-01-29 14:58] obi opened #1373 "Add support for Coinfloor Exchange BIST API (Bounty available)"
Coinfloor has APIs for users looking to trade programmatically. We require an integration of Coinfloor's BIST API into the XChange library. Coinfloor's BIST API is very similar to the Bitstamp API, so the integration will be similar to the Bitstamp integration in XChange. Links to Coinfloor's BIST API and the Bitstamp implementation in the XChange library can be found below:

[https://github.com/c

[2017-01-29 15:46] dozd commented on #1373
I can have a look at it.

[2017-01-29 20:52] PoCk3T commented on #1372
Thanks for the fast answer @mmazi

I understand better now.

Still, technically speaking, wouldn't it be relevant to add USDT as a standalone currency in Xcode code, as well as BTC_USDT as a CurrencyPair ?

So users of Poloniex can still use Xchange in order to get tickers, etc etc ?

What do you guys think ?
If yes, what's the best way ? Should I fork Xchange, commit these enhancements, and submi

[2017-01-29 22:15] mmazi commented on #1372
You can always use `Currency.getInstance("USDT")` (or simply `new Currency("USDT")`) and similarly `new CurrencyPair(...)` in your code.

As for adding USDT to the list of built-in currencies, I'll leave this for @timmolter to decide.

[2017-01-30 08:36] timmolter commented on #1372
yes, a pull-request for it would work well.

[2017-01-30 08:45] timmolter commented on #1373
@dozd Czech Republic is on the list.

[2017-01-30 08:46] dozd commented on #1373
@timmolter Only as nationality (left), not residency (right). So I cannot finish my account. I wanted to register for this exchange some time ago.

[2017-01-30 08:48] timmolter commented on #1368
That code is probably going to need to be updated. You'll probably have to do it yourself/ A PR would be appreciated.

[2017-01-30 10:45] obi commented on #1373
Our Compliance team has reviewed and have found no reason not to include the Czech Republic as an allowed residency.  We will be modifying our policy and including this in the coming few days.

[2017-02-01 17:47] jheusser commented on #1343
Looks like Quoine changed their authentication to use [JWT](https://jwt.io/)

[2017-02-03 09:00] dozd commented on #1362
@timmolter So, how's releasing goin? :)

[2017-02-03 13:52] timmolter commented on #1362
I'll try to get to it this weekend...

[2017-02-03 17:16] obi commented on #1373
Hi.  We have now updated our policies (support page update coming later) to allow for residents of the Czech Republic (assuming that they pass our KYC processes).

[2017-02-06 08:29] timmolter commented on #1362
@dozd done with release.

[2017-02-06 08:29] #1362 closed

[2017-02-06 08:51] #1368 closed

[2017-02-08 13:44] timmolter commented on #1366
Isn't that something you can do at the OS level?

[2017-02-08 13:45] #1085 closed

[2017-02-13 13:04] jheusser commented on #1343
@matthiasamberg do you want to test again? Quoine has been updated to the latest version. I'm closing this for now.

[2017-02-13 13:04] #1343 closed

[2017-02-13 13:05] jheusser commented on #1235
@timmolter close?

[2017-02-13 13:07] #1235 closed

[2017-02-13 13:07] jheusser commented on #1366
@itiroisolo you could try to override `setSslUri` and `setHost` in the exchange specification or you can override the dns entries via `/etc/nsswitch.conf` and `/etc/hosts`.

[2017-02-13 13:07] #1366 closed

[2017-02-23 09:22] #1361 closed

[2017-02-23 09:23] #1168 closed

[2017-02-23 09:23] #1040 closed

[2017-02-23 09:24] #1101 closed

[2017-02-23 09:25] #935 closed

[2017-02-23 09:25] jheusser commented on #1055
Lots has changed in API since this issue. Closing

[2017-02-23 09:25] #1055 closed

[2017-02-23 09:26] jheusser commented on #1028
A lot of API changes since this issue was raised.

[2017-02-23 09:26] #1028 closed

[2017-02-23 09:26] jheusser commented on #578
Outdated imo. Reopen if not the case.

[2017-02-23 09:26] #578 closed

[2017-02-23 09:27] jheusser commented on #1330
Try perhaps https://github.com/timmolter/XChange/wiki/Installing-SSL-Certificates-into-TrustStore

[2017-02-23 09:27] #1330 closed

[2017-02-23 09:28] jheusser commented on #1108
@geigerzaehler242 Is this still relevant to GDAX?

[2017-02-23 09:56] mmazi commented on #935
@jheusser can you briefly explain why this was closed? Is it solved? Not reproducible?

[2017-02-23 10:00] jheusser commented on #935
@mmazi might have been overzealous 😄 . Rational was that it's from 2015, the exchange has changed name in the meantime, gone through some API changes, and nobody replied to my last query for 1.5 years.

[2017-02-23 10:01] jheusser commented on #935
Also, Coinbase can be used as non-US resident as well: https://support.coinbase.com/customer/portal/articles/1826671-what-countries-us-states-are-supported-for-coinbase-exchange-

[2017-02-23 10:06] mmazi commented on #935
Good enough :)

I don't have the original issue any more so I'm fine with closing it, just as long the reason for closing is recorded.

[2017-02-23 10:13] jheusser commented on #935
Ok agree, will add reason on closes from now on.

[2017-02-26 17:30] sbyinin opened #1394 "Support Zaif"
https://corp.zaif.jp/api-docs/

[2017-03-03 12:34] 64octets opened #1395 "not install ubuntu 16"
Hello, I just clone the repo into my ubuntu server. but not find any thing to compile.

[2017-03-03 15:56] timmolter commented on #1395
It works 100%. Read the README again and keep trying.

[2017-03-03 15:56] #1395 closed

[2017-03-12 05:23] wuqianming opened #1398 "Quoine: Authentication failed"
Caught: org.knowm.xchange.exceptions.ExchangeException: API Authentication failed
org.knowm.xchange.exceptions.ExchangeException: API Authentication failed
	at org.knowm.xchange.quoine.service.QuoineAccountServiceRaw.getQuoineFiatAccountInfo(QuoineAccountServiceRaw.java:32)
	at org.knowm.xchange.quoine.service.QuoineAccountService.getAccountInfo(QuoineAccountService.java:45)
	at org.knowm.xchange.

[2017-03-12 10:29] jheusser commented on #1398
@wuqianming currently you need to set KEY_TOKEN_ID and KEY_USER_SECRET in the exchange specific parameters. The two values you get from the API key you generate on Quoine.

[code]
I will make this more user friendly.

[2017-03-12 12:11] wuqianming commented on #1398
@jheusser  I've tried but got this,seems like it's a readonly property:

Caught: groovy.lang.ReadOnlyPropertyException: Cannot set readonly property: KEY_TOKEN_ID for class: org.knowm.xchange.quoine.QuoineExchange
groovy.lang.ReadOnlyPropertyException: Cannot set readonly property: KEY_TOKEN_ID for class: org.knowm.xchange.quoine.QuoineExchange

[2017-03-12 13:12] wuqianming commented on #1398
Thank you so much man, I've figured it out.
BTW may I have your e-mail address ? @jheusser

[2017-03-12 14:31] #1398 closed

[2017-03-15 23:14] datasmithtech opened #1403 "Feature Design Documentation"
I don't seem to find any documentation that describes valid / typical values for entity attributes, such as the many attributes for site_user, or other classes.

I am very interested in contributing, however, it would be helpful if some sample json data for different classes was available to enable newcomers to be able to hit the ground running..

[2017-03-15 23:52] datasmithtech commented on #1372
I apologize if this may seem obvious, but where may I find a configuration file which the application uses to initialize the Exchange upon startup?

[2017-03-16 01:51] evdubs commented on #1215
Has this been left out due to the products being futures and not spot currency pairs? Is that a concern for an XChange implementation?

[2017-03-16 08:04] timmolter commented on #1372
src/main/resources

[2017-03-16 08:06] timmolter commented on #1403
What do you mean `site_user`?

[2017-03-16 09:35] jheusser commented on #1215
@evdubs I would assume so yes. The different APIs of the spot exchanges are already quite hard to represent in a single useful API. However XChange has some futures exchanges (Okcoin.com, Bitvc etc) implemented where you can use the underlying classes directly and essentially not use the XChange API for some things like getting positions etc.

Another issue is that I believe Bitmex focusses more o

[2017-03-16 10:05] datasmithtech commented on #1403
I found references to site_user in php code, such as
$sql = "SELECT id FROM bank_accounts WHERE account_number = {$row['account']} AND site_user = {$row['site_user']}";

not sure what corresponding java class is, or where the database sql scripts are, or the configuration files for the exchange..

[2017-03-16 11:09] timmolter commented on #1403
Neither php nor SQL has anything to do with XChange.

[2017-03-16 11:09] #1403 closed

[2017-03-16 11:34] datasmithtech commented on #1403
sorry, bad example of an Xchange class - i must have found another project which referenced Xchange.

Is there documentation that describes the Xchange classes in detail?

[2017-03-16 11:34] datasmithtech commented on #1403
also, is there a configuration file that I should be using when i am running XChange?

[2017-03-17 07:13] kisapmata commented on #1334
Hi, can I work on this for 4 exchanges to get Withdraw/Deposit history? I have the codes ready for Kraken, Bitfinex, OkCoin and BTCChina ... I will have to throw NotYetImplementedForExchangeException for all the rest. If yes, i need some kick start guide, e.g. branching, issue naming conventions etc.....  I also plan to fix around 3 to 4 issues I found as well for other exchanges like BTC China an

[2017-03-17 07:27] mmazi commented on #1334
@kisapmata That sounds great! I'll do my best to help. I'll try to give you some pointers today if I manage to, otherwise next week.

[2017-03-17 08:21] mmazi commented on #1334
So I suggest we start with what you have.

Your contributions should be separate and self-contained, so if you have the FundsInfo addition plus 4 other issues, these should be all in separate git branches, so 5 branches altogether. Branch names are not very important, but try to make them a bit descriptive, like `generic-fundsinfo`, `bitstamp-timestamp-fix` and such.

First make sure you have your

[2017-03-18 17:50] mmazi commented on #1334
Besides Kraken, Bitfinex, OkCoin and BTCChina implementations that @kisapmata will contribute, I'll do Bitstamp and Poloniex. I think this will be a good start.

[2017-03-20 11:49] rok-povsic opened #1405 "Example is wrong?"
The example on [the example page](http://knowm.org/open-source/xchange/xchange-example-code/) uses `PollingMarketDataService` and `getPollingMarketDataService()`, but I've only found `MarketDataService` and `getMarketDataService()` in 4.2.0.

Is that a bug in the example code?

[2017-03-20 12:01] timmolter commented on #1405
Thanks for pointing that out. Yes, I need to update that page on knowm.org. I'll close this ater I got it all updated.

[2017-03-20 16:29] mmazi commented on #1068
This was solved in a more general way by 36c3c8923ab6cda70fc78d3e14eb982495d14be0 .

[2017-03-20 16:29] #1068 closed

[2017-03-21 08:33] kisapmata commented on #1334
I have made the commit and PR. I included adapter tests and also demo for each bitfinex, kraken, okcoin and btcchina

[2017-03-21 08:44] kisapmata commented on #1334
i have to cancel the PR. I need to sync first with the latest develop branch sorry

[2017-03-21 09:03] kisapmata commented on #1334
I initially missed out to re-base from develop branch. now its fine, PR should be updated.

[2017-03-21 22:49] ww3456 commented on #1373
This never got implemented while the bounty was open but I've just raised pull request #1408 to add the functionality.

[2017-03-22 08:23] timmolter commented on #1373
Done: https://github.com/timmolter/XChange/pull/1408

[2017-03-22 08:23] #1373 closed

[2017-03-22 11:36] rok-povsic commented on #1405
Also, the `getBitstampTicker()` call on `BitstampMarketDataServiceRaw` is deprecated.

[2017-03-22 21:52] madwicket commented on #1324
Hey man did you ever figure this out?
I am running into the same issue.
The createTradeHistoryParams() just returns null

[2017-03-22 23:29] madwicket commented on #1324
Figured it out for anyone else.
The code below will get your trades and output your very last one.
You have to set the params.setOrderID to something otherwise it will complain about being null.

GDAXTradeHistoryParams params = new GDAXTradeHistoryParams();
params.setOrderId("");
UserTrades trades = gdaxTradeService.getTradeHistory(params);
System.out.println(trades.getTrades().get(trades.getTrade

[2017-03-24 08:32] jheusser opened #1410 "Support bitFlyer"
A lot of volume, free trading, good API: https://lightning.bitflyer.jp/docs?lang=en

[2017-03-24 08:33] jheusser commented on #1264
Agree, this would be a good exchange to have 👍

[2017-03-24 08:34] jheusser commented on #1108
Closing this as exchange changed name, API, etc. Please reopen if this persists for GDAX.

[2017-03-24 08:34] #1108 closed

[2017-03-24 11:23] Panchen opened #1412 "BitFinex order id overflow"
BitFinex raw code uses int for storing order id's. E.g. BitfinexOrderStatusResponse
Order ID's for BTCUSD on BitFinex have recently gone above max value for java int 2,147,483,647.

com.xeiam.xchange.bitfinex.v1.service.polling.BitfinexTradeServiceRaw.getBitfinexOpenOrders therefore now throws a "Numeric value (2149xxxxxx) out of range of int" exception when returning any open orders for a user.

[2017-03-24 21:23] bitsol opened #1414 "What could cause the INVALID_MARKET exception?"
Following the example code for [the Bittrex marketdata demo](https://github.com/timmolter/XChange/blob/develop/xchange-examples/src/main/java/org/knowm/xchange/examples/bittrex/v1/marketdata/BittrexMarketDataDemo.java), the exchange responds with a disappointing HTTP message. Here's the exception:

`Exception in thread "main" si.mazi.rescu.HttpStatusIOException: Can not construct instance of org.k

[2017-03-25 13:33] jheusser commented on #1412
@Panchen believe this has already been fixed, could you check with latest develop branch?
https://github.com/timmolter/XChange/pull/1409

[2017-03-25 14:20] ww3456 opened #1416 "TrueFX - fiat exchange rates implementation proposal"
I'd like to access fiat FX prices. The [XChange documentation](https://github.com/timmolter/XChange/wiki/Exchange-Support#data-providers) says there is support for [Open Exchange Rates](https://openexchangerates.org/signup/free) but the free plan seems a little limited "Hourly rate updates, 1000 API requests per month" + mandatory sign up. I was thinking of adding an XChange connection for [TrueFX

[2017-03-26 20:13] unk1911 commented on #1324
yes exactly, that's what i ended up doing, sorry i didn't follow up here. so eventually my code became:

[code]

[2017-03-27 09:32] Panchen commented on #1412
@jheusser thanks. Tested latest dev branch vs BitFinex this am and confirmed fixed.
Couldn't find an issue for above and missed #1409

[2017-03-27 09:32] #1412 closed

[2017-03-28 10:28] Saloed123 opened #1418 "Poloniex CurrencyPair"
[code]
^^^this work fine, but
`
public void start(){
                    poloniex = ExchangeFactory.INSTANCE.createExchange(PoloniexExchange.class.getName());
                    MarketDataService dataService = poloniex.getMarketDataService();
                    currencyPair = new CurrencyPair(Currency.BTC, Currency.USD);
}`

 org.knowm.xchange.exceptions.ExchangeException: BTC/USD not available

[2017-03-29 02:07] pirocks opened #1420 "Make library serialization-friendly"
Specifically I would like OrderBook, Order and Exchange to be serializable.

[2017-03-29 05:24] altmind opened #1421 "Clean up diceased exchanges"
It seems that some of implemented exchanges are defunct, their websites are offline or parked and I dont hear of them recently:
Atlas ATS
BitKonan
BTC38
LoyalBit
meXBT
Yacuna

Can we at least think what we should do with the implementations? Delete them, move to contrib, leave as as and just update docs?

[2017-03-29 06:07] xy120303102 opened #1422 "xchange's poloniex example failure."
hello,I use vpn to run xchange's poloniex example:"PoloniexMarketDataDemo", then I receive a string,it is html layout,I put the string to a text,and open it with chrome browser,then I know the string's mean is:
"One More Step,Please complete the security check to proceed."
I use vpn is Shadowsocks,is xchange can not use under vpn?

[2017-03-29 07:00] altmind commented on #1422
It looks like you got cloudflare captcha page in response.
I think you should ask this question to poloniex. Normally, you should expect that if you use authentication on exchange, your requests should not be filtered.

[2017-03-29 07:32] timmolter commented on #1421
I've always just deleted them. Thanks for the heads up. It looks like BTC38 is still alive though.

[2017-03-29 07:47] timmolter commented on #1421
I removed LoyalBit and BitKonan. Besides BTC38, the other ones were already removed apparently.

[2017-03-29 07:47] #1421 closed

[2017-03-29 17:14] #1416 closed

[2017-03-30 06:37] ezhik97 opened #1424 "Bitfinex: support maker/taker fees"
Make possible to obtain maker/taker fees for account.

[2017-03-30 06:55] Achterhoeker commented on #1418
@Saloed123 I don't know what you are going to do with the btc/usd pair. But using on poloniex will not work. They don't have fiat currencies (like usd or eur)

[2017-03-30 07:25] ezhik97 commented on #1424
Infos available via
[code]

[2017-03-30 07:47] timmolter commented on #1418
Thanks @Achterhoeker

[2017-03-30 07:47] #1418 closed

[2017-04-04 10:21] ezhik97 commented on #1424
Please, merge my pull request.

[2017-04-04 10:30] timmolter commented on #1424
Did you see my comment here: https://github.com/timmolter/XChange/pull/1426

[2017-04-04 10:36] ezhik97 commented on #1424
Hm, no, I still not see any comments there except my one.

[2017-04-04 10:43] timmolter commented on #1424
nevermind. I make a mistake anyway. Merged.

[2017-04-04 10:43] #1424 closed

[2017-04-04 10:44] ezhik97 commented on #1424
Thanks a lot :)

[2017-04-07 02:43] mmazi opened #1429 "Implement querying funding info by deposit/withdrawal only for some exchanges"
I added support for this, and the implementation for Kraken, in f75b0d390e615a4910c21a9bd6cb5ae0bbc8f02f.

Please add support for this, where available, for Bitfinex, BTCChina, and OkCoin.

[2017-04-07 06:33] kisapmata opened #1430 "High Priority one! BitfinexOrderStatusResponse cannot handle the ID returned by the exchange."
This is quite a big issue. Since march 24, order ID generated by Bitfinex is > Integer.MAX_VALUE. This means, orders are executed on the exchange but we cannot process the response due to json parsing exception. This puts the user at risk in many ways like hedging and trade reconciliation as the user doesn't even know that he just executed an order. Please note that this can happen to all the Exch

[2017-04-07 06:35] kisapmata commented on #1430
forgot to mention that this impacts also order cancellation and retrieval of order status etc.... anything that references to the order id.

[2017-04-07 06:37] jheusser commented on #1430
already fixed in develop. please pull latest version before reporting
issues.

On 7 Apr 2017 7:35 am, "kisapmata" <notifications@github.com> wrote:

forgot to mention that this impacts also order cancellation and retrieval
of order status etc.... anything that references to the order id.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on G

[2017-04-07 07:09] kisapmata commented on #1430
i see. gotcha. I've been having problem syncing my forked version recently so I missed out this changes. But I have to say that Bitstamp (and others) is going the same path but is not critical at this moment.

[2017-04-07 07:09] kisapmata commented on #1430
closing this issue

[2017-04-07 07:09] #1430 closed

[2017-04-07 13:35] jheusser commented on #1414
@bitsol maybe you're making a request  for a currency pair which does not exist?

[2017-04-07 20:28] bitsol commented on #1414
@jheusser I was using the exact code in the Bittrex demo. This is odd, because using the same currency pair in the code for [the BTC-e ticker demo](https://github.com/timmolter/XChange/blob/develop/xchange-examples/src/main/java/org/knowm/xchange/examples/btce/marketdata/BTCETickerDemo.java) works to return the orderbook object.

[2017-04-13 17:33] wuqianming opened #1434 "Okcoin batch trade question"
Okcoin API support batch trade, is it available with xchange?

# Request
POST https://www.okcoin.com/api/v1/batch_trade.do
# Response
{
	"order_info":[{price:3,amount:5,type:'sell'},{price:3,amount:3,type:'buy'}] ,
	"result":true
}

[2017-04-13 17:42] jheusser commented on #1434
Not implemented. Also the XChange API does not really support submitting
batch trades.

On 13 Apr 2017 7:33 pm, "wuqianming" <notifications@github.com> wrote:

[2017-04-13 17:43] wuqianming commented on #1434
thank you @jheusser

[2017-04-14 08:36] Saloed123 opened #1436 "getTrade timestamp"
` private List<Trade> traders= trades.getTrades();`
i get this data, from some platform by pair
this data have ~1000points with limit price, ask, bid, timestamp...

I have two question:
1) How me take from xchange not all data, only 10-12 points for draw mini chart.
2) How me sort this trades by timestamp.
[code]
Its work good ^, but me need take point every 10 minutes during 2 hour

[2017-04-14 10:18] Saloed123 commented on #1436
2
[code]

[2017-04-14 16:02] jheusser commented on #1434
Closing this for now.

[2017-04-14 16:02] #1434 closed

[2017-04-15 13:34] timmolter commented on #1405
done.

[2017-04-15 13:34] #1405 closed

[2017-04-19 10:26] Panchen opened #1441 "Bitstamp adaptTradeHistory NPE"
Bitstamp can generate 1 satoshi fills. BitstampUserTransaction.isUsd() operates incorrectly for these edge case trades. E.g. it returns false for a 1 satoshi BTCUSD fill since the amount compare to BigDecimal.ZERO fails. Better USD / EUR test is on price.

adaptTradeHistory therefore throws an NPE for these fills since null EUR values are returned for USD 1 satoshi trades and vice versa.

[2017-04-21 07:12] hrechukh opened #1444 "getTickers"
Hello everyone.
How i can get a few tickers but not single as
`public Ticker getTicker(CurrencyPair currencyPair, Object... args)`

[2017-04-22 13:09] #1441 closed

[2017-04-27 10:02] andre77 opened #1448 "Asynchronous I/O based on NIO"
Hi,

we are using XChange library to connect to multiple exchanges using multiple api keys, so at the end we have a mass of parallel connections, where most of them are simply waiting for server response.
Due to this fact we have a high load average, since every waiting connection is blocking a thread.
I'm not sure, if it is a problem at all, since the cpu is not overstressed, when threads are wai

[2017-05-01 08:20] ww3456 opened #1451 "GDAX trade history is deliberately switching trade buy/sell side - appears incorrect"
If anyone is using GDAX user trade history can you check if the trade side appears correct? I just entered a buy order and got a sell trade back because of [GDAXAdapters.adaptTradeHistory](https://github.com/timmolter/XChange/blob/fc5b457338dc016b36b34756209b88db06fe7443/xchange-gdax/src/main/java/org/knowm/xchange/gdax/GDAXAdapters.java#L148-L149).

I guess the logic was copied over from the orig

[2017-05-01 22:04] HairyFotr opened #1452 "Kraken GNO pairs are parsed incorrectly"
The newly added Gnosis (GNO) does not have a X prefix (like all the others except DASH and USDT), and so gets mangled somewhere, causing incorrect pairs such as NOE/TH and NOX/BT to be created.

Here's the API call for asset pairs: https://api.kraken.com/0/public/AssetPairs

For DASH I found these two PR's:
https://github.com/timmolter/XChange/pull/1435
https://github.com/timmolter/XChange/pull/14

[2017-05-03 06:47] #1452 closed

[2017-05-03 21:16] #1451 closed

[2017-05-04 16:59] FarscoreDev opened #1456 "LTC/BTC pair not working"
I've been trying to use the LTC/BTC pair but it doesn't seem to work at all.

Is this just for me, or?

[2017-05-07 12:19] Achterhoeker commented on #1456
@FarscoreDev Which xchange and with which function ?

[2017-05-07 13:51] FarscoreDev commented on #1456
I've tried Bittrex, YoBit, Bitfinex, BTCE and Poloniex with the LTC/BTC pair on the .getTicker(CurrencyPair.LTC_BTC). Doesn't work.

[2017-05-07 15:26] Achterhoeker commented on #1456
@FarscoreDev If I run the ticker example from btce with LTC_BTC it runs without any problems. Can you also try this example ? (xchange.examples.btce.marketdata.BTCETickerExample.java)
Only modification i made was for LTC_BTC

17:21:25.131 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory - Creating default exchange from class name
17:21:25.163 [default] [main] DEBUG org.knowm.xchange.Exchan

[2017-05-08 10:04] ww3456 opened #1459 "[Gemini] remove market, hidden and multiple order code"
Thanks to @jheusser for the initial implementation #1313. As he pointed out perhaps not all the original Bitfinex functionality is supported. It seems to me that market price orders should be removed (the price is currently hard coded to BigDecimal.ONE) and hidden orders should go. Also multiple orders in one API call. None of these features exist in the [API docs](https://docs.gemini.com/rest-api

[2017-05-08 17:47] pieterdirix opened #1463 "GDAX - private access keeps giving me a code 400 error"
I passed my key, secret and passphrase to the ExchangeSpecification function. bellow is the complete code

`Exception in thread "main" java.lang.reflect.UndeclaredThrowableException
	at com.sun.proxy.$Proxy12.placeLimitOrder(Unknown Source)
	at org.knowm.xchange.gdax.service.GDAXTradeServiceRaw.placeCoinbaseExLimitOrder(GDAXTradeServiceRaw.java:45)
	at org.knowm.xchange.gdax.service.GDAXTradeServi

[2017-05-08 18:00] #1324 closed

[2017-05-08 21:11] #1459 closed

[2017-05-08 21:22] ww3456 commented on #1463
If you run the latest 4.2.1-SNAPSHOT there was a pull request (#1458) merged a earlier today that should improve that error message.

Also/Alternatively if you put SLF4J logger si.mazi.rescu to TRACE you should be able to see the raw error message being returned from the exchange.

[2017-05-09 05:34] pieterdirix commented on #1463
thank you for the fast response..
i am using the 4.2.1 and i have now enabled TRACE. the following is what it spits out now:

07:28:33,882 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
07:28:33,882 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Found resource [logback.xml] at [file:/Users/pieterdirix/Downloads/XChange-develop/xchange-

[2017-05-09 06:11] ww3456 commented on #1463
Seems that you have a different problem now, its failing earlier, during the initial connection attempt - you're missing the rescu dependency. The best I can tell this appeared to be on your classpath originally so hopefully it can be fixed without too much trouble. Checkout the[ Getting Started](https://github.com/timmolter/XChange#getting-started) section on the front of this project's GitHub pa

[2017-05-09 06:33] pieterdirix commented on #1463
Yes my apologies I just realised i broke something else by turning on TRACE. I have fixed that and now I get more useful information but i still do not know what to do.. it tels me my passphrase is incorrect (i Xed it out in this post) while i double checked and copy pasted it straight from the GDAX site..

08:28:46,975 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resou

[2017-05-09 06:56] ww3456 commented on #1463
At least you're getting closer! I'm not too sure what the problem is - on the surface your code looks fine. The standard authenticated end points (e.g. order placement) work fine for me in 4.2.1-SNAPSHOT but I've only recently started using GDAX so would not know if anything has been fixed since the 4.2.0 release, I had a quick search and could not find anything obvious.

My best guess is that you

[2017-05-09 09:43] pieterdirix commented on #1463
thank you very much!!!
you guessed right, after triple checking my passphrase i created a new API key at GDAX and now it works (i think).
I now still get a 400 code but it also tells me that my order size is too small (<0.01) so i assume that that is my last problem which I can fix as soon as i get home again.

[2017-05-14 18:33] abitrolly opened #1467 "Running examples without compiling"
Is it possible to run examples with just JRE by downloading them from some binary site? Is there such thingas all-in-one bundle with all dependencies so that examples could be more easily executed?

[2017-05-17 07:51] golikcoin opened #1469 "Add Rep as currency"
in Currency.java

 public static final Currency REP= createCurrency("REP", "Augur",null);

and CurrencyPair.java
  public static final CurrencyPair BTC_REP = new CurrencyPair(Currency.BTC, Currency.REP);
  public static final CurrencyPair ETH_REP = new CurrencyPair(Currency.ETH, Currency.REP);

[2017-05-17 14:36] Achterhoeker opened #1470 "Time outs on polo requests"
Currently my bot is suffering a lot off bans from poloniex.
From this thread https://www.reddit.com/r/BitcoinMarkets/comments/6b9f0p/poloniex_banning_trading_bots_ips_despite_call/ I understand that we need to time out from the remote side and not on our own side.
Question: Is xchange timing out remotely or locally ? (And if local, how can I increase this timeout value?)

(My bot is max placing 1

[2017-05-18 07:56] timmolter commented on #1470
https://github.com/mmazi/rescu

There you will see how to set the timeout.

[2017-05-18 13:48] thche commented on #1085
erm so i tried this workaround.. still not working proper i added the withdrawalkey in kraken as identifier. but it doesn't allow me to do a test withdrawal.

[2017-05-19 09:41] wattwurm opened #1473 "Bitstamp XRP/EUR Pair missing"
For Bitstamp the pair XRP/EUR is missing and the EUR/XRP doesn't work since there is no api call for hat

[2017-05-19 11:43] whitfa99 commented on #1470
Hopefully this is related, but XChange is returning an org.knowm.xchange.exceptions.ExchangeException when I send a tradeService.placeLimitOrder.  The Exception is no more explicit than this, yet in most cases the order has actually gone through.  I'm assuming that this has to do with Poloniex's current scaling and attack problems, but should there be a way I can tell if the order was submitted or

[2017-05-19 19:32] Achterhoeker commented on #1470
@whitfa99 I'm currently running my bot set with a time out set on 90 seconds. (default was 30 seconds) The exceptions you posted looks familiair. But sometimes i had also http code from poloniex in my error file. That http code sad that my ip was blocked. Thats why i looked for similar problems and found that thread on reddit. But Poloniex is at this moment not reliable.
I'll update this post tomo

[2017-05-19 19:42] Achterhoeker commented on #1473
@wattwurm My bot is using the xrp/eur pair on Bitstamp. How do you mean is missing ? Where is it missing ?

[2017-05-20 11:04] whitfa99 commented on #1470
Just after my last post I set the read timeout to 2 mins (!), and also 1000 millis between calls and I've not had any such exceptions since.

[2017-05-21 07:06] abitrolly opened #1475 "Filenames with trailing whitespace in stable branch"
[code]
Git is unable to handle these files on Windows.

[2017-05-21 08:27] abitrolly opened #1476 "Network connection requirements"
How does XChange maintain network connections? It looks like a polling library.
Does XChange open a new connection on each polling request?
Is there a mode that maintains an open connection for polling?

Is there a subscription mode where exchange pushes notifications to XChange client? Does such subscription / push require an active connection established by client to server?

I am trying to figu

[2017-05-22 08:54] Achterhoeker commented on #1470
@whitfa99 With my timeout off 90 seconds i didn't see those exceptions either. So it seems to work better this way. (I did see some delays for +/- 40 seconds placing orders on Polo, but it was successful.)
@timmolter I assume this ticket can be closed now. (or do you want to keep it open as information for others?)

[2017-05-22 08:54] #1470 closed

[2017-05-22 08:56] timmolter commented on #1470
Thanks. Let's keep it closed. People googling it will still be able to find it.

[2017-05-23 12:20] abletaz opened #1480 "Some tests output errors/warnings (tho don't seem to actually fail?) when doing "mvn clean install" on clean github checkout"
not sure if this points to anything needing cleaning-up or not, but mentioning just in case ......

Running org.knowm.xchange.bleutrade.BleutradeUtilsTest
java.text.ParseException: Unparseable date: "yyyy-MM-dd"
	at java.text.DateFormat.parse(DateFormat.java:366)
	at org.knowm.xchange.bleutrade.BleutradeUtils.toDate(BleutradeUtils.java:36)
	at org.knowm.xchange.bleutrade.BleutradeUtilsTest.shouldC

[2017-05-25 12:45] #1436 closed

[2017-05-25 18:44] lnaie opened #1482 "Question: who is using XChange?"
Just a question, because I haven't seen it in the docs.
Any established business using this library?
Thanks

[2017-05-25 22:35] whitfa99 opened #1483 "Kraken returning only 1000 trade records per call.."
.. regardless of whether I use

    marketDataService.getTrades(args)

with a since(lastID) arg or not, it only returns a max of 1000 records.

Is this limitation with Kraken, or with a setting in the library (I couldn't find anything in the code)?

Now that the volume is pretty high I'm finding that this limitation is becoming a problem.

[2017-05-26 06:27] timmolter commented on #1483
You'll have to look at the code and Kraken's API documentation.

[2017-05-26 10:13] jheusser opened #1484 "OkCoin OkEx migration"
https://www.okcoin.com/t-379.html

[2017-05-26 11:02] abitrolly commented on #1475
Fixed in `develop` by https://github.com/timmolter/XChange/commit/430e7dd2229def52b1b134eac1c2c4eb285253f3#diff-13168082187878f15b3ebc3759086577

Is there any chance to get this into `stable`? Or when the new release is planned?

[2017-05-26 11:24] timmolter commented on #1475
I could do a release, but why can't you build your own jar for now? `mvn clean install`

[2017-05-26 11:42] abitrolly commented on #1475
I can do jars, but git fails to commit my modifications to repository.

[2017-05-26 12:17] timmolter commented on #1475
You should be able to check out any commit on `develop` you want and then build a jar.

[2017-05-26 16:45] JojoSc opened #1485 "Quoine: can't get BTC Balance"
The following code returns 0 BTC, even though I have a non-zero balance on the exchange:

[code]

The same code works fine with fiat currencies.
I'm using the 4.2.1-Snapshot

[2017-05-26 19:23] abitrolly commented on #1475
Yes. I'll wait for a new release. Looks like there is no `stable` branch, so cherrypicking from `develop` seems like the right strategy.

[2017-05-26 19:23] #1475 closed

[2017-05-26 19:28] timmolter commented on #1475
I'll try to get a release out soon. The stable branch is `master`. the problem is, and what makes this project unique, is that the bitcoin exchanges are a constantly moving target, so nothing is really ever stable. it's unfortunate, but the way it is.

[2017-05-26 19:36] abitrolly commented on #1475
So maybe there is no need to keep `develop` at all then? Keep master always stable and let features mature in branches/PRs?

[2017-05-29 07:01] timmolter commented on #1482
Not that I know of. Sorry for the non-helpful answer.

[2017-05-29 07:01] #1482 closed

[2017-05-29 11:14] whitfa99 commented on #1483
I have looked through the XChange code and I think visiting [this link](https://api.kraken.com/0/public/Trades?pair=XXBTZEUR&since=0) proves that the limitation is from the Kraken end.  I will ask them to increase and see how I fare.

[2017-05-29 17:55] JojoSc opened #1489 "Cex.io get Trade History"
For cex.io the function `getTradeHistory()` in` CexIOTradeService.java` is not implemented, even though the API actually provides a way to retrieve that information via REST.

The same is true for Quoine

[2017-05-30 07:22] jheusser commented on #1484
will have an initial look at this today

[2017-06-03 16:03] npomfret opened #1498 "help getting started - strange values for coinbase ticker"
Just following the getting start guides to get some tickers for GBP / BTC.  I have connected to a few exchanges and the data looks fine except for the coinbase exchange which is returning the following:

`Ticker [currencyPair=BTC/GBP, last=1994.30, bid=2558.46, ask=2584.19, high=null, low=null,avg=null, volume=null, timestamp=null]`

The _bid_ and _ask_ look like very wrong, way to high (_last_ pr

[2017-06-04 11:56] npomfret opened #1499 "YoBitExchange - order book is some very bad behaviour"
When getting the order book from yo bit exchange, only the 1st call give you valid data.  Subsequent calls return the data from the first call with the new orders appended to it.  The bug is in the static state of the `YoBitOrderBookDeserializer`.

[2017-06-04 15:54] npomfret opened #1500 "implementing a new exchange"
I'm in the process of implementing an exchange for https://coinsbank.com/.  I have some read only methods working (order book and ticker) - thanks for all the great documentation.

The data I'm getting back isn't rounded very well.  I'm getting BigDecimals which when printed out look like this: 0.5400000000000000355271367880050..., e.g.:

`Order [type=ASK, tradableAmount=0.540000000000000035527136

[2017-06-05 08:14] richardflint commented on #1469
Augur (REP) has been added as via this PR https://github.com/timmolter/XChange/pull/1501

[2017-06-05 08:19] #1469 closed

[2017-06-07 06:52] npomfret opened #1510 "ValidatorException even after importing cert"
I'm still getting an `javax.net.ssl.SSLHandshakeException` after importing a certificate using:

[code]

And starting my app with `-Djavax.net.ssl.trustStore=jssecacerts`... is there anything I've missed?

[2017-06-08 12:25] #1510 closed

[2017-06-08 12:37] npomfret opened #1511 "LakeBTC - 404 getting account"
Calling `exchange.getAccountService().getAccountInfo();` results in:

[code]

@timmolter @jamespedwards42  any ideas?

[2017-06-08 12:59] npomfret commented on #1347
@dozd is there a trick to getting the Kraken exchange working?  I'm creating the exchange like this:

        KrakenExchange exchange = (KrakenExchange) ExchangeFactory.INSTANCE.createExchange(
                KrakenExchange.class.getName(),
                null,
                null,
                apiKey,
                privateKey);
        AccountService accountService = exchange.getAccountSe

[2017-06-08 13:24] npomfret commented on #1324
@unk1911 where do you get the passphrase from?

[2017-06-08 13:41] jamespedwards42 commented on #1511
This was implemented against V1 of their API, which they dropped support for as of April 2017. See https://www.lakebtc.com/s/api_v2.  Looks like the data modeling will need to be updated as well to upgrade to version 2.

[2017-06-08 14:02] #1511 closed

[2017-06-08 14:15] e1ektr0 commented on #1347
@npomfret  Try create new api keys. Possible you broke it(used big nonce) from other app or used it on machine with incorrect time.

[2017-06-09 09:46] kisapmata opened #1512 "[Bitstamp] Order Type is wrong when there is a very small transaction fill."
This case is triggered by bitstamp rounding issue. If they have very small BTC partial fills, the USD settlement amount returned by the json object is rounded off to ZERO. Example below shows very small BTC fill and the settlement amount become 0.00 instead of 0.0000172472 (btc_usd*btc).

{"usd": "0.00", "btc_usd": 1724.72000000, "order_id": 5863279, "datetime": "2017-05-15 09:43:04", "fee": "0.01

[2017-06-09 10:33] kisapmata opened #1513 "[Bitfinex] json Exception Format has change for exceeding rate limit."
as per their notification, they are sending this out JSON response{ "error": "ERR_RATE_LIMIT" }

On February 21st and 22nd Bitfinex was the target of a distributed denial-of-service (DDoS) attack that disrupted service for some users.
...
...
If an IP address exceeds 90 requests per minute to the REST APIs, the requesting IP address will be blocked for 10-60 seconds and the JSON response{ "error":

[2017-06-10 12:48] ww3456 commented on #1324
When you create the API key. The web page asks for a passphrase.

[2017-06-10 19:22] timmolter commented on #1512
I'm on vacation, will reply when i get back...

Sent from my iPhone

[2017-06-10 22:19] douggie opened #1516 "Support bulk order query in PoloniexTradeService"
Currently the following methods are not implemented:

public Collection<Order> getOrder(String... orderIds) as there is no bulk order query request on poloniex api, I suggest we just iterate over returnOrderTrades.

https://poloniex.com/support/api/

[2017-06-12 03:14] kisapmata opened #1519 "[Bitstamp] add function to get order status for bitstamp. (just like bitfinex)"
We currently have no implementation for this bitstamp API. This is useful for reconciliation of individual trades.

ORDER STATUS
This call will be executed on the account (Sub or Main), to which the used API key is bound to.

Request
POST	https://www.bitstamp.net/api/order_status/

[2017-06-12 03:35] kisapmata opened #1520 "[Gemini] Ticker doesn't work due to wrong object structure. Also Gemini prefer user of timestampms instead of timestamp field"
issue 1:
The GeminiTicker object doesn't match the json format (specs)

----Object----
public class GeminiTicker {
  private final BigDecimal mid;
  private final BigDecimal bid;
  private final BigDecimal ask;
  private final BigDecimal high;
  private final BigDecimal low;
  private final BigDecimal last;
  private final BigDecimal volume;
  private final float timestamp;

----Gemini Specs-----

[2017-06-12 03:45] kisapmata opened #1521 "[ItBIt] ticker, depth, trades and placelimitorder should handle Currency BTC (not just XBT)"
Not sure if this is a feature request, but existing Kraken code is able to handle this case. ITBIT exchange recognizes only XBT, therefore sending BTC when requesting ticks, depth, trades history or placing limit order will throw error of symbol not recognized/supported.

[2017-06-12 13:56] npomfret opened #1524 "CEX IO error: Error getting balance. Nonce must be incremented"
Does anyone know what to do when getting this error from the `CexIOExchange`?

`Error getting balance. Nonce must be incremented`

[2017-06-12 16:14] npomfret opened #1525 "QuadrigaCx - adapt currency is "lower-casing" CCY name"
All the currency names defined are in uppercase.  The QuadrigaCx doesn't return _uppercased_ currencies (see `QuadrigaCxBalance.java` for example).  It's inconsistent with the other apis

[2017-06-12 16:14] #1524 closed

[2017-06-12 23:12] madwicket commented on #1324
Hey guys, I don't mean to hijack this thread but how exactly are you getting the tick history from GDAX? I am pretty stumped as the page retrieve function has not been set up.

[2017-06-13 02:31] kisapmata commented on #1341
just fyi, I have just clarified with BTCChina that the getOrders API queries only 1 week worth of orders, beyond that the getArchivedOrders should be called instead. It gets complicated in this case as I think, if you need to query worth 2 weeks of record, you will have to make 2 API calls (1 getOrders for the 1st week and 1 getArchivedOrders for the 2nd week).

[2017-06-13 06:19] kisapmata commented on #1341
@timmolter @mmazi once you have time, please feedback on this if you think this needs fixing. Please take note that the main issue on this is that the current implementation (GetTransaction) doesn't provide order_id which makes it impossible to reconcile order submitted based on it's id.

[2017-06-13 06:21] ww3456 commented on #1324
Are you referring to the Get Historic Rates query [here](https://docs.gdax.com/#get-historic-rates)? If so, then it does not fit into the common XChange set of method calls, you'd have to implement and access it directly from GDAXMarketDataServiceRaw (it is not currently there).

[2017-06-13 08:38] kisapmata commented on #1513
adding below works fine without breaking anything. This simply maps the error to getMessage if applicable.

  @JsonProperty("error")
  private String error;

  public String getMessage() {
    return message==null?error:message;
  }

[2017-06-14 13:20] npomfret commented on #1398
I'm getting a 401 too.  Is there a trick to this? I've tried:

[code]

[2017-06-14 13:23] jheusser commented on #1398
@npomfret This is correct. How do you instantiate the `Exchange` instance?

[2017-06-14 13:24] npomfret commented on #1398
`ExchangeFactory.INSTANCE.createExchange(specification)`

It's a bit confusing known which bit of the text provided by the exchange is the api key and which bit is the secret.

[2017-06-16 11:29] sajidsrq opened #1526 "Hi How can we use XChange in Html/css"
How ca n we full the request from API from HTMl/CSS

[2017-06-16 11:33] jheusser commented on #1526
Not to sound snarky, but how can you expect an answer to this question? Could you try to reformulate it more clearly please.

[2017-06-16 11:55] e1ektr0 commented on #1526
For using xchange from html/css you should write extracode for rest server that will provide api for working with xchange.

[2017-06-16 14:46] sajidsrq commented on #1526
Hi, I am new to it could you please tell me how to write extra code and how can I use it in my code. please provide me details like any URL hit or any other .DLL etc..

[2017-06-16 14:47] sajidsrq commented on #1526
What and how much  extra code I have to right it for rest server

[2017-06-16 19:34] timmolter commented on #1521
I guess you have to know to use the XBT symbol for bitcoin when using ItBit. It's unfortunate that bitcoin has two symbols.

[2017-06-16 19:34] #1521 closed

[2017-06-16 19:35] timmolter commented on #1520
fixed here: https://github.com/timmolter/XChange/pull/1518 ?

[2017-06-16 19:37] timmolter commented on #1519
Could you submit a PR for this? It looks like you perhaps fixed it on your own fork.

[2017-06-16 19:45] timmolter commented on #1498
Definitely looks like a bug. Thanks.

[2017-06-16 22:01] #1526 closed

[2017-06-16 22:01] timmolter commented on #1513
Please consider creating a pull request with the fix. It'd be highly appreciated!

[2017-06-16 22:04] timmolter commented on #1324
@madwicket I get it by querying the trades and creating my own tickers from that. Otherwise you could follow @ww3456 's advice.

[2017-06-16 22:06] timmolter commented on #1341
@kisapmata Do you have a well-defined solution to this?

[2017-06-16 23:12] sajidsrq opened #1527 "getting Currency details from API"
Steps to getting the details from API to show on the Wesite.

[2017-06-16 23:15] timmolter commented on #1527
Your question is not relevant to this issues page, and will not get answered here.

[2017-06-16 23:15] #1527 closed

[2017-06-17 00:16] sajidsrq commented on #1527
Then where i Can find it

[2017-06-17 19:54] SeanRobb opened #1528 "Poloniex Base and Counter Currency Pair issue"
It looks like the base and counter currency pair have changed in commit 62e027a54ed641ebb545f47ae0b4622882367438.

I am now having issues with retrieving Ticker information from Poloniex. The api call works well but the values are way off.  I was wondering why this was done?

[2017-06-18 00:18] timmolter commented on #1528
Whoops. That's happened before and I forgot about it. Does anyone know why people keep submitting PRs with the bas and counter switched for poloniex?

[2017-06-18 09:05] douggie commented on #1528
Nope, I am using polinex without issue the base and counter are the right
way round.

On Sun, Jun 18, 2017 at 1:18 AM, Tim Molter <notifications@github.com>
wrote:

[2017-06-18 14:19] timmolter commented on #1528
@douggie With the latest develop branch including the last change to Poloniex?

[2017-06-18 18:25] douggie commented on #1528
I am one comit behind. Will check the number a bit later.

On Sun, 18 Jun 2017, 15:19 Tim Molter, <notifications@github.com> wrote:

[2017-06-18 19:14] SeanRobb commented on #1528
I started having the problem yesterday and it went away when I rolled back to a different snapshot of the same version in the project so I looked in the recent commits and saw that this was the only change.  Thank you @timmolter for your quick response and I just wanted to make you aware of the change that appears to return incorrect ticker values.

[2017-06-19 03:03] kisapmata commented on #1341
@timmolter I have spoken to BTCChina regarding, their advise is to use the getOrders and getArchivedOrders. Note that GetOrders searches ONLY WITHIN the recent 1 week records while GetArchivedOrders searches ONLY AFTER 1st week records. The problem here is "since" (startDate) parameter is only present for the 1st method but not on 2nd one. This means there is no way to query a specific date record

[2017-06-19 03:42] kisapmata commented on #1520
i see ok. ill close this issue.

[2017-06-19 03:42] #1520 closed

[2017-06-19 05:29] odaken commented on #1528
I vote for @SeanRobb. I am also suffered getting ticker with error by the last change. I am getting tickers from several exchanges but the change was inconsistent with other exchanges.

[2017-06-19 06:09] douggie commented on #1528
Hi,

I am using the branch with the last comitt of
3c0dcb07f2584609c1b86e3d04184c0db601690b
without issue.

On Mon, Jun 19, 2017 at 6:29 AM, Kentaro Oda <notifications@github.com>
wrote:

[2017-06-19 07:41] douggie commented on #1528
PR https://github.com/timmolter/XChange/pull/1533 submitted

On Mon, Jun 19, 2017 at 7:09 AM, Douggie melville-clarke <
douggie@melvilleclarke.com> wrote:

[2017-06-19 09:21] kisapmata commented on #1521
i think you need to reconsider this as I found below is same issue already merged to develop.
 [https://github.com/timmolter/XChange/pull/1359](url). Basically just a bit more change to complete it. I will raise a PR and its up to you if u want to reject it.

[2017-06-19 13:33] wonkytonky opened #1535 "[Bitfinex] (DEV) AccountInfo .getWallets() not returns wallet names like deposit, exchange,.."
AccountInfo .getWallets() not returns wallet names  like deposit, exchange,..
It does return some info like total balance value usd and how much is used and is free but it doesn't differenciate between  deposit, exchange, margin .anymore.

[2017-06-19 14:47] timmolter commented on #1528
OK, I'm going to look into this today and finalize a solution....

[2017-06-19 14:51] douggie commented on #1528
I can't see why the need to reverse them. I thought it might be that
polonix provides inverse currencies i.e. eth.btc as well as btc.eth but
that does not seem the case.

On Mon, Jun 19, 2017 at 3:47 PM, Tim Molter <notifications@github.com>
wrote:

[2017-06-19 14:53] timmolter commented on #1528
The thing is, I keep getting pull requests that keep flipping the base and counter. I believe from what I saw, you are correct, but I want to 100% verify it and convince myself so I can correctly handle future pull requests that flip things.

[2017-06-19 15:39] timmolter commented on #1528
Addressed in commit: 55658f3a8a933c1dde2f92ec5a7e835584985a58

[2017-06-19 15:39] #1528 closed

[2017-06-19 21:35] douggie commented on #1528
I think the comit has broken USD tether as we now have :

currencyPair.counter.getCurrencyCode().replace("USD","USDT").toUpperCase()

Submitted a PR to fix
Support currencies:
https://poloniex.com/public?command=returnCurrencies

On Mon, Jun 19, 2017 at 4:39 PM, Tim Molter <notifications@github.com>
wrote:

[2017-06-20 13:59] Saloed123 opened #1540 "Check status connection"
Hello, i am getting data from Poloniex, or another platform. But somethimes Poloniex drop (ddos). How me check connection on response code and catch error.

[2017-06-20 15:34] sneralk opened #1541 "Support Liqui"
A quite "Liqui"d exchange: https://coinmarketcap.com/exchanges/liqui/
They claim their api is the same as BTC-e

[2017-06-21 05:38] byron-xie commented on #149
How to solve this problem ？MainActivity: Connection closed by us, info=draft org.java_websocket.drafts.Draft_17@bb482f9 refuses handshake

[2017-06-21 12:52] ymyronov opened #1543 "[Gemini] deserialisation exception"
Hello, trying to use xchange 4.2 GeminiExchange:
[code]

Seems to be working for other exchanges, but for Gemini I get an exception:
[code]

[2017-06-21 13:17] npomfret opened #1544 "more metadata needed?"
I've just tried executing a trade on the BTC/LTC market on hitbtc which failed with the message 'Rounding necessary'.  Now it seems that LTC and BTC are represented on the 8 exchange with 8 decimal places, as is the price on the BTC/LTC exchange.  However, the quantity that is tradable on that market is rounded to just 1 decimal place.  Is there a common place in this API (like the .json metadata

[2017-06-21 15:35] timmolter commented on #1543
please try the latest develop branch. I bet it's already fixed.

[2017-06-21 15:49] timmolter commented on #1544
The metadata may or may not have specifically that, I don't know for sure as I've not yet used that specific feature. The json could also very well be outdated. You'll have to investigate it yourself unless someone else chimes in here.

[2017-06-21 15:50] ymyronov commented on #1543
Thanks for quick reply, yes it is working in 4.2.1 snapshot as well as develop.

[2017-06-21 15:50] #1543 closed

[2017-06-22 09:33] salamtura opened #1549 "Coinbase bind issue"
Hello,

I got this issue this morning. Any pointers please

com.fasterxml.jackson.databind.JsonMappingException: No content to map due to end-of-input
 at [Source: ; line: 1, column: 1]
	at com.fasterxml.jackson.databind.JsonMappingException.from(JsonMappingException.java:164) ~[jackson-databind-2.4.1.1.jar:2.4.1.1]
	at com.fasterxml.jackson.databind.ObjectMapper._initForReading(ObjectMapper.java:

[2017-06-22 11:33] npomfret commented on #1544
Thanks for the reply - I'll give it some thought.

[2017-06-22 11:35] npomfret commented on #1489
Done - just waiting for my PR to get merged https://github.com/timmolter/XChange/pull/1548.

If you're able to test it that would be very useful.

[2017-06-22 11:35] #1499 closed

[2017-06-22 11:36] #1500 closed

[2017-06-22 13:06] Achterhoeker commented on #1528
@timmolter The pairs are now always swapped after this cr ? That will give troubles with the minimal trade size. It was 1.0e-e for the old base coins (most btc) Now that minimum must be used for the counter coin. That is complete different from all other xchanges.

[2017-06-22 14:09] adneerav commented on #1414
Hello

I am facing the same issue.

[code]

I've tried with valid API & secret key. And also tried the same which is given in sample demo but still the same issue.

Below I've given console output

Here its API giving a proper response:

[https://bittrex.com/api/v1.1/public/getmarketsummary?market=BTC-1ST](https://goo.gl/tJMZqk)

values are passing as per bittrex documentation: https://bittrex.com

[2017-06-22 16:14] jheusser commented on #1485
@JojoSc Try latest develop version, should work.

[2017-06-22 16:15] jheusser commented on #1484
This is completed.

[2017-06-22 16:15] #1484 closed

[2017-06-22 16:17] jheusser commented on #1476
@abitrolly XChange is polling only, so poll requests should be done in a way which respects the polling quotas of the exchanges you connect to. XChange is using rescu as REST library, check its connectivity/serialisation settings.

[2017-06-22 16:17] #1476 closed

[2017-06-22 16:18] jheusser commented on #1372
This might have been addressed now?

[2017-06-22 20:23] timmolter commented on #1528
@Achterhoeker The currency pair is now like on every other exchange as far as my research led me to believe. Where is the minimal trade defined? Can you change that?

[2017-06-22 20:45] timmolter commented on #1549
try the latest snapshot jar or run the latest code on the develop branch please.

[2017-06-22 21:21] timmolter commented on #1535
try the latest dev branch code please. It could already be fixed on the develop branch.

[2017-06-22 21:23] timmolter commented on #1540
I just surround my calls in a try, catch and eat the exception. Try to unwrap the exception for error codes and messages. If it's not there, what you want, you'll have to change the code in xchange.

[2017-06-22 23:23] douggie commented on #1528
I believe the minimal trade size on polonix is 0.2. May be try to place the
same order manually via the web interface to see if it is correct. The
current branch is consistent with other exchanges in xchange so may be your
code is getting the couter and base round the wrong way. Have you tried
another xchange exchange is the issue consistent?

On Thu, 22 Jun 2017, 21:23 Tim Molter, <notifications@

[2017-06-23 08:55] AnthonyTsang opened #1552 "[Gatecoin] All API responses 406"
I am using the follow method to create `Exchange` with my own API key and secret key.
[code]

I basically copied the example and ran `AccountInfo` and `MarketDataService.getOrderBook()`. The result is an exception `Exception in thread "main" si.mazi.rescu.HttpStatusIOException: HTTP status code was not OK: 406`

the `pom.xml` I am using is this
[code]

[2017-06-23 10:53] galic1987 opened #1554 "gdax order (asks/bids) (ETH_USD) returning null on order timestamp"
Screenshot: https://ibb.co/c5OKA5

[2017-06-23 13:34] timmolter commented on #1554
Two possibilities:

1. That's OK. It means that there is no timestamp given by the GDAX API.
2. It's a bug in the XChange code.

I'll take a look soon if you don't get to it first.

[2017-06-23 13:38] timmolter commented on #1552
1. try the latest snapshot jar or compile the code from `develop`.
1. See: https://github.com/timmolter/XChange/wiki/New-Implementation-Best-Practices for how to get lower level http/JSON logs to try to debug
1. Fix it and submit a PR!

[2017-06-23 19:27] dimecoin opened #1555 "Get all products listed on an exchange?"
Sorry if this is a dumb question, but is there a way to get a listing of all CurrencyPairs traded on a specific exchange?

[2017-06-24 09:45] molexx commented on #1544
I'd be interested to know any progress/thoughts on this, thanks.

[2017-06-24 12:37] galic1987 commented on #1554
I've just checked and it looks like it must be the feature in the GDAX API ;)

[2017-06-24 18:08] #1554 closed

[2017-06-25 19:51] Achterhoeker commented on #1528
@timmolter and @douggie Sorry, I was mislead by the log file from my own written bot. Internally my bot was already swapping the trading pairs on Polo. The minimal amount is indeed 0.0001 when i test it on the webinterface i get "Total must be at least 0.0001 btc" So with the new pairs (BTC/ETH for example) it is correct now aplyable to the standard base coin. I thought that BTC/ETH was now swappe

[2017-06-25 21:50] npomfret commented on #1544
I'm quite new to this project, so my ideas might not be quite thought out enough yet...

It feels like in order to trade on any exchange, each needs some common metadata.  Specifically, so far I've come across:

_currency scale_ - for use when getting your wallet data
_price scale_ - for use when making a limit order
_quantity scale_ - for use when setting the quantity/size of any order (which doe

[2017-06-26 09:06] timmolter commented on #1544
Thanks, @npomfret . I think I may put some of what you wrote in the Wiki. I'll comment more on it soon...

[2017-06-26 11:32] Navvy1846 opened #1562 "Selective Build Issues"
Hi,

Thank you for your XChange package, it is teaching me a lot about connecting to exchanges!

Please could you help me understand how to fix getting build issues (with my configuration)? E.g. KrakenDepthDemo.java used to run fine last week, now it is not running because of type issues (see here for screenshot: http://prntscr.com/foa4os). Also sometimes some exchange examples will run once, then

[2017-06-26 12:08] Navvy1846 commented on #1562
Hi. Further to this I have now installed Eclipse and all the examples I have tried so far run repeatedly. Thanks for the guide!

[2017-06-26 12:08] #1562 closed

[2017-06-27 07:42] #1552 closed

[2017-06-27 11:33] Achterhoeker commented on #1555
That is present in the meta data from the exchange:
exchange.MarketExchange.getExchangeMetaData().getCurrencyPairs().keySet()

[2017-06-27 13:15] dimecoin commented on #1555
Thanks.  I found it under exchnage.getExchangeSymbols()

[2017-06-27 15:08] hleb-albau commented on #1448
I just wondering about same idea too.

[2017-06-27 15:17] hleb-albau opened #1567 "Ways of loading exchanges past data."
Hello,

Example task: load all last 5 minutes trades for poloniex exchange.
Question: Poloniex has about 40 currency pairs. So, if i want to download trades for all pairs, than i should create 40 HTTP requests? And same for others exchanges? Or, may be i miss something? Is there more efficient way to grab past markets data?

Thanks!

[2017-06-27 15:36] timmolter commented on #1567
If they don't have an API for that, then no, there is no easier way. You'll have to look up their API docs and if a batch download is available, it can be implemented in XChange.

[2017-06-27 20:45] hleb-albau commented on #1567
@timmolter thanks for answer, i close the issue.

[2017-06-27 20:45] #1567 closed

[2017-06-27 23:24] molexx commented on #1544
Yes a separate repo with the json files in sounds like a good idea. As they are loaded from the classpath it shouldn't require any changes other than moving the files around in git and adding a mvn module.
I like the current method (documented in the wiki) of merging files with data pulled from online APIs. It would be good for data to be removed from the .json if an API source is implemented.

Ma

[2017-06-28 10:59] npomfret commented on #1544
WRT the fees modelling...

I agree that funding (deposit and withdrawal fees) are probably best ignore by this project, at least for now.

And I think to model the fees better then separating taker from maker would be a good step forward.  In addition I think we need per currency-pair fees as some exchanges have different fees in different markets.

And... the fees are sometimes issued in the base

[2017-06-28 11:02] npomfret commented on #1555
Be careful.  I think sometimes this is taken from the static data embedded in the project, which can be out of date.  You need to check the implementation.

[2017-06-28 12:36] Achterhoeker commented on #1555
@npomfret You are correct, were possible it is taken from the remote server. But not all exchanges support that. For a consistent api that information is present in the static json file. If that information is not in sync, please update it. Everybody will benefit from that new information.

[2017-06-28 22:17] labeoVlad opened #1569 "Coinbase getTicker() produce the wrong result for ETH/USD and LTC/USD pairs"
Having issues with Coinbase getTicker(). It produces the wrong result for ETH/USD and LTC/USD pairs

All pairs are treated as BTC/USD - see highlighted in attached picture.
Let me know.
Thanks

![coinbase_issue](https://user-images.githubusercontent.com/4750556/27662929-fc6455c2-5c2d-11e7-9366-e18fccb9cae6.jpg)

[2017-06-28 22:26] timmolter commented on #1569
Looks like a bug. Are you using the latest snapshot jar or an outdated release?

[2017-06-28 22:27] labeoVlad commented on #1569
<dependency>
			<groupId>org.knowm.xchange</groupId>
			<artifactId>xchange-coinbase</artifactId>
			<version>4.2.1-SNAPSHOT</version>
		</dependency>

[2017-06-28 22:28] timmolter commented on #1569
OK, then it's a bug. You'll probably have to fix it yourself. A PR would be appreciated by everyone.

[2017-06-29 03:33] labeoVlad opened #1570 "BTC get stolen from your Poloniex account?"
I am not sure what the author of this code was trying to accomplish (see marked via red)
but it looks suspicious. Any thoughts?

It looks like someone was trying to steal 0.03BTC every time when code run, therefore I have commented this line

need review

![btc_get_stolen_from_your_poloniex_account](https://user-images.githubusercontent.com/4750556/27670259-dea3c65e-5c59-11e7-925f-08ad1bd9dcae.jpg

[2017-06-29 08:25] timmolter commented on #1570
I don't think it's the intention to steal. It's in the example code to show how to withdraw funds. It requires setting up your own API kets, etc., and anyone running that would be extra careful.

If the code was outside on the examples sub-module, then yes, it'd probably be attempted stealing.

I think I'll go ahead and change all legit BTC addresses to "XXX" or something anyway.

[2017-06-29 08:25] #1570 closed

[2017-06-29 08:30] jheusser commented on #1570
@timmolter good idea 👍 .

[2017-06-29 15:09] labeoVlad commented on #1570
You may be right. You always need to be extremely careful when it comes to your account.
But the reason I didn't like it because when you try to demonstrate how to withdraw funds you normally would use something like this:
`accountService.withdrawFunds(Currency.BTC, new BigDecimal("0.03"), "13ArNKUYZ4AmXP4EUzSHMAUsvgGok74jWu");`

and not like this:
`System.out.println(accountService.withdrawFunds(

[2017-06-29 21:15] br0x commented on #1448
Better left it as is. You don't want to spend money before knowing exact state after previous request. As for public informational API calls like ticker, I created several accounts on exchange and run these request in parallel - this really helps

[2017-06-30 04:18] kisapmata opened #1571 "[Bitsatmp] BitsatmpUserTransaction setDynamicProperty should capture only currency related values (base, counter, price and amounts)"
BitsatmpUserTransaction setDynamicProperty should capture only currency related values, specifically, base, counter, price and amounts. But as how it is now, it will capture anything that has no default json property handler and may break the whole thing. This will surely happen if bitstamp intruduce new property for BitstampUserTransaction object.

[2017-06-30 08:40] andre77 commented on #1448
@br0x its up to you, to "wait" for a call to finish before you continue...
i guess, you missed the point

[2017-06-30 08:56] br0x commented on #1448
Oh, I believe I got you now. You mean we could use result listeners. This would help

[2017-06-30 13:15] byronvoorbach commented on #1231
Hey @douggie & @npomfret!

[2017-06-30 14:45] npomfret opened #1573 "Make domain objects interfaces rather than implementations?"
I was thinking it would be nice to have some of the domain classes as interfaces rather than implementations.  So rather than _adapting_ the exchange-native classes that you may have created into things like `LimitOrder` or `TradeOrder`, you simply implement the common interface.  It would allow the API developer to return richer objects that contain more information that the exchange might provid

[2017-06-30 15:49] timmolter commented on #1372
yes, addressed.

[2017-06-30 15:49] #1372 closed

[2017-07-01 09:53] ChukwuEmekaAjah commented on #1212
Please in what format and range should the start time and end time in poloniex returnChartData method be in. I have tried implementing it in the time format that is in the API documentation but it doesn't seem to return the desired data. It only returns data when the start time is the unix epoch. Thanks for your response.

[2017-07-02 01:47] madwicket commented on #1212
I use DateUtils from com.xeiam.xchange.utils.DateUtils;
DateUtils.toUnixTime(startTime.getTime())
DateUtils.toUnixTime(endTime.getTime())

Here is an example usage
PoloniexMarketDataServiceRaw rawDataService = (PoloniexMarketDataServiceRaw) PoloniexMain.getDataService();
PoloniexChartData[] t = rawDataService.getPoloniexChartData(PoloniexMain.getCurrencyPair(), PoloniexMain.getPeriod(), DateUtils.

[2017-07-02 01:48] madwicket commented on #1212
And sorry to everyone not doing a PR. I fail at GitHub and tried to do it but utterly messed up.

[2017-07-02 05:43] madwicket commented on #1324
I have started on @ww3456 advice but have hit a snag and was wondering if I could get some help?

I have added this to GDAX.java
  @GET
  @Path("products/{baseCurrency}-{targetCurrency}/candles?start={startTime}&end={endTime}&granularity={granularityInSecs}")
  GDAXHistoricRates[] getHistoricRates(@PathParam("baseCurrency") String baseCurrency, @PathParam("targetCurrency") String targetCurrency,

[2017-07-02 07:52] timmolter commented on #1212
@madwicket Please keep trying. It's hard at first, but once you figure it out its easy (like most things in programming).

[2017-07-02 13:59] wonkytonky commented on #1535
hi, not fixed.

i'm new to git .. but apparently the new  code is  added here :
http://prntscr.com/fqp4bc

i dont know what happened before this snapshot  though.. need to learn more about git myself

[2017-07-02 15:14] douggie opened #1579 "Poloniex bookdepth too large to parse"
Hi,

it would seem xchnage is making the following get request for book data https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_ETH&depth=999999, giving the largest level of depth that resuc does not seem to be able to read in line by line in sufficient time.

Should we just limit to depth to top 100 orders?

{
2017-07-02 16:07:37 [pool-22-thread-5] INFO  org.cryptocoinpartners.x

[2017-07-02 15:28] douggie commented on #1579
I see we have a param we can pass, to limit the depth, great!

[2017-07-02 15:28] #1579 closed

[2017-07-02 15:56] madwicket opened #1580 "GDAX implementing GDAX Historic Rates"
**I was wondering if I could get some help with an error I am seeing with implementing GDAX Historic Rates. Comments are in Bold**

**I have added this to GDAX.java**
@get
@path("products/{baseCurrency}-{targetCurrency}/candles?start={startTime}&end={endTime}&granularity={granularityInSecs}")
GDAXHistoricRates[] getHistoricRates(@pathparam("baseCurrency") String baseCurrency, @pathparam("targetCur

[2017-07-02 16:18] timmolter commented on #1580
It's failing on the JSON deserialization. What's the JSON look like from GDAX?

You should take a look at the Wiki page here: https://github.com/timmolter/XChange/wiki/New-Implementation-Best-Practices

Starting on step 3, get the JSON, create a unit test class ,and keep fining your DTO until it all works out. With the unit test you'll be able to see the jackson exceptions and be able to google th

[2017-07-02 17:05] timmolter commented on #1579
I've never seen that error using that default param.

[2017-07-02 17:10] timmolter commented on #1535
I marked it a a bug then. You'll probably have to fix the code yourself. A PR with the fix would be appreciated by everyone.

[2017-07-02 17:13] timmolter commented on #1324
https://github.com/timmolter/XChange/issues/1580

[2017-07-02 17:58] timmolter commented on #1231
@byronvoorbach I don't think anyone is working on it or planning to. I would consider making a new `Service`, `LendingService` if you committed to filling in a handful of implementations. How many exchanges are you working with that offer margin lending anyway? Which ones besides Poloniex?

[2017-07-02 18:08] timmolter commented on #1448
Sounds like premature optimization to me (https://softwareengineering.stackexchange.com/questions/80084/is-premature-optimization-really-the-root-of-all-evil) If it's working fine, like you say it is, then it could actually do more harm then good. I haven't heard of any issues with rescu yet either, but if people are having actual legit issues, they should definitely be addressed, but in a manner

[2017-07-02 19:18] timmolter commented on #1544
@npomfret @molexx Thanks for your thoughts on the matter.

https://github.com/timmolter/XChange/wiki/Design-Notes

See section on metadata. I should probably add an easy-to-see link in the README.

Well, the `develop` branch is more or less that. Plus the code is also changing so much chasing changes on exchanges' API. Every time I do a release there are hotfixes and additions literally the next d

[2017-07-02 19:19] #1473 closed

[2017-07-02 19:20] timmolter commented on #1483
yes, it's a limit on Kraken's end.

[2017-07-02 19:20] #1483 closed

[2017-07-02 19:48] dimecoin commented on #1569
I don't think the coinbase feed has been updated in awhile.  It's using v1 of their API and most functions aren't implemented or working.  The only I could get "working" is the ticker, but has problems with newer products as this issue points out.

I'd be willing to pitch a little as donation or bounty, if someone wants to get this feed up on v2 of api and some basic functionality working.   I'm j

[2017-07-03 01:44] madwicket commented on #1580
It is weird the output of json is literally this:

 [[1498924740,2465.98,2468.06,2465.98,2467.83,1.51111634],[1498924680,2465,2470.49,2468.6,2465,22.22688688000002]]

There are no json properties, and from their api reads:

RESPONSE ITEMS

Each bucket is an array of the following information:

time bucket start time
low lowest price during the bucket interval
high highest price during the bucket i

[2017-07-03 21:51] sirajperson commented on #1215
That doesn't seem to make sense because the okcoin adapter offers futures api access.

[2017-07-03 21:54] jheusser commented on #1215
@sirajperson that's true, kinda agree. However okcoin/okex futures are closer to spot than bitmex (kinda like the perpetual swap on bitmex, with a persistent reference to 3 currency pairs) and naming works better with the current `CurrenyPair` approach of XChange.

[2017-07-03 22:05] sirajperson commented on #1215
BitMex rest API explorer and spec

https://www.bitmex.com/api/explorer/

[2017-07-03 22:08] sirajperson commented on #1215
@jheusser, thanks for the speedy reply. I was under the influence that continuous swap influenced the settlement rather than the order process.

[2017-07-03 22:09] sirajperson commented on #1215
Is there any reason that one wouldn't be able to enum an alias inside the a BitMex adapter so that the CurrencyPair would have to take on new jargo ?

[2017-07-03 22:12] jheusser commented on #1215
Sure, it's definitely possible. I think if someone implemented Bitmex in XChange it would get merged. I'm saying the terminology, reference data etc of a future contract might not fit well in the already bloated API of XChange which is more written with spot fx in mind.

[2017-07-03 23:25] madwicket commented on #1580
GOT THE DTO TO WORK!!!!!!!!!!!!!!!!!!!!!!!!

package org.knowm.xchange.gdax.dto.marketdata;

import com.fasterxml.jackson.core.JsonParser;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.ObjectCodec;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.databind.JsonDeserializer;
import com.fasterxml.jackson.databind

[2017-07-03 23:26] #1580 closed

[2017-07-04 07:44] timmolter commented on #1580
Good work! Looks like the correct way to do it at first glance.

[2017-07-04 11:12] mrwillis opened #1583 "Poloinex Exchange always returning no data for [CRYPTO]-fiat pairs"
Hi all,

I seem to never be able to get data for Poloinex and always an `ExchangeException`. Here's my code:

[code]

And for the last three days, I've been getting

[code]

I've tried other fiat currencies, no good. It seems like crypto-crypto pairs are fine though.

Thanks for the help :)

[2017-07-04 11:15] timmolter commented on #1583
Try this for the `CurrencyPair` : `new CurrencyPair("BTC", "USDT");`

[2017-07-05 04:13] wandyer opened #1584 "Bittrex V1.1 API"
The Bittrex V1 API will be deprecated on the 20th of July.

I haven't tested yet, but is V1.1 available already? I've seen that there is only examples for V1.

[2017-07-05 06:48] timmolter commented on #1584
Take a look at the code on the `develop` branch. If V1.1 is not there, then no one implemented it yet.

[2017-07-05 09:30] dave0688 commented on #1231
I'd be interested in a lending service as well.

[2017-07-06 18:58] douggie opened #1587 "bitfinex margin trading"
Hi,

I noticed we have the correct ordertypes to pass margin order to the exchange:

`public enum BitfinexOrderType {

  MARKET("exchange market"), LIMIT("exchange limit"), STOP("exchange stop"), TRAILING_STOP("exchange trailing-stop"), FILL_OR_KILL(
      "exchange fill-or-kill"), MARGIN_MARKET(
      "market"), MARGIN_LIMIT("limit"), MARGIN_STOP("stop"), MARGIN_TRAILING_STOP("trailing-stop"), MA

[2017-07-07 00:01] dmitruis commented on #1498
Hi, getting the same bug for BTC/EUR where its actually returning back BTC/USD, probably based on user default currency preferences like the webpage.

This coinbase api seems to give back the right results:
https://developers.coinbase.com/api/v2#get-buy-price
https://api.coinbase.com/v2/prices/BTC-EUR/buy
https://api.coinbase.com/v2/prices/BTC-USD/buy

[2017-07-07 05:32] npomfret commented on #1498
Try the GDAX implementation instead.

[2017-07-07 15:07] labeoVlad opened #1589 "new method getBTCequivalent() is needed"
So far we have a lot of useful methods like getAvailable(), getTotal() , etc

But what is really needed to assess your portfolio is your currency amount equivalent expressed in BTC.
This is what all exchanges do ( poloniex and others)
They show you the amount of currency owned and their equivalents in BTC.

So, I thought maybe a method like getBTCequivalent() can be implemented?

[2017-07-08 15:28] tycho01 opened #1590 "Currency: distinguish crypto vs. fiat?"
Currently, crypto/fiat currencies are not distinguished in [`Currency`](https://github.com/timmolter/XChange/blob/master/xchange-core/src/main/java/org/knowm/xchange/currency/Currency.java), though in practice they have some relevant differences -- some functions such as `requestDepositAddress` are naturally expected to fail for fiat currencies, for example. For such cases, having e.g. crypto/fiat

[2017-07-08 16:53] ezhik97 opened #1591 "Bittrex getTicker() fail with exception"
Today I've updated to develop snapshot and realize that BittrexMarketDataService.getTicker(pair) stop working with exception:

`si.mazi.rescu.HttpStatusIOException: Instantiation of [simple type, class org.knowm.xchange.bittrex.v1.dto.marketdata.BittrexTickerResponse] value failed: null (through reference chain: org.knowm.xchange.bittrex.v1.dto.marketdata.BittrexTickerResponse["result"])
	at si.ma

[2017-07-08 16:55] ezhik97 commented on #1589
I think that this is not a function for this library. You can just calculate this value by requesting wallet amounts and current exchange rates.

[2017-07-08 17:01] ezhik97 commented on #1590
In my opinion, there are no ways to distinct exactly what is fiat and what is crypto. The data source - marketplaces - does not separate them, all of these are just currency.
Described details makes requested distinguishes not reliable enough. As soon that this implementation way (via sub-classes) is applied to all users and can produce errors - I don't think that this is a good idea.

[2017-07-08 17:04] ezhik97 commented on #1583
Yes, there is a typo - Poloniex does not have 'USD' currency, they has 'USDT'. For me getTicker() for all poloniex pairs works fine. I think that we can just close this issue.

[2017-07-08 19:01] labeoVlad commented on #1589
agree

[2017-07-08 23:33] SeanRobb commented on #1591
I also was seeing some issues when retrieving the Bittrex ticker.  I looked in to recent developments and there looks like there was a pull request 5 days ago that flipped the base and counter values in the currency pair.  I have switched them back and verified that my ticker issue is gone locally.  I now have a [pull request](https://github.com/timmolter/XChange/pull/1592)  waiting to get merged.

[2017-07-09 03:35] tycho01 commented on #1590
I guess it's much more likely for new currencies to fall in the crypto category than we'd actually get new fiat currencies. From that perspective, one way to deal with this might be to explicitly mark the fiat currencies, and consider anything else crypto.
I see your point on backward compatibility though. With that in mind, I'll mark this as closed unless others here feel differently about it.

[2017-07-09 03:35] #1590 closed

[2017-07-09 06:24] ezhik97 commented on #1591
Yes, it is fixed this issue to. Very strange logic was added.

[2017-07-09 08:18] #1583 closed

[2017-07-09 08:19] #1589 closed

[2017-07-09 08:34] timmolter commented on #1591
I merged your overriding PR. I agree that that previous PR broke it.

[2017-07-09 08:34] #1591 closed

[2017-07-09 08:38] #1587 closed

[2017-07-09 12:24] water0126 opened #1594 "HitBTC withdrawal"
Hello. I am a developer who is interested in bit coin trading.

Because the withdrawal API has not been developed yet, While developing the trading system for fun, I found that the account on the hitbtc site was divided into the main account and the trading account.

Therefore, please add 4 additional rest below.

In HitbtcAuthenticated.java, The source is for reference, and the purpose is to add

[2017-07-09 20:11] tycho01 commented on #1590
I'm curious: is there anything preventing different currencies from choosing codes that overlap with existing currencies? I could theoretically see some room for mix-ups since there is no one authority on the codes, especially when coming from different exchanges.

[2017-07-10 08:01] timmolter commented on #1590
It's theoretically possible for sure. You just have to know what symbols each exchange is using to represent each currency and make sure to use the correct symbols for each exchange.

[2017-07-10 10:34] mhuusko5 opened #1596 "Exchange support: Cryptopia"

[2017-07-11 16:00] npomfret commented on #1591
Apologies for the break.  The reason I made the change was because you can place trades on bittrex using the _common_ pair `BTC/XRP` for example, but when you get the trade history is comes back as `XRP/BTC`.  I was trying to make the API more symmetrical.

I realise now that maybe that wasn't the right thing to do.  It's up to the user to understand that this exchange represents certain currency

[2017-07-11 17:07] ezhik97 commented on #1591
In that example BTC is the market, XRP is the currency.
The "standard" pair is: "currency/market". Some of exchange services represent that on UI in reverse order - market/currency. But - the list of available pairs you can get via API, and there they use standard format 'currency/market'.

[2017-07-11 17:09] npomfret commented on #1591
Most do, but not all. therocktrading for example, i'm sure there are others

[2017-07-12 10:05] MartianTech opened #1597 "Gdax and okcoin's createTradeHistoryParams() return null"
Both trade services will return null when calling createTradeHistoryParams() and thus we can't use getTradeHistory().

[2017-07-12 10:07] timmolter commented on #1597
For gdax it works if you pass in null I believe. However, that's confusing and not ideal the way it's implemented.

[2017-07-12 10:13] MartianTech commented on #1597
Do you mean passing null for TradeHistoryParams such as

`GDAXTradeService.getTradeHistory(null)?`

This will still gives null pointer exception because

[code]

[2017-07-12 10:15] timmolter commented on #1597
Sorry, I remembered that wrong. Try something like this:

[code]

[2017-07-12 10:20] npomfret opened #1598 "ticking order books?"
Are there any examples in here of how to implement a web sockets ticking order book?

[2017-07-12 10:21] timmolter commented on #1598
https://github.com/bitrich-info/xchange-stream

[2017-07-12 10:22] npomfret commented on #1594
Have you considered implementing it yourself and submitting a pull request?

[2017-07-12 10:23] npomfret commented on #1598
Thanks!

[2017-07-12 10:23] #1598 closed

[2017-07-12 13:45] npomfret opened #1599 "feature request: support paging for GDAX fills"
GDAX `getTradeHistory` will only return 100 fills unless paging is implemented.  It's a little more complicated that other exchanges.  It looks like a response header (`CB-BEFORE`) is provided which needs to be used in subsequent calls.

https://docs.gdax.com/#list-fills

[2017-07-12 19:00] MartianTech commented on #1597
In 4.2.1 SNAPSHOT:
[code]
will fetch whole page order history ignoring the order ID.

However if we call `params.setsetTransactionId(<Valid order ID>)`, it'd return the correct order.

It'd be great if we can make it consistent across exchanges. Thanks for your great work.

[2017-07-14 04:24] mugenZebra commented on #1444
just loop through several pairs.

[2017-07-14 07:45] timmolter commented on #1444
@ hrechukh That's usually not possible, so @mugenZebra' advice is the best way.

[2017-07-14 07:45] #1444 closed

[2017-07-16 19:29] douggie commented on #464
Hi, I am also getting this intermittently on placing orders, is this a time drift issue?

org.knowm.xchange.exceptions.ExchangeException: org.knowm.xchange.bitfinex.v1.dto.BitfinexException: Nonce is too small.
	at org.knowm.xchange.bitfinex.v1.service.BitfinexTradeServiceRaw.sendLimitOrder(BitfinexTradeServiceRaw.java:140) ~[cointrader-0.3.0-SNAPSHOT-jar-with-dependencies.jar:na]
	at org.knowm.xc

[2017-07-17 07:25] douggie opened #1607 "Ensure bitfinex submits correct side when exiting positions"
Xchange support EXIT_ASK and EXIT_BID order types for exiting positions, when margin trading bitfinex adapter only support BID and ASK, so it might make sense to add the types of EXIT_BID and EXIT_ASK.
update
  String type = limitOrder.getType().equals(OrderType.BID) ? "buy" : "sell";
  to
 String type = (limitOrder.getType().equals(Order.OrderType.BID) || limitOrder.getType().equals(Order.OrderTy

[2017-07-17 10:54] npomfret opened #1608 "logging"
Does anyone log each exchanges data to a separate log file?  If so would you mind sharing the log configuration?

[2017-07-17 17:43] npomfret opened #1609 "AnxOrderBook (ANXDepth) timestamp"
Looking at the ANX response to an order book query there are 3 possible timestamps that come back.  None of which are documented.  They are:

 * `dataUpdateTime`
 * `now`
 * `cached`

We use the code uses the one called `now`.  Does anyone know why, or what any of them mean?

I'm basically trying to figure out when the order book was last updated.

[2017-07-17 17:50] npomfret opened #1610 "Cancelling orders on the rock exchange"
@timmolter the Rock Exchange requires more parameters than just the order id to cancel an order (it needs the CCY pair).  There's a mechanism for doing it in the code, but its a bit of a bodge and I suspect not thread safe at all.

Do you have any objections to me refactoring to add a `CancelOrderParams` object?  I think by default the API could remain largely the same and fully backward compatibl

[2017-07-17 17:51] #1599 closed

[2017-07-17 23:11] MartianTech opened #1612 "GDAX Socket Timeout Exception"
From time to time, I'd get SocketTimeoutException on GDAX.

[code]

[2017-07-18 07:22] #1607 closed

[2017-07-18 07:24] timmolter commented on #1612
You could try increasing the timeout that rescu uses. See https://github.com/mmazi/rescu

[2017-07-18 07:24] #1612 closed

[2017-07-18 07:25] timmolter commented on #1610
Sounds good to me.

[2017-07-18 09:41] water0126 commented on #1594
I would like to try if possible.

[2017-07-18 14:43] npomfret opened #1617 "min_amount model needs more context"
I think the `"min_amount": ...` values in the exchange metadata doesn't quite capture the real requirement.  I don't believe each exchange measures the min order size in terms of just the base ccy (or the just counter ccy).  It can vary from exchange to exchange and market to market.  I'll try and find some examples but I think the currency needs adding.

[2017-07-18 18:35] tycho01 opened #1618 "errors on local build: ObjenesisException"
I pulled the current `develop` branch, then tried to build it with `mvn clean install`. It appears `BitMarket` gives me an `initializationError` in four different tests, each stemming from the same `org.objenesis.ObjenesisException: java.lang.reflect.InvocationTargetException`. Weird it did not pop up in CI / search here, so I wonder if the trace might ring any bells...

[code]

[2017-07-18 19:15] timmolter commented on #1618
Interesting. What JDK are you using?

[2017-07-18 19:24] tycho01 commented on #1618
This is the version output I'm getting (should be OpenJDK 8):
[code]

[2017-07-18 19:28] timmolter commented on #1618
That's what I have locally too. It's the Oracle JDK

[code]

[2017-07-18 19:39] timmolter commented on #1480
Fixed. I made the `toDate` method return null instead in accordance with the XChange expected behavior. I also removed the exception being printed out.

[2017-07-18 19:39] #1480 closed

[2017-07-18 19:44] tycho01 commented on #1618
Thanks, that's good to know.
Figuring it might not be the JDK then, I tried again on a clean clone, same result.
Perhaps I can reinstall my JDK tomorrow and report back in case that'd make a difference. I suppose it's definitely sounding like something might be up with my environment...

[2017-07-18 19:49] timmolter commented on #1618
I dunno. I just updated the powermock version in `pom.xml`. Maybe there is a recent bigfix that will help in this case.

[2017-07-18 20:09] MartianTech commented on #1612
Kindly point out how specifically we can set on this library? The example `BitstampTradeServiceRaw ` on `rescu` doesn't give examples like
[code]

[2017-07-18 20:12] timmolter commented on #1612
Sure thing....

"Rescu can be configured by adding a `rescu.properties` file in your classpath."

[2017-07-18 20:37] npomfret opened #1619 "how to alter the timeouts"
Where, if anywhere, are the http read timeouts configured?

[2017-07-18 20:59] timmolter commented on #1619
https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions

This was asked twice today so I added an entry for you.

[2017-07-18 20:59] #1619 closed

[2017-07-18 21:00] npomfret commented on #1619
Thanks!

[2017-07-19 18:35] KiaraGrouwstra opened #1623 "BitcoinCharts: bid/ask flipped?"
I just noticed that unlike for other exchanges, for BitcoinCharts the Ticker data I was getting consistently had `bid` > `ask`, which appears opposite from the data I've gotten from some of the other exchanges. I figured I'd file this here as it looks like this could be erroneously swapped around.

[2017-07-21 07:15] cvinacua opened #1626 "Deserialize Exception Quering Kraken Trailing-Stop closed orders"
When querying Kraken Closed Orders, if there is an order with price in percentage (like "+2.0%) deserialization fails like this:

si.mazi.rescu.HttpStatusIOException: Can not deserialize value of type java.math.BigDecimal from String "+2.0000%": not a valid representation
 at [Source: {"error":[],"result":{"closed":{"O74UTU-RRJAP-4N5I7H":{"refid":null,"userref":null,"status":"canceled","reason":"U

[2017-07-21 07:25] CHUANGPEIFENG commented on #1626
〈0

2017年7月21日 15:15，"Chema Vinacua" <notifications@github.com>寫道：

[2017-07-21 15:44] tycho01 commented on #1590
Thinking a bit about preventing that, as manually confirming all symbol meanings per exchange gets impractical to scale. Thoughts on sanity checks on whether the currency actually matches:
- if prices between two exchanges differ too much, this may be a red flag.
- withdrawal addresses at both exchanges will follow similar formats, presumably at least matching in length, but potentially there migh

[2017-07-21 19:13] bitsol commented on #1414
Any updates on this?

[2017-07-21 22:46] douggie opened #1628 "Add Bifinex support to set additional order fields"
HI,

Currently the BitfinexAdapters.adaptOrders creates a limit order with order type, working volume, pai, id, timestamp and price.

[code]
 Given the exchange provides the average price, the filled quantity and the status, I believe it would be useful to change the adapter to generate limit orders with a great number of fields:

[code]

[2017-07-22 13:58] tycho01 commented on #1590
Heh, I thought confusing currency codes were a theoretical issue, but I now noticed that BitFinex actually trades Dash (DASH) under the code DSH, which apparently is normally supposed to refer to DashCoin. Ouch.

Is there already any sort of way to overwrite codes implemented such that this could just be filed as a bug for the BitFinex implementation in XChange?

I also pinged their Twitter hoping

[2017-07-22 19:15] npomfret opened #1630 "BTCEExchange: zero order id?"
I sometimes get a zero order id back from BTCE Exchange.  Anyone know if this is expected?

[2017-07-24 11:46] npomfret opened #1632 "effective rate limiting"
I'm finding that I'm exceeding rate limits occasionally.  Has anyone got an effective way of dealing with them?

I see there s a nice little RateLimiter class in guava.  But i think to use it properly it has to be baked in at the lowest level where the RestProxyFactory is invoked.  It needs to be applied at the request level, and shared across the AccountService, TradeService and MarketDataService

[2017-07-24 11:53] cymp commented on #1632
That's what I am currently doing in a custom wrapper everytime I need to call the api.

[2017-07-24 11:58] timmolter commented on #1632
That's stretching the scope of this lib, I'd say. Especially since we still don't have a robust solution to the rate limit metadata yet, across all exchanges.

[2017-07-24 12:13] npomfret commented on #1632
A reason to do it at this base level (once an appropriate model is in place) is that some implementations make multiple API calls for a single high level method call.  So putting your rate limiter in your application won't work as effectively.

[2017-07-24 12:25] cymp commented on #1632
I do agree, and I can think of specifying this rate at this level for example, not sure if this would be in a third parameter or part of ExchangeSpecification:
`public static ExchangeWorkerItf create(Class exchangeName, ExchangeSpecification spec)`

[2017-07-24 12:27] timmolter commented on #1632
Yeah, you're right. I can see integrating something like this into RESCU in a way similar to the nonce factory, where different exchanges have different implementations of rate limiting logic. @mmazi what do you think?

[2017-07-24 12:34] npomfret commented on #1632
Perhaps a start would be to move the responsibility of creating the api into the ExchangeSpecification? So instead of:

    ExchangeSpecification spec = exchange.getExchangeSpecification();
    TheRockAuthenticated theApi = RestProxyFactory.createProxy(TheRockAuthenticated.class, spec.getSslUri());

You could have:

    ExchangeSpecification spec = exchange.getExchangeSpecification();
    TheRockA

[2017-07-24 12:34] cymp opened #1633 "[100 mBTC Bounty] Support the new Hitbtc API"
[Hitbtc released a new api](https://blog.hitbtc.com/why-should-advanced-traders-choose-hitbtc-with-its-new-api-2-0/).

- Authorization is faster and easier
- Volumes are displayed in natural terms of currency, **no lots anymore**
- Error codes are standardized
- Unambiguous and uniform representation of data throughout the API
- Advanced mechanism  for new order creation
- The possibility to obtai

[2017-07-24 20:14] pvk444 opened #1635 "Fee target metadata [addition request]"
A piece of information that seems to be missing is the target of the fee charge. The trading fees are typically charged in either of 4 ways:

1. charge the quote currency
2. charge the base currency
3. charge the currency bought
4. charge the currency sold

It would be useful to be be able to add some capability to capture this metadata (for instance in AccountInfo). Btw, this is complementary to

[2017-07-24 20:19] MartianTech opened #1636 "Gdax withdrawFunds not working"
I think it's using the wrong API endpoint `Post accounts/{account_id}/transactions`
It should be `POST /withdrawals/crypto`

[2017-07-25 07:38] mmazi commented on #1632
Perhaps XChange could include a `RateLimitingInterceptor`; see the docs:
https://github.com/mmazi/rescu/wiki/Interceptors

Then this interceptor could be registered when the proxy is created as suggested above.

[2017-07-25 07:56] douggie commented on #1632
Hi,

I have implemented this in cointrader, a fully automated java based algo
trading platform. Take a look at this class for an implementation or just
fire up the cointrader and it is all taken care of for you.

https://github.com/timolson/cointrader/blob/master/src/main/java/org/cryptocoinpartners/module/xchange/XchangeData.java

On Tue, Jul 25, 2017 at 8:38 AM, Matija Mazi <notifications@github

[2017-07-25 08:49] Achterhoeker commented on #1630
@npomfret Yes, this is expected. An order id 0 is a direct filled order. So there is no open order left and no order id. (This is the btc-e api behavior)

[2017-07-25 10:50] npomfret commented on #1635
This has being discussed a couple of times recently. Do you have any thoughts or suggestions on how the json config should look.

[2017-07-25 10:51] npomfret commented on #1630
Ugh, thanks.

[2017-07-25 10:51] #1630 closed

[2017-07-25 10:52] #1610 closed

[2017-07-25 11:05] pvk444 commented on #1635
Just to be clear: I have only seen discussions regarding the taker / maker attribute, volume depend fee structures, and alternative fee calculation models. I have not seen the fee target included in those discussions.

In any case, I don't think any exchange publishes this information via their API. At least I have not seen any of them doing so. I was thinking of adding another attribute to the Ac

[2017-07-25 11:50] timmolter commented on #1635
It should stay with the metadata, not account info. Jackson can handle polymorphism, which could be the solution here.

[2017-07-25 14:05] npomfret commented on #1636
Where do you get the 'crypto' bit from?  The docs says `POST /withdrawals/payment-method`

[2017-07-25 14:46] npomfret commented on #1636
https://github.com/timmolter/XChange/pull/1637/commits/e6bb7c5522dae33095d1bac28b2bd60039855965

[2017-07-25 20:02] MartianTech commented on #1636
Thanks for your quick work.

[2017-07-26 11:22] #1636 closed

[2017-07-27 08:24] PIBODIBU opened #1640 "Set proxy for single Exchange instance"
I have problem with Poloniex API. Every request is 403 Forbidden, because stock responses with blank screen with captcha instead of JSON data.
I have discovered the problem is connected with my IP, because services like "cURL online" fetched data successfully.
So, my question:
**How can I set proxy settings for single Exchange instance?**

[2017-07-27 08:51] douggie commented on #1640
Hi, you can add a proxy via rescu.properties but this will effect all
connections. If you just want a subset of ips via a proxy probably best to
add a static route (route add) to just route given destination ips to the
proxy. You might need to set ip tables masqureding on the proxy  (
https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Security_Guide/s1-firewall-ipt-fwd.h

[2017-07-27 09:26] tycho01 commented on #1618
I just tried this on a different machine, which did make it work. I guess that confirms it's definitely something about my machine / setup. Thanks for your feedback.

[2017-07-27 09:26] #1618 closed

[2017-07-27 21:31] adamMo opened #1641 "Numeric exception during response parsing"
Hello I got a problem with bitfinex module:

[2017-07-28 07:42] timmolter commented on #1641
Looks like the field should be updated to a long.

[2017-07-28 15:46] adamMo commented on #1641
Hmm, I see that snapshot version is already fixed from few months, so sorry for bothering you @timmolter !

[2017-07-28 15:46] #1641 closed

[2017-07-29 10:11] npomfret opened #1645 "partially filled hitbtc order has incorrect quantity"
My order was partially filled.  The original quantity was 0.4, the website shows this:

_Exec./Total Amount (ETH)
0.048/0.400_

The implementation says I have 352 remaining!? The api returns this:

    {
      "orderId": "1472765469",
      "orderStatus": "partiallyFilled",
      "lastTimestamp": 1501245842123,
      "orderPrice": "0.068140",
      "orderQuantity": 352,
      "avgPrice": "0.068122

[2017-07-29 12:08] 23492904284930234 opened #1646 "Add number of decimal places to Currency"
First I want to thank everyone for contributing to this nice project.

Any thoughts on adding the number of decimal places a currency has to the Currency class? It's an essential information that the class is lacking of.

Currently I think the number of decimal places is determined through the Exchanges.

Imho it makes sense to bind this information within the Currency class. For example if one wa

[2017-07-29 12:21] npomfret commented on #1646
That information is defined in the static _exchange_.json files found in the root of the class path on each project.  The `ExchangeMeta` class exposes it via the `getCurrencies` method.

[2017-07-29 12:23] npomfret commented on #1645
Ah, is this what the lot sizes are for?

[2017-07-29 12:31] 23492904284930234 commented on #1646
These files define the number of decimal places for each currency (pair) an exchange returns. It's not the same as the fixed maximal number of decimal places a currency has.

By putting this information into the currency class one could reuse that class independently of that exchange stuff as it has all the necessary information. There would be no need in writing another adapter just to this infor

[2017-07-30 10:45] timmolter commented on #1646
You could use JodaMoney: http://www.joda.org/joda-money/apidocs/org/joda/money/CurrencyUnit.html#getDecimalPlaces--
, but I don't think it supports Crypto.

I'm not too interested in adding it at the moment, but if there were really good reasons and had the support from others, I'd be OK with it.

[2017-07-31 09:10] EzBar opened #1647 "Add Bitfinex WebSocket API support"
Hi,

Bitfinex REST API has a DDoS protection mechanism when sending more than 90 requests per minute (see: https://www.bitfinex.com/posts/188). This limit can be easily passed when polling multiple markets/pairs  at the maximal polling-rate.
Do you plan to implement Bitfinex WebSocket API (https://docs.bitfinex.com/docs/ws-general) which supports high frequency connections?

P.S. Thank you all for

[2017-07-31 09:30] jheusser commented on #1647
XChange currently does explicitly not support streaming but rest-only APIs. There's a fork that does look at streaming only I believe, see here:
https://github.com/bitrich-info/xchange-stream

But I assume worth reconsidering this from time to time as websocket becomes more consistently used.

[2017-07-31 18:49] Denebulas opened #1649 "JSON parse error in getOpenOrders from Bitfinex"
When I call getOpenOrders after connecting and placing a limit order I get:

107845 [MAIN] WARN si.mazi.rescu.ResponseReader - Noncritical error parsing error output: [{"id":3221715321,"cid":36986548262,"cid_date":"2017-07-31","gid":null,"symbol":"btcusd","exchange":"bitfinex","price":"2755.0","avg_execution_price":"0.0","side":"sell","type":"exchange limit","times...

The cause seems a long value

[2017-08-01 11:37] #1647 closed

[2017-08-01 11:40] timmolter commented on #1467
You could download the `xchange-examples` module and run the examples from the command line.

[2017-08-01 11:40] #1467 closed

[2017-08-01 11:42] #1185 closed

[2017-08-01 11:43] timmolter commented on #1608
Not sure how this would work, but you might try googling `logback different file for different packages` or something like that.

[2017-08-01 11:43] #1608 closed

[2017-08-01 13:20] cymp commented on #1645
Yes, that's one of the reasons why this can be a nightmare sometimes, cf https://github.com/timmolter/XChange/issues/1633

[2017-08-01 18:49] swissistent opened #1651 "Does the next release contain Kraken BCH"
and when would it be released?

[2017-08-01 18:58] npomfret commented on #1651
There's a PR with BCH waiting to go through.  I guess it'll appear in the next 4.2.2-SNAPSHOT build.

[2017-08-01 19:02] swissistent commented on #1651
thanks!

[2017-08-01 19:02] npomfret commented on #1649
That's a strange one.  The id is modelled as a long, not an int.  It's just a warning so can perhaps be ignored for now.

IMO ids should never be modelled as numbers.  Just because they contain only numeric values doesn't mean they are numbers (it doesn't make sense to add them together for example).  Personally I'd like to see all ids here modelled as strings.

[2017-08-01 19:20] labeoVlad opened #1652 "BCH/BTC : [EQuery:Unknown asset pair]"
I have added a new currency BCH in KrakenUtils.java
` DIGITAL_CURRENCIES.add(KrakenAdapters.adaptCurrency("BCH"));`

When requesting  a ticker
` System.out.println(marketDataService.getTicker(new CurrencyPair(Currency.BCH, Currency.BTC))) ;`

I am still getting ExchangeException
`[main] INFO org.knowm.xchange.kraken.KrakenExchange - Calling Remote Init...
Exception in thread "main" org.knowm.xchan

[2017-08-01 19:30] npomfret commented on #1651
Annoyingly Bittrex, and I guess maybe some others, have used a different symbol (BCC instead of BCH).  I actually thoughts BBC was already taken, which is why BCH was being sued now.

@timmolter is there a way to deal with this in the project already?

[2017-08-01 19:31] Achterhoeker commented on #1652
I'm doing the same. It seems that kraken isn't supporting BTH on their api. See for example: https://api.kraken.com/0/public/AssetPairs
The unknown asset pair error is from kraken.

[2017-08-01 19:33] labeoVlad commented on #1652
what about `https://api.kraken.com/0/public/Ticker?pair=BCHXBT`
it looks like Kraken API is working. Therefore I am expecting same  from XChange API

[2017-08-01 19:36] labeoVlad commented on #1652
Moreover, a pair called `BCHXBT` can be easily found in https://api.kraken.com/0/public/AssetPairs

[2017-08-01 19:39] Achterhoeker commented on #1652
@labeoVlad You are correct. They are present now. For 15 minutes ago it wasn't... I'm currently again debugging what is going wrong.

[2017-08-01 19:40] labeoVlad commented on #1652
I think this is what causing issues in KrakenBaseService.java

`  public KrakenAssets getKrakenAssets(Currency... assets) throws IOException {

    KrakenAssetsResult assetPairsResult = kraken.getAssets(null, delimitAssets(assets));

    return new KrakenAssets(checkResult(assetPairsResult));
  }

  protected <R> R checkResult(KrakenResult<R> krakenResult) {

    if (!krakenResult.isSuccess()) {

[2017-08-01 19:43] npomfret commented on #1645
Right.  Moving to the new api sounds like a good idea.  In the mean time I'll try and fix this.

[2017-08-01 19:55] Achterhoeker commented on #1652
@labeoVlad Sorry, I'm using an older version of kraken, The latest version isn't  usable for me anymore. Open orders on Dash are for example reported as DAS. I don't have the time currently to find out which PR causes these new errors. On the old version all exceptions for GNO are also needed for BTH to create a correct kraken asset pair.

[2017-08-01 20:07] labeoVlad commented on #1652
Bittrex is working with new currency just fine

`Ticker ticker = marketDataService.getTicker(new CurrencyPair("BCC", "BTC"));`

Unlike Kraken, they return a ticker using BCC/BTC pair

`[main] INFO org.knowm.xchange.bittrex.v1.BittrexExchange - Calling Remote Init...
Ticker [currencyPair=BCC/BTC, last=0.11000010, bid=0.11000010, ask=0.11012500, high=0.14789000, low=0.00300000,avg=null, volume=23546

[2017-08-01 20:10] Achterhoeker commented on #1652
@labeoVlad I have it working on Kraken, but on an older version. :-( The utils for kraken are trying to add an Z or X to all currencypairs. For BCH that isn't needed. (like GNO) You also need to add the pairs to the json file if you use the reported pairs from an xchange.

[2017-08-01 20:11] npomfret commented on #1652
Does this API support the face that different exchanges may use different symbols for the same currency?  Is is that something you have to deal with yourself?

[2017-08-01 20:12] labeoVlad commented on #1652
**@Achterhoeker** oh, that was a great hint! Thanks

[2017-08-01 20:17] Achterhoeker commented on #1652
@npomfret That is an open question. Currently it is a chaos. Polo is using bcc for an other altcoin. Bittrex is using bcc for bch. Bitfinex is using bcc for a strange older split off coin. (and bch communicated for bch). Kraken is using bch. Currently i think that the best option is to use bch and let the bittrex xchange translate that to bch. And these are only the xchanges i use in my bot with b

[2017-08-02 02:05] labeoVlad commented on #1652
This is what needs to be changed in KrakenUtils.java

![image](https://user-images.githubusercontent.com/4750556/28854500-7a46dd42-7705-11e7-9432-463c1f897486.png)

[2017-08-02 02:08] labeoVlad commented on #1651
Hi guys,

This is what needs to be changed in KrakenUtils.java in order to bring this new Currency into play. Enjoy

![image](https://user-images.githubusercontent.com/4750556/28854564-e773ae54-7705-11e7-8130-5ba8eb0a3826.png)

[2017-08-02 05:18] cymp opened #1653 "[60 mBTC Bounty] Implement Yobit Trade and Account Services"
It looks like Yobit trade and account services are not implemented yet, [only the market data service is](https://github.com/timmolter/XChange/tree/develop/xchange-yobit/src/main/java/org/knowm/xchange/yobit/service).

I am not available to implement them myself thus I am offering a 60mBTC bounty to anyone who can do it.

[2017-08-02 08:41] timmolter opened #1654 "New release cycle for XChange"
From the [FAQ](https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions):

## What is the release cycle for XChange?

XChange is a unique project in that the exchanges (over 60 now) are in constant flux. API endpoints can change, the returned JSON can change, entire API versions are rewritten, currency pairs are added/removed, etc. It happens without fail, that within days of an XChang

[2017-08-02 08:49] douggie commented on #1652
HI,

I beleive we need to have Kraken adapters not add in the X's and Z's into a pair when submitting the request where the quote currency is BCH.

Currently the latest develop branch is market data request by sending
https://api.kraken.com/0/public/Trades?pair=ZBCHXXBT, as ZBCHXXBT is not a valid pair (https://api.kraken.com/0/public/AssetPairs) the valid pair is just BCHXBT.

Essentially when th

[2017-08-02 08:52] npomfret opened #1655 "help getting quoinex working"
Creating an API on quoinex gives you a blob of text that it calls `Token/Secret`.  It's displayed  on 2 lines in my web browser but is technically just a single lump of text with no line breaks or delimiters.

Is the 1st line the token and the 2nd the key?  It makes no sense,  I can't get it working.  If you press the copy button it just gives you a the entire lump as one bit of text. Theres no di

[2017-08-02 09:00] npomfret commented on #1655
Solved:

The ID field they give is the api-key, and the rest is the secret.

And for some reason, the implementation isn't quite standard.  You need to use the exchange specific parameters:

    spec.getExchangeSpecificParameters().put(QuoineExchange.KEY_TOKEN_ID, foo);
    spec.getExchangeSpecificParameters().put(QuoineExchange.KEY_USER_SECRET, bar);

[2017-08-02 09:00] #1655 closed

[2017-08-02 09:24] npomfret commented on #1652
Thanks @labeoVlad PR?

[2017-08-02 11:32] timmolter commented on #1649
@Denebulas Can you try out the latest snapshot jar? Perhaps you are using an old version.

[2017-08-02 11:34] timmolter commented on #1649
@npomfret The `Order` class has ID as a String.
[code]

I agree with you that the raw DTOs should treat IDs as Strings too.

[2017-08-02 11:35] timmolter commented on #1649
However, in API docs, it often says ID=Integer, so making the Raw DTO ID as an int also makes sense. I dunno...

[2017-08-02 11:49] npomfret commented on #1649
I think if an _int_ id is specified in an API (in some json to go over the wire) that conversion should be done at the last minute.  In some cases it might not even be needed, such as in a URL - an _int_ and a _string_ would look  the same.

[2017-08-02 16:40] npomfret opened #1656 "quoine 401"
I'm working no fixing and added to quoine.  I'm getting a 401 on certain endpoints such as `/trades`.  Anyone seen this?

[2017-08-02 16:43] npomfret commented on #1485
I'm in the process of fixing this (it's not actually implemented).

Having a little trouble with the auth though, getting a 401 for some reason.

[2017-08-02 16:44] npomfret commented on #1398
the value of `QuoineExchange.KEY_TOKEN_ID` is the id of the key, and the text lump the give is the secret.

[2017-08-02 16:44] npomfret commented on #1343
@matthiasamberg did you resolve this?  I'm getting a 401 from some endpoints but not others.

[2017-08-03 03:35] tycho01 opened #1657 "add Bitcoin Cash"
I noticed some exchanges seemed to refer to this as BCC, another (Independent Reserve) as BCH.

[2017-08-03 03:47] dimecoin commented on #1657
Kraken also lists as BCH

On Wed, Aug 2, 2017 at 10:35 PM, Tycho Grouwstra <notifications@github.com>
wrote:

[2017-08-03 06:19] npomfret commented on #1656
I've just noticed the body of the 401 response has "Path does not match".  This is true for both _/trades_ and _/executions/me_

[2017-08-03 06:25] Denebulas commented on #1649
Yes it's working with the snapshots.
Thank you very much.

[2017-08-03 06:36] #1656 closed

[2017-08-03 08:19] Achterhoeker commented on #1652
@labeoVlad @douggie @timmolter I've started rewriting the Kraken implementation with the translations. The code is now using the assets retrieved from the exchange. So no hardcoded translations needed anymore. Only left problem is the dark markets, i think i can ignore them ? Does anyone uses those markets ? (dark markets is without order books, only placing orders is allowed)
Last evening I didn'

[2017-08-03 08:27] douggie commented on #1652
Wow sounds like a nice change. I dont use dark markets

On Thu, 3 Aug 2017, 09:19 Achterhoeker, <notifications@github.com> wrote:

[2017-08-03 08:30] npomfret commented on #1652
That does sound like a good change.  (And I also don't use dark markets).

I think we still need to consider a general solution to this problem though.  Not all exchanges will have the necessary API calls to do it _magically_.

[2017-08-03 09:09] npomfret opened #1659 "BTC Markets 'since' parameter - what are the units!?"
I'm failing to get a call to `/order/trade/history` working.  I only get data back if I specify a zero date for the _since_ parameter.  Anyone know what the units are?  The code is converting using unix time, but that's not working (and neither is the _mills_ alternative).

[2017-08-03 09:24] douggie commented on #1659
says

type = type of trade (optional)
    all = all types (default)
    any position = any position (open or closed)
    closed position = positions that have been closed
    closing position = any trade closing all or part of a position
    no position = non-positional trades
trades = whether or not to include trades related to position in
output (optional.  default = false)
start = starting unix

[2017-08-03 09:25] npomfret commented on #1659
Where did you find that documentation?  I'm looking here https://github.com/BTCMarkets/API/wiki/Trading-API#trade-history

[2017-08-03 10:09] PIBODIBU opened #1660 "Get all trade history"
I'm trying to get all user's trade history.

**Attempt 1:**
[code]

This works well, but I need to specify start time, which is different for different users.

**Attempt 2:**
[code]
It doesn't work.

[2017-08-03 10:18] npomfret commented on #1660
Poloniex is down right now - are you getting connection errors?

[2017-08-03 10:20] npomfret commented on #1660
Also, try something like this:

[code]

[2017-08-03 10:31] PIBODIBU commented on #1660
@npomfret , no, I get no errors.
Here is my workaround:

[2017-08-03 10:35] cymp opened #1662 "Implemented features matrix on main page"
Hello,

What do you think about adding this kind of matrix on the main page? Something like:

[code]
We could also consider adding "Since version", "Api version", ... tabs.

[2017-08-03 11:02] npomfret commented on #1662
I think that's a good idea.  I'd go further and detail which methods on which service are working.

 It'd be nice to have a test suite that you prime with keys that could generate the data... but that might be a bit ambitious.  Especially when it comes to actually making trades.

[2017-08-04 00:26] keith-f opened #1664 "Bittrex - concurrency issue when calling getTrades()"
I'm occasionally getting strange behaviour when calling the Bittrex implementation of `getTrades()`, but only when using more than one thread to poll the trades from multiple currency pairs simultaneously.

Sometimes, an exception is thrown when parsing the results from the exchange; other times there is no error, but some trades contain very strange dates (e.g., extremely far into the past or fut

[2017-08-04 08:09] douggie commented on #1664
HI Keith,

I have not checked the code, but I am using bittrex and many other xchange
Exchanges with multiple threads, this is the general model

1) Instantiate one instance of the xchange Exchange (i.e. singleton)
2) Have each tread sync on the given xchange exchange object whilst using
it (to keep things like nonces in sync)
3) release sync on the given xchange Exchange object.

You can take a l

[2017-08-04 08:38] timmolter commented on #1662
See:<https://github.com/timmolter/XChange/wiki/Exchange-Support>

Anyone can update, I believe.

[2017-08-04 08:45] #1649 closed

[2017-08-04 08:54] MartianTech opened #1665 "Support Margin Position"
Can we support consistent API for margin position?

[2017-08-04 09:42] keith-f commented on #1664
Hi Douggie,

Thanks for your reply. I usually do synchronize threads while accessing an Exchange instance. However, in this particular case, I'm accessing public trade data only, so there are no nonces to sync or anything else that is dependent on thread ordering.

I raised this issue because I've been pulling public trade data in a multi-threaded fashion with a few other exchange implementations

[2017-08-04 10:11] npomfret commented on #1664
@keith-f i think is right, SimpleDateFormat shouldn't be shared. I can fix

[2017-08-04 17:36] timmolter commented on #1664
Yup, sounds familiar. I recently fixed a module that shared a formatter.

[2017-08-04 20:05] altintorr commented on #1212
Please make PR or give code here, need this

[2017-08-04 21:09] EzBar opened #1667 "JsonParseException on Poloniex"
Hi,

A few days ago I started getting the below warnings when polling Poloniex.
Any clue what's the root cause?

[Poller_SYS_BTC_Poloniex] WARN si.mazi.rescu.ResponseReader - Noncritical error parsing error output: <!DOCTYPE html><html lang="en"><head>	<title>Poloniex - Bitcoin/Cryptocurrency Exchange</title>...
com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): e

[2017-08-05 04:54] abitrolly commented on #1467
And where can I download it? (sorry, I am not from Java world)

[2017-08-05 04:56] abitrolly commented on #1467
Nevermind. Found them by following links in README.md http://search.maven.org/#search%7Cga%7C1%7Cknowm%20xchange

[2017-08-05 20:54] madwicket commented on #1212
**I have moved from Poloniex to GDAX so I haven't worked on this code but it should still work.
This should be all you need to get started...
Here is the DTO:**
package com.xeiam.xchange.poloniex.dto.marketdata;

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonPropertyOrder;
import com.fasterxml.

[2017-08-05 20:56] madwicket commented on #1212
**Also put this in poloniexmarketdataserviceraw**

  public PoloniexChartData[] getPoloniexChartData(CurrencyPair currencyPair, Integer period, Long startTime, Long endTime) throws IOException {
    String command = "returnChartData";
    String pairString = PoloniexUtils.toPairString(currencyPair);

    try {
      PoloniexChartData[] chartData = poloniex.getChartData(command, period, pairString,

[2017-08-07 12:41] devsatish commented on #1414
Any luck getting over this bug?

[2017-08-07 12:44] npomfret commented on #1414
INVALID_MARKET usually means you're passing the wrong currency pair in the http request.  It's possible the demo is broken.  Are you seeing this in places other than the demo?

[2017-08-07 12:50] devsatish commented on #1414
Yep..not just the demo.  Just did some debugging and found that the BittrexUtils.toPairString is causing it.  ` public static String toPairString(CurrencyPair currencyPair) {
    return currencyPair.counter.getCurrencyCode().toUpperCase() + "-" + currencyPair.base.getCurrencyCode().toUpperCase();
  }`

I guess its because of not properly constructed CurrencyPair object param.

My Request was like

[2017-08-07 12:51] npomfret commented on #1414
Use the currency pairs constants.

[2017-08-07 20:30] paul-c-r commented on #1398
Hi guys, I have tried everything suggested above. No luck!
Has anyone found a solution for this?

[2017-08-07 21:33] npomfret commented on #1398
The info above is correct and works. Use

[code]

[2017-08-07 21:37] CHUANGPEIFENG commented on #1626
我已與您共用一份文件：

  Vegas Slot Machine
http://drive.google.com/file/d/0B6wWSVfNK1GmZ2FrOGtKLU9ZUHM/view?usp=sharing&invite=CP2imegJ&ts=5988dd88

這並不是附件，而是儲存在網路上的檔案。如要開啟這個檔案，只需點選上方的連結即
可。