[2020-11-19 20:20] earce commented on #3812
Removed glitter and added discord

[2020-11-20 00:43] earce commented on #3792
What happens when you try to do this?

[2020-11-20 08:48] timmolter commented on #3805
I'm still dealing with connection errors to the nexus artifact upload server. I had this before in the past and it eventually fixed itself after a few days so I'll just keep on trying. Here's an example: `[INFO] [ERROR] Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:2.7:deploy (default-deploy) on project xchange-paribu: Failed to deploy artifacts: Could not transfer artifact o

[2020-11-20 11:09] timmolter commented on #3805
ok, finally after about a dozen tries over 3 days....

[2020-11-20 11:09] #3805 closed

[2020-11-21 14:20] walec51 commented on #3808
do you have the same problem when using openjdk 11?

[2020-11-23 22:03] earce commented on #2038
Exchange defunct

[2020-11-23 22:03] #2038 closed

[2020-11-23 22:04] earce commented on #1871
Ticket was completed.

[2020-11-23 22:04] #1871 closed

[2020-11-23 22:06] earce commented on #1844
This was updated

[2020-11-23 22:06] #1844 closed

[2020-11-23 22:09] earce commented on #2013
This exchange was implemented

[2020-11-23 22:09] #2013 closed

[2020-11-23 22:13] earce commented on #2148
This was completed

[2020-11-23 22:13] #2148 closed

[2020-11-23 22:14] earce commented on #2131
Defunct exchange

[2020-11-23 22:14] #2131 closed

[2020-11-23 22:15] earce commented on #2125
This was completed

[2020-11-23 22:15] #2125 closed

[2020-11-23 22:16] earce commented on #2123
Defunct exchange

[2020-11-23 22:16] #2123 closed

[2020-11-23 22:17] earce commented on #2303
defunct exchange

[2020-11-23 22:17] #2303 closed

[2020-11-23 22:17] earce commented on #2302
defunct exchange

[2020-11-23 22:17] #2302 closed

[2020-11-23 22:19] earce commented on #2287
completed

[2020-11-23 22:19] #2287 closed

[2020-11-23 22:25] earce commented on #3008
This was implemented

[2020-11-23 22:25] #3008 closed

[2020-11-23 22:30] earce commented on #3400
XChange works with CoinbasePro

[2020-11-23 22:30] #3400 closed

[2020-11-23 22:37] earce commented on #3542
Fix was merged in

[2020-11-23 22:37] #3542 closed

[2020-11-24 14:27] earce commented on #3564
This was corrected

[2020-11-24 14:27] #3564 closed

[2020-11-27 16:00] BePe2 opened #3822 "[PoloniexExchange] returnCompleteBalances returns "Invalid API key/secret pair""
Hi

I am using v5.0.4 (but the exception appeared also in earlier version) and keep getting an exception while fetching wallets from poloniex (Retrieval of Tickers is fine though).

Generation of a new API Key/Secret Pair didn't help either. I didn't test it, but could the API be a bit picky that the exchangelib sends @FormParam("account")? I Didn't verify if "account" is part of the request (even

[2020-11-27 16:53] #3822 closed

[2020-11-27 16:53] BePe2 commented on #3822
never mind, was an error on my side (whitespace in the properties)

[2020-11-30 16:22] earce commented on #3813
Small update I have tracked down what is triggering the channel closing in the Netty code [AbstractNioByteChannel.java](https://github.com/netty/netty/blob/ed0668384b393c3502c2136e3cc412a5c8c9056e/transport/src/main/java/io/netty/channel/nio/AbstractNioByteChannel.java#L153)  set to close which triggers "closeOnRead(pipeline)". This appears like the websocket is entering a half open state but will

[2020-12-02 03:56] 9-9-0 commented on #3792
Apologies, this is a non-issue. User error :)

[2020-12-02 03:56] #3792 closed

[2020-12-05 19:08] earce commented on #3813
Another update, after opening an issue with the Netty folks it seems like this is getting triggered cause the websocket is receiving an EOF https://github.com/netty/netty/issues/10830.

[2020-12-07 10:35] geck64 commented on #2880
Hello,

I also have the same problem :
org.knowm.xchange.exceptions.ExchangeException: Kraken does not support the currency code BSV
	at org.knowm.xchange.kraken.KrakenUtils.translateKrakenCurrencyCode(KrakenUtils.java:103) ~[xchange-kraken-5.0.5-SNAPSHOT.jar:?]

[2020-12-07 11:01] PavelNiedoba commented on #2880
Nice to see this issue still here. In fact the currency don't need to be explicitly harcoded in Currency class to get it work. @geck64 this error is probably that kraken delisted bsv. It was there before, so you may still have bsv transactions in your history. translateKrakenCurrencyCode should recognize bsv thought. It's better co create new issue for that.

[2020-12-07 11:27] geck64 opened #3829 "Error in BSV currencycode translation"
Hello,

While looping on krakenAccountService.getKrakenBalance() map response with KrakenUtils.translateKrakenCurrencyCode,
there is an exception especially on BSV :

Note that the KrakenBalance map was :

[2020-12-07 11:29] geck64 commented on #3829
Issue first mentioned here
https://github.com/knowm/XChange/issues/2880#issuecomment-739844837

[2020-12-07 15:51] earce commented on #3829
Do you want to submit a PR in that KrakenUtils class and add BSV to the discontinuedCurrencies map?

[2020-12-07 16:47] geck64 commented on #3829
Yes, i think it's the right fix todo : https://blog.kraken.com/post/2274/kraken-is-delisting-bsv/
Can you do it ?

[2020-12-07 16:50] earce commented on #3829
I have another review currently in the pipeline so waiting on that, but feel free to, we encourage PRs!

[2020-12-08 00:05] earce commented on #2274
This was updated

[2020-12-08 00:05] #2274 closed

[2020-12-08 00:08] earce commented on #1865
This had a PR submitted against it. (GDAX also is now CoinbasePro)

[2020-12-08 00:08] #1865 closed

[2020-12-08 00:17] earce commented on #2145
This fix was pushed

[2020-12-08 00:17] #2145 closed

[2020-12-08 00:21] earce commented on #2240
This exchange was added

[2020-12-08 00:21] #2240 closed

[2020-12-08 11:13] geck64 commented on #3829
Here is a try : https://github.com/knowm/XChange/pull/3830

[2020-12-08 16:52] earce commented on #3829
Thanks for that, merged you in

[2020-12-08 16:52] #3829 closed

[2020-12-10 15:48] nibarulabs commented on #3211
Hello, I'm just wondering is there is any path forward in this? My project needs a more robust rate limiting approach than what I have and I'm looking for a more proper solution.

Is there an eta on when this would make it into a release? Thanks.

[2020-12-10 16:03] earce commented on #3211
@nibarulabs, @walec51 has added these rate limiting features into Binance. There isn't any immediate plan to add this feature set into all exchanges so if you are interested in seeing this for a specific exchange the best way is to submit a PR with those changes.

[2020-12-10 17:55] nibarulabs commented on #3211
@earce Thanks for the swift reply. My project is looking more and more like it's gonna need this on exchanges other than Binance (specifically Coinbase Pro), so I will play around with a fork today and if it goes well, I will submit a PR. Thanks again for all the work you guys have done. 👏

(@walec51 thank you too for the great work!)

[2020-12-10 17:57] earce commented on #3211
@nibarulabs CoinbasePro has some baked in rate limiting but it will probably be better to move over to this resilience framework.

@walec51 has been the one really pushing this forward :) but I have started the work on applying this to the streaming framework.

[2020-12-10 18:03] nibarulabs commented on #3211
@earce I just looked through the CB Pro code and nothing jumped out at me for the baked in rate limiting. Is there a specific class/spot that you know of that handles this? (If you don't have the time, np, I'll keep looking)

[2020-12-10 18:11] earce commented on #3211
https://github.com/knowm/XChange/blob/develop/xchange-coinbasepro/src/main/java/org/knowm/xchange/coinbasepro/service/CoinbaseProMarketDataServiceRaw.java#L99, I do not recommend replicating this. There are a few issues with this even though it mostly works.

We eventually want to port this to the new framework.

[2020-12-10 18:25] nibarulabs commented on #3211
Got it - I wasn't looking on the development branch. Thank you. 👍

[2020-12-10 22:31] walec51 commented on #3211
@nibarulabs this document describes the new director we are taking for rate limiting and other resiliency features:

https://github.com/knowm/XChange/wiki/Implementing-resiliency-features

[2020-12-11 01:02] nibarulabs commented on #3211
@walec51 Yah, I saw that earlier and am following that, thx.

For CoinbasePro there is also an endpoint

[code]

that looks like it has been removed from their api. Possibly from a while ago - I did not see anything regarding that in their changelog. Is it ok to just remove it? (No other choice, really.)

[2020-12-11 01:04] earce commented on #3211
Yea that particular endpoint doesn't seem to be active, I would try and query it and if it doesn't work you can remove it.

[2020-12-14 03:21] gewure opened #3838 "ClassCastException creating LgoStreamingExchange from StreamingExchangeFactory"
[code]
throws a

[2020-12-14 05:27] gewure opened #3839 "HitBtc not closing stream properly"
[code]

This has been issued already in the olrd bitrich-lib https://github.com/bitrich-info/xchange-stream/issues/168

i cannot really tell where the problem stems from.

[2020-12-14 05:37] gewure commented on #3788
maybe you could as Luno itself to implement it

[2020-12-14 15:23] gewure commented on #3813
This is very interesting. i am currently having similiar issues which make Xchange-Streaming **almost unusuable** to me ....

From 10 Exchanges tested, about half of them fail or have very bad issues.

**Working as expected:**
Bitfinex
Poloniex

Having **this issue** from time to time:
Kraken
Hitbtc
Gemini

Complaining a lot, or  **being unusable all**:

Okcoin
Coinmate

**other issues:**
Cexio -

[2020-12-14 16:55] earce commented on #3838
This looks to be a legitimate bug. That `getDefaultExchangeSpecification()` is using LgoExchange as it's class in the constructor, so it needs to reflect who is calling it (LgoExchange vs LgoStreamingExchange).

[2020-12-14 17:39] earce commented on #3813
I don't use most of the exchanges you've mentioned there so I can't opine but feel free to submit some PRs improving this!

[2020-12-15 00:12] mdvx commented on #3813
LGO sold to Voyager:  https://www.prnewswire.com/news-releases/voyager-completes-merger-with-lgo-positioning-company-with-fully-regulated-european-platform-301190929.html

This may explain problems with API

[2020-12-15 00:13] mdvx commented on #3813
I have fixed, or configured around problems here
Kraken
Hitbtc
Gemini

[2020-12-15 00:15] earce commented on #3813
@mdvx if these fixes don't exist in this codebase can you submit PRs?

[2020-12-15 00:19] mdvx commented on #3813
@earce, sometimes my fixes are radical, but if you want we can spend a little time on a joint screen session comparing notes (weekends is best for this).   Where the fix is simple, I have always sent it in

[2020-12-15 00:21] earce commented on #3813
@mdvx I think it would be great to do that, I'd be curious what the more invasive changes look like. Do you have discord? I setup a discord channel and it lends itself well to screen sharing/collab?

[2020-12-15 00:21] mdvx commented on #3838
My implementation

`public class LgoXStreamExchange extends LgoStreamingExchange {
    public LgoXStreamExchange() { }

    @Override
    public ExchangeSpecification getDefaultExchangeSpecification() {
        ExchangeSpecification env = LgoEnv.prod();

        ExchangeSpecification spec = new ExchangeSpecification(LgoXStreamExchange.class);
        //spec.setShouldLoadRemoteMetaData(false);

[2020-12-15 00:27] earce commented on #3838
Ha! that is a good simple way to fix that issue. We could also introduce another method called `overrideExchangeClass(Class clazz)`

[2020-12-15 00:30] mdvx commented on #3838
umm, yes

[2020-12-15 00:31] mdvx commented on #3813
yes, hang on, new PC need to install again

[2020-12-15 06:06] gewure commented on #2273
This should be reported to CexIo

[2020-12-15 19:07] gewure commented on #3813
may i join in that discord, gentleman

[2020-12-15 20:22] earce commented on #3813
@gewure yea the discord is setup as a badge on the project you can just click into it.

[2020-12-16 01:23] mdvx commented on #3813
@earce

Your going to need to help me here, I just dont see it anywhere?

[2020-12-16 01:33] mdvx commented on #3839
I have seen this too, so far it has not annoyed me enough to look very deep into it, but please fix it, if you can find it.

[2020-12-16 01:34] mdvx commented on #3839
I thought it might be timing issue, because was not always reconnecting, when i saw it.

[2020-12-16 03:07] gewure commented on #3813
I had to search too..hidden very small in the Readme it is :)

https://discord.gg/n27zjVTbDz

[2020-12-16 05:02] gewure opened #3840 "Bitfinex: Nonce is too small"
i discovered this _occassionally_ using bitfinex-streaming:

[code]

[2020-12-16 05:55] earce commented on #3840
May be worth changing the nonce factory on this class and using the new default to see if you have anymore luck.

[2020-12-16 18:21] earce commented on #3813
@mdvx were you able to hop on? also would you like to spend some time this weekend ?

[2020-12-17 01:16] gewure commented on #3813
[code]

[2020-12-17 01:41] gewure commented on #3808
Binance fails for me aswell.

[2020-12-17 20:51] gewure opened #3843 "Streaming-Poloniex NullPointer and missing onError handler in subscribe()"
i get this frequently:

[code]

[2020-12-18 16:38] gewure commented on #3843
interestingly enough, streaming orderbooks still works in 90% of the cases im presented with this error in my app. im investigating this and maybe PR if i got a fix.

[2020-12-19 17:33] earce commented on #3843
Can you post the code for your subscription?

[2020-12-19 18:29] gewure commented on #3843
sure:

[code]

sometimes it works and is just fine, sometimes it don't

[2020-12-19 18:30] earce commented on #3843
you need to have an "onError" or use the subscribe with an error parameter

[2020-12-19 22:27] gewure commented on #3843
Ok, thank you.

 but.. shouldn't that be caught by Streaming-Poloniex already?

[2020-12-19 22:29] earce commented on #3843
Has nothing to do with xchange, it's part of the expectation when using RX java. You as a subscriber need to handle the error cases. Think of using REST in exchange or anything with IO, you are expected to catch IO exceptions because different applications have different ways of handling those types of errors.

[2020-12-19 22:30] earce commented on #3843
User error

[2020-12-19 22:30] #3843 closed

[2020-12-21 10:41] katamarano opened #3845 "Cexio streaming orderbook return an empty snapshot as first response"
Hello everyone,
as stated in cexio docs, when requesting an orderbook via WebSocket, we should receive first a snapshot of the book, and then a single message of "update", to edit the local book.
There is a "depth" parameter that according to docs if set to 0 should return all the orderbook as a snapshot in the first message while setting to a value N > 0 return only the first N bids and asks.
In

[2020-12-21 10:48] katamarano opened #3846 "In Cexio streaming orderbook no alert if orderbook goes out of sync."
Hello again, another issue in cex.io streaming is in the function
[code]
in class CexioStreamingMarketDataService.OrderBookUpdateConsumer

First, a new instance of orderBookSoFar is created and then anyway is overwritten by
[code]
What is the meaning to create a new instance and then reassign it?
I think that instead of creating a new instance (useless cause then anyway is reassigned) should be th

[2020-12-21 16:22] earce commented on #3846
This seems right, I think triggering a reconnect and recreation of state would be the right thing

[2020-12-21 16:23] earce commented on #3845
Submit a PR if this fixes your issue we can review

[2020-12-21 17:45] katamarano commented on #3845
Just created a PR for it

[2020-12-21 21:10] earce commented on #3845
Closed

[2020-12-21 21:10] #3845 closed

[2020-12-22 18:54] earce commented on #3846
Closed with PR

[2020-12-22 18:54] #3846 closed

[2020-12-24 10:04] straumat commented on #3508
Isn't it very dangerous to only have fee and not the fee currency ?
This let the developer guess what is the fee currency and that can lead to errors no ?

[2020-12-25 15:22] timmolter commented on #3508
yes, it would be a good idea to add that to `Order` just like in `UserTrade`:

[code]

[2020-12-28 21:42] 9-9-0 commented on #3329
@straumat Make sure your Gemini API Key is an account key and not a master key.

[2020-12-30 11:57] wolftobias opened #3854 "BitForex is missing"
I`m missing the exchange "Bitforex.com"

https://github.com/githubdev2020/API_Doc_en/wiki/API-Call-Description

[2020-12-30 12:00] wolftobias opened #3855 "Ticker class missing exchange reference"
Is it possible to add a field which represents the origin Exchange class?

[code]

[2020-12-30 12:04] wolftobias opened #3856 "Usage of joda-money"
Why you guys are writing the basic financial stuff yourself?
Why not saving time and use a existing library?

https://www.joda.org/joda-money/

[2020-12-30 12:20] timmolter commented on #3856
https://github.com/JodaOrg/joda-money/issues?q=xchange

We used it originally, but it became too limiting for cryptocurrencies.

[2020-12-30 12:20] #3856 closed

[2020-12-30 12:23] wolftobias opened #3858 "Coinbase implementation throws NotAvailableFromExchangeException"
Coinbase seems to me not implemnted yet!
I get a NotAvailableFromExchangeException trying to call the MarketService.

[code]

[2020-12-30 12:28] wolftobias commented on #3856
But that's 8 years ago!
They made also progress and have a good Money implementation when it comes to calculation stuff!
I requested a change for crypto currencies and they implemented it.
Why not give it another try?!

[2020-12-30 12:31] timmolter commented on #3856
We use BigDecimal for all our calculations just like Jodatime, and it's not that hard to do. If we give them another try we'd probably need to update a hundred thousand lines of code. No one is going to volunteer to do that especially if there is no concrete benefit.

[2020-12-30 16:27] wolftobias commented on #3856
BigDecimal is not the same as a full functional Money class!

[code]
The first issue I ean into when building my trading application was i.e. rounding.
The BigDecimal class is just for random numbers, in financial application they need just more functionality.
Is it really 100.000 lines of code?
Not really, or?!
Some can just extend the ticker interface or implement a provider interface then every

[2020-12-31 10:42] wolftobias opened #3860 "gdax.com no more available?"
Does somebody knows what happend with gdax.com exchange?
Is it down forever?
The website gdax.com is no more reachable!

[2020-12-31 11:20] wolftobias opened #3861 "bitpanda.com is missing"
I`m missing the exchange "bitpanda.com"

API
https://api.exchange.bitpanda.com/public/v1

Web Socket
wss://streams.exchange.bitpanda.com

[2020-12-31 12:33] timmolter commented on #3860
it's coinbase-pro now.

[2020-12-31 12:33] #3860 closed

[2020-12-31 12:39] wolftobias commented on #3860
Then the exchange specification needs to be updated, right?!

[2020-12-31 14:20] timmolter commented on #3860
The gdax module is long gone. The coinbase-pro module is missing an  exchange specification. Feel free to add one!

[2021-01-01 21:47] 9-9-0 opened #3863 "Gemini WSS v2 Support"
Is anyone currently working on this?
https://docs.gemini.com/websocket-api/#level-2-data
The /v2 stream allows subscribing to multiple pairs over a single connection.

I can take a look at it if not.

[2021-01-02 10:58] goberson opened #3864 "HitBTC Metadata: Trading fee seems to be wrong"
Hi

Currently (as of 2021-01-02) the trading fee for me on HitBTC is 0.25%.
Hence, I should get a Metadata info with trading fee = 0.0025 but I get 0.002 out of the Exchange Metadata.
Looks like the precision of the Fee amount's BigDecimal is not big enough. I did not examine the API's http request tho. No Idea if the value we get from Hitbtc's API is the correct one. ;-)

Furthermore, HitBTC retu

[2021-01-02 14:58] wolftobias opened #3865 "Bitfinex runs into Http response code 500"
After initializing the BitfinexExchange class it runs directly into a http code 500.

`HTTP status code was not OK: 500`

[2021-01-02 23:17] earce commented on #3863
I don't think anyone is currently working on this would be great if you wanted to!

[2021-01-02 23:18] earce commented on #3861
Feel free to open a PR

[2021-01-02 23:19] earce commented on #3858
Feel free to open a PR

[2021-01-02 23:20] earce commented on #3855
I don't think the exchange is appropriate on ticker @timmolter given it's not typically a field that belongs to ticker

[2021-01-02 23:20] earce commented on #3854
Feel free to open a PR

[2021-01-02 23:26] earce commented on #3865
You will need to put in a stack trace or provide some more information

[2021-01-03 05:51] gmax0 opened #3866 "Source Kraken CurrencyPair Metadata from API"
https://api.kraken.com/0/public/AssetPairs

@earce @timmolter is there a field in the metadata map I can use for volume precision similar to priceScale? amountStepSize?

[2021-01-03 09:17] timmolter commented on #3855
Agreed. Seems like functionality belonging in client code anyway.

[2021-01-03 09:17] #3855 closed

[2021-01-03 09:19] timmolter commented on #3864
You will have to look at the code in Xchange and see exactly how it's calculated. It's very likely that it's outdated as things move fast and change often. If you can fix it and submit a PR, it be appreciated by many.

[2021-01-03 17:39] caussada opened #3867 "bid volume and ask volume"
hy, I know nothing about code , I try to install XchangeKnowm and ask to someone to do that, is it available the data bid volume and ask volume separetly, or there is only the data volume ?

Thanks for your help :)

[2021-01-04 08:07] #3329 closed

[2021-01-06 22:25] walec51 commented on #3867
this is a Java library for developers

if you know nothing about code then you should not be using it

[2021-01-06 22:25] #3867 closed

[2021-01-07 11:26] milczarekIT opened #3871 "[CoinbasePro] Exception 'request timestamp expired'"
I noticed 'request timestamp expired' problem after https://github.com/knowm/XChange/pull/3818 (and using synchronized incremental nonce).
But problem is not https://github.com/knowm/XChange/pull/3818, but using nonce. CoinbasePro similar to Binance is not using nonce in request.

They are using timestamp. Accoring to spec (https://docs.pro.coinbase.com/#selecting-a-timestamp):

Current implementa

[2021-01-07 16:51] earce commented on #3871
Which version of xchange are you currently using?

I think this _does_ introduce a bug but not in the way you describe. The code does not simply increment the timestamp after taking it once. It it takes the timestamp and tries to use that, if the timestamp happens to be the same as what was last taken then it increments it (like a nonce) but in this case we don't want the nonce we just want the ti

[2021-01-07 17:01] #3871 closed

[2021-01-07 17:48] caussada commented on #3867
thanks for your answer, i gonna ask someone to install  it for me in fact , someone on know java, but to avoid to wast his time I just would like to know if there is the tape (time and sale , list of trade) because it's what interested me, and when I watch the exemple of bitstamp in the sire web known.org I dont see it. Do you have this information ?

[2021-01-07 20:25] timmolter commented on #3871
I don't understand how this would fix the issue. And NOT using `CurrentTimeIncrementalNonceFactory` will cause other issues later.

[2021-01-07 20:29] timmolter commented on #3867
with xchange you can get a list of recent trades in one API call and the orderbook in another API call which give all the bids and asks together. Most exchanges offer a 24-hour ticker endpoint as well which contains the 24-hour volume. If you want to calculate your own volume, you can just sum all the trades over whatever time period you want.

[2021-01-07 20:31] earce commented on #3871
The way I understand it from this excerpt:

This makes it clear to me that a nonce is not necessary, a timestamp is what is required. As an example:

If we have timestamp 1000000000, if we make 1, 15 or 60 requests at that second the timestamp should _always_ be the same. If however we have an incrementing nonce, if we make 60 requests we would submit timestamps in the message ranging from 1000000

[2021-01-07 20:51] timmolter commented on #3871
Ah ok. That makes sense.

[2021-01-07 21:50] caussada commented on #3867
thanks a lot Timmolter :) you really helped me  !

[2021-01-08 04:53] mdvx opened #3873 "UnixTimestampFactory"
UnixTimestampFactory causing:
java.lang.NoClassDefFoundError: org/knowm/xchange/utils/timestamp/UnixTimestampFactory

what are we missing?

[2021-01-08 04:55] mdvx commented on #3664
This seems out of data

[2021-01-08 04:55] #3664 closed

[2021-01-08 05:20] mdvx commented on #3873
Merge/clean/rebuild fixes

[2021-01-08 05:20] #3873 closed

[2021-01-08 15:26] milczarekIT commented on #3871
@earce thank you for your clarification, that was the problem.

[2021-01-11 02:49] gewure commented on #3861
best would be to ask Bitpanda themselfs to implement it.

[2021-01-12 15:09] pvyhnal-generalbytes opened #3879 "Binance get deposit address - failure reason not available"
when calling `org.knowm.xchange.binance.service.BinanceAccountService#requestDepositAddress` it can get something like
`{"msg":"Apologies but we are unable to provide services to you as per our Terms of Use.","success":false}` (HTTP 200) from the server and it is logged in TRACE level but when that happen `null` is returned from that method.

Is this the pattern with other exchanges too or should

[2021-01-13 03:01] CayenneLow commented on #3879
Hey, just chiming in here in case this would be useful. I know this isn't exactly an answer to your question but I was getting that error as well when hosting my app in a US region. Binance has a separate API for US that you should be using (or just host the app somewhere other than US)

[2021-01-13 03:37] earce commented on #3879
To cayenne's point that was my first reaction (but I am not sure if that is what is causing it) but us is binance.us and everywhere else is binance.com

[2021-01-13 08:31] pvyhnal-generalbytes commented on #3879
Yes this specific error happens when you call binance.com from the USA (see this [reddit post](https://www.reddit.com/r/binance/comments/ku9rth/we_are_unable_to_provide_services_to_you/giqsapv/?utm_source=reddit&utm_medium=web2x&context=3)) but my issue is that in that case the method just returns null. Should it throw an exception with the message from the HTTP response instead?

The same problem

[2021-01-13 14:06] davidjirovec opened #3882 "Kraken order book stream - subscribe to multiple currency pairs by one messge"
Current implementation supports only one currency pair subscribe per one sent message via websocket. In case of subscribing to many currency pairs, Kraken ws soon hits rate limits.

Kraken ws supports subscribe to multiple channels by one message https://docs.kraken.com/websockets/#message-subscribe

It would be nice to be able to use this ability. I guess info.bitrich.xchangestream.core.Streaming

[2021-01-13 18:49] earce commented on #3882
We currently have some outstanding work to rate limit message passing for subscription to currency pairs.

[2021-01-13 19:49] davidjirovec commented on #3882
I've actually implemented my own rate limiting. I've wrapped websocket sendMessage() by aspectj and Guava rate limiter. Not nice but working :) Problem is it takes a long time to be able to send all subscription messages I need.

Sending just one message to subscribe all required channels would be ultimate solution.

[2021-01-13 19:56] katamarano opened #3884 "[coinbasepro] Cannot specify a size of base currency in a buy order"
Hello,
don't know if I'm missing something here, but according the implementation, I cannot specify a size of the amount of coins I want to buy, in a buy order (market)

[code]

If the order is a BUY, the order Type is BID...so this will result in size 0 and fund equals to the size I specified.
If my transaction is BTC-EUR, and i specify 0.1 in size (of course this means 0.1 BTC to buy), it will t

[2021-01-13 20:11] earce commented on #3882
We can copy CoinbasePro's pattern for this as it handles this, feel free to open a PR for this

[2021-01-13 21:38] earce commented on #3879
@pvyhnal-generalbytes i think throwing the message the exchange is throwing back is most certainly the right way to go about this feel free to open a PR

[2021-01-15 11:06] katamarano commented on #3884
Hi, try to ping again on this, cause I cannot udnerstand the reason why it was implemented in this way.
Accordin to coinbase pro documentation:

MARKET ORDER PARAMETERS
-size | [optional]* Desired amount in base currency
-funds | [optional]* Desired amount of quote currency to use
One of size or funds is required.

But in the code:
[code]
There is no way to specify a size in a BID order, and there

[2021-01-15 22:40] earce commented on #3863
Closed as merged

[2021-01-15 22:40] #3863 closed

[2021-01-17 13:09] knowncolor opened #3889 "Support custom trade parameters for exchanges"
This is a very exciting project, I'm just getting started using it.

I am interested in using a parameter, TimeToLive (TTL) that certain exchanges support for limit orders. How should I go about implementing this feature, or is it possible to add custom parameters to orders already?

Thanks!

[2021-01-19 19:30] earce commented on #3889
is TTL part of the REST api, like a query or path param?

[2021-01-19 20:20] knowncolor commented on #3889
Yes it is, see https://github.com/coinfloor/API/blob/master/BIST.md#buy-limit-order for example

[2021-01-19 21:22] earce commented on #3889
I would imagine you can just modify [CoinfloorAuthenticated.java](https://github.com/knowm/XChange/blob/develop/xchange-coinfloor/src/main/java/org/knowm/xchange/coinfloor/CoinfloorAuthenticated.java) to include the param you want.

[2021-01-19 21:31] earce opened #3891 "5.0.5 release"
@timmolter do you think we can cut a release?

[2021-01-19 22:11] walec51 commented on #3889
cast a `*Service` class to its `*ServieRaw` equivalent to gain access to exchange specific features - if they are missing implement them in the  `*ServieRaw` classes

generic interfaces / dtos should have features that are supported by most exchanges - to add something there your should first do an analysis there are they supported: https://github.com/knowm/XChange/wiki/Generic-feature-candidates

[2021-01-19 22:29] walec51 commented on #3865
closing do to no replay

[2021-01-19 22:29] #3865 closed

[2021-01-20 07:56] timmolter commented on #3891
yeah, I'll do it today hopefully.

[2021-01-20 12:07] knowncolor commented on #3889
Makes total sense, I'll open a request to add the missing `ttl` parameter.

[2021-01-20 17:48] caussada opened #3893 "difference binance and binance stream , huobi and huobi stream"
Hello,   I m looking for the API for binance future and huobi future, I installed the simple binance and huobi xchange API wich are for the spot data . do Binance stream and huboi stream are the futures by any chance ? Thanks for your help

[2021-01-26 17:02] det-mark opened #3898 "Bittrex user trades are always classified as SELLs"
`BittrexAdapters.adaptUserTrades(...)` classifies user trades as SELLs regardless of order type.

Probably a typo: `adaptUserTrades(...)` looks at `bittrexOrder.getType()` instead of `bittrexOrder.getDirection()`.

Per https://bittrex.github.io/api/v3#/definitions/Order, type is the order type (`LIMIT`, `MARKET`, etc.) while direction is `BUY` or `SELL`.

[2021-01-26 18:39] earce commented on #3898
This definitely seems like a bug, feel free to submit a PR

[2021-01-27 15:24] earce commented on #3891
I sent you a message on discord, but also are there issues publishing this again?

[2021-01-28 05:13] #3898 closed

[2021-01-30 08:57] trixprod opened #3902 "[Coinbase] 404 on getCoinbaseBuyPrice call"
Hello, on calling org.knowm.xchange.coinbase.service.CoinbaseMarketDataServiceRaw.getCoinbaseBuyPrice(CoinbaseMarketDataServiceRaw.java:79) we have got a CoinbaseException ( 404 )

I've tested with an existing currency pair : BTC/EUR.

Here is the stack trace :

stack_trace: org.knowm.xchange.coinbase.dto.CoinbaseException: null (HTTP status code: 404)
        at jdk.internal.reflect.GeneratedCons

[2021-02-01 10:58] urib94 opened #3904 "is there a way to calculate technical indicators?"
hello, full disclosure : Im a huge noob!
is there a way to calculate technical indicators in the project?

[2021-02-01 11:27] walec51 commented on #3904
you can implement code that calculates indicators based on the data returned by this library

you should not expect such functionality to be in this library however - its out side of its scope

[2021-02-01 11:27] #3904 closed

[2021-02-08 14:59] feelus opened #3907 "Binance "invalid WebSocket Extension handshake""
Hello,

I'm suddenly experiencing issues connecting to Binance streaming API, since 13:20 UTC today. I checked their changelog and there seem to have been some changes today to the API, see https://binance-docs.github.io/apidocs/spot/en/

It can be reproduced with this example

[code]

The error I'm getting is

[code]

Could anyone help? Was there a Binance API change that introduced some incompat

[2021-02-08 15:17] ajutzeler commented on #3907
Hi,

I am experiencing the exact same thing.

It is relevant to mention that Binance has been suffering from major availability issues since that massive BTC surge (around 13:00 UTC today).

Could this error be the result of a maneuver from Binance as an attempt to reduce the traffic?

[2021-02-08 15:18] makarid commented on #3907
I am getting the same thing too.

Στις Δευ, 8 Φεβ 2021 στις 5:17 μ.μ., ο/η ajutzeler <notifications@github.com>
έγραψε:

[2021-02-08 15:30] VadimsGrusas commented on #3907
Same here.

[2021-02-08 15:38] ajutzeler commented on #3907
All the people I know of who are not currently being impacted by this gather the two following conditions:
- They are using [ccxt](https://github.com/ccxt/ccxt) integration
- They reached a certain VIP level

Could anyone here confirm that it is either
- working fine with XChange on an account at VIP0 level
- broken with XChange on an account at superior VIP level
to invalidate my hypothesis?

[2021-02-08 16:05] paolo-rendano commented on #3907
same for me. What is happening?

[2021-02-08 16:09] VadimsGrusas commented on #3907
VIP0 - not working.
Without authorization not working.
This js example works - https://github.com/binance-exchange/binance-websocket-examples

[2021-02-08 16:20] VadimsGrusas commented on #3907
That issue looks similar to:
https://github.com/netty/netty/issues/10191
https://github.com/knowm/XChange/pull/3803

[2021-02-08 16:23] feelus commented on #3907
I thought so too, I tried to fix it as it was used here https://github.com/knowm/XChange/pull/3803 but did not seem to help. I'm not a Java guy so I'm not sure if maybe I accidentally messed something up, so maybe someone else can confirm

[2021-02-08 17:05] earce commented on #3907
@feelus it is related to https://github.com/knowm/XChange/pull/3803, what probably happened is that Binance upgraded the websocket and changed this flag. We need to update the library to be able to properly hand-shake with the websocket, I can approve a PR if someone submits it.

[2021-02-08 17:08] earce commented on #3907
Also in the future Discord is better for faster engagement about ongoing issues.

[2021-02-08 17:10] feelus commented on #3907
I agree, but couldn't a mention of it anywhere

[2021-02-08 17:16] earce commented on #3907
@feelus search for discord on this projects readme

[2021-02-08 17:18] paolo-rendano commented on #3907
my 10c$.
just made some experiments and now it works again. What I have done:
1 - get the code from coinbase
  private WebSocketClientCompressionAllowClientNoContextHandler() {
    super(
        new PerMessageDeflateClientExtensionHandshaker(
            6, ZlibCodecFactory.isSupportingWindowSizeAndMemLevel(), MAX_WINDOW_SIZE, true, true),
        new DeflateFrameClientExtensionHandshaker(false),

[2021-02-08 17:20] feelus commented on #3907
Oh damn, it's an image, can't find it with search. Ok!

[2021-02-08 17:26] Greekcc commented on #3907
Where did you found that code? On CoinbaseProSteamingService?

[2021-02-08 17:29] paolo-rendano commented on #3907
exactly.
info.bitrich.xchangestream.coinbasepro.netty.WebSocketClientCompressionAllowClientNoContextHandler

[2021-02-08 17:31] earce commented on #3907
You guys can probably create a new class for this

[2021-02-08 17:32] paolo-rendano commented on #3907
yes, I created a new class. You can copy the Coinbase one and change the parameter to true. and then reference it in the BinanceServiceStreaming to use that.

[2021-02-08 17:43] Greekcc commented on #3907
Can someone make a PR, i am still trying to make it work.

[2021-02-08 17:51] paolo-rendano commented on #3907
Sure I can, but as I said, not clear why the "true" solves the problem. It is "magic". I don't see anything on it in Binance API changelog. Maybe also the problem will be solved by them without changing anything.

[2021-02-08 17:54] Greekcc commented on #3907
I have done the same thing as you did, but i still getting the same error. Maybe they have done something with Geographic location or i don't know

[2021-02-08 17:55] ajutzeler commented on #3907
I did exactly what @paolo-rendano suggested as well, but it did not help.

@paolo-rendano Can you try again without your fix? Maybe it now works for you all the same?

[2021-02-08 17:59] paolo-rendano commented on #3907
@ajutzeler sure the old code does not work, since I have it in production in amazon AJP datacenter. Just restarted and still broken there. The same error here from Italy. Now I'm building the code with my change and I'll test it also in production. I'll update you.

[2021-02-08 18:06] VadimsGrusas commented on #3907
Tried it locally, thank you. that helped

[2021-02-08 18:23] paolo-rendano commented on #3907
Ok, I confirm. Back to working in production as well. I'll open the PR for that, but you should wait some hours for that. I'm on a different branch, so I have to take some time to do that.

[2021-02-08 18:33] paolo-rendano commented on #3907
I pushed the fix. who will merge that in develop?

[2021-02-08 20:41] #3907 closed

[2021-02-08 20:42] earce commented on #3891
@timmolter hey wanted to follow up on cutting 5.0.5. Given Binance websockets are seemingly broken, now may be a good time to cut 5.0.5 because several users are reporting issues on this matter.

[2021-02-08 20:48] ajutzeler commented on #3907
I do not want to be a killjoy, but I built everything clean from @paolo-rendano branch and I am still getting the same error.

If I am the only one in this situation, I gladly accept my fate of being such a big noob.

[2021-02-08 20:53] earce commented on #3907
@ajutzeler noobs are welcome :) but did you try checking out from trunk?

[2021-02-08 21:29] marcohc commented on #3907
Hi guys, this might be a bit offtopic but, is there a way cloning the project to make use of the fix in a different project avoiding to wait for the next release? thanks!

[2021-02-08 21:33] earce commented on #3907
The best way is using the snapshot jars as dependencies

[2021-02-08 21:39] ajutzeler commented on #3907
@paolo-rendano Yes, I completely removed my local maven repo before any attempt and used `mvn clean install` to build the project.

I checked and I am loading the correct binaries that have just been built.

Added a couple of debug lines just to be sure, and of course it does show.

Can we reasonably assume that Binance is using an heterogeneous pool of websocket servers? Which could explain why o

[2021-02-08 21:44] paolo-rendano commented on #3907
I’m receiving correctly EGLD_USDT (Just checked now). Anyway I tested with order book, not with trades.

Il giorno 8 feb 2021, alle ore 22:40, ajutzeler <notifications@github.com <mailto:notifications@github.com> > ha scritto:

@paolo-rendano Yes, I completely removed my local maven repo before any attempt and used mvn clean install to build the project.

I checked and I am loading the correct bin

[2021-02-08 22:01] ajutzeler commented on #3907
Sorry, it is actually the UserTrade stream that crashes!

I can successfully receive market data (orderbook and trades) as well.

Please check it and tell me that you can reproduce it so I can clear my name ;)

[2021-02-08 22:02] paolo-rendano commented on #3907
Oh I understood the problem. 
I think we have to reopen the issue since the same patch must be applied to BinanceUserDataStreamingService class.

Can you please confirm that adding these lines to that class your problem is solved?

@Override
protected WebSocketClientExtensionHandler getWebSocketClientExtensionHandler() {
  return WebSocketClientCompressionAllowClientNoContextHandler.INSTANCE;

}

[2021-02-08 22:04] earce commented on #3907
If this fixes it submit another PR

[2021-02-08 22:22] paolo-rendano commented on #3907
Yes @ajutzeler pls do the test and give us feedback. The PR is ready to be sent.

Il giorno 8 feb 2021, alle ore 23:05, Erick Arce <notifications@github.com <mailto:notifications@github.com> > ha scritto:

If this fixes it submit another PR

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-08 22:25] makarid commented on #3907
It works i have test it

Στις Τρί, 9 Φεβ 2021 στις 12:22 π.μ., ο/η Paolo Rendano <
notifications@github.com> έγραψε:

[2021-02-08 22:29] paolo-rendano commented on #3907
sent.
Just to simplify communication.
I’ve discord. How to get in touch with this team? I’ve looked into the project but I cannot find reference to that.

Il giorno 8 feb 2021, alle ore 23:25, makarid <notifications@github.com <mailto:notifications@github.com> > ha scritto:

It works i have test it

Στις Τρί, 9 Φεβ 2021 στις 12:22 π.μ., ο/η Paolo Rendano <
notifications@github.com <mailto:notifica

[2021-02-08 22:33] ajutzeler commented on #3907
@paolo-rendano Yes, I confirm it works again thanks to your fix.

Thank you, Sir!

[2021-02-08 22:46] 2pd commented on #3907
From the API document, https://binance-docs.github.io/apidocs/spot/en/#change-log
there is nothing change related to Websocket service.  Only a few new RESTful endpoints added.

[2021-02-08 23:27] earce commented on #3907
@paolo-rendano there isn't a team, it's a bunch of individual maintainers/contributors for the library @timmolter is the creator and owner of the library, discord usually has some fairly active developers on it

[2021-02-09 12:15] timmolter commented on #3891
OK, I will try again soon. Last time I tried three days in a row and the push to sonatype always fails in some way  due to networking issues. This is becoming a major issue for us.

[2021-02-09 18:10] earce commented on #3891
Is there any way to increase command timeouts etc? Would it be possible to see the log lines you are getting when attempting to publish this?

[2021-02-09 21:32] timmolter commented on #3891
sure, I'll post them next time.

[2021-02-10 00:03] LiquidSwapFinance opened #3912 "Binance WebSocket suddenly fails to connect"
Long time XChange user here. Two days ago, connecting to Binance Streaming stopped working.

The error is as follows:
[code]

The code in question is the following:

[code]

And it's on that blockingAwait that the error repeatedly happens, retrying every 10 seconds or so, only to get the same error.

This code hasn't changed in months and has been working fine, so I'm not sure what changed to star

[2021-02-10 06:49] 0xfaulty commented on #3912
already fixed in [#3908](https://github.com/knowm/XChange/pull/3908)

[2021-02-10 13:20] timmolter commented on #3891
@earce

[INFO] [INFO] XChange Kraken Stream .............................. SUCCESS [  4.129 s]
[INFO] [INFO] XChange LGO Stream ................................. SUCCESS [  4.720 s]
[INFO] [INFO] XChange OKCoin Stream .............................. SUCCESS [  4.154 s]
[INFO] [INFO] XChange Poloniex 2 Stream .......................... SUCCESS [  3.406 s]
[INFO] [INFO] XChange Serum Stream .........

[2021-02-10 13:21] timmolter commented on #3891
See, it will get through 50%+ of the build and then a random network error will occur. Very frustrating after 29 minutes of building and uploading...

[2021-02-10 14:00] timmolter commented on #3891
[INFO] [INFO] XChange LGO Stream ................................. SUCCESS [  4.699 s]
[INFO] [INFO] XChange OKCoin Stream .............................. SUCCESS [  4.122 s]
[INFO] [INFO] XChange Poloniex 2 Stream .......................... SUCCESS [  3.600 s]
[INFO] [INFO] XChange Serum Stream ............................... SUCCESS [  3.252 s]
[INFO] [INFO] XChange Huobi Stream .................

[2021-02-10 14:00] timmolter commented on #3891
[INFO] Uploaded to ossrh: https://oss.sonatype.org:443/service/local/staging/deployByRepositoryId/orgknowm-1124/org/knowm/xchange/xchange-paymium/5.0.6/xchange-paymium-5.0.6.jar (28 kB at 41 kB/s)
[INFO] Uploading to ossrh: https://oss.sonatype.org:443/service/local/staging/deployByRepositoryId/orgknowm-1124/org/knowm/xchange/xchange-paymium/5.0.6/xchange-paymium-5.0.6.pom
[INFO] Progress (1): 1.1

[2021-02-10 15:02] earce commented on #3912
Fixed in earlier review as stated

[2021-02-10 15:02] #3912 closed

[2021-02-10 15:07] timmolter commented on #3891
[INFO] [INFO] XChange Serum Stream ............................... SUCCESS [  3.394 s]
[INFO] [INFO] XChange Huobi Stream ............................... SUCCESS [  3.552 s]
[INFO] [INFO] XChange Gemini Stream V2 ........................... FAILURE [15:52 min]
[INFO] [INFO] ------------------------------------------------------------------------
[INFO] [INFO] BUILD FAILURE
[INFO] [INFO] ----------

[2021-02-10 15:12] earce commented on #3891
Hey have you attempted upgrading the version of maven https://stackoverflow.com/questions/42024619/maven-build-gets-connection-reset-when-downloading-artifacts, apparently after 3.6.1 has configurable retry behavior. You currently have 3.0.0-M1 for the maven release plugin.

The latest seems to be 3.6.3, I think there are definitely some timeouts or other issues that may be tied to build time, upl

[2021-02-10 15:14] earce commented on #3891
Someone also mentioned doing `-Dhttps.protocols=TLSv1.2` helped

[2021-02-10 15:15] earce commented on #3891
And one more https://developercommunity.visualstudio.com/content/problem/357696/maven-project-build-failing-with-connection-reset.html

[2021-02-10 15:17] earce commented on #3891
Looking at this more it actually appears as though 3.0.0-M1 might be the latest but maybe we can configure its behavior

[2021-02-10 16:04] timmolter commented on #3891
Here's the next one:

[INFO]
[INFO] Uploaded to ossrh: https://oss.sonatype.org:443/service/local/staging/deployByRepositoryId/orgknowm-1126/org/knowm/xchange/xchange-bitcoinaverage/5.0.6/xchange-bitcoinaverage-5.0.6-javadoc.jar.asc (833 B at 3.6 kB/s)
[INFO] Uploading to ossrh: https://oss.sonatype.org:443/service/local/staging/deployByRepositoryId/orgknowm-1126/org/knowm/xchange/xchange-idex/5.0

[2021-02-10 16:06] earce commented on #3891
Did you try any configuration?

[2021-02-10 16:06] timmolter commented on #3891
Gemini is always the module it fails on. `xchange-stream-gemini-v2`

[2021-02-10 16:06] timmolter commented on #3891
nope, just saw your message now.

[2021-02-10 16:08] earce commented on #3891
Interesting so what seems to happen is that it will go quickly on most and eventually hit a module and just take 20+ mins and fail.. Seems like it just gets stuck on some.

[2021-02-10 16:17] earce commented on #3891
@timmolter question, where are these commands running from? I am wondering if location has anything to do with it, e.g. if running it from an instance located near us-east-1 would increase the likelihood of success https://issues.sonatype.org/browse/OSSRH-45918.

Taking a few guesses here

[2021-02-10 16:24] timmolter commented on #3891
They're running from my home in Germany. Can you think of why Gemini Stream would be different than the rest? BTW, when this used to work it usually also took about 30 minutes to complete.

[2021-02-10 16:26] timmolter commented on #3891
I will try one at a time all the linked-to tricks above and report back.

[2021-02-10 16:29] earce commented on #3891
I don't know that gemini stream is or that there is something wrong at that part of the process.

Which part takes 30 mins, the build or the upload, I don't imagine the upload right?

Has this ever worked consistently from Germany?

It seems like it just gets stuck at that point,  I am speculating here a little bit that it may have to do something with the WAN. Hard to say since I have not ran one

[2021-02-10 16:31] earce commented on #3891
Would be interesting if you did a traceroute or pinged the IP to see where the server you are attempting to upload to is located.

[2021-02-10 23:40] 9-9-0 commented on #3891
Is there any prep-work that needs to be done for a new module before uploading?

Perhaps this line is relevant?
[INFO] [WARNING] The requested profile "pom.xml" could not be activated because it does not exist.

[2021-02-11 04:26] dpageau2021 opened #3914 "[Binance] Live subscribing/unsubscribing"
Hello,
Do you have any plans to add the live subscribing/unsubscribing coins feature in stream-binance library? (Available in Binance since last year)

Thanks

[2021-02-11 17:48] earce commented on #3914
If the feature is not currently available with XChange feel free to open a PR

[2021-02-11 23:04] jessethouin commented on #3891
I can only assume your build and deploy environments are using the same charset. Things like the Turkish "dotless i" can be nearly invisible during a build, but rejected by the deployment pipeline.

[2021-02-16 03:12] dpageau2021 commented on #3914
I'm working on it

[2021-02-17 04:45] bash83 commented on #3741
@earce I've created a pull request for this issue #3922

[2021-02-18 13:50] phraktle opened #3924 "DTO classes should be JSON serializable"
Many DTOs have inconsistencies that break JSON serialization, such as divergent getter method names. It should be possible to serialize then de-serialize these objects.

As a workaround, one can use Jackson mixins. For example this provides a fix for serializing `BitmexPrivateOrder`:

[code]

[2021-02-18 15:17] BePe2 opened #3925 "BITMEX: Adjust adaptSymbolToCurrencyPair(String bitmexSymbol)"
Hi

We probably need a finer symbol conversion, DOGEUSD breaks unfortunately the current Conversion

tnx & regards
Ben

[2021-02-18 22:20] x775 opened #3926 "[Binance] io.netty buffer leak"
As per release 5.0.4, and sometime within the last couple of weeks, the Binance adapter is leaking.

The following dump is obtained by running with `-Dio.netty.leakDetection.level=advanced` as per [0].

`Feb 18, 2021 10:27:15 PM io.netty.util.ResourceLeakDetector reportTracedLeak
SEVERE: LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-count

[2021-02-19 10:17] phraktle opened #3927 "[Deribit] getUserSettlementsByInstrument does not support pagination"
`DeribitTradeServiceRaw#getUserSettlementsByInstrument` does not support pagination parameters, even though the underlying REST API does (see `continuation` in https://docs.deribit.com/#private-get_settlement_history_by_instrument)

[2021-02-19 11:25] #3741 closed

[2021-02-19 12:36] phraktle commented on #3924
Similar inconsistency in Deribit DTOs prevent bi-directional Jackson serialization. The `timestamp` field (which is of type long) vs `getTimestamp` (of type `Date`) in `Trade` and `Settlement`. A workaround for these is to ignore the getter:

[code]

[2021-02-20 18:58] earce commented on #3927
Hi, feel free to submit a PR request improving this

[2021-02-22 11:20] treerz opened #3932 "[Deribit] NumberFormatException while parsing stop market orders from json"
Stop-market orders do not have a numeric `price` attribute, they have the placeholder string `"market"` instead.

When the class `org.knowm.xchange.deribit.v2.dto.trade.Order` tries to parse the `price` attribute as a `BigDecimal` it throws an unhandled `NumberFormatException`.

Since the `price` attribute is practically "empty" in this case (no meaningful value), just catching the exception and u

[2021-02-22 12:16] treerz opened #3934 "[CryptoFacilities] stopPrice parameter is missing from sendOrder"
In the CryptoFacilities API the `stopPrice` parameter is missing from the `sendOrder` request.
As it is a required property for stop orders, this makes it impossible to create stop orders.

Fix: add missing property.

[2021-02-22 21:25] #3927 closed

[2021-02-22 22:05] timmolter commented on #3891
Just noticed that XChange Gemini Stream V2 takes 12 minutes before timing out. Weird. Seems like it's specific to that module.

[INFO] [INFO] XChange Kraken Stream .............................. SUCCESS [  4.206 s]
[INFO] [INFO] XChange LGO Stream ................................. SUCCESS [  4.732 s]
[INFO] [INFO] XChange OKCoin Stream .............................. SUCCESS [  4.063 s]
[INFO] [INF

[2021-02-22 22:33] youssef-cooptalis opened #3938 "[bitfinex] bid size and ask size websockets tickers #"
Would you please adjust the websocket streaming of bitfinex to take bid and ask size into consideration?

[2021-02-22 22:34] youssef-cooptalis commented on #3938
That’s the file location https://github.com/knowm/XChange/blob/develop/xchange-stream-bitfinex/src/main/java/info/bitrich/xchangestream/bitfinex/dto/BitfinexWebSocketTickerTransaction.java

[2021-02-22 23:04] timmolter commented on #3891
Same thing happened but with Serum

[INFO] [INFO] XChange LGO Stream ................................. SUCCESS [  5.151 s]
[INFO] [INFO] XChange OKCoin Stream .............................. SUCCESS [  4.581 s]
[INFO] [INFO] XChange Poloniex 2 Stream .......................... SUCCESS [  3.888 s]
[INFO] [INFO] XChange Serum Stream ............................... FAILURE [21:22 min]
[INFO] [INFO] --

[2021-02-22 23:05] earce commented on #3891
Weird, that's never had an issue building

[2021-02-23 00:59] earce commented on #3891
Also why is a build required everytime you do a release?

[2021-02-23 04:38] dpageau2021 commented on #3914
@earce @timmolter  I have a PR ready but I don't have access to push my branch:
`remote: Permission to knowm/XChange.git denied to dpageau2021.
fatal: unable to access 'https://github.com/knowm/XChange.git/': The requested URL returned error: 403`

Thanks

[2021-02-23 10:15] #3934 closed

[2021-02-23 12:46] timmolter commented on #3891
ok, finally got it working! Switched back to older plugin version and back to macos and not Ubuntu.

[2021-02-23 12:46] #3891 closed

[2021-02-23 18:36] earce commented on #3891
When will this be visible in maven?

[2021-02-24 07:50] #3932 closed

[2021-02-24 16:28] AlexanderTrybushnyi opened #3942 "[BINANCE] Invalid symbol"
public static void main(String[] args) throws IOException {
    ExchangeSpecification exSpec = new BinanceExchange().getDefaultExchangeSpecification();
    exSpec.setApiKey("myApiKey");
    exSpec.setSecretKey("mySecret");
    Exchange binance = ExchangeFactory.INSTANCE.createExchange(exSpec);
    MarketDataService marketDataService = binance.getMarketDataService();
    Ticker ticker = marketDataS

[2021-02-24 18:32] earce commented on #3942
I don't think EUR/USD is a valid binance pair?

[2021-02-24 18:32] earce commented on #3938
Feel free to submit a PR

[2021-02-24 23:34] dpageau2021 commented on #3914
https://github.com/knowm/XChange/pull/3943

[2021-02-25 01:51] dpageau2021 commented on #3942
@earce are right, EUR/USD doesn't exist in Binance, you must use USDT (Theter) instead of USD

[2021-02-25 02:38] #3942 closed

[2021-02-26 05:15] zdary opened #3946 "BTC Markets - withdrawFunds should return ID"
BTCMarket now provides ID (fundTransferId ) when creating withdrawal.
Add this id to the BTCMarketsAccountService

See
https://api.btcmarkets.net/doc/v3#tag/Fund-Management-APIs/paths/~1v3~1withdrawals/post

This commit is no longer needed
https://github.com/knowm/XChange/pull/2687/commits/02e66820c17aad90e2a500a9af0b378b180ef8b1

The fundTransferId can be used to obtain blockchain hash later.

[2021-02-26 15:01] #3946 closed

[2021-02-26 23:05] #3938 closed

[2021-02-27 11:37] yaniferhaoui opened #3950 "What happen to an Order to make if the HTTP POST fail during the response?"
Hello,

When I make a buy/sell order I would like to handle IO exceptions during the HTTP response and be sure to don't duplicate the order.

Some exchanges allow to use Client Order ID, so if an exceptions occurs, I can just check if the order exists with my own generated ID => So try again if the order don't exists.

But for exchanges which don't have this feature, I can't check if the order exi

[2021-02-27 16:27] garciapd commented on #3840
Hi @gewure , did you manage to change it and make it work?

[2021-02-27 17:58] earce commented on #3950
In theory it should be this way, but this is really going to come down to the specific exchange's implementation so better to confirm and validate against each particular exchange.

[2021-02-27 18:02] earce commented on #1933
Link no longer exists

[2021-02-27 18:02] #1933 closed

[2021-02-27 18:04] earce commented on #1804
Was fixed as part of attached commit

[2021-02-27 18:04] #1804 closed

[2021-02-27 18:06] earce commented on #2199
Closing as this was implemented

[2021-02-27 18:06] #2199 closed

[2021-02-27 18:06] earce commented on #2187
Closing as GDAX became coinbasepro

[2021-02-27 18:06] #2187 closed

[2021-02-28 11:51] walec51 commented on #3950
if an exchange allows you to  pass a user reference to the order then you can check if the order got added, if not then there is no 100% sure way to know if the request succeeded or not

[2021-02-28 11:51] #3950 closed

[2021-02-28 11:54] walec51 commented on #3893
future are not fully supported by this yet

@douggie started working on it but never finished

you can pick up where he left https://github.com/knowm/XChange/pull/3473

[2021-02-28 11:54] #3893 closed

[2021-02-28 12:02] walec51 commented on #3884
coinbases documentation states that you pass either size or funds

you don't pass both

in a BID we set funds, in ASK we set size - thing wrong here

in the original amount just set the amount of currency you want to buy or sell

[2021-02-28 12:02] #3884 closed

[2021-02-28 12:02] walec51 commented on #3808
closing due to lack of response

[2021-02-28 12:02] #3808 closed

[2021-02-28 12:03] walec51 commented on #3744
closing due to lack of response

[2021-02-28 12:03] #3744 closed

[2021-02-28 13:34] deniben opened #3955 "Binance HTTP status code was not OK: 404"
[code]

[code]

[code]
I think problem is here com.sun.proxy.$Proxy53.getOrderBook(Unknown Source)
Gradle, java 1.8, tomcat 9.0.34
  implementation group: 'org.knowm.xchange', name: 'xchange-bitstamp', version: '5.0.6'

[2021-02-28 13:47] walec51 commented on #3955
bitstamp is not binance

bitstamp does not have an XRP/USDT pair

[2021-02-28 13:47] #3955 closed

[2021-02-28 20:06] Bad-Pop commented on #3902
I'm in the same situation with this code :

[code]

And the execution result :

[code]

I have tested many other xchange's features with Coinbase and it seems that nothing works for me :'(

Can anyone help us ?

[2021-03-01 04:40] earce commented on #3211
@walec51 question for you, for the Bitmex style rate limiting, how do you mean create a custom interceptor?

[2021-03-01 07:54] jurepetrovic commented on #3808
Sorry, did not try the openjdk-11.
I just removed the tests, temporarily "mitigating" the issue.
Everything else worked fine.

Will try again, when I have some other work on that part of the
code again.

Rgds,
Jure

[2021-03-01 09:05] walec51 commented on #3211
@earce for what do you need a custom interceptor?

what do you need that cannot be achieved with plain resilience4j decorators?

[2021-03-01 09:11] walec51 commented on #3211
@earce do you want to drain the rate limiter based on a certain response / exception?

if so then check these examples:

https://github.com/resilience4j/resilience4j/pull/1264/files#diff-966205bc5b6df4ec5ea80bac91d86da350415587ea5e6291b62030fa8a6fc9f3R13

[2021-03-01 12:50] deniben opened #3957 "Binance OrderBook get only 100 orders"
Orderbook get only 100 orders both bids and asks.
![image](https://user-images.githubusercontent.com/19304301/109499311-63568200-7a9d-11eb-83e6-5ccef9509b3a.png)
[code]
But at Binance orderbook we have a lot of orders
![image](https://user-images.githubusercontent.com/19304301/109499471-9e58b580-7a9d-11eb-9058-854b3154a04c.png)

[2021-03-01 17:16] earce commented on #3211
@walec51 the bitmex example in this case, sends back some header that tell us how long we need to wait before we retry. Two edge cases can present themselves here:

The rate limiter you are using say has an interval of 1 minute and the Bitmex API tells us to backoff for 2, we will wait the one minute start firing requests and get banned even longer, potentially getting ourselves blocked out.

The

[2021-03-01 18:59] walec51 commented on #3211
remember that xchange can be used in an multi threaded app - because of this you should rate limit proactively event before bitmex says you did to much calls

so configure rate limiters as bitmex suggests:

https://www.bitmex.com/app/restAPI#Limits

    60 requests per minute on all routes (reduced to 30 when unauthenticated)
    10 requests per second on certain routes (see below)

if despite of

[2021-03-01 19:03] earce commented on #3211
This doesn't really cover all scenarios, while proactive is a must, reactive is important to have implemented.

Process restarts won't be protected with this rate limiter and bans rate limit bans that are longer then whatever your cycle is programmed won't be covered either. I want to see if there is a good way to dynamically adjust the drain period.

[2021-03-01 19:10] walec51 commented on #3211
If the process restarts and causes a 429 error then it will drain the cycle. You will not get banned for this and afterwords you should not see any 429 errors.

Interpreting Birmex headers in a multi threaded environment is not an easy task - HTTP requests my have variable durations and a response to request A my come after a response to a request B. Besides having complex code to maintain you wil

[2021-03-01 19:14] earce commented on #3211
I don't entirely agree with this.

I would imagine if the process restarts, after a 429 is in place, you will get further penalized (potentially). Because you would

1) Have ban in-place (say 1m)
2) Submit another request
3) Potentially increase ban time (now > 1m)
4) Your cycle will end after 1m (ban will still be in place)
5) You submit another request, penalizing you even more potentially

You

[2021-03-01 19:48] walec51 commented on #3211
The scenario you mentioned would only happen if both the below conditions ware meet:
- ban duration > cycle duration
- every single request during the ban extends the ban for a duration larger then the cycle duration

I don't think that's the case as BitMex has a 60 s cycle and a 30 s ban for exceeding it.

If BitMex gives you a long - couple of hour ban or more - then I don't think this is someth

[2021-03-01 19:50] walec51 commented on #3211
But if you want to do a more complex solution then show some pseudo code that solves this problem:

https://github.com/knowm/XChange/issues/3211#issuecomment-538794173

[2021-03-01 20:05] earce commented on #3211
I only say this because it does https://www.bitmex.com/app/restAPI#Request-Rate-Limits `If a large number of 4xx or 5xx responses are delivered in a short period of time, your IP address may be banned for an hour. Multiple bans in a short time will result in a weeklong ban.` This is effectively like an exponential backoff on their end.

I know from using this personally that other exchanges do thi

[2021-03-01 20:34] deniben commented on #3957
no one?

[2021-03-01 21:33] #3957 closed

[2021-03-01 22:31] nielsdraaisma commented on #3889
Most exchanges do this using the IOrderFlags interface, depending on the exchange the flags can be used to trigger IOC and MOC order types.

[2021-03-02 08:55] katamarano commented on #3884
Hello, thanks for replying.
I don't set both funds and size. I set only size. If you specifiy the size in the originalAmount, in a BUY, the code in xchange will use it as a FUNDS.
I can repeat the example, if my transaction is BTC-EUR, and I specify 0.1 in original amount (of course this means I want to buy 0.1 BTC), it will assign this value to the funds field. So when the BUY is performed, you w

[2021-03-02 15:38] chris-rr opened #3959 "KuCoin Websocket Streaming Support"
Hi there, just wanted to query if there is an ETA as to when support for websocket connections to KuCoin exchange would be included?  Seems some preparation work done towards this last year https://github.com/knowm/XChange/pull/3618, but not clear if the -stream integration is planned for inclusion in the near future.

Thanks!

[2021-03-02 15:59] earce commented on #3959
There is no ETA, however feel free to submit a PR!

[2021-03-02 21:10] deniben opened #3961 "Connection timed out: connect Upbit Exchange"
[code]
[code]

[2021-03-02 21:14] deniben commented on #3961
I think it on working
![image](https://user-images.githubusercontent.com/19304301/109716060-00eca700-7bad-11eb-97e1-723535f8c0cf.png)

[2021-03-02 21:14] #3961 closed

[2021-03-03 17:17] jumpingfella commented on #3318
Hello, is this implemented?
https://binance-docs.github.io/apidocs/spot/en/#margin-account-new-order-trade

[2021-03-04 14:49] jumpingfella opened #3966 "Placing order for FuturesContract on Binance"
Can't submit market order for futures contract, details below:
`
java.lang.IllegalStateException: The instrument of this order is not a currency pair: BTC/USDT/perpetual
	at org.knowm.xchange.dto.Order.getCurrencyPair(Order.java:238)
	at org.knowm.xchange.binance.service.BinanceTradeService.placeOrder(BinanceTradeService.java:147)
	at org.knowm.xchange.binance.service.BinanceTradeService.placeMark

[2021-03-04 17:55] walec51 commented on #3211
@earce come to think of it this type of functionality is more of an circuit breaker then a rate limiter

for such long time scales like a 30 sec or 2 hour ban there is no point of sleepeing on a thread - we should throw an exception indicating that the circuit is broken without calling the exchanges API

currently resillience4j support circuit breaking for a fixed amount of time if a certain error

[2021-03-04 19:07] earce commented on #3211
@walec51 this sounds great, appreciate you taking the time to reconsider/revisit this, I think what you are describing does sound like the correct implementation of this protection

[2021-03-04 21:27] BePe2 commented on #3966
I don't think it's possible to submit FutureContracts via BinanceTradeService atm

[2021-03-06 20:34] onxois commented on #3861
Probably we will work on a Bitpanda implementation by week 10 / 2021.
We need Bitpanda for our new TradeManager prototype. It would directly execute reliable bots from other platforms, e.g. strategies from JForex or MT4/5 EAs and will connect many exchanges. Is there anyone who is also interested and wants to help us with the Bitpanda adapter?
https://www.stash.de

[2021-03-07 10:42] timmolter commented on #3861
If you offer a bounty, it's more likely someone will want to help you with the implementation! :)

[2021-03-07 18:16] #3914 closed

[2021-03-07 18:16] dpageau2021 commented on #3914
Fix merged

[2021-03-07 19:33] 0M1N0U5 commented on #3588
Same problem here. Somebody know some workaround while de fix is coming?

[2021-03-08 09:22] zdary opened #3969 "Independent reserve implement getDynamicFee"
add account getDynamicFee method for independent reserve

[2021-03-08 09:27] zdary commented on #3969
https://github.com/knowm/XChange/pull/3970

[2021-03-08 22:11] #3969 closed

[2021-03-08 22:12] zdary opened #3971 "BTC Markets incorrect exception for V3"
When exception is thrown for BTC Markets API v3 the exception is missing details

[2021-03-09 02:44] #3971 closed

[2021-03-17 08:48] michaelscheung commented on #2554
@EricAnderson1000 sorry for the delayed response, yes this bounty is dead

[2021-03-17 08:48] #2554 closed

[2021-03-19 09:00] #3330 closed

[2021-03-19 09:38] straumat opened #3982 "Kucoin upgraded the API key to version 2.0"
Hi everyone, I'm the creator of [Cassandre](https://github.com/cassandre-tech/cassandre-trading-bot) that uses XChange. Thanks for your wonderful work.

My testing bot uses Kucoin Sandbox and for 3 weeks, impossible to connect (401 error) with the credentials I'm using for 1 year. It still works on the Kucoin production server.

From what I read on their websites, they are changing their authentic

[2021-03-19 15:24] earce commented on #3982
@straumat I am not aware of anyone having done the necessary code changes to change the signing method to v2, but feel free to submit a PR making these changes!

[2021-03-19 15:27] straumat commented on #3982
@earce yes, I'm scared the upgrade in may broke XChange, I opened an issue at kucoin to ask them more about it. Is it just a configuration change or a code change. I will keep this issue updated with their reply.

[2021-03-19 15:53] earce commented on #3982
@straumat it really shouldn't be that concerning, if you change our way of creating the signature to accommodate their new v2 and it works in sandbox I would say that would a good sign.

[2021-03-21 23:45] earce commented on #3211
@walec51 have you had any chance to look into this?

[2021-03-23 02:43] earce opened #3985 "5.0.7 release"
Hi @timmolter wanted to see what your thoughts were on cutting a release in the next week?

[2021-03-23 08:06] timmolter commented on #3985
yes, I could do that!

[2021-03-24 09:28] valentyn1789 opened #3987 "Binance invocationUrl is null"
The problem came up this morning
It is not possible to create an BinanceExchange
![image](https://user-images.githubusercontent.com/79843713/112286418-f9905900-8c93-11eb-9fdf-0b4af82ccac6.png)

org.knowm.xchange.exceptions.ExchangeException: Failed to initialize: null

	at org.knowm.xchange.binance.BinanceExchange.remoteInit(BinanceExchange.java:171)
	at org.knowm.xchange.BaseExchange.applySpecifi

[2021-03-25 13:57] walec51 commented on #3211
@earce sorry for the delay, I've posted a feature request to resilience4j: https://github.com/resilience4j/resilience4j/issues/1387

[2021-03-25 14:09] earce commented on #3987
Associated with https://github.com/knowm/XChange/pull/3989

[2021-03-26 00:39] matt-nydig opened #3991 "bitstamp v2 API should be taking UUID nonces"
It appears that methods that call the Bitstamp v2 api are sending `Long` nonces rather than UUID nonces. This breaks with a nonce error much of the time.

Some background: I just upgraded some code that fetches balances from Bitstamp to xchange 5.0.6, which includes a change to use the v2 API for fetching balances: https://github.com/knowm/XChange/commit/dd134e31dd50663b30bb61ae19150e7b6d387e0f

S

[2021-03-26 00:57] earce commented on #3991
Hi Matt,

Taking a glance at the Bitstamp API and I see that the V2 API does in fact have some significant changes from the V1 as far as expected nonce. We will probably need to create a custom Bitstamp nonce generator because the documentation has some pretty specific requirements namely:

- lowercase,
- 36 char string,
- each nonce can be used only once within a timeframe of 150 seconds.

I woul

[2021-03-26 01:18] matt-nydig commented on #3991
`UUID.randomUUID()` uses, according to Java's docs, a "a cryptographically strong pseudo random number generator." This implies 128 bits of high entropy data. There is no remotely realistic possibility, under these assumptions, and given the rate limits of the Bitstamp API, of generating a collision within 150 seconds. We should have a look at that... I'm a bit time constrained myself right now, t

[2021-03-26 01:22] earce commented on #3991
Makes sense, sounds good to me!

[2021-03-29 08:00] tonykwok1992 opened #3994 "OKEx V5 API support"
https://www.okex.com/docs-v5/en/#overview

[2021-03-29 08:01] tonykwok1992 commented on #3987
PR merge, can you test if it is fixed now?

[2021-03-29 12:41] earce commented on #3994
These things tend to be self-serve, feel free to pull a PR!

[2021-04-03 00:52] victorgendre opened #4002 "feature / binance futures websocket"
Hi all, I am new to XChange (and actually to java ...) and was wondering if there was anything in the pipeline with regards to adding [binance futures market stream](wss://fstream.binance.com)

If not would you have suggestions about the best way to approach this new feature ? Eg: creating a  `BinanceCoinMarginedStreamingExchange `vs augmenting the existing `BinanceStreamingExchange `class ?

Than

[2021-04-03 14:06] earce commented on #4002
I think we would probably want to augment the existing class, we are open to feature proposals.

I am not aware of anyone actively working on it, you can also ask our discord

[2021-04-03 16:22] timmolter commented on #3985
As soon as rescu 2.1.0 is released, I'll release 5.0.7

[2021-04-03 16:33] earce commented on #3985
@mmazi

[2021-04-03 17:06] mmazi commented on #3985
https://github.com/mmazi/rescu/issues/136 must be fixed first. I'll probably do it in the next week.

[2021-04-03 19:34] victorgendre commented on #4002
Cheers, keen to give it a go. Will also ask on discord.

[2021-04-04 08:09] mmazi commented on #3985
I released rescu 2.1.0. Should be available in Maven central repo in a few hours.

[2021-04-04 21:37] jessethouin commented on #3238
Was this ever resolved or revisited? I can't find anything related to newOrderRespType, commission, or commissionAsset in any XChange code.

[2021-04-05 12:01] timmolter commented on #3985
Thanks, @mmazi !

[2021-04-06 13:52] timmolter commented on #3985
done

[2021-04-06 13:52] #3985 closed

[2021-04-06 18:24] earce commented on #3985
Is this on maven central?

[2021-04-08 07:49] deniben opened #4008 "Binance depth of orderbook limit"
Hi! Understood that max limit depth is 5000, but it's nothing, maybe somehow can change max limit?
![image](https://user-images.githubusercontent.com/19304301/113988302-00a09500-9858-11eb-9b9d-142acdaff882.png)

[2021-04-12 12:00] deniben opened #4011 "BinanceException: Way too much request weight used; IP banned until 1618228675371."
[code]
How to use websocket?

[2021-04-12 13:27] earce commented on #4011
https://github.com/knowm/XChange#websocket-api

[2021-04-12 13:27] #4011 closed

[2021-04-12 13:27] earce commented on #4008
Max limit is something on the exchange side, it cannot be changed on our end

[2021-04-12 13:27] #4008 closed

[2021-04-14 10:19] joakjo commented on #3991
Bitstamp will also stop supporting HTTP API v1 later this year, which will require using the new v2 authentication (header based as opposed to sending key, signature and nonce as request parameters which both `BitstampAuthenticated` and `BitstampAuthenticatedV2` do atm)

[DEPRECATION WARNING
API v1 authentication and v1 endpoints are being deprecated and will soon no longer be available.](https://

[2021-04-14 19:53] dgosset opened #4014 "Stream FTX : Checksum is not correct!"
Hi,

I try the stream with FTX (code is like the example) and this part cause an issue : Checksum is not correct!

class FtxStreamingAdapters

                if (!calculatedChecksum.equals(message.getChecksum())) {
                  throw new RuntimeException("Checksum is not correct!");
                }
If i comment this lines (88/89/90), it's worked. I receive the orderbook.

[2021-04-14 21:25] bitcoinmat-dev commented on #4014
what is the issue? Can you please send the stacktrace. Thanks

[2021-04-14 21:26] makarid commented on #4014
What is the issue? Can you please send the stacktrace? Thanks

[2021-04-14 22:40] mchmielarz opened #4015 "Wrong fee currency when fetching trade history from Poloniex"
I'm fetching the history of trades from Poloniex. The history contains trades where a fee was taken in TRX currency due to a special discount provided by the exchange. However, I see these trades have the wrong fee currency set.

For example, trade for pair ETH/USDT has fee currency set to USDT, instead of expected TRX.

[2021-04-14 22:47] mchmielarz commented on #4015
I see the API provides no such information. Or the documentation is not up to date :(

[2021-04-15 10:39] makarid opened #4016 "[Streaming] Resubscribing after error on streaming"
Hello, i would like to ask the ones that know how NettyStreamingService internals works. How can i send a resubscribe message if an error occurs on the stream? Do i need to do it only on the ExchangeStreamingService class or can i do it also for example on ExchangeStreamingMarketDataService class? Thank you

[2021-04-15 10:41] makarid commented on #4014
This happens after an unsubscribe message send and then trying to reconnect. I am investigating right now. If anyone knows about  the internal mechanism of NettyStreamingService please add any comment on this issue . Thanks

[2021-04-15 21:08] dgosset commented on #4014
Hi @makarid,

I comment the checksum part to work, and i don't understand if the current code (xchange) match with the FTX Documentation.

Did you worked with this stream orderbook and FTX?
Because, the stream always add values on my orderbook. And the init doesn't work for me.

https://docs.ftx.com/#orderbooks
Initial snapshot
Upon subscribing, you will receive one snapshot of the orderbook (part

[2021-04-15 22:14] makarid commented on #4014
I think you are doing it wrong. No need to update your local orderbook like this. You just need to tell that:

youLocalOrderbook = streamingOrderbook;

[2021-04-16 07:04] #3105 closed

[2021-04-16 11:59] goberson commented on #3982
@straumat @earce
Hey guys,
Did you try something here? Since i'm working with KuCoin I have heavy interest on this point. More or less two weeks left... Unfortunately I did not study XChange (i'm only using it..) yet and it most probably would take me too much time to understand the architecture and where to change what to adapt to the new KuCoin API. In the meantime, here a bit of information:
ht

[2021-04-16 14:05] straumat commented on #3982
@goberson Hi in fact, on the sanbox, i created a new API key (what they call 2.0 API key) and the sandbox login is working now. So maybe no change is required to Kucoin. I wait for their definitive reply before closing this issue

[2021-04-16 14:14] goberson commented on #3982
@straumat Oh, this looks like a positive thing. So you did not had the balls to go with that on production yet. Any plans to give it a try? Knowing Kucoin, i would not be surprised if they are differences between sandbox and prod. ;-)

[2021-04-16 14:16] straumat commented on #3982
@goberson In fact, it's in production :)
I'm the developer of [Cassandre](https://github.com/cassandre-tech/cassandre-trading-bot), a spring boot starter allowing Java developer to develop their own bot. And I'm in production since more than 6 months with Kucoin

[2021-04-16 14:19] goberson commented on #3982
@straumat Got it. So did I understand correctly that you use the API V2 Key on production?
Or only API V1 on production and API V2 on sandbox ?

[2021-04-16 14:22] straumat commented on #3982
API V2 Key on sandbox & production

[2021-04-16 14:23] goberson commented on #3982
Okay. Thank you. Then I'll give it a try too. ;-) And so we could close this issue right?

[2021-04-16 14:28] #3982 closed

[2021-04-20 04:18] andrewyuyang opened #4019 "build fails?"
Hi I have this problem ever since upgrading from 4.4.2. this line is causing it:
    static MarketDataService kucoinMarketDataService = ExchangeFactory.INSTANCE.createExchange(KucoinExchange.class).getMarketDataService();

it has the following messsages:

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual depr

[2021-04-20 04:19] andrewyuyang commented on #4019
The only thing I can think of is the use of static. But again this was not a problem before. If anyone can help, thanks in advance!

[2021-04-20 10:35] pecpwee commented on #3902
you need to import the  v2 version of CoinbaseExchange ( org.knowm.xchange.coinbase.v2.CoinbaseExchange ) to create the Exchage object.
the CoinbaseExchange of v1 had been abandoned

[2021-04-21 11:43] mrmx opened #4020 "Split XChange core repo and each xchange in multiple repos"
As this project is getting bigger, it would be great to split it in multiple repos, using git submodule for linking the core superproject to each xchange implementation repo.

[2021-04-21 11:55] walec51 commented on #4020
this would make core refactors much harder to work with (multiple PRs instead of one) and implementatiosn would fall out of sync fast

all pain but I see no gains from this approach

[2021-04-21 20:46] IhorBr opened #4021 "Bitfinex init exception"
Caused by: java.lang.IllegalStateException: Duplicate key DOGE/USD (attempted merging values 0.094716 and 0.30776)
        at java.base/java.util.stream.Collectors.duplicateKeyException(Collectors.java:133)
        at java.base/java.util.stream.Collectors.lambda$uniqKeysMapAccumulator$1(Collectors.java:180)
        at java.base/java.util.stream.ReduceOps$3ReducingSink.accept(ReduceOps.java:169)

[2021-04-21 20:58] cyrus13 commented on #4021
This is because Bitfinex added DOGE/USD and it also has a pair: XDC/USD which appears to be a different coin (https://coinmarketcap.com/currencies/xinfin-network/).

The problem is in this part of code in Currency.java:

`  public static final Currency DOGE = createCurrency("DOGE", "Dogecoin", null, "XDC", "XDG");`

that maps both DOGEUSD and XDCUSD to the same pair.

Apparently XDCUSD is the DOGE

[2021-04-21 21:17] IhorBr commented on #4021
Thanks for the answer.
other exchanges are working fine( CoinbasePro,Binance,Bitstamp,Exmo,Kraken). Only Bitfinex has a problem

[2021-04-22 07:36] mathvdh commented on #4021
Having the same problem here ... I'm not sure how I can help with solving it .. ?

[2021-04-22 10:58] JJag opened #4022 "[Kraken] Null timestamps in KrakenStreamingMarketDataService.getOrderBook"
Version: 5.0.7

How to reproduce:
[code]

From what I see the problem is in this method in `KrakenStreamingAdapters`:
[code]
The JSON array from WS API looks like this: `["54297.60000","3.62628284","1619087996.966621"]` - the third element is a timestamp and it is being ignored in the adapter code which sets `null` timestamp explicitly.

[2021-04-22 12:13] mathvdh commented on #4021
From my current investigation, @cyrus13  is right and it's a problem of confusion between Doge (DOGE) and XinFin Network (XDC). Because Kraken used to call DOGE XDC But apparently now it's XDG !

Fixing 2 lines in Currency.java so that XDC becomes XinFin and only DOGE and XDG points to doge fixed it for me.

I will submit PR.

[2021-04-22 12:23] mathvdh commented on #4021
I've submited a PR with the fix [here](https://github.com/knowm/XChange/pull/4023)

[2021-04-22 13:43] mathvdh opened #4024 "[Bitstamp] Some Currency Metadata and CurrencyPair Metadata are null"
When calling the functions `.getCurrencies` and `.getCurrencyPairs` which are defined in `org.knowm.xchange.dto.meta.ExchangeMetaData`.

Some of the metadata were null. Basically everything that was not defined in `/resources/bitstamp.json` was returning null for the metadata.

After inspection, this is because the `remoteInit()` function of `org.knowm.xchange.bitstamp.BitstampExchange` is not doi

[2021-04-22 14:00] mathvdh commented on #4024
I forgot that my current develop branch is already out of sync, so the PR #4023 contains both the fixes for #4021 and #4021

[2021-04-22 14:17] PanagiotisDrakatos opened #4025 "How to get all historical data from a specific asset?"
i am wondering how to get all historical data from a specific asset from the start until the end. i am trying something like this with no success

[code]

[2021-04-22 14:50] BePe2 commented on #4021
A workaround may be the following (If you create the BitfinexExchange-instance in a similar way):

**spec.setShouldLoadRemoteMetaData(false);**
e = ExchangeFactory.INSTANCE.createExchange(spec);

[2021-04-22 15:01] mathvdh commented on #3991
Hi All,

Any progress on this ? I was trying to check it a bit but I'm still lost ... I'm willing to spend some time on it but I only made a few (very small) contributions to this project and this one seems more substantial ... Any hints ?

[2021-04-23 08:12] timmolter commented on #4022
It's probably a new field or just was never implemented. Please consider submitting a PR with the fix.

[2021-04-23 08:13] #4020 closed

[2021-04-23 08:17] timmolter commented on #4019
it looks like you're trying to run it via gradle in intellij using the intellij jvm. Please try running it via maven from the command line using a Java JVM from adopt open jdk version 8 or higher.

[2021-04-23 08:17] #4019 closed

[2021-04-23 11:58] JJag commented on #4022
Actually, it worked in 5.0.6. I think I'll be able to look into it deeper next week.

[2021-04-23 17:36] earce commented on #4025
This is very dependent on the data you want to get and if the exchanges support queries of this nature, many do not. I would defer to individual exchange APIs and if there is one where the xchange api does not have it you can submit a PR to add it!

[2021-04-23 17:36] #4025 closed

[2021-04-23 17:37] earce commented on #4024
Closing as merged

[2021-04-23 17:37] #4024 closed

[2021-04-23 17:37] earce commented on #4021
Closing as fixed in merged review

[2021-04-23 17:37] #4021 closed

[2021-04-23 17:43] earce commented on #4016
If there is a disconnect or an exception is throw, that should normally trigger a disconnect and reconnect as far as I remember

[2021-04-23 17:44] earce commented on #3991
@joakjo that's interesting because some of the API endpoint present in v1 I do not see in v2

[2021-04-24 20:34] straumat opened #4028 "Coinbasepro: MarketOrder incorrect (currency pair and type)"
_The first listed currency of a currency pair is called the base currency, and the second currency is called the quote currency. When you buy a currency pair, you buy the base currency and sell the quote currency so when you are making a buy on BTC/EUR, you should be getting BTC for euros._

It works this way with other exchanges (like kucoin for example) but, with Coinbasepro things don't work th

[2021-04-24 21:41] straumat commented on #4028
In the coinbase [place a new order documentation](https://docs.pro.coinbase.com/#place-a-new-order) I read this:
_FUNDS
The funds field is optionally used for market orders. When specified it indicates how much of the product quote currency to buy or sell. For example, a market buy for BTC-USD with funds specified as 150.00 will spend 150 USD to buy BTC (including any fees). If the funds field is

[2021-04-24 22:14] straumat commented on #4028
In the coinbase [place a new order documentation](https://docs.pro.coinbase.com/#place-a-new-order) I read this:
_FUNDS
The funds field is optionally used for market orders. When specified it indicates how much of the product quote currency to buy or sell. For example, a market buy for BTC-USD with funds specified as 150.00 will spend 150 USD to buy BTC (including any fees). If the funds field is

[2021-04-24 22:23] straumat commented on #4028
With this change, it seems to work:
[code]

I get the following results:
![coinbase](https://user-images.githubusercontent.com/536498/115974342-29b16d00-a55c-11eb-8647-935ab139b33d.png)
![coinbase](https://user-images.githubusercontent.com/536498/115974352-48afff00-a55c-11eb-945f-401240785deb.png)

Only strange things, the size of the buy....

[2021-04-24 23:13] Flamarial opened #4029 "Binance trades streaming doesn't work"
**Version:** 5.0.7

I've encountered some trouble with streaming Binance. I subscribe at connect time with a `ProductSubscription,`. but I don't seem to be getting any messages through at all via `subscribe()`. I'm running the most basic example in Android:

[code]

The same exact code refactored with `KrakenStreamingExchange` works 100% fine. Likewise, directly subscribing to the Binance WebSocke

[2021-04-25 10:02] phraktle commented on #4014
Indeed, the most basic example fails with a checksum error:

[code]

[2021-04-25 10:48] makarid commented on #4014
Thank you for your message! I am looking forward to make it much better,
please feel free to give any advice how to implement it. Thanks

On Sun, Apr 25, 2021, 1:02 PM Viktor Szathmáry ***@***.***>
wrote:

[2021-04-26 19:03] javialbors opened #4035 "Kucoin: Market order buying base currency with quote currency not working"
I tried placing market orders for some coins but when setting the amount in the market order constructor it gets referred to the base currency amount not the quote currency amount. For example: I tried buying DOGE coin with 5 USDT so I executed this:

[code]

I expected to buy as many DOGE coins as I could with 5 USDT but instead I bought 5 DOGEs:

<img width="1268" alt="Captura de pantalla 2021-0

[2021-04-27 13:45] davidjirovec commented on #3994
As of March 31, API v5 is available to all Unified Account users. Since API v3 will be discontinued shortly after v5 has been fully rolled out, we encourage users to upgrade their API to v5 for better functionalities and a more seamless trading experience.

https://www.okex.com/academy/en/api-trading-explained-okex-api-v5-upgrade-capabilities-benefits

For anybody who already uses xchange okex int

[2021-04-27 18:21] #4022 closed

[2021-04-28 12:06] mathvdh commented on #3991
I've implemented locally all the described changes but I'm still getting a `Invalid nonce (HTTP status code: 403)`. Even if when I debug I see that the nonce in the body is correct , example body :

[code]

Which has a correct nonce it seems : 078fc0b4-2685-4a0f-9102-419f93709108

To be clean All the xchange lib tests are passing, but I have my own test suite which actually tests with real (test)

[2021-04-28 12:14] joakjo commented on #3991
@mathvdh Hi

to use the 36 char string as nonce instead of a number you need to use auth version 2.

version 1 will not accept a string as nonce and you will get `Invalid nonce` as you described.

In version 2 you need to put key, signature and nonce as headers instead of as parameters, along with some other headers (like version).

Compare the two versions here: https://www.bitstamp.net/api-depre

[2021-04-28 12:15] mathvdh commented on #3991
Hi @joakjo , Yes I was seeing that we are actually sending form params instead of headers .. I'm working on it .. Thanks

[2021-04-29 17:27] earce commented on #4028
Is this something that has always been an issue for you or as of a certain version?

[2021-04-29 18:09] dgosset opened #4041 "[FTX][STREAM] UserTrade : NotYetImplementedForExchangeException"
Hi,

I try to have realtime/websocket with FTX and a subaccount.
I did something wrong? or this is not "Not Yet Implemented" for real?

Exception in thread "main" org.knowm.xchange.exceptions.NotYetImplementedForExchangeException: getStreamingTradeService
        at info.bitrich.xchangestream.core.StreamingExchange.getStreamingTradeService(StreamingExchange.java:115)
        at com.swtm.tradingbot

[2021-04-29 18:45] piechos92 opened #4043 "[Bitfinex] Duplicate key DOGE/USD"
When invoking applySpecification() method on exchange I get this exception:

`Caused by: java.lang.IllegalStateException: Duplicate key DOGE/USD (attempted merging values 0.086684 and 0.30382)
	at java.base/java.util.stream.Collectors.duplicateKeyException(Collectors.java:133)
	at java.base/java.util.stream.Collectors.lambda$uniqKeysMapAccumulator$1(Collectors.java:180)
	at java.base/java.util.str

[2021-04-29 19:09] straumat commented on #4028
@earce In fact, I just started using the cionbasepro.
For my project [Cassandre](https://github.com/cassandre-tech/cassandre-trading-bot), I was only using kucoin until last weed.

[2021-04-30 11:38] dgosset commented on #4041
Ok, i saw it is not implemented : FtxStreamingTradeService doesn't exist.

Any help to implement this? I try to find an example with auth.

I coded a FtxStreamingTradeService.getUserTrades() with Auth (sign, etc.)
I started but i have a

2021-04-30 13:23:56.339  INFO   --- [           main] i.b.x.ftx.FtxStreamingService            : Subscribing to channel fills:BTC/USD
2021-04-30 13:23:56.631 ERRO

[2021-04-30 11:50] dgosset commented on #4041
@makarid i saw you did a good job with orderbook. Did you try to implement the private part with FTX?

[2021-04-30 14:36] earce commented on #4035
@straumat maybe you can opine?

[2021-04-30 16:04] dgosset commented on #4041
Ok, i did the atuh part, and get the filled orders. I will try to finish that & propose a pull request

[2021-04-30 16:37] piechos92 commented on #4043
I run this with development branch and now I get exception few lines further

`io.taxtoken.core.exception.ExchangeApiIntegrationException: null
	at io.taxtoken.core.dataintegration.api.exchange.XChangeAbstractIntegrationService.integrateTransactions(XChangeAbstractIntegrationService.java:95)
	at io.taxtoken.core.dataintegration.api.exchange.IntegrationExchangeApiService.performIntegration(Integrat

[2021-04-30 16:43] earce commented on #4043
This is something else `si.mazi.rescu.HttpStatusIOException: HTTP status code was not OK: 500`

[2021-04-30 16:52] piechos92 commented on #4043
Yes. Was this issue known already?

[2021-04-30 17:00] piechos92 opened #4044 "[Itbit] Null pointer exception when account has wallet without any transactions"
I have itbit account with 2 wallets. One of them has transactions in the history and the other doesn't. When trying to integrate with this itbit account I got NPE in ItBitAccountService > getFundingHistory. The reason for NPE is that fundingHistory is null in my case.

Simple NPE check resolves this issue:

`for (ItBitFunding itBitFunding : funding.fundingHistory) {
        FundingRecord fundingRe

[2021-04-30 17:03] earce commented on #4044
Please submit a PR for this fix and I can take a look at it.

[2021-04-30 17:05] earce commented on #4043
I am not aware of this issue. Not sure if anyone else is, you can try the discord group.

[2021-04-30 19:16] makarid commented on #4041
i am sorry for my late response. I have already implemented the userTrade
websocket.

Στις Παρ, 30 Απρ 2021 στις 2:50 μ.μ., ο/η Denis ***@***.***>
έγραψε:

[2021-05-01 14:42] earce opened #4045 "5.0.8 release"
hi @timmolter if you have some time to cut the next release this week that would be awesome!

[2021-05-01 18:01] straumat commented on #4035
@javialbors & @earce
Hi, I add a similar [issue](https://github.com/knowm/XChange/issues/4028) with Coinbase library and I wrote a fix that seems to work. But my project [Cassandre](https://github.com/cassandre-tech/cassandre-trading-bot) is using Kucoin Xchange library since more than 6 months and I have no problem. Positions, opening & closing market orders works very well.

Can you compare your

[2021-05-02 02:40] wfucksky opened #4047 "how to get binance kline-candlestick-streams"
here is https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-streams

[2021-05-02 14:49] earce commented on #4047
This should be an issue, please reopen this ticket if you have an issue

[2021-05-02 14:49] #4047 closed

[2021-05-02 21:00] timmolter commented on #4045
ok, I'll do it this week some time. Thanks for the reminder...

[2021-05-03 17:06] piechos92 commented on #4044
Ok

[2021-05-03 23:00] kpe opened #4048 "[Binance][Streaming] access to the raw depthUpdate stream"
Hi,
I would like to store locally to a file some raw stream data from binance like `depthUpdate` and `aggTrade`. While the `BinanceStreamingMarketDataService` provides a `getRawTrades()` there is no `getRawOrderBookUpdates()`.

I have prepared a patch, but as I'm new to the project, I hope someone can take a look.

[2021-05-03 23:16] kpe commented on #4048
this is now #4049 - I created the issue before the pull request

[2021-05-03 23:16] #4048 closed

[2021-05-04 16:09] det-mark opened #4050 "[Bittrex] Trade history query support for TradeHistoryParamsTimeSpan"
The Bittrex `GET /orders/closed` API (https://bittrex.github.io/api/v3#operation--orders-closed-get) used for querying trade history supports `startDate` and `endDate` parameters to specify a time range for the query.

At present the implementation of `BittrexAuthenticated.getClosedOrders` does not support these parameters, and so `BittrexTradeService.getTradeHistory` ignores any time range that m

[2021-05-04 16:23] earce commented on #4050
Feel free to submit a PR we can review

[2021-05-05 16:11] timmolter commented on #4045
done

[2021-05-05 16:11] #4045 closed

[2021-05-05 18:59] garciapd commented on #4028
Hi, the CoinbasePro implementation is like that on purpose, in their API you can define if you are placing the order in base or quote, in the case of Market Order when buying, i see better to specify the quote, as you specify the amount in EUR you want to spend at the market price. Although it is true that the other exchanges works as you were expected and can get confusing.

[2021-05-05 19:56] straumat commented on #4028
@garciapd from my tests, you are using the XChange API to ask for something in a normalized way and you don't get the expected result. Coinbase can specify things on its own but XChange is supposed to provide the same behavior no matter the exchange

[2021-05-05 20:03] earce commented on #4028
@straumat I would mostly agree with you except in the case where there are things which are very exchange specific. Some websocket apis have the ability to send subscriptions while the socket is open, others need the pairs upfront.

If this is significant enough you can submit a PR and we can review it.

[2021-05-05 20:04] straumat commented on #4028
@earce yes but coinbase says the parameter xchange is not mandatory... so why are we fulfilling it as it creates a strange behavior ?

[2021-05-05 20:05] earce commented on #4028
I am not sure I was not involved in the original implementation but if it does not make sense here we can modify it.

[2021-05-05 21:05] garciapd commented on #4028
@straumat I agree there have to be consistency, as much as possible. There are also implementations where the amount to trade need to include the fees and others not.

If you decide to change it, I would suggest to add it in the release notes, as even if it brings consistency which is good, there is a breaking change and will affect many people.

[2021-05-05 21:08] straumat commented on #4028
@garciapd indeed, you are right!

[2021-05-05 21:31] #4028 closed

[2021-05-07 17:51] iweika opened #4054 "New currency is not added"
![image](https://user-images.githubusercontent.com/58839923/117489156-dc8fbb00-af9f-11eb-9789-abd3c03382cd.png)
FIL  xch    not   added

[2021-05-08 22:23] earce commented on #4054
Please open a PR

[2021-05-08 22:24] #4050 closed

[2021-05-10 09:23] 2557606319 opened #4057 "vpn连接问题"
使用了vpn代理后，通过websocket 或者okhttp可以连接上 Binance、HUOBI、OKEX；使用Xchange连接报错 提示连接超时

[2021-05-10 12:32] otbalance opened #4059 "Binance WAPI removal"
According to Binance info:

"To optimize API performance and provide better trading services for our API users, Binance will delist all WAPI endpoints from the Binance API at 2021-08-01 2:00 AM (UTC). Information on WAPI endpoints will be removed from Binance API Documentation at approximately 2021-06-01 2:00 AM (UTC). "

Do you plan to have a binance client compatible with their changes ?

If so

[2021-05-10 18:22] dgosset opened #4060 "FTX : Acount : Balance Free > Total : how is it possible"
hi,

I'm using xchange for FTX. when i test the balance with a subaccount, i have:

FtxWalletBalanceDto{coin=BTC, free=0.00130863, total=0.00129959}
FtxWalletBalanceDto{coin=USD, free=37.14313048, total=1.03116755}

FYI : the principal account is empty. No mistake

[2021-05-10 21:02] makarid commented on #4060
This is because of margin that FTX automatically has it if you enable the
margin trading.

Στις Δευ, 10 Μαΐ 2021 στις 9:22 μ.μ., ο/η Denis ***@***.***>
έγραψε:

[2021-05-11 06:40] dgosset commented on #4060
Thank you @makarid . Makes sense.

Should be greet if FTX add more data in this part of the FTX API. Because it's difficult to know the real value.
In fact i try to know the real free amount to be sure to not automatically be on margin.
Same think, it should be perfect if FTX add a param/flag to enable or not margin in buy or sell.

[2021-05-11 14:21] maghteriton opened #4062 "Faulty Withdrawal Fees From ExchangeMetaData"
Hi, I am fairly new to Xchange and right now I am trying to find my way around it. Just recently I realized there might be some problems with withdrawal fees. Let me show you what I mean with AION ;

[code]

When I check withdrawal fees from Binance web site from:
 https://www.binance.com/en/fee/depositFee

I see that AION has 2 networks and none of them are 1.2.

[2021-05-13 15:34] #4062 closed

[2021-05-17 01:18] earce commented on #4059
Hi if there is a feature you want please submit a PR

[2021-05-18 07:54] otbalance commented on #4059
Binance will decommission all WAPI endpoints. Currently XChange binance connector is using them. Are you aware of that change? They are going to stop supporting all WAPI endpoints by August 2021.

Do you plan to remove them and change them to supported ones?

[2021-05-18 14:53] earce commented on #4059
I am not aware of anyone working on this, this project is community driven and a product of folks generously giving their time to keep this project up to date!

[2021-05-19 09:10] otbalance commented on #4059
Ok, we will try to research what should be changed and maybe we can help out with this.

[2021-05-19 10:35] mrmx commented on #4059
I'm aware and maybe can help with that due to a project I'm building and focused in Binance as first target.

[2021-05-19 12:49] mrmx commented on #4059
Feel free to start it on your fork and announce it as a WIP PR

[2021-05-19 16:17] GodFuper commented on #4041
Could you make a pull request? Also interested in auth on FTX

[2021-05-19 19:50] makarid commented on #4041
i will make tomorrow when i have time.

Στις Τετ, 19 Μαΐ 2021 στις 7:18 μ.μ., ο/η GodFuper ***@***.***>
έγραψε:

[2021-05-22 17:51] vaseok10 opened #4079 "Binance testnet/sandbox initialization/authentication problem"
Unable to initialize Binance sandbox.

implementation pull request: https://github.com/knowm/XChange/pull/4042

[2021-05-23 02:15] mdvx opened #4080 "[Kraken] Orderbooks are getting crossed under load"
KrakenOrderbookExample

`        List<CurrencyPair> currencyPairs = Lists.list(CurrencyPair.BTC_USD, CurrencyPair.LTC_USD, CurrencyPair.ETH_USD, CurrencyPair.BTC_EUR);

        currencyPairs.forEach(cp -> {
            krakenExchange
                    .getStreamingMarketDataService()
                    .getOrderBook(cp)
                    .subscribe(
                            s -> {
//

[2021-05-23 03:03] mdvx commented on #4080
I was also able to reproduce in unit test after running for a little longer
so far only CROSSED book, and not the milder case of a LOCKED book.

[2021-05-23 03:15] mdvx commented on #4080
Ah, the Cross occurs at quantity == 0, that is the delete signal.

` if (bid.getOriginalAmount().compareTo(BigDecimal.ZERO) > 0 && ask.getOriginalAmount().compareTo(BigDecimal.ZERO) > 0) {
                                    if (bid.getLimitPrice().compareTo(ask.getLimitPrice()) > 0)
                                        LOG.error("CROSSED book");
                                    else if (bid

[2021-05-23 03:20] mdvx commented on #4080
timestamp=Sat May 22 23:13:30 EDT 2021
timestamp=Sat May 22 23:15:23 EDT 2021

1m53s diff on top of book?

That leads me to speculate that the delete signal (qty==0) is being incorrectly processed.

[2021-05-23 03:48] mdvx commented on #4080
`
//KrakenStreamingAdapters
public static OrderBook adaptOrderbookMessage(OrderBook orderBook, Instrument instrument, ArrayNode arrayNode)
{
...

        return new OrderBook(
                orderBook.getTimeStamp(),
                Lists.newArrayList(orderBook.getAsks().stream().filter(lo -> lo.getOriginalAmount().compareTo(BigDecimal.ZERO) != 0).collect(Collectors.toList())),
                Li

[2021-05-23 06:36] nielsdraaisma commented on #4080
I will update this PR, I found some other crossed book cases but am pretty confident I’ve got a new fix for that.

[2021-05-24 02:03] #3991 closed

[2021-05-24 02:04] #3987 closed

[2021-05-24 02:05] #3866 closed

[2021-05-24 18:15] Phoenix616 opened #4084 "[Kraken] Subscribing to order changes is broken"
Trying to subscribe to order changes with `KrakenStreamingTradeService#getOrderChanges(CurrencyPair)` with xchange-stream-kraken 5.0.9-SNAPSHOT throws the following error:

[code]

[2021-05-26 22:12] gmax0 opened #4088 "Potential Performance Improvement: Sharing NioEventLoopGroups across modules"
Noticed that each imp of a NettyStreamingService will use a newly created EventLoopGroup:
https://github.com/knowm/XChange/blob/develop/xchange-stream-service-netty/src/main/java/info/bitrich/xchangestream/service/netty/NettyStreamingService.java#L194

When utilizing multiple modules, this becomes quite resource intensive. Worth looking into an option to share a NioEventLoopGroup across streaming

[2021-05-27 19:47] raph431 opened #4089 "getExchangeSymbols() throws a NullPointerException with FtxStreamingExchange"
After creating a StreamingExchange object
StreamingExchange exchange = StreamingExchangeFactory.INSTANCE.createExchange(exSpec);
calling exchange.getExchangeSymbols() throws a NullPointerException.
It works with other streaming exchanges though.

[2021-05-28 09:34] raph431 commented on #4089
Apparently for some markets you need to call .remoteInit() before you can call getExchangeMetaData().getCurrencyPairs()

[2021-05-28 09:34] #4089 closed

[2021-05-29 19:13] sf202020sf opened #4092 "Binance Klines Websocket"
Hello,

Is there a way to to get reactive the klines from binance?
https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#klinecandlestick-data
In a Websocket and with a method onCandlestickEvent method or somthing similar which must be implemented  and can handled reactivly?
Do you have an example code for this?

I just find the BinanceMarketDataServiceRaw lastKline method but I

[2021-05-30 16:42] gewure commented on #4080
any updates on this?

[2021-05-31 00:53] mdvx commented on #4080
What ever the bug, I think it effects more than just Kraken, I saw similar on another exchange

[2021-05-31 15:05] earce commented on #4092
Use binance xchange-stream-binance for all websocket data

[2021-05-31 15:09] earce commented on #4084
Has this worked in any version for you?

[2021-05-31 15:12] Phoenix616 commented on #4084
No idea, first time using this functionality.

[2021-05-31 15:13] earce commented on #4084
Can you give this a try on 5.0.8, 5.0.7 or 5.0.6?

[2021-05-31 17:22] gewure commented on #4080
This is very nasty, since reliance on the integrity of streaming-data is paramount for most systems using xchange, i guess.
It is, for our application.

What other exchange did you encounter this @mdvx ?

[2021-06-01 08:02] sf202020sf commented on #4092
thx for your answer - do you have a small code example how to get Candlesticks/Klines for defined timeframes?
I just can find examples for trades and Account Data but the Klines method is not included in streams.

[2021-06-01 13:21] earce commented on #4092
klines may not have been implemented by anyone, if that is the case you may need to yourself

[2021-06-01 13:53] mathvdh commented on #3258
This can be closed as an implementation exists now

[2021-06-01 14:02] mathvdh opened #4095 "[FTX] No implementation of cancelOrder for a sub-account"
There is no possibility to cancel an order if you are using a sub-account in the current implementation.

The only cancelOrder function is :

[code]

There is no `cancelOrderForSubaccount` version like there is for example :

`placeLimitOrder(LimitOrder limitOrder)`

and

`placeLimitOrderForSubaccount(String subaccount, LimitOrder limitOrder)`

I'm not sure if it's _THE_ way to go to have a versio

[2021-06-01 14:17] mathvdh commented on #4095
I have been checking it a bit more.

Some things bother me

1) Can't we just have a version of `placeLimitOrder` which has one additional argument instead of `placeLimitOrderForSubaccount` ?

Like this :

[code]

(This does apply to many more functions ...) ?
Would it mess with the fact that placeLimitOrder is an `@Override ` ?

2) Why is the orders of the parameters different ? Why is the subacco

[2021-06-01 14:23] mathvdh commented on #4095
I'm not against 2) specifically, if there is a reason for it like it's implemented like this on other exchanges I would like to know or understand it .. that's it.

[2021-06-01 14:46] makarid commented on #4095
@mathvdh not all exchanges have subaccounts, so if you want to implement something specifically for one exchange in this example Ftx, you will need to create a new function on the Ftx.....Raw class.

[2021-06-02 12:56] douggie opened #4096 "Add support for querying solana RPC"
Having programmatic access to various block chains proves useful (i.e. bitcoincore), especially to retrieve data which is then uses to then place orders on a dex or central exchange.

It would be very helpful, for me, and I am sure others, to be able to access various information from Solana via xchange.

The first implementation i would imagine the following methods exposed via an AccountService

[2021-06-02 13:36] earce commented on #4096
This is really meant to query exchanges not blockchains.

[2021-06-02 13:36] #4096 closed

[2021-06-02 14:59] douggie commented on #4096
but we have examples of this in the project, such as bitcoincore.

[2021-06-02 15:00] douggie commented on #4096
Will just be a pain to fork the project, maintain the solana rest interface and keep it up to date.

[2021-06-02 15:07] earce commented on #4096
I haven't been a maintainer when those modules were added @timmolter can opine more on this topic, but I don't see why conflate this project with blockchain explorer libraries, they are fundamentally different things.

[2021-06-02 15:10] douggie commented on #4096
okey, and adding an account service to the serum project that queries solana adresses is a no go too?

[2021-06-02 15:14] earce commented on #4096
I think that would make sense because all Solana addresses can become addresses for exchange interaction. But I would be more curious about what that would turn into as more features are added.

I would leave it to @timmolter about where to draw the line, not sure if he cares about adding this functionality at all, this is just my opinion.

[2021-06-02 15:15] douggie commented on #4096
all I am interested is is balances for a given public key, so seems ok to raise a PR for that within the serum module.

[2021-06-02 15:19] douggie commented on #4096
i'll open another issue releated to just the serum changes.

[2021-06-02 15:37] douggie opened #4097 "Add accounts service to serum module to getting account information for given public key"
Implement an accounts service to the serum module that supports the following solana api calls

https://docs.solana.com/developing/clients/jsonrpc-api#gettokenaccountsbyowner
https://docs.solana.com/developing/clients/jsonrpc-api#getbalance

[2021-06-02 15:37] douggie commented on #4096
https://github.com/knowm/XChange/issues/4097 for the serum changes

[2021-06-02 23:28] Phoenix616 commented on #4084
They are all broken. I assume they changed what their API returns.

[2021-06-03 00:16] earce commented on #4084
Yea this needs to get code updates. I don't know of anyone is working on this right now.

[2021-06-04 12:42] mathvdh commented on #4095
@makarid well at the moment : `placeLimitOrderForSubaccount` is implemented on the `TradeService` class and not the `TradeServiceRaw` class ... so that's why I'm asking my questions ...

[2021-06-04 12:43] mathvdh commented on #4095
And other methods like `xxxForSubaccount` too ...

[2021-06-04 12:51] makarid commented on #4095
@mathvdh i am sorry, i didn't see that. In my opinion it is best to have them on Raw class. I don't remember if i put them there or someone else.

[2021-06-04 12:52] makarid commented on #4095
@mathvdh you can implement the cancelOrder(CalcelOrderParams) function in order to cancelOrders on subaccounts

[2021-06-05 13:49] aligokalppeker opened #4103 "Very very incomplete implementation of Bittrex/and many other generic services"
As i look into the implementation of Bittrex generic services implementation, i see "BittrextAdapters" class has such an incomplete and erroneous code :

` public static void adaptMetaData(List<BittrexSymbol> rawSymbols, ExchangeMetaData metaData) {`
    `    BittrexAdapters.adaptCurrencyPairs(rawSymbols).forEach(`
    `        currencyPair -> {`
    `          metaData.getCurrencyPairs().putIfAbs

[2021-06-05 17:16] makarid opened #4104 "[Binance] Problem instantiating Binance Orderbook stream"
Hello, does anyone has a problem instantiating Binance OrderbookStreaming? I am getting the following error,i have the latest version:

2021-06-05 20:13:39 INFO  BinanceStreamingService:144 - Connecting to wss://stream.binance.com:9443/stream?streams=btcusd@ticker/btcusd@depth/btcusd@trade
2021-06-05 20:13:39 WARN  ChannelInitializer:97 - Failed to initialize a channel. Closing: [id: 0xdf5bd0f4]
j

[2021-06-05 21:50] cymp commented on #4103
I don't understand your concern. It looks like the author added some information, which is better than having no information at all. Maybe (and likely) he didn't have the complete information at the implementation time and put what he knew.  Better than nothing, and you can complete the missing information if you like, but I can't understand what you see as "erroneous".

[2021-06-05 22:18] aligokalppeker commented on #4103
If you want to understand my concern get to the "Exchange Support" site in wiki and see what writes for the "Bittrex". It is stated as supported but the implementation is far away from the statement. This is misdirection or bad quality work. You should define a explicit "definition of done" process for an exchange and mark it supported as you have all of them complete.

I understand your mindset i

[2021-06-06 10:28] walec51 commented on #4103
@aligokalppeker you right - that that wiki page is out of date

but that said - this is an open source project

I only add things I need to the library

I only work on the modules I use

if you want to improve it and make it more complete - create a pull request

[2021-06-06 10:29] walec51 commented on #4097
feel free to ad an pull request

[2021-06-06 10:31] walec51 commented on #4095
yes, placeLimitOrderForSubaccount should be moved to the *Raw class

[2021-06-06 10:33] walec51 commented on #4079
this this pull request solve the problem?

can we close this issue now?

[2021-06-06 10:35] walec51 commented on #4057
write an issue in english

[2021-06-06 10:35] #4057 closed

[2021-06-06 10:46] walec51 commented on #4043
the exchange returned 500 error code which indicates and internal error in the exchange it self

it may caused by you account specific data

please set the logging level so we can see the full exchanges response and paste it here

https://github.com/mmazi/rescu#logging

[2021-06-06 18:17] mrmx commented on #4079
I left a comment with a workaround in the #4042 pull request. I'd close this issue.

[2021-06-06 19:21] aligokalppeker commented on #4103
Dear @walec51,

As i said in the first comment, I am already preparing a PR. This is software life cycle problem, can not be fixed with just one PR. The philosophy i tried to tell you is far more than "just fixing an issue within an exchange". What about other generic exchange interfaces ? What about implementing an exchanges functionality just based on "your needs" ? This is the major problem of

[2021-06-06 19:21] #4103 closed

[2021-06-06 21:37] vaseok10 commented on #4079
you can close, but that is just an workaround.

[2021-06-07 14:06] earce commented on #4104
Do you see this on any version other then the latest?

[2021-06-07 14:38] earce opened #4108 "5.0.9 release"
Hi @timmolter when you have a chance can you cut this next release?

[2021-06-07 16:11] walec51 commented on #4103
We are aware of the issue. And no - its not a life cycle issue.

What is your proposed solution?

Not to accept PRs if they do not implement every feature required by generic interface?

If so then you can remove 9 out of 10 modules from this repo and kill this project. No one ever provided a 100% complete implementation of a exchange in one PR and no one ever will. This is an on going effort - ev

[2021-06-07 19:23] Gepro83 opened #4109 "Kraken trade service not working"
I am using xchange-stream-kraken:5.0.8, and getting the same exception when placing any order (tried limit and market):

Exception in thread "main" org.knowm.xchange.exceptions.ExchangeException: [EGeneral:Invalid arguments]
	at org.knowm.xchange.kraken.service.KrakenBaseService.checkResult(KrakenBaseService.java:97)
	at org.knowm.xchange.kraken.service.KrakenTradeServiceRaw.placeKrakenOrder(Krake

[2021-06-08 09:40] makarid opened #4110 "[FTX] Does anyone is getting Read Time Out exception on FTX"
Hello, does anyone experienced any issues with FTX with read time out exception on SSL? I used Java 11 to build the project. Thanks

[2021-06-08 12:12] #4110 closed

[2021-06-08 18:35] trixprod opened #4113 "[Binance] Rate Limitation error on myTrades calls"
Hello, does the rate limitation system works properly on Binance ?
I've got some API error on calling myTrades.

Here is the stack trace
 `org.knowm.xchange.binance.dto.BinanceException: Too much request weight used; current limit is 1200 request weight per 1 MINUTE. Please use the websocket for live updates to avoid polling the API. (HTTP status code: 429)
	at jdk.internal.reflect.GeneratedConstr

[2021-06-08 18:42] walec51 commented on #4113
did you turn it on in the exchanges specification?

its off by default for backwards compatibility

[2021-06-08 18:46] walec51 commented on #4113
if you turned it on then we would have to check if they changes the weights

the current rule for this endpoint is defined in:  https://github.com/knowm/XChange/blob/4c24eb3fbc2fb1e1c8e9d663c60a0d1142c0469b/xchange-binance/src/main/java/org/knowm/xchange/binance/service/BinanceTradeServiceRaw.java#L228

[2021-06-09 08:04] ken4ward opened #4115 "Peer to peer and direct bank connectin"

[2021-06-09 08:08] #4115 closed

[2021-06-09 13:48] dgosset opened #4116 "[FTX] Can't reconnect on fills (authenticated) / (connect OK, and even Ping pong coded)"
Hi everyone,

My issue is not really an issue because i don't push my version with the authenticated fills by weboscket for FTX.

But, is there some peoples on fills websocket with FTX? I run it with succes, but some times i'm disconnect and resubscribe can't reconnect. It tried, but FTX reply with a 400 "Not logged in".

I'm on GCP, Appengine, 1 instance. So it don't think it is a mutliple instan

[2021-06-09 14:33] makarid commented on #4116
Yes, my implementation does the following, i instantiate the websocket and calling the "fills" on the FtxStreamingTradeService constructor and not on the function getUserTrades.

[2021-06-09 15:24] dgosset commented on #4116
@makarid Can you share me you FtxStreamingTradeService  with https://gist.github.com ?

[2021-06-09 15:48] makarid commented on #4116
Copy paste it from the pull request

Στις Τετ, 9 Ιουν 2021 στις 6:24 μ.μ., ο/η Denis ***@***.***>
έγραψε:

[2021-06-10 11:01] sf202020sf commented on #3861
Any update in this issue?

[2021-06-10 14:49] gewure commented on #2318
Just reactivating on this because we got a similiar issue with cex.io

[2021-06-10 17:54] imTigger commented on #4095
The `getFtxOrderHistoryForSubaccount` and many more methods are missing too.

When I hacking the code, I come up with an idea:
Instead of implementing every `*ForSubaccount` method,
will it be a good idea to just use `exchange.getExchangeSpecification().getUserName()` as subaccount parameter?

Then we just need to pass `exSpec.setUserName("some-subaccount")` to `ExchangeSpecification` when creatin

[2021-06-10 18:01] imTigger commented on #4095
The `getFtxOrderHistoryForSubaccount` and many more methods are missing too.

When I hacking the code, I come up with an idea:
Instead of implementing every `*ForSubaccount` method,
will it be a good idea to just use `exchange.getExchangeSpecification().getUserName()` as subaccount parameter?

Then we just need to pass `exSpec.setUserName("some-subaccount")` to `ExchangeSpecification` when creatin

[2021-06-11 10:06] sizmestiev opened #4118 "[Cryptofacilities] CryptoFacilitiesDigest - Java 11 code fails in Java 8 environment"
Seems like Java 11 code was introduced in CryptoFacilitiesDigest:
https://github.com/knowm/XChange/blob/e28c9b066768dbb2a4800d7b8a067b503d73ae4f/xchange-cryptofacilities/src/main/java/org/knowm/xchange/cryptofacilities/service/CryptoFacilitiesDigest.java#L52

https://github.com/knowm/XChange/commit/6ddd2e3bd568fbf64bb80dc8c39a5c5c17a80ad7#diff-6ec4afdd46cac2fa3bfee1282876504ced1c0c5fd6258a7fc77878

[2021-06-11 10:25] walec51 commented on #4118
we stopped supporting Java 8: https://github.com/knowm/XChange/issues/2945

[2021-06-11 10:29] sizmestiev commented on #4118
From which library version?
Why pom.xml still has 1.8 compatibility?

https://github.com/knowm/XChange/blob/e28c9b066768dbb2a4800d7b8a067b503d73ae4f/pom.xml#L33
https://github.com/knowm/XChange/blob/e28c9b066768dbb2a4800d7b8a067b503d73ae4f/pom.xml#L464

[2021-06-11 10:36] sizmestiev commented on #4118
I can see only suggestions here, no definite decisions at all. Have I missed something?

[2021-06-13 20:32] cymp commented on #4118
Wait what? @timmolter could you confirm?

[2021-06-13 21:28] walec51 commented on #4118
this was @timmolter last comment before closing this issue: https://github.com/knowm/XChange/issues/2945#issuecomment-640188796

my only concern was Android support there

do you need Java 8 support because your building an app android?

[2021-06-14 09:18] cymp commented on #4118
In my personal case I would prefer switching completely to J11, but the problem is, are we allowed to commit J11 non J8 complient code.

[2021-06-14 09:24] timmolter commented on #4118
Because this library is used in Android, it needs to be Java 8 compatible. I recently ran into Android issues from a developer's point of view with noncompliant Java code, and it was a pain in the butt.

[2021-06-14 09:47] sizmestiev commented on #4118
I use the library in a large enough setup (Linux) which is based on Java 8 and could not be switched to Java 11.

J11 code was introduced in 5.0.7. Just wondering - how the library was released (taking into account 1.8 compatibility checks https://github.com/knowm/XChange/issues/4118#issuecomment-859481748)?

[2021-06-14 09:54] walec51 commented on #4118
if so then the Java 8 CI build must be restored - without it we wont detect which PRs use APIs that are from Java 9 and above

the Java versions mentioned in pom to not check for that

[2021-06-14 11:14] timmolter commented on #4118
Yes, I must admit, it was never fully clarified one way or the other and always in a grey area. The way it works now is that Java 11 is used to compile it as Java 8 compatible. While even that can cause problems for Android in some edge cases, I think it's a good compromise. What do you think?

[2021-06-14 11:47] mathvdh commented on #4095
@imTigger this does sound like a good idea actually ... It would be more transparent like this ..
What do other people think ?

[2021-06-14 11:48] walec51 commented on #4118
As this issue illustrated at the moment we only ensure Java 8 bytecode compatibility - which means:
- you can import this library to a Java 8 project
- but it will always break in runtime when a method from Java 9 API or above is used and the underneath JRE does not support them

@timmolter as I understand your response Android despite requiring Java 8 bytecode provides many APIs from Java 9 an hi

[2021-06-14 11:52] walec51 commented on #4113
ok, I'll check if some request weight values changes at binance ware made on the weekend

[2021-06-14 12:09] makarid commented on #4095
I also like the idea of @imTigger

[2021-06-15 05:53] imTigger commented on #4095
Well, it would be more straightforward to deal with subaccounts.

One problem is that, current release (5.0.8) have implemented `*ForSubaccount` methods,
and they are on `TradeService` not `TradeServiceRaw`.

If now we remove `*ForSubaccount` methods,
existing project using this library will break (i.e. backward-incompatible).

Do we need to consider this or maybe release it next major release?

[2021-06-16 14:15] #4059 closed

[2021-06-16 14:15] #4079 closed

[2021-06-16 14:17] earce commented on #4108
Wanted to bump this up again :)

[2021-06-17 13:39] mathvdh commented on #2590
I have submitted a PR for this as well as the "Canceled" status which was causing problems ... Let me know if it's fine

[2021-06-18 19:03] aligokalppeker commented on #4103
Then please update the "exchange support" page to reflect the true state of the project. Also we should remove or write a warning about the "generic examples" from the introductory "readme" page though generic interface are not implemented properly.

This project should not misguide people, neither intentional or otherwise....

[2021-06-18 20:39] aminabs opened #4127 "Gateio Stream project (v5.0.9-SNAPSHOT) packaging is incorrect"
Some classes are in the default package which makes them impossible to import from any project

[2021-06-18 20:41] aminabs commented on #4127
I've add a base package to the cloned version of the project.
It turns out to be an issue with websocket subscription.

No error caught but still no notification is received.

[2021-06-19 07:47] sf202020sf commented on #4092
ok thanks for your answer - has anybody tried this here in this community? Would be great if you can help me - from my perspective there are not libs for java an github in order to get klines....

[2021-06-19 11:06] aminabs commented on #4127
Forked, fixed and made a pull request

[2021-06-19 11:06] #4127 closed

[2021-06-20 12:05] walec51 commented on #2590
thank you @mathvdh for the PR - its merged to develop

[2021-06-20 12:05] #2590 closed

[2021-06-20 13:52] aligokalppeker commented on #4108
@timmolter Any news about this issue ?

[2021-06-21 06:54] #3258 closed

[2021-06-21 07:19] timmolter commented on #4096
Feel free to add this, as it's an addition to the serum DEX.

[2021-06-21 07:35] timmolter commented on #4118
"but it will always break in runtime when a method from Java 9 API or above is used and the underneath JRE does not support them"
This is the problem that I didn't even know existed until recently. I thought that compiling Java 11 code to be Java 8 compatible would be ok, but it's not always the case. So now, we have a situation where XChange really isn't 100% Java8/Android compatible and it's bei

[2021-06-21 07:55] #4041 closed

[2021-06-21 08:03] timmolter commented on #4108
Working on it today...

[2021-06-21 10:53] sprour commented on #4108
Hi @timmolter! Is the version 5.0.9 available already, will it appear in the central maven repository today?

[2021-06-21 10:55] timmolter commented on #4108
yes, if all goes well, it should be on Maven Central in a couple hours...

[2021-06-21 15:03] gmax0 commented on #4088
Bumping, any interest in this?

[2021-06-21 15:29] #4108 closed

[2021-06-22 11:39] sprour opened #4132 "version 5.0.9 Binance getFundingHistory deserialization issue"
Binance has changed Response Format and the date has now another format in endpoint sapi/v1/capital/withdraw/history

Cannot deserialize value of type `long` from String "2021-06-22 06:00:23": not a valid Long value.

[2021-06-22 11:54] sprour commented on #4132
Hello @mrmx ! It looks like binance has a breaking change.

[2021-06-22 22:08] CaelumF opened #4135 "Build schedule? (USE_SANDBOX) - 5.0.10-SNAPSHOT?"
Hello!

USE_SANDBOX for Binance's testnet has been broken recently by Binance's changes. Deprecated WAPI is removed and 404s now I think. The latest code on this repo, with the latest pom.xml version of 5.0.10-SNAPSHOT works great and with it I can use USE_SANDBOX.

Though, the snapshots only goes up to 5.0.9-SNAPSHOT. Are these snapshots built under any criteria? Is there a schedule to build them

[2021-06-23 14:44] makarid commented on #4104
Hello, i have tried again to connect to orderbook websocket but i am getting the following error.
Caused by: org.knowm.xchange.exceptions.ExchangeException: API-key format invalid. (HTTP status code: 400)
	at org.knowm.xchange.binance.BinanceErrorAdapter.adapt(BinanceErrorAdapter.java:49)
	at org.knowm.xchange.binance.service.BinanceAccountService.getAssetDetails(BinanceAccountService.java:196)
	a

[2021-06-25 09:34] ts-00 opened #4137 "Invalid Api-Key ID in v5.0.9 but not in v5.0.8"
I updated the xchange-binance version from 5.0.8 to 5.0.9 (and changed nothing in my code). After updating the lib, the following error happens:

`Caused by: org.knowm.xchange.binance.dto.BinanceException: Invalid Api-Key ID. (HTTP status code: 400)`

Switching back to 5.0.8, no error and it works. Is there a **changelog** I can look what or why this breaks?

[2021-06-25 13:43] makarid commented on #4137
I have the same problem.

On Fri, Jun 25, 2021, 12:34 PM ts-00 ***@***.***> wrote:

[2021-06-25 22:27] ts-00 opened #4139 "Binance: no public method for /api/v3/time"
Please move the following method from BinanceTimestampFactory

[code]

to `BinanceMarketDataServiceRaw` so that the user can use the official binance api endpoint.

[2021-06-25 22:55] walec51 commented on #4139
feel free to submit a pull request

[2021-06-25 23:25] ts-00 opened #4140 "Binance: Resilience - how to disable inital wait time"
Currently, when using xchange api (for example, binance xchange api) there is an initial wait time before the request is fired (because of **resilience4j**). Is there a way to disable this first inital wait time (first inital "waitDuration") or set it to a lower value?

[2021-06-26 13:03] ts-00 opened #4141 "Binance: PERCENT_PRICE does not map properties"
When using the xchange binance api to get the asset information via BinanceExchangeInfo and look for the PERCENT_PRICE filter, I get this

[code]

However, according to official binance docs, there are the following properties:

[code]

How can I get those properties?

[2021-06-27 07:47] Aento opened #4142 "BitZ: getTicker return error"
Firs of all sslUri is wrong need to update it to "https://apiv2.bitz.com".

When try to getTicker I get this error:

`si.mazi.rescu.HttpStatusIOException: Cannot coerce empty String ("") to `org.knowm.xchange.bitz.dto.marketdata.BitZTicker` value (but could if coercion was enabled using `CoercionConfig`)
 at [Source: (String)"{"status":-107,"msg":"","data":"","time":1624779684,"microtime":"0.11429

[2021-06-28 09:36] makarid commented on #4137
Any news on this one?

[2021-06-28 15:18] makarid commented on #4137
I have found the issue. The problem is on the getAssetDetails call on the remoteInit. If you complete delete it, it will work

[2021-06-29 15:08] mdvx opened #4144 "resilience4j 1.7.1 breaking build"
as a temp fix downgraded
    <version.resilience4j>1.7.0</version.resilience4j>

[2021-06-30 22:29] nielsdraaisma commented on #4144
This was fixed as part of https://github.com/knowm/XChange/pull/4145

[2021-06-30 23:38] #4080 closed

[2021-07-01 11:44] mdvx commented on #4144
cool

[2021-07-01 11:44] #4144 closed

[2021-07-02 13:38] straumat opened #4149 "With 5.0.9 Kucoin login returns a 403"
I'm the creator of [Cassandre](https://github.com/cassandre-tech/cassandre-trading-bot), a trading bot framework using XChange.

All my integration tests worked perfectly with 5.0.8 but when updating to 5.0.9, impossible to connect anmore to kucoin sandbox:
`503` error.

[2021-07-04 02:47] mdvx commented on #4014
https://github.com/knowm/XChange/pull/4151/commits/20154ce6504cd077d219888deb1f8e5e7737f254

[2021-07-04 17:53] #4132 closed

[2021-07-05 07:44] mdvx opened #4153 "[FTX] still some checksum errors"
the number is much reduced, but still getting them on my system, every few second (was 50x per seconds)

[2021-07-05 08:05] vasylp3 opened #4154 "Support for Options markets"
In continuation to [Futures markets](https://github.com/knowm/XChange/issues/3171) I'd like to suggest Options markets support.
First of all it requires adding a new type of Instrument - OptionsContract.

Secondly, I'd like OrderBook class to be extended with a map of generic parameters, where option specific data like iv, greeks etc can be stored.

Further steps include:
-using AccountInfo#openPo

[2021-07-05 23:34] #4153 closed

[2021-07-06 08:11] straumat commented on #4028
@earce  Hi, it seems that my code was removed :( is it normal ?

[2021-07-08 02:35] earce commented on #4154
This sounds interesting to me, maybe even a small draft may be worth putting up and getting feedback?

[2021-07-09 06:14] wlk commented on #4135
Hi, I confirm that `5.0.10-SNAPSHOT` isn't published even though it says that in the README, what's the status here?

[2021-07-09 06:53] wlk commented on #4135
I suspect that lack of snapshots is due to Travis CI:

This requires attention of the project owner(s) to update the build configuration

[2021-07-09 18:24] straumat commented on #4035
@earce I think this issue should be closed

[2021-07-09 18:25] #4035 closed

[2021-07-10 15:06] douggie opened #4163 "Parsing OrderBook Arrays"
I am extending the okex.v5 implmentation to support orderbooks.

however I am getting this error

[code]

[2021-07-10 15:12] mrmx commented on #4118
I'm in for having jdk8 support, at this moment there are no such big differences (like this simple bug) to not have a Java 8 CI build available. I'm using the lib on a server with other components that are java8 battle tested and also the android code base support is enough to have it. At least for a while more and then please update the docs poms etc.. for developers to be aware of this req.

[2021-07-10 15:13] mrmx commented on #4118
I'm also available for fix all bugs like this one to keep this compatibility until it's not needed anymore.

[2021-07-10 17:01] douggie commented on #4163
Doh, they come back in an array. sorted

[2021-07-10 17:01] #4163 closed

[2021-07-10 17:34] douggie opened #4165 "support futures for okex v5 api"
Support for okex futures leveraging FuturesContract

[2021-07-10 18:57] CaelumF commented on #4135
@timmolter

[2021-07-11 17:43] walec51 commented on #4154
We already have a method

Exchange#getExchangeInstruments

In https://github.com/knowm/XChange/issues/3171 we decided that we should go for a more generic API and to avoid adding methods specific for derivatives. To do this we started replacing the usage of CurrencyPair with a more generic term: Instrument

The above method should return everything: spot currency pairs, futures and options <- so j

[2021-07-11 17:44] walec51 commented on #4140
I'm not awary of any initial wait time

could you provide some logs that showcase this?

[2021-07-11 17:45] walec51 commented on #4142
feel free to submit a PR

[2021-07-13 07:51] wlk opened #4172 "[Kraken] KrakenStreamingAdapters.adaptOrderbookMessage always sets lastTime to 1/1/1970"
There is a bug in `KrakenStreamingAdapters.adaptOrderbookMessage` the `lastTime` value is never updated and this results in always returning same value which is epoch time = 0.

line 60:
[code]

line 91:
[code]

There are 2 options I see as a potential fix:
- Set time equal to latest timestamp observed in the individual orders
- Or, Set time to "current time"

ping @nielsdraaisma

This affects cur

[2021-07-13 09:10] vasylp3 commented on #4154
Please check xchange-core changes first. Short description:
-introduced OptionsContract next to FuturesContract;
-changed derivative serializar separator from '/' to '-';
-added meta for futures and options;
-added instrument methods to MarketDataService for ticker, trades and order book.

[2021-07-17 10:07] Gepro83 commented on #4172
@wlk are you able to place orders with the current version of the kraken libarry? I get "EGeneral:Invalid arguments" exception when using like this:

[code]
API key etc works, i can querry the wallet balance...

[2021-07-18 19:03] ts-00 commented on #4140
It seems that the initial wait time only happens when calling any method within a Junit-Test-case:

[code]

I think this happens because of resilience4j which has an initial waitDuration by default.

[2021-07-19 02:07] BernatCarbo opened #4180 "Bittrex OrderStatus is wrong"
Hello there,

I noticed that order status from a canceled order is `OrderStatus.NEW` while it should be `OrderStatus.CANCELED`, looks like the function `adaptOrderStatus` is ignoring the order status returned by Bittrex..

[2021-07-19 17:20] jecker7 commented on #4180
Which function from the Bittrex API are you using to cancel the order? From their v3 API it looks like only type OrderStatus.CLOSED is supported after canceling Order types (OrderStatus.CANCELED is provided for ConditionalOrder types, but this doesn't look to be supported by XChange Bittrex API currently). I think my MR here should fix this: https://github.com/knowm/XChange/pull/4183

[2021-07-19 18:53] BernatCarbo commented on #4180
I use the `exchange.cancelOrder(orderId)` function which seems to call the `DELETE v3/orders/{order_id}` endpoint from Bittrex.

[2021-07-20 18:59] ts-00 opened #4184 "Binance: BinanceNewOrder does not have a property fills"
BinanceNewOrder misses the property fills which would contain the filled trades. Please add the list of fills as a property for BinanceNewOrder.

[2021-07-21 01:32] nibarulabs commented on #3497
Hello, checking the [FillApi.java](https://github.com/knowm/XChange/blob/develop/xchange-kucoin/src/main/java/org/knowm/xchange/kucoin/service/FillAPI.java) interface and it looks like pagination is supported. @earce or whomever else might want to close this. :+1:

[2021-07-21 01:42] nibarulabs commented on #3009
I'm taking a whack at adding all the resilience code for Kucoin. I was running the market data service unit test and it fails on the [testOrderBookFull](https://github.com/knowm/XChange/blob/80878f9355bf8ca3c8fb7147c718616598476539/xchange-kucoin/src/test/java/org/knowm/xchange/kucoin/KucoinMarketDataServiceIntegration.java#L70) test. Looking at the current (as of 7/20/2021) Kucoin api docs, the [

[2021-07-21 14:34] #3497 closed

[2021-07-22 13:32] #4118 closed

[2021-07-22 13:45] earce opened #4188 "5.0.10 release"
Hey @timmolter was hoping you could cut a release for the folks using this lib soon!

[2021-07-23 19:02] aligokalppeker opened #4190 "Binance withdrawal exception on succesful service call"
Hi,

I am testing Binance withdrawal API. It successfully withdraws XRP from the wallet and triggers the transfer. But service response code can not be parsed correctly(maybe it is changed/updated). So it throws an exception on parsing the response of the service :

Exception in thread "main" org.knowm.xchange.exceptions.ExchangeException: null (HTTP status code: 0)
	at org.knowm.xchange.binance.B

[2021-07-26 01:20] earce commented on #4180
addressed with pr

[2021-07-26 01:20] #4180 closed

[2021-07-26 01:21] earce commented on #4184
Feel free to submit a PR

[2021-07-26 01:24] earce commented on #4172
@Gepro83 you probably are missing something in your request.

@wlk I think the last timestamp across all orders is more accurate otherwise you are just timestamping when XChange received the order

[2021-07-26 09:14] wlk commented on #4172
The "per order" timestamp is set correctly, but "per orderbook" timestamp is set to null, it's not provided directly by Kraken, possible options:
- set to  `null`
- set timestamp = current time
- set timestamp = MAX of all individual orders in the book

the current behavior of setting timestamp to `0` is a bug to me, wdyt?

[2021-07-26 14:38] earce commented on #4172
Yea @wlk I understand, and what I was saying is that I think #3 makes the most sense otherwise as mentioned you are just timestamping the message when your systems receives it.

[2021-07-26 14:39] earce commented on #4014
Fixed by @mdvx

[2021-07-26 14:39] #4014 closed

[2021-07-27 10:57] andre77 commented on #4135
any progress here?
the issue is still present
the SNAPSHOT dependency seems not usable now

[2021-07-27 20:53] ts-00 opened #4193 "BinanceTradeService: use Long orderId instead of long orderId"
The `BinanceTradeService` should use `Long orderId` instead of `long orderId` as parameter, because `orderId` is optional (see official Binance API documentation). If a user wants to set clientOrderId, then orderId must be set to null (which is actually not possible in `BinanceTradeService`).

[2021-07-27 21:04] walec51 commented on #4193
please submit a pull request

[2021-07-31 17:00] timmolter commented on #4135
I'm working on getting this up and running on github actions pipelines as travis-ci is no longer working.

[2021-07-31 19:14] timmolter commented on #4135
it's now working again.

[2021-07-31 19:14] #4135 closed

[2021-08-01 17:49] cymp commented on #4188
+1 @timmolter, that'd be great

[2021-08-02 14:15] mathvdh commented on #4095
We can close this issue as it's resolved in the PR above

[2021-08-02 14:15] #4095 closed

[2021-08-02 14:17] mathvdh opened #4195 "[FTX] No implementation of MarketDataService.getTicker"
Hi All,

There is no implementation of `getTicker` for the Market Data Service.

According to the FTX docs, they don't really give tickers as defined in Xchange.
But by combining the information of `getMarket` and `getCandles` (which I added) we can fill a full ticker.
I will submit this implementation shortly.

Let me know if it's OK for you or if you have any comments or maybe a simple way of ge

[2021-08-02 14:37] mathvdh opened #4197 "[FTX] No Implementation of AccountService .getFundingHistory"
Hi All,

There is no implementation of `getFundingHistory` for the AccountService of FTX.

The idea is to implementent it using :

- `FtxAccountServiceRaw.transferBetweenFtxSubAccount`  (implemented)
- `/wallet/deposits` (not implemented) see : https://docs.ftx.com/#get-deposit-history
- `/wallet/withdrawals` (not implemented) see : https://docs.ftx.com/#get-withdrawal-history

And then to differe

[2021-08-02 18:58] cymp commented on #4195
Good practices in this project is to use only one API call per operations. If not possible, please take care of rate limits by using [resilience](https://github.com/knowm/XChange/wiki/Implementing-resiliency-features).

[2021-08-02 18:59] cymp commented on #4197
Good practices in this project is to use only one API call per operations. If not possible, please take care of rate limits by using [resilience](https://github.com/knowm/XChange/wiki/Implementing-resiliency-features).

_Originally posted by @cymp in https://github.com/knowm/XChange/issues/4195#issuecomment-891256829_

[2021-08-02 19:46] mathvdh commented on #4195
@cymp Ok thanks, I'll have a look ... and come back to discuss it

[2021-08-03 19:46] cymp commented on #4137
Fixed here : https://github.com/knowm/XChange/pull/4198

[2021-08-03 19:47] cymp commented on #4104
Fixed here : https://github.com/knowm/XChange/pull/4198

[2021-08-03 20:47] #4104 closed

[2021-08-03 20:51] earce commented on #4195
I saw this was merged I put a comment on there closing this as complete

[2021-08-03 20:51] #4195 closed

[2021-08-03 20:52] earce commented on #4197
Submit a PR and we can discuss.

[2021-08-03 20:53] #4137 closed

[2021-08-04 07:49] mathvdh commented on #4197
Well anyway, I'm gonna split this into so this will be solved ...
The call to `getFundingHistory` on the main account should use `/wallet/deposits` and `/wallet/withdrawals`
And the call to `getFundingHistory` for a subaccount should use the transferts between subaccounts ..
It's the correct way I think

[2021-08-04 15:11] earce commented on #4188
@timmolter still don't see it in maven :(

[2021-08-04 15:21] timmolter commented on #4188
it's there: https://search.maven.org/search?q=org.knowm.xchange

[2021-08-04 15:21] #4188 closed

[2021-08-09 07:47] timmolter commented on #4172
Traditionally, for this project, we would set the timestamp (Date) to null indicating that the server doesn't provide any timestamp. In this case however I think option #3 makes the most sense since the timestamp can be inferred by the other data.

[2021-08-09 17:01] deniua opened #4208 "[Poloniex] Stream order book"
Hi.Please help with code)Maybe a bug.
lib: stream-poloniex2
Always this error:
**Orderbook update received before initial snapshot**
code:
disp = exchange.getStreamingMarketDataService()
                .getOrderBook(cp)
                .doOnError(error -> System.err.println("The error message is: " + error.getMessage()))
                .subscribe(ob -> {});

[2021-08-10 13:52] davidjirovec opened #4212 "Okhttp insdead of rescu"
Are there any plans on using okhttp instead of rescu? Http2 support in xchange would be nice.

[2021-08-11 19:14] earce commented on #4212
No, if we did use anything it would make more sense to use the JVMs native HTTP client.

[2021-08-11 19:14] #4212 closed

[2021-08-16 11:07] hovi opened #4216 "Android app?"
I am just wondering, why is there no android app using xchange on google play? Are there any legal or technical reasons why I cannot do that?
I'd like to use an app with this simple interface even if I have to make one, but in that case I might as well share it with the world :-)

[2021-08-17 10:45] cymp commented on #4216
There is no reason you couldn't use XChange for an Android app. In fact, there is even a discussion somewhere here about migrating to java version>8, but people raised concerns about Android compatibility. If you want to develop an Android app and bring your experience here, it would be more than welcome.

[2021-08-17 16:32] hovi commented on #4216
I see, I just read #2945
Thank you, I will bring any useful feedback.

[2021-08-18 11:00] makarid opened #4222 "[Core] Adding fixed test functions in order to use them for every exchange"
Hello, i would like to ask you if you find it good idea the following:

Adding fixed/static test functions that we will use in every exchange in order to test all the exchanges with the same functions. That way we will be sure that all the new exchanges function the same under the TradingService,MarketDataService,AccountService (Streaming also). What do you think?

For example, right now the same

[2021-08-19 13:39] hovi opened #4226 "BaseParamsDigest, ThreadLocal and multithreading"
[BaseParamsDigest](https://github.com/knowm/XChange/blob/develop/xchange-core/src/main/java/org/knowm/xchange/service/BaseParamsDigest.java) class creates this Mac instance in it's constructor and saves it to ThreadLocal variable.
This class is being used when communicating with APIs.

When you create Exchange and communicate, this class gets created and cached, but when you access it from differe

[2021-08-19 14:43] gregoreficint opened #4227 "[Binance] Withdraw History gives back Date/Time in time zone of system, deposit history gives back Date/Time in time zone UTC"
Binance made IMHO the rather poor design design to report the time stamps of the withdraw history as string (in time zone UTC) rather than the usual unix millis in UTC time zone as they do with most other API calls. In the Binance implementation of XChange, the `withdrawHistory ()` method return the funding record with the time stamp in the time zone of the system while the `depositHistory()` is i

[2021-08-20 18:37] #4227 closed

[2021-08-22 21:08] mdvx commented on #4080
We need to reopen this, created a PR that alleviates but does not cure.
https://github.com/knowm/XChange/pull/4239

[2021-08-23 00:11] mdvx commented on #4172
Up vote! i see the Timestamp passed, and then get lost

[2021-08-23 09:13] ldrygala commented on #4172
I would like to fix this issue. PR should be ready this week.

[2021-08-24 11:58] elkceo commented on #4041
How you did auth part?

[2021-08-25 13:59] elkceo commented on #4116
@dgosset Can you share with your code how you getting orderChanges?

[2021-08-25 17:10] elkceo opened #4247 "[FTX] Dependencies issue"
When I am adding dependencies for ftx
`<dependency>
			<groupId>org.knowm.xchange</groupId>
			<artifactId>xchange-ftx</artifactId>
			<version>5.0.9</version>
		</dependency>
		<dependency>
			<groupId>org.knowm.xchange</groupId>
			<artifactId>xchange-stream-ftx</artifactId>
			<version>5.0.9</version>
		</dependency>`
I cant use FtxStreamingTradeService, It says .NotYetImplementedForExchangeExc

[2021-08-27 11:41] jsloane opened #4251 "Add support for CoinSpot exchange"
It would be great to have support for CoinSpot https://www.coinspot.com.au/

Specification: https://www.coinspot.com.au/api

[2021-08-29 10:44] ts-00 opened #4255 "GET api/v3/myTrades has a new optional field orderId"
According to actual Binance API:

[code]

Please provide the `orderId` as an optional request property when calling "myTrades".

[2021-08-31 09:23] nielsdraaisma commented on #4251
I started work on that a while ago but didn’t end up needing that so didn’t finish it. Might be good start for someone else..

https://github.com/nielsdraaisma/XChange/tree/develop/xchange-coinspot

[2021-09-01 18:50] earce commented on #4247
does 5.0.10 have it?

[2021-09-01 18:50] earce opened #4256 "5.0.11 release"
@timmolter looking to see if you can cut the next version :)

[2021-09-02 14:52] #4172 closed

[2021-09-03 09:42] timmolter commented on #4256
yes. I'll get to it soon.

[2021-09-03 10:23] mathvdh opened #4257 "[bitfinex] problem with UST <> USDT symbol"
Hi All,

Bitfinex is calling tether UST (instead of the usual USDT).
This is partly handled by the adapters in one direction but not in both direction.

I mean that in [BitfinexAdapters.java](https://github.com/knowm/XChange/blob/9e4560cb7a2612baf6423d31bac434fd7567852d/xchange-bitfinex/src/main/java/org/knowm/xchange/bitfinex/service/BitfinexAdapters.java#L101)

We have this function :

[code]
Wh

[2021-09-03 11:41] #4257 closed

[2021-09-03 12:52] timmolter commented on #4256
done.

[2021-09-03 12:52] #4256 closed

[2021-09-03 14:02] scrisini commented on #3647
Hi has taken me a while to catchup.
but im ready to create a PR but not sure how this is done here
1. I cloned the repo today
2. branched off from develop - named it tinyproxy_3647
3. however im now ready to push to GitHub and do a PR
4. but looks like my username isn't permitted to do that?
Cheers

[2021-09-06 07:51] elkceo commented on #2411
Is that was realized? How I can get these TradeHistoryParams?? FTX exchange

[2021-09-08 06:31] scrisini commented on #3647
Hello
just following this up as I now have incorporated the fix to the latest cloned copy and would like to know whats next step to create a PR?
thank you.

[2021-09-08 11:48] timmolter commented on #3647
google it. lot's of info out there already on creating a PR on github

[2021-09-08 12:03] jsloane commented on #4113
I'm also seeing this error. Is there a work around available?

[2021-09-08 12:17] scrisini commented on #3647
Thanks! I should have read a bit more !
all sorted - I missed the fork step.

[2021-09-11 04:32] elkceo commented on #2225
Hi. Did you get solution for entering proxy credentials to exchange specification?

[2021-09-16 08:52] alfiocaprino opened #4268 "Coinbase v2 account service returns only first 25 wallets"
/* Kotlin code */

val wallets = coinbaseInstance.accountService.accountInfo.wallets // only 25 entries

[2021-09-16 10:53] cymp commented on #4268
I had a quick look, it looks like it is a pagination issue (default limit is 25): https://developers.coinbase.com/api/v2#pagination

[2021-09-17 07:20] elkceo opened #4269 "[FTX] getOrder(String orderIds) method doesnt return filledSize"
Right now the method ftx.getTradeService.getOrder(orderId) shows you something like that :
LimitOrder [limitPrice=null, Order [type=BID, originalAmount=18.0, cumulativeAmount=18.0, averagePrice=1.090025, fee=null, instrument=XRP/USDT, id=8004102994, timestamp=Fri Sep 17 10:15:28 GET 2021, status=CLOSED, flags=[null, IOC], userReference=null]]

It looks like the order was for 18.0 XRP in that case

[2021-09-17 07:32] elkceo commented on #4269
Okay if you need to get filledSize you can use
`FtxResponse<FtxOrderDto> ftxResponse = new FtxTradeServiceRaw(ftx).getFtxOrderStatus(ftx.getExchangeSpecification().getUserName(), "orderId");

        ftxResponse.getResult().getFilledSize();`

[2021-09-18 06:18] M1K commented on #4029
The same here. I tried Bitfinex, CoinbasePro, Kraken etc. and everywhere I am getting messages. But from Binance nothing. There is just message: Subscribing to channel btcusd@trade and then nothing

[2021-09-28 21:00] jwisniewski opened #4277 "[Binance] BinanceMarketDataServiceRaw.ticker24() consumes not enough weight, causing potential ban"
`BinanceMarketDataServiceRaw.ticker24()` consumes not enough permits which can lead to exceed the allowed limit of API calls on Binance. Exact line: https://github.com/knowm/XChange/blob/b45e531138c7f26e5dcafab69adff59dd685ffbd/xchange-binance/src/main/java/org/knowm/xchange/binance/service/BinanceMarketDataServiceRaw.java#L83

According the current Binance docs, the related API call (api/v3/ticke

[2021-09-29 13:27] cymp commented on #4277
Hello, please make a PR.

[2021-10-04 16:19] #4154 closed

[2021-10-12 06:10] chenc990755790 opened #4288 "Unexpected end of file from server"

[2021-10-12 14:24] #4288 closed, assigned to nobody

[2021-10-13 15:15] piechu111 opened #4289 "[CoinbasePro] Change "after" param to String"
There is a `ledger` method in `CoinbasePro` interface and it has a `Integer startingOrderId` parameter. I think it should be a `String` because in some case orderId is greater then maxiumum value of `Integer`. Additionally, CoinbasePro documentation says that this parameter should be a `String` -> https://docs.cloud.coinbase.com/exchange/reference/exchangerestapi_getaccountledger
[code]
What do yo

[2021-10-17 09:32] walec51 opened #4290 "Unit test breaking commits without any code review?"
@douggie @timmolter

could you please explain how these commits which broke unit tests got to the develop branch?

I do not see any pull requests with them. Did the get any code review?

![image](https://user-images.githubusercontent.com/738484/137621146-38355be5-baf3-4027-a947-16c16eb20665.png)

the develop branch currently does not build because of NPE caused by those changes

[code]

[2021-10-17 09:44] walec51 commented on #4290
ok, I've found the MR

CI was down then we merged it

[2021-10-17 10:37] walec51 commented on #4290
fix this with https://github.com/knowm/XChange/pull/4214

however as I see it code parsing for futures and options is a mess and I doubt it actually works

[2021-10-17 17:27] timmolter commented on #4290
yeah, once in a blue moon, some breaking changes make their way through. Glad it's working now again.

[2021-10-22 16:09] yoobi opened #4295 "FTX get historical prices"
Hello, according to the documentation we can specify a `start_time` and an `end_time` query parameters, these two parameters aren't in the lib https://github.com/knowm/XChange/blob/2791382c76f722c979b9925f80a78992600d5a67/xchange-ftx/src/main/java/org/knowm/xchange/ftx/Ftx.java#L41

I can make the change and create a MR if you need, or you can do it as well, it's rather quick
[code]

PS: Note that

[2021-10-31 12:33] ajutzeler commented on #3052
I am able to reproduce this problem with Binance.

If the interval between the API calls is less than 5 seconds, the connection is reused without any problem.

However if it is longer, the first connection is actively closed (I can intercept the tcp FIN in the trafic) by the client somehow just before the subsequent call.

To my knowledge there is no argument/property to specify the max duration o

[2021-10-31 16:23] ajutzeler opened #4301 "Keep alive limitations (with Binance)"
As issue #3052 was closed I am creating a new one.

I am encountering weird connection persistence behavior at least with Binance (I haven't tried other exchanges yet).

If the interval between the API calls is less than 5 seconds, the connection is reused without any problem.

However if it is longer, the first connection is actively closed (I can intercept the tcp FIN in the trafic) **by the cli

[2021-10-31 21:10] generalbytes opened #4302 "Please create a new release"
Please create a new release. There was none in October. There are some important fixes not released yet.
Thank you.

[2021-11-01 10:35] ajutzeler commented on #4301
I've tried a lot of things, but the connections are never persisted more than a few seconds with HttpsURLConnection no matter what JVM (openjdk 11-17, oracle 11-17) and what settings I am using.

This is clearly an issue that has been encountered by other many time over the years.

I quickly modified ResCU to use OKHttp client instead of HttpsURLConnection and it just works flawlessly without any

[2021-11-02 06:15] ducanh2110 opened #4303 "Binance stream trading service (NOT_AUTHENTICATED)"
Dear all, I have problem when I try to use streamTradingService (Binance). It always tell me that: Not_Authenticated when i try to subscribe to get my trade info. Please help me tks.

org.knowm.xchange.exceptions.ExchangeSecurityException: Not authenticated
	at info.bitrich.xchangestream.binance.BinanceStreamingTradeService.getRawExecutionReports(BinanceStreamingTradeService.java:38) ~[xchange-str

[2021-11-02 06:59] #4303 closed

[2021-11-02 07:00] ducanh2110 commented on #4303
I forgot to add ALL productsubscriptions for StreamingExchange

[2021-11-02 15:40] timmolter commented on #4302
will do.

[2021-11-02 15:41] timmolter commented on #4295
please submit a PR and we'll happily merge it.

[2021-11-02 17:36] #4295 closed

[2021-11-02 18:15] #4268 closed

[2021-11-02 18:24] #4226 closed

[2021-11-02 23:41] timmolter commented on #4302
done.

[2021-11-03 19:58] buuhsmead opened #4313 "Add support for Bitvavo exchange"
It would be great to have support for https://bitvavo.com/

Specification:  https://docs.bitvavo.com

[2021-11-03 20:41] #4302 closed

[2021-11-06 11:59] cymp commented on #4313
If you really need it , I can suggest you to offer a [bounty](https://github.com/knowm/XChange/wiki#bounties), example [here](https://github.com/knowm/XChange/issues/1708).

[2021-11-07 12:25] RosSGaiduk commented on #3277
@walec51 @timmolter if OCO orders functionality is implemented, could you please explain how to use it and if it is not, are you planning to develop this? thanks

[2021-11-08 02:26] mdvx opened #4319 "[Kraken] Orderbook - checksum does not match"
BTC-USD unit test works, as does KrakenOrderBookExample with ETH_USD

but in real multithreaded life:

20:56:14.553[WARN ][nioEv..-3-1][i.b.x.kraken.KrakenStreamingAdapters]ETH/USD checksum does not match, expected 2505503822 but local checksum is 3675703619
20:56:14.554[WARN ][nioEv..-3-1][i.b.x.k.KrakenStreamingMarketDataService]Resubscribing ETH/USD channel after adapter error Checksum did not

[2021-11-08 17:07] garciapd opened #4320 "[CoinbasePro] Websocket Reconnection failed"
Hi, is anybody getting this error?

` i.b.xchangestream.coinbasepro.CoinbaseProStreamingService - Reconnection failed: invalid WebSocket Extension handshake for "permessage-deflate; server_no_context_takeover; client_no_context_takeover"`

and

`i.bitrich.xchangestream.service.netty.WebSocketClientHandler - WebSocket client [id: 0x0ee94488, L:/10.0.2.171:54379 - R:ws-feed.pro.coinbase.com/104.18.1

[2021-11-08 19:23] #4184 closed

[2021-11-08 19:35] #4193 closed

[2021-11-08 20:00] #4255 closed

[2021-11-08 20:16] #4139 closed

[2021-11-08 20:25] ts-00 commented on #4140
Good point. The "conn.remoteInit();" is called each time the `BinanceExchange` is created because by default `shouldLoadRemoteMetaData` is set to true.

[code]

[2021-11-08 20:25] #4140 closed

[2021-11-12 15:27] jwisniewski commented on #4277
@cymp as requested ;) the PR: #4327

[2021-11-15 07:58] jwisniewski commented on #4277
The related issue $4327 has been merged. Topic closed.

[2021-11-15 07:58] #4277 closed

[2021-11-15 09:14] z-kovacs commented on #4320
yes. any update on this?

[2021-11-15 09:33] garciapd commented on #4320
I have solved it but didn't have time to do a PR, I created:

`package info.bitrich.xchangestream.coinbasepro;

import static io.netty.handler.codec.http.websocketx.extensions.compression.PerMessageDeflateServerExtensionHandshaker.MAX_WINDOW_SIZE;

import io.netty.channel.ChannelHandler;
import io.netty.handler.codec.compression.ZlibCodecFactory;
import io.netty.handler.codec.http.websocketx.exten

[2021-11-15 10:38] z-kovacs commented on #4320
Thank you! It seems upgrading to the latest xchange sorted it out as well, but will monitor the situation.

Thanks again!

[2021-11-15 15:02] dgosset opened #4330 "[FTX/Binance] A way to use "Convert" with OCT/Quote request?"
Hi,

This is not really an issue, but is it possible to use "Convert" with OCT/Quote request on Exchanges like Binance/FTX?
Someone started something to improve Xchange on this? Useful when some amount are to small to trade, and need to clean the wallet.

Regards.

[2021-11-16 21:30] douggie opened #4332 "Enhancements to okex v5 api"
Updates to okex v5 api to support book and trade parameters as well as additional order placement opertions.

[2021-11-20 01:34] sebasira opened #4334 "Kucoin - I get null account info"
I'm not been able to get the info of my **Kucoin** account. I can successfully get a `TickerResponse`, but when I call the `accountService.getAccountInfo()` I get this:

I have a new and verified account. I create the account a month (or so) ago and I successfully complete the KYC verification. I've test it with 2 different API KEYS both with **general** and **trade** permission and NO IP restrict

[2021-11-22 09:09] TankWBY opened #4336 "equals of BinanceKline and similar classes only compare field values;"
alternatively BinanceKline (and similar) should not be final, so the class can be extended and equals can be Overridden.

[2021-11-22 18:06] douggie opened #4338 "Disabling rate-limiting via ResilienceRegistries"
Hi, for exchanges such as okex, kucoin, coinbase, binnance as well as bitfinex, that implement rate limiting, is there a good way to disable it via some custom ResilienceRegistries? Just I handle all the rate limiting upstream so keen to disable it as it is cuasing quite a lag.

[2021-11-23 05:25] lavaalone opened #4342 "[GateIO] Can not initialize the MarketDataService"
Receiving error message as below when initializing the MarketDataService.
`Caused by: si.mazi.rescu.HttpStatusIOException: Cannot construct instance of `org.knowm.xchange.gateio.dto.marketdata.GateioFeeInfo` (although at least one Creator exists): no String-argument constructor/factory method to deserialize from String value ('false')
 at [Source: (String)"{"result":"false","code":5,"message":"Err

[2021-11-23 13:26] dazito opened #4343 "FuturesContract expecting a symbol with format COIN/COIN/PERP"
Is there a specific reason why on `FuturesContract` [line 34](https://github.com/knowm/XChange/blob/2caf84b5f21fa8fbeeb47e41e910025a16bf4e3f/xchange-core/src/main/java/org/knowm/xchange/derivative/FuturesContract.java#L34) is requires `parts` to be at least of size 3?

Because for example, on FTX, the PERP contracts are always {COIN}-PERP (e.g. BTC-PERP) which will fail on this condition.

[2021-11-26 21:12] earce commented on #4343
This logic likely needs to be more clever.

[2021-11-26 21:12] #4320 closed

[2021-11-26 21:13] earce commented on #4338
It usually comes with rate-limiting disabled, you have to explicitly enable it.

[2021-12-02 06:15] minm2015 opened #4352 "Failed to initialize: java.security.cert.CertificateException: No subject alternative DNS name matching api.binance.com found."

[2021-12-02 07:23] minm2015 commented on #4352
![image](https://user-images.githubusercontent.com/19508192/144376419-a14a2cb3-7e21-4f96-bb3f-9a065da2ee96.png)

[2021-12-05 08:39] dgosset commented on #4330
I coded this part for FTX/Convert : pull request is here : https://github.com/knowm/XChange/pull/4354

[2021-12-06 09:12] straumat commented on #4149
In fact, it seems to be a Kucoin problem.

[2021-12-06 09:12] #4149 closed

[2021-12-09 03:09] pupudaye opened #4355 "dydx module name lowercase error"
dydx and dydx stream module error. class name is lowercase

[2021-12-13 04:15] pupudaye commented on #4355
pls help me

[2021-12-16 20:33] n-dragon commented on #4029
same here

[2021-12-18 23:41] GARCII commented on #4342
Im facing the same problem here, i think gate v2 api are deprecated, they released a new version

https://www.gate.io/docs/developers/apiv4/en/#access-url

[2021-12-24 13:36] gregoreficint opened #4369 "[Kraken] New response "EGeneral:Too many requests" for too many request"
Kraken has now an additional error message of "EGeneral:Too many requests" for too many request in a given time. This message extends the already existing messages of  "EAPI:Rate limit exceeded" and "EOrder:Rate limit exceeded".

Extension of the KrakenBaseService.java will follow to incorporate this new response.

[2021-12-24 14:07] gregoreficint opened #4371 "[Binance] New API call DustLog not available in XChange"
If you trade a while in Binance, you might end up with some coins that have such low amount that they are below the minimum amount to be traded. Thus, Binance introduced the function "Convert Small Balance to BNB" some time ago that cleans up these coins and converts them into BNB. Thus, this function is very similar to the trade for coins with very low amount, however, the conversion is not done

[2021-12-26 01:41] Enfernuz commented on #4355
Could you please provide more information on how to reproduce this issue?

[2021-12-26 01:51] Enfernuz commented on #4352
Can you access the exchange endpoint (in this case `https://api.binance.com/api/v3/exchangeInfo`) from a browser REST client?

[2021-12-26 22:36] 0xfaulty opened #4372 "[Binance] Configurable fetch binance order book limit parameter"
Now when we fetch initial order book for stream receiving we can't configure 'limit' parameter, that is 1000 constantly now (BinanceMarketDataService ->fetchBinanceOrderBook), that can be not enough (can be incresed to 5000). Good idea to pass that parameter with ExchangeSpecification.

[2021-12-30 11:53] BernatCarbo opened #4374 "FTX Exchange, Unable to perform authed requests"
Hello there,

Looks like there is something wrong with the FTX Exchange signature generation (FTX-SIGN header), I'm trying to perform authed requests with my (US) api key and secret but I always get the next message: `Not logged in (HTTP status code: 401) (HTTP status code: 0)`

Although if I replicate the request with postman (using the generated params (headers) from the lib) I get the next mess

[2021-12-30 21:54] makarid commented on #4374
Hello, this implementation is not for the US Ftx, it is for global. You
need to change the URL on the FtxExchange class

On Thu, Dec 30, 2021, 1:53 PM BernatCarbo ***@***.***> wrote:

[2021-12-30 23:41] BernatCarbo commented on #4374
@makarid I change the `sslUri` and the `host` as you can see at my code, but what should be configurable are the exchange header names, as you can see at my 'edit' the headers are sent as FTX-KEY, FTX-TS, FTX-SIGN but the US version expects FTXUS-KEY, FTXUS-TS, FTXUS-SIGN, etc

[2021-12-31 09:48] makarid commented on #4374
You need to change these by yourself or implement a new FtxExchangeUS. I
haven't done any configuration using FTX US in my mind

On Fri, Dec 31, 2021, 1:41 AM BernatCarbo ***@***.***> wrote:

[2022-01-01 09:51] dgosset opened #4375 "Too many WARN : GET request declared as consuming method body as application/json"
Hi, i try to fix annotations in classes like Ftx.class : @Consumes(MediaType.APPLICATION_JSON) or @Produces(MediaType.APPLICATION_JSON)

-> but nothing change about this message WARN :

2022-01-01 09:04:00 default[20211231t211028]  2022-01-01 09:04:00.752  WARN 10 --- [nio-8081-exec-1] si.mazi.rescu.RestMethodMetadata         : GET request declared as consuming method body as application/json.
Whi

[2022-01-02 21:43] #3607 closed

[2022-01-09 07:30] s-teamup opened #4384 "Coinlist pro"
Is there a support for coinlist or coinlist pro apis?
https://trade-docs.coinlist.co/#introduction

[2022-01-14 08:41] ahll opened #4389 "subscribeChannel retry error"
In NettyStreamingService, when we call the method subscribeChannel with retry, sometimes the retry does not working.

return Observable.<T>create(
            e -> {
              if (webSocketChannel == null || !webSocketChannel.isOpen()) {
                e.onError(new NotConnectedException());
              }
              channels.computeIfAbsent(
                  channelId,

[2022-01-21 08:54] 0xfaulty commented on #4372
fixed by 4372

[2022-01-21 08:54] #4372 closed

[2022-01-23 18:57] dgosset commented on #4375
workaround with my logback

[2022-01-23 18:57] #4375 closed

[2022-01-24 16:14] pvyhnal-generalbytes opened #4394 "new version"
Hi, could we please get a version released now that #4315 is merged? Thanks

[2022-01-24 18:14] timmolter commented on #4394
yes. coming soon.

[2022-01-25 08:27] timmolter commented on #4394
5.0.13 has been released.

[2022-01-25 08:27] #4394 closed

[2022-01-25 10:39] pvyhnal-generalbytes commented on #4394
thanks a lot!

[2022-01-31 01:16] ZorgeR opened #4399 "Coinmarketcap apiKey Issue"
My old Cmc code is not working after 3 year.
Cant get data from Cmc. Other Exchange work fine, also with api key and secret.
Only Cmc not working.

I set apiKey when initialize CmcExchange, and CmcExchange.apiKey is correct.
But currency data always empty.
![image](https://user-images.githubusercontent.com/925105/151726530-b5e366a0-1e22-4f22-8894-b9be5aa0264f.png)

Also to check key, i try send ra

[2022-02-26 17:47] Svenmet commented on #4029
Same problem here

[2022-03-11 07:16] hlevel opened #4422 "Get order engine simulation exchange error"
In the simulation exchange, the acquisition engine will use this code In this case, it will be judged whether the. Currencydata is null before obtaining the metadata I don't think we should throw exceptions
Version: `xchange-simulated-5.0.13.jar`
[code]
After modification
[code]

[2022-03-11 15:43] m1dnightc0der opened #4424 "streaming exchange default exchange configuration"
Historically exchange specifications have been created by

`new ExchangeSpecification(exchangeClassName);`
however this approach is deprecated and the preferred approach is
`ExchangeSpecification exSpec = new BitstampExchange().getDefaultExchangeSpecification();`

after which the exchange can be created
`Exchange bitstamp = ExchangeFactory.INSTANCE.createExchange(exSpec);`

however for `info.bitri

[2022-03-11 18:54] jurepetrovic opened #4425 "Shorting on Binance"
Hello,

I'm trying to short on binance through the use of xchange lib.
Since margin shorting on binance is a multi step process
requiring borrowing and so on...

Does anyone of you short on binance using Xchange lib?

Any idea appreciated.
Thanks,
Jure

[2022-03-12 05:46] sudo168 opened #4428 "[Gateio] streaming classes incorrect package"
Gateio all streaming classes should be added  'package info.bitrich.xchangestream.gateio'

[2022-03-12 10:38] Christophe06410 opened #4430 "Feature Request - Any support for Bybit planned?"
Hello,

Did you plan to support bybit?

For information, here is a good starting point: https://github.com/bybit-exchange/QuickStartWithPostman

Thank you
Christophe

[2022-03-12 11:21] jurepetrovic commented on #4425
So, in other words - I'm asking if it's possible to margin trade on binance with xchange
and how should one go about it?

Thanks,
Jure

[2022-03-12 17:27] m1dnightc0der opened #4431 "How to resubscribe streaming services on disconnect"
Hi,

Just started to leverage the newly integrated streaming services, I notice that the `info.bitrich.xchangestream.service.netty.NettyStreamingService`

has

[code]

Which nicely reconnects the socket, however how should one go about capturing this reconnection and resubscribing to the previous channels?

[2022-03-12 17:54] earce commented on #4431
These should be configurable and already reconnect on disconnect

[2022-03-12 17:55] earce commented on #4430
This project is mostly a labor of love for folks, we don't have a group actively creating new supported exchanges, feel free to open a PR!

[2022-03-12 17:55] earce commented on #4428
Feel free to open a PR!

[2022-03-12 17:55] #4428 closed

[2022-03-12 17:56] earce commented on #4425
I do not know this to be supported you would have to add the functionality to the libs

[2022-03-12 17:56] #4425 closed

[2022-03-12 17:56] #4430 closed

[2022-03-12 18:10] jurepetrovic commented on #4425
Thank you for the answer!
I need to see if we want to do margin or not and then maybe I decide for implementation.

[2022-03-13 14:58] Christophe06410 commented on #4430
I will certainly.

[2022-03-13 20:41] m1dnightc0der commented on #4431
it reconnects, but does not re-subcribe, just wonder if there was any example of how to best resubcribe when it reconnects?

[2022-03-14 16:11] wesssup opened #4437 "BinanceStream module futures example > invalid WebSocket Extension handshake for "permessage-deflate""
Is not working https://github.com/knowm/XChange/blob/develop/xchange-stream-binance/src/test/java/info/bitrich/xchangestream/binance/BinanceLiveFutureSubscriptionExample.java

code=
[code]
pom.xml
[code]

Gives next error
[code]

[2022-03-17 11:23] m1dnightc0der opened #4440 "FTX order and book fixes"
Currently the ftx polling services has the following issues
1) When orders are cancelled, the cumulative qty is set to the order size
Currently the ftx streaming services has the following issues
1) Order book timestamps not set to those provided by FTX

[2022-03-17 14:34] m1dnightc0der opened #4441 "Ping/Pong implmentation for StreamingMarketDataService"
Some exchanges implement a ping/pong heartbeats, however I am not sure this is implemented via the streaming services.

It might be useful for upstream applications to issue heartbeats, and then if they fail try to re-initialise the whole connection and was wondering if getPing should be implemented in the StreamingMarketDataSerivice.

An example exchange that implements pings

https://docs.ftx.co

[2022-03-17 14:35] m1dnightc0der commented on #4431
will submit a fix

[2022-03-17 16:31] hanc1208 commented on #4440
https://github.com/knowm/XChange/pull/4442 fixes 1

[2022-03-17 16:33] hanc1208 commented on #4269
https://github.com/knowm/XChange/pull/4442 seems to fix this

[2022-03-17 21:51] Svenmet commented on #4319
Maybe you have the same problem like me today, if you want check the PR https://github.com/knowm/XChange/pull/4443
It was a time format conflict between the countries

[2022-03-22 18:50] gsoultos opened #4444 "Streams does not work on Android"
- Xchange version: 5.0.14-SNAPSHOT
- Kotlin JVM: 1.8

Kotlin code:
[code]

StackTrace:
[code]

[2022-03-23 21:24] Freeongoo opened #4445 "[xchange-okex] - return error 'ExchangeException: 50102:Timestamp request expired'"
When try run simple:

[code]

throw exception:

[code]

[2022-03-24 17:30] gmax0 commented on #4445
Can you reproduce the errors with more verbose logging?
```<logger name="si.mazi.rescu" level="trace"/>```

[2022-03-24 18:45] Freeongoo commented on #4445
@gmax0 it's my mistakes, system time not sync.
fixed run:

`sudo timedatectl set-ntp on`

[2022-03-24 18:45] #4445 closed

[2022-03-25 12:02] Freeongoo opened #4446 "[xchange-okex] Need implement method getTickers(Params params)"
Using some framwork with XChange and for correct work method must be implemented

getTickers(Params params) from MarketDataService

For current version [xchange-okex] not implemented

Exception:

[code]

[2022-03-25 12:03] Freeongoo commented on #4446
@gmax0 could you help?

[2022-03-25 15:36] timmolter commented on #4444
Uh oh. Can you pin point the code in XChange that needs to be reverted to non-Streams and submit a PR?

[2022-03-25 19:31] yoobi opened #4447 "How to know the actual rateLimit"
Hello, I'm trying to access the rateLimit of my exchange at a certain time. Below my code:
At init of my exchange I used `resilience.isRateLimiterEnabled = true` to enable rateLimit.
Side note I'm using the sandbox version. I don't know if that affects the rateLimit or not
[code]
What it prints:

[code]

[2022-03-26 09:42] gsoultos commented on #4444
@timmolter
I am not quite sure which part of the xchange code is responsible for this bug.
It's weird that the same piece of code is working without any issue on my PC but it throws an exception on Android.
I'm still debugging the Android app to identify the issue.

[2022-03-28 21:24] WillowOfTheBorder commented on #4319
anyone found something there? also there are some order book updates from kraken where there is no checksum given when they actually say it is given on all updates.

[2022-03-31 05:03] bschnider commented on #4216
I do not know if it is the right place to post my question regarding an error I have been facing when trying to simply extract the ticker info from Kraken in my Android application. I am quite new in the Android world and might also have incorrectly imported the library but still thought it could be worth posting my issue here, as I have read that some incompatibilities have been faced with Java 1

[2022-03-31 07:49] hovi commented on #4216
I haven't been playing with xchange and android for a while, but I see minsdk 23 and that is also API level of the device I was using for testing. It was working fine for me. I believe you are just missing desugaring, that deals with issues like this.

[2022-03-31 18:45] 597800451 opened #4450 "How does StreamingExchange set up a proxy？"
I try to do this

 **exSpec.setProxyHost("127.0.0.1");
exSpec.setProxyPort(7890);
exSpec.setExchangeSpecificParametersItem(StreamingExchange.SOCKS_PROXY_HOST, "127.0.0.1");
exSpec.setExchangeSpecificParametersItem(StreamingExchange.SOCKS_PROXY_PORT, 7890);**
StreamingExchange exchange = StreamingExchangeFactory.INSTANCE.createExchange(exSpec);

Neither, hint:

02:44:34.822 [nioEventLoopGroup-2-1]

[2022-03-31 19:49] bschnider commented on #4216
Thank you for mentioning desugaring. I did not know such library existed and it indeed solved my problem. [This section](https://developer.android.com/studio/write/java8-support#library-desugaring) helped me properly import desugaring.

[2022-03-31 23:52] bschnider commented on #4216
Trying to create my Kraken instance of the Exchange object with a user name, API key and secret key, I got stuck with another problem apparently linked to the use of a java library which is not supported by Android API levels < 26.

**My code:**
[code]

**The returned error:**
[code]
It appears that the library `java.util.Base64` is not supported by Android API levels < 26. Apparently, one should

[2022-04-01 11:14] yoobi commented on #4447
found the answer with `resilienceRegistries.rateLimiters().allRateLimiters`

[2022-04-01 11:14] #4447 closed

[2022-04-01 16:10] bschnider commented on #2621
Did you find a solution to your issue ? I am facing the same error with Binance whatever API key I use.

[2022-04-05 15:52] kennethjor commented on #4450
@597800451 Have you confirmed your local proxy supports WebSockets and that it allows connections to non-standard ports? It looks like Binance is trying to connect to port 9443. Are you able to connect without the proxy?

[2022-04-06 10:10] gary-rowe commented on #4355
It could be that the first letter of the class name is lowercase, along with its file name.

[2022-04-06 19:20] bschnider commented on #4216
The only solution I found so far is to use a version of XChange prior to the use of `java.util.Base64`. I believe the latest version without this dependency would be 4.3.4 . Using this version of the core and Kraken libraries worked on my computer and on my phone.

[2022-04-06 22:29] bschnider opened #4455 "Android: BinanceTradeService invalid signature with Android API level 24"
I am trying to extract trades from my Binance account with the following code:

[code]
This code works on a device with an Android API level of 30 but fails with another device whose API level is 24. On this latter device, the following error is raised:
[code]
I did not manage to extract the API request or to identify the problematic piece of code. I am using xchange-binance 4.3.4. XChange 4.3.4 w

[2022-04-07 09:04] 597800451 commented on #4450
I found another option. Use Clash and enable TUN mode. It can be used directly without a proxy

[2022-04-07 09:04] #4450 closed

[2022-04-07 22:03] hovi commented on #4216
From my experience I must say the best is to setup whole xchange project, build the latest snapshot on your local and set it as a dependency. Maven/gradle make it very easy to setup and then you can experiment with code changes within xchange itself.

It was just way too often when I had to modify xchange code to get it working on android. You can also then easily submit pull request when it makes

[2022-04-08 04:07] BerwynZhou opened #4457 "[XChange-okex] example OkexTradesDemo cant get trades data"
`11:57:08.787 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory - Creating exchange from specification
11:57:08.787 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory - Creating default exchange from class name
11:57:08.803 [default] [main] DEBUG o.knowm.xchange.okex.v5.OkexExchange - Loading metadata from okex.json
11:57:09.412 [default] [main] DEBUG o.knowm.xchange.okex.v5.OkexExcha

[2022-04-22 06:01] m1dnightc0der opened #4469 "Retrieve funding rates for FTX"
The perpetual swap contracts prevent dislocation with the spot price by charging a small amount known as the funding rate, when spot price> swap price, the funding rate is negative, so that short swap holders pay long swap holders, incentivising the short swap holder to buy, and bring the swap price inline with the spot price.  When the  spot price< swap price, the funding rate is positive, so tha

[2022-04-22 12:31] gewure commented on #4450
can you explain a little more detailed, for the sake of completeness in case anybody wants to use a Proxy too? <3

[2022-04-26 20:21] peyerroger opened #4471 "Race Condition in Kraken Tests makes verify job fail"
Some of the test fail due to a race condition.

[2022-04-26 20:48] peyerroger commented on #4471
Hi there

I already provided a fix for this issue in PR #4472.

Would be great if you could review it and run the verify job as soon as possible.

Thanks,
Roger

[2022-04-28 08:48] #4471 closed

[2022-04-29 14:25] peyerroger opened #4473 "FTX: Support Stop/Conditional Orders"
PR will follow soon.

[2022-05-01 10:59] #4473 closed

[2022-05-02 10:46] eschava commented on #4446
Please check this https://github.com/knowm/XChange/pull/4462
or this https://github.com/knowm/XChange/pull/4470 pull requests

[2022-05-03 14:15] peyerroger opened #4477 "Missing cumulative amount on FTX Order Subscription"

[2022-05-05 06:49] m1dnightc0der opened #4479 "Streaming best practices"
Hi, I have just started to use the streaming api, and hitting a few issues, wondered if there were any best practices.

I am subscribing to multiple prices, if I do this with one thread instantiating the exchange, the books all get confused and error. If I do this with multiple threads, instantiate the exchange as a singleton that is used aross all threads, it kinda works but it drops book from ti

[2022-05-07 16:38] jessethouin opened #4482 "Support for alpaca.markets"
Are there any plans to support alpaca.markets? They have an unofficial Java API at https://github.com/Petersoj/alpaca-java, but it would be nice to be able to use just one interface (knowm XChange).

[2022-05-07 18:06] #4477 closed

[2022-05-07 21:44] walec51 commented on #4482
you can submit a PR with an implementation of their API using xchanges conventions

[2022-05-07 21:48] walec51 commented on #4469
before doing any bigger implementation feel free to post some pseudocode showing the structure of those DTOs in this issues thread so we can discuss them

[2022-05-10 08:45] m1dnightc0der opened #4483 "Update FTX getOpenPositions to return averge price of position rather than last trade price"
When managing positions it is useful to have the average price of the position to calculate the pnl (i.e. average price-last price), currently the FTX adapter returns the last traded price which can be retrieved from the existing market data services, however the average price of the position can only be retrieved via the open positions api.

[2022-05-10 09:02] m1dnightc0der commented on #4483
okey, seem to be a issue with FTx giving the last trade price in the entry price.

[2022-05-18 09:52] m1dnightc0der commented on #4457
humm, set the following in logback.xml to see what is being set, looks like you might have to set and id or a timeframe.

```    <logger name="si.mazi.rescu" level="TRACE" />```

[2022-05-21 08:37] m1dnightc0der opened #4489 "FTX Orderbooks heavly lagged in info.bitrich.xchangestream.ftx.FtxStreamingExchange"
When subscribing to FTX orders books via info.bitrich.xchangestream.ftx.FtxStreamingExchange they lag up to 30 to 40 secs vs connecting and streaming say in python, so this is not a local machine issue or a ftx to local machine lag issue.

Example connection

`XchangeUtil.getStreamingExchangeForMarket(market).getStreamingMarketDataService().getOrderBook(pair, params)                .subscribe(orde

[2022-05-23 05:46] makarid commented on #4489
Hello, you mean 30-40 milliseconds I guess because there is not a lag of
30-40 sec on ftx streaming orderbook

On Sat, May 21, 2022, 11:38 AM m1dnightc0der ***@***.***>
wrote:

[2022-05-24 22:34] jmacxx opened #4493 "Huobi: Unable to obtain tickers from exchange (Null Instrument)"
Huobi is returning some unusual symbols in their API.  https://api.huobi.pro/v1/common/symbols that cause an exception, resulting in you not getting any tickers from the service.

<details><summary>Examples: "ltc3usdt", "btc1susdt", "a8s8d8f8", "a8s83ld8f8"</summary>

a8s8d8f8
a8s83ld8f8
trx3susdt
w4j4x8z9
a8s83sd8f8
y1y2x8z9
trx3lusdt
bch3lusdtnav
ltc3lusdtnav
link3susdtnav
xrp3lusdtnav
fil3lusdt

[2022-05-25 10:26] m1dnightc0der opened #4494 "Support ChangeOrderPrice and ChangeOrderVolume"
Currently, we have a single method to allow us to modify orders
`default String changeOrder(LimitOrder limitOrder) throws IOException`
There are times when you just want to modify the order price, or the volume, or both. When just modifying, if you pass in a new limit order, you might end up adjust the quality too as the it just so happens the volume you have does not match what the exchange has.

[2022-05-25 10:57] m1dnightc0der commented on #4494
okey, we can do this by just not serliasing null elements, i.e. pass in a null volume.

[2022-05-30 21:01] imTigger opened #4496 "[FTX] getTradeHistoryForSubaccount returns incomplete UserTrades"
Currently FTX REST API getTradeHistoryForSubaccount() returns `UserTrade`,
with `fee` and `feeCurrency` = null, and `id` incorrectly mapped to orderId
Which is incomplete and inconsistent with one returned by streaming (`exchange.getStreamingTradeService().getUserTrades()`)

I found the getTradeHistoryForSubaccount() method is calling to `/orders/history` instead of `/fills`

Should `UserTrades` s

[2022-05-31 19:29] axdenco opened #4498 "xchange-stream-binance: Wrong BinanceWebSocketTypes for OUTBOUND_ACCOUNT_INFO"
Hello,
outboundAccountInfo has been removed by Binance on 2021-01-01, BinanceWebSocketTypes need to use outboundAccountPosition instead.
Information published at https://binance-docs.github.io/apidocs/spot/en/#change-log
It's a reason why StreamingAccountService.getBalanceChanges() is not working.

[2022-06-06 10:02] zpaimon commented on #3994
Any plan for this issue ?

[2022-06-07 02:57] zpaimon opened #4503 "how to support ETHUSD_220624 symbol in Binance?"
how to support ETHUSD_220624 symbol in Binance?

I want to get quarter future's OrderBook .If I use new CurrenyPair("ETH","USD_220624") to get order book,xchange can't parse data from Binance.

[2022-06-07 03:29] #4503 closed

[2022-06-09 06:46] emendamus commented on #4498
Hi @axdenco ,

it is fixed here: #4506 https://github.com/knowm/XChange/pull/4506/files

[2022-06-09 10:17] #4498 closed

[2022-06-19 02:13] mystarrocks commented on #4374
Hope someone finds this helpful.

With no easy way to configure the header names for the US version (host and URI can be customized on the `ExchangeSpecification`), I used a ResCU interceptor to get around. Here's some sample code from my working setup:

### Custom interceptor
[code]

### Interceptor service registration (`src/main/resources/META-INF/services`)
[code]

### API path resource class

[2022-06-19 17:38] BernatCarbo commented on #4374
@mystarrocks That could work.

Sadly we ended by dropping XChange from our project and we made our own exchange implementation from the scratch.

[2022-06-22 02:01] minm2015 opened #4513 "【Binance】Data currency contracts are not supported？"
I have checked the API and found that only codes related to V1 and V3 spot are supported, but no contract code of V2 is available？

[2022-06-23 16:44] nibarulabs opened #4514 "Coinbase Pro api sunsetting"
The Pro features will be moving to Advanced Trade.

https://blog.coinbase.com/hello-advanced-trade-goodbye-coinbase-pro-5b0715b03ef0

Our product uses Pro and we'll need to do some work to make sure that the regular Coinbase adapter works with Advanced Trade. I'm taking a quick look through their updated api docs.

One thing I don't see in the updated (current) docs - https://docs.cloud.coinbase.c

[2022-06-26 14:24] mrmx commented on #4029
It's working, at least with latest 5.0.14-SNAPSHOT version.

[2022-06-27 19:57] salahaldinamera opened #4518 "OKEX demo account API (APIKey does not match current environment)"
**I'm trying to connect to okex demo account API but I'm getting the following error message.
But when connecting to real okex account API it connects without this error.**

`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'dgsQueryExecutor' defined in class path resource [com/netflix/graphql/dgs/autoconfig/DgsAutoConfiguration.class]: Unsatisfied de

[2022-06-30 18:37] ricardo-zenki commented on #4374
I mean, it is not clear for me how to register the interceptor

[2022-06-30 19:44] mystarrocks commented on #4374
Yep, you got that right - just create a file in the META-INF/services, and add the fully qualified name of the custom interceptor implementation class in it as I’ve shown in my working setup.

[2022-07-05 04:41] #3994 closed

[2022-07-05 21:53] nibarulabs commented on #3813
@earce Was there ever any resolution on this. I read through the Netty issue and it seemed like it was fixed? I'm asking because I have some Kucoin streaming code I can drop into a PR, but I'm running into this issue now where the socket disconnects after 4 or so hours (haven't been able to nail down an exact time since it's from users that haven't provided time stamps).

[2022-07-14 10:05] makarid commented on #4483
I have fix it, you can close the issue

[2022-07-14 10:08] makarid opened #4528 "[Ftx, Core] Remote Init doesn't get called when SteamingExchange instance is being created"
Hello, i was instantiating an FtxStreamingExchange instance and the remoteInit was never called in order to get CurrencyPairMetaData. My question is, is this feature by default for every StreamingExchange instance? If yes, maybe we need to fix it. Thanks

[2022-07-17 09:01] douggie opened #4529 "[FTX Streaming] Orderbook check sums incorrect when using multiple treads"
Currently the FtxStreamingAdapters is static, so is shared across mutliple threads, causing the check sum calculation (getOrderbookChecksum) to be shared. In a multi-threaded environment we want to ensure each thread has their own instance of the FtxStreamingAdapter.

I'll raise a PR accordingly.

[2022-07-25 16:05] andrew-bernard opened #4534 "Binance Test URI is hardcoded to spot API and cannot be changed to the futures test API"
Please see the method below. These properties should be configurable in a properties file. Because they are **hard coded to the spot test API**, I cannot change it to the futures test API

`org.knowm.xchange.binance.BinanceExchange.concludeHostParams(ExchangeSpecification)

`
` private static void concludeHostParams(ExchangeSpecification exchangeSpecification)
 {

    if (exchangeSpecification.get

[2022-07-26 10:05] #4496 closed

[2022-07-27 17:19] abhilashkrishnan opened #4536 "Support India, Singapore, Japan, Hong Kong and UAE Exchanges"
This is a feature request to support global exchanges from India, Singapore, Japan, Hong Kong and UAE. It will boost a massive adoption of the apps using this library.

[2022-07-29 14:22] mumch opened #4537 "Huobi nullpointer, because transactionFeeWithdrawal may be null"
In HuobiAdapters, the line

BigDecimal transactFeeWithdraw = new BigDecimal(huobiCurrency.getTransactFeeWithdraw());

leads to a nullpointer, since transactFeeWithdraw may be null.
Huobi's API documentation says: "Withdraw fee in each request (only applicable to withdrawFeeType = fixed)"
according to https://huobiapi.github.io/docs/spot/v1/en/#apiv2-currency-amp-chains

[2022-08-08 07:09] alinbreaban opened #4541 "Poloniex API for returnChartData - changes breaking compatibility"
Poloniex deployed a new trading system and with it looks like they changed part of their legacy API.
The changes done on returnChartData are breaking the integration for obtaining ohlcv data. The date of each candle is wrongly parsed due to Poloniex returning millis instead of seconds in their API.

I created a pull request that fixes this here: https://github.com/knowm/XChange/pull/4540

@timmolt

[2022-08-08 11:32] vangogiel commented on #4537
I am having the same issue with it. The adapter stopped working all of a sudden. Although, I am not sure how that happened, because there is no Huobi changelog that would indicate anything obvious.

`
Caused by: java.lang.NullPointerException
	at java.base/java.math.BigDecimal.<init>(BigDecimal.java:834)
	at org.knowm.xchange.huobi.HuobiAdapters.getCurrencyMetaData(HuobiAdapters.java:140)
	at org.

[2022-08-08 13:10] mumch commented on #4541
Hi @alinbreaban

Something to add:
Poloniex changed the API drastically. They call it "NTS" for new trading system.
For instance fetching Trades does no longer work neither.
The changes are briefly described here: https://support.poloniex.com/hc/en-us/articles/7749696398871
And the API doc is here: https://docs.poloniex.com/#introduction

For the ones which were confused about the article and the

[2022-08-08 14:19] alinbreaban commented on #4541
Hey @mumch

Thank you for putting this here.
Indeed, there is a new version of the API.
There is still the legacy API available though and most of the methods (that I tested) work as expected.
Here is the documentation for the legacy API: https://docs.legacy.poloniex.com/#returnbalances

The returnChartData method was broken though, and it got fixed by the PR that I did.
So basically, most of the

[2022-08-09 11:36] Arpstorm opened #4542 "[Bitmex-stream] authentication failure after reconnect"
I'm using xchange-stream-bitmex to subscribe to an endpoint that requires authentication. All works well, until a websocket reconnect is triggered (which just happens from time to time). During auto-reconnect of NettyStreamingService, an error is thrown and the connection is not recovered:

![Screenshot 2022-08-09 025351](https://user-images.githubusercontent.com/51181358/183630546-b06a1f91-9515-4

[2022-08-09 14:04] Arpstorm commented on #4542
@jkolobok Since you implemented authentication in xchange-stream-bitmex, this might interest you.

[2022-08-09 16:44] opcoach opened #4543 "[core] MarketDataService ::getTicker(Instrument) should be restored with the default implementation in 5.0.11"
From 5.0.12 the default interface implementation of MarketDataService::getTicker(Instrument ...) has changed like this (left : master, right 5.0.11)  :

![image](https://user-images.githubusercontent.com/1716878/183704889-e8ae3088-85dd-43f8-88fa-ba5a8e961124.png)

So, if you use the Bitstamp exchange from 5.0.12 and call the getTicker(Instrument ), we get an NotYetImplementedException for getTicke

[2022-08-12 12:42] mumch opened #4544 "[Poloniex Stream] Trades subscribing no longer works / OrderBook subscription throws exceptions"
Subscribing to Trades Stream (xchange-stream-poloniex2) does no longer work: No data is received. Although no exception occures during connect and subscription, some exceptions are thrown afterwards (not yet investigated deeper, but some update messages may be in a new format).

Subscribing to OrderBook Stream results in exceptions under some circumstances (not yet investigated deeper, seems like

[2022-08-12 12:49] mumch commented on #4541
Hi @alinbreaban
Thank you for your reply and the explanation regarding legacy API of Poloniex.

I have created a dedicated ticket #4544 with the Trades and OderBook Stream isssue, as these do not belong to the title of this ticket here.

[2022-08-12 12:51] mumch commented on #4537
A quick and dirty workaround would be modifying the HuobiAdapters.getCurrencyMetaData() method to:

private static CurrencyMetaData getCurrencyMetaData(
      HuobiCurrency huobiCurrency, boolean isDelisted) {
    int withdrawPrecision = huobiCurrency.getWithdrawPrecision();
    BigDecimal transactFeeWithdraw = BigDecimal.ONE;
    if(huobiCurrency!=null && huobiCurrency.getTransactFeeWithdraw() !=

[2022-08-12 13:01] vangogiel commented on #4537
@mumch
I have created a solution locally and installed a snapshot version to use in my uber jar.

I can create a PR in your repo if it helps.

Thanks,
Norbert

[2022-08-12 13:16] mumch commented on #4537
@vangogiel
If you have an appropriate solution, better make a pull request directly here to the XChange project.
Thank you and regards, mum

[2022-08-12 13:51] makarid commented on #4537
My solution was to just query the transactionFeeWithdraw if it is null to
place BigDecimal.ZERO

Στις Παρ 12 Αυγ 2022 στις 4:17 μ.μ., ο/η mumch ***@***.***>
έγραψε:

[2022-08-17 10:15] vangogiel commented on #4537
@mumch
I created a PR, https://github.com/knowm/XChange/pull/4552.
In my opinion, this is the cleanest approach.
I wanted to add a test, but there is no structure for `Integration` or `Exchange` tests, so I wasn't invasive as much.

[2022-08-17 12:06] makarid commented on #4537
@vangogiel i have add your implementation to my PR #4546 also. Thanks

[2022-08-17 14:36] douggie opened #4553 "Support liquidation flag on trade object"
A number of exchanges provide weather a given trade is the result of a liquidation event, this is very useful information and I am keen is it capture.

Unless there is any objections I suggest adding a `liquidation` filed to the org.knowm.xchange.dto.marketdata.Trade object with a default of `false`