[2017-08-07 22:08] 23492904284930234 opened #1671 "Kraken Exchange should throw FrequencyLimitExceededException when rate limit is exceeded"
When I hit the frequency limit on Kraken exchange API  an `ExchangeException` is thrown:
`org.knowm.xchange.exceptions.ExchangeException: [EAPI:Rate limit exceeded]`

Interpreting the exception msg leads to the conclusion that a `FrequencyLimitExceededException` exception should be thrown instead of an `ExchangeException`.

[2017-08-08 02:39] K1ltu commented on #1632
Here's a a possible solution it may be a bit dirty but you could always take a variable like a Boolean and have a separate thread that sets it to true every three or four hundred milliseconds and if that bool is true have it do your query or if it's false have it sleep like I said it's not the best solution it's not even a great solution but it would work

[2017-08-08 04:07] nntaoli opened #1672 "Support OKEx API 2.0 And Huobi.pro API ?"

[2017-08-08 07:01] cymp commented on #1645
Did you get a chance to work on this npomfret?

[2017-08-08 07:02] npomfret commented on #1645
not yet, sorry

[2017-08-08 07:51] timmolter commented on #1671
You're probably correct. It probable just hasn't been implemented yet. Feel free to submit a PR with the update!

[2017-08-08 07:57] jheusser commented on #1672
@nntaoli would you be able to clarify, is there documentation to OKEx API 2.0?

[2017-08-08 11:27] paul-c-r commented on #1398
Thanks Nick, I finally got it working with the help of this trail.
My big mistake was that I instantiated the exchange with the name of the class and then set the specifications against it. As mentioned above, the proper way is to create it with the specs.
I also had some class not found issues for common base64 and utils. I had to add common codec and jack my common-io version up to 2.5
Now it ru

[2017-08-08 11:37] cymp commented on #1633
Since I have no time to do this by myself, I am ready to pay a 50mBTC bounty. Could you please update the tag?

[2017-08-08 12:09] cymp commented on #1633
Thank you timmolter. By the way, I see that there is a "Bounty" label available, how can we use this?

[2017-08-08 12:13] timmolter commented on #1633
Added it...

[2017-08-08 16:26] swissistent opened #1673 "Kraken GetTicker: Invalid Arguments"
A couple of currencies lead to an (SNAPSHOT 4.2.2)

GNO/BTC
REP/CAD
XRP/GBP

ExchangeException: [EGeneral:Invalid arguments]

[2017-08-08 18:57] Achterhoeker commented on #1673
@swissistent If i run the kraken ticker example with GNO/BTC :
private static void generic(Exchange krakenExchange) throws IOException {

    // Interested in the public market data feed (no authentication)
    MarketDataService marketDataService = krakenExchange.getMarketDataService();
    // Get the latest ticker data
    Ticker ticker = marketDataService.getTicker(new CurrencyPair("GNO","BTC"))

[2017-08-08 21:45] cymp commented on #1653
Could you please add the "Bounty" label timmolter? I can't find how to do that.

[2017-08-08 23:42] MartianTech commented on #1636
@npomfret Can we also fix this for okcoin?

[2017-08-09 07:55] swissistent commented on #1673
GNO/BTC seams to work then:
THis one still throws the Exception:

MarketDataService marketDataService = ex.getMarketDataService();
		Ticker ticker = marketDataService.getTicker(new CurrencyPair(Currency.XRP,Currency.GBP));
		System.out.println(ticker);

[2017-08-09 09:27] nntaoli commented on #1672
@jheusser   this is  okex api 2.0 document , https://img.bafang.com/okex/html/okex_com.api.html

[2017-08-09 11:03] Achterhoeker commented on #1673
That exception is correct, Kraken doesn't seem to contain the XRP/GBP pair anymore. It should be removed from the kraken json file. (I assume that's why it still is in the pair list from xchange Kraken)

[2017-08-09 11:33] #1673 closed

[2017-08-09 13:31] npomfret commented on #1667
Poloniex was down for days recently.  I think maybe that's why.  There are rumours that isn't close to going bust.  Be warned!

[2017-08-09 13:32] npomfret commented on #1664
The his be fixed.  Please close

[2017-08-09 13:33] npomfret commented on #1659
Fixed.

[2017-08-09 13:33] #1659 closed

[2017-08-09 13:56] npomfret commented on #1653
I might get time to look at this.  Thanks for offering a bounty.

[2017-08-09 14:30] EzBar commented on #1667
Wow.. thanks for the head-up mate.
This may have a major effect on the entire market. I sure hope these are merely rumors...

[2017-08-09 14:42] cymp commented on #1653
You are welcome.

[2017-08-09 14:48] npomfret commented on #1667
They went down for 2 days and not a word of explanation to their customers.  And shortly before they changed their terms and conditions, inducing adding some clauses about not being able to sue them!  The rumour is they are insolvent.

[2017-08-09 15:30] #1664 closed

[2017-08-09 16:16] EricAnderson1000 commented on #1653
@npomfret  if you don't have time right away, I would love to contribute to this project through this request. But I don't want to duplicate efforts. Let me know!

[2017-08-09 16:18] npomfret commented on #1653
I'm almost done with an initial implementation, will commit my first attempt soon.

[2017-08-09 17:24] npomfret commented on #1653
@cymp first implementation is here  https://github.com/timmolter/XChange/pull/1679

It's pretty basic, but all available endpoints are implemented (I think) and ready for testing.  I've placed an order, queried it, cancelled it, got the wallets data, got address data.  As I'm writing this I realise I didn't execute a trade with it...

[2017-08-09 17:30] cymp commented on #1653
Okay, please paste here your bitcoin address, I'll send you half the bounty and the other half once you are finished. Sounds good to you?

[2017-08-09 17:32] npomfret commented on #1653
Sure.  1K5dYadQBBkTR3L4RkktMiNaJbx8uRRyyq

[2017-08-09 17:35] cymp commented on #1653
30mBTC are on their way to 1K5dYadQBBkTR3L4RkktMiNaJbx8uRRyyq.

[2017-08-09 19:38] cymp opened #1680 "Java version"
I couldn't find in the wiki which Java version we should use for coding and I think this is Java 7. What do you think about migrating to Java 9 once it is officially out?

[2017-08-09 19:42] timmolter commented on #1680
I'm more included to keep it at Java 7 because it will allow more people (who may be forced to use an old version) to be able to use XChange. You can use Java 9 runtime to run it, and in the Maven pom.xml file Java 7 is defined, so IDEs like Eclipse and intelliJ will automatically use a Java 7 compiler, even if you have the Java8 or 9 JDK in use and no Java 7 installed on your system at all.

[2017-08-09 21:08] cymp commented on #1680
Okay, I am just a bit frustrated to not be able to use lambdas and other Java 8+ stuff.

[2017-08-10 08:40] npomfret commented on #1636
@MartianTech what's not working?

[2017-08-10 10:06] nntaoli opened #1681 "Why Bittrex Not Implement GetOrder ??"
I've found that a number of trading platform only implement part of the method？

[2017-08-10 13:02] timmolter commented on #1681
Yes, that's true indeed. Not everything is 100% complete.

[2017-08-10 13:02] #1681 closed

[2017-08-10 13:14] npomfret commented on #1681
@nntaoli sometimes the exchanges just don't support the API methods exposed in this project.  Other times people just haven't implemented it.

[2017-08-10 13:17] npomfret commented on #1653
@cymp https://github.com/timmolter/XChange/pull/1679#event-1200895509 has been merged so feel free to do some testing.  Alll available endpoints have been implemented.  I've got plenty of clean up to do still, but as your were paying I wanted to get something to you as quickly as possible.  I don't anticipate any major changes in behaviour as a result of further work.

@EricAnderson1000 if you wan

[2017-08-10 13:19] npomfret commented on #1298
Can this be closed?  Or is there still work need doing?  And is any bounty available?

[2017-08-10 14:00] cymp commented on #1653
@npomfret Thank you, I will try to make some test ASAP. Please tell me when you think your cleanup is finished as well.

By the way, I've just noticed in the [API description](https://www.yobit.net/en/api/), "v3" section that they now provide multi results with one call, which is a nice feature. Would you agree to look into this as well? I would extend your bounty to 10mBTC more.

[2017-08-10 14:02] npomfret commented on #1653
I'll take a look at the multi-results thing.  It might take quite a big refactor to get it into this API properly though, so it may be quite a big job.

[2017-08-10 14:24] cymp commented on #1653
Thank you!

[2017-08-10 14:26] npomfret opened #1682 "build error"
@timmolter looks like the JVM died on the latest build, something to do with "Error while generating Javadoc".  Can you kick it off again?

[2017-08-10 18:28] npomfret opened #1683 "GDAX failing?"
I'm getting error from gdax today:

`503: Invalid tonce value`

and

`request timestamp expired (HTTP status code: 400)`

Anyone know why this is happening?

[2017-08-11 06:24] timmolter commented on #1682
done

[2017-08-11 06:24] #1682 closed

[2017-08-11 09:50] MartianTech commented on #1636
There are a few things wrong with the current implementation.
First it's the currency symbol. It should be changed to something like this. We also need to differentiate okcoin.com (International) with `btc_usd` and okcoin.cn with `btc_cny`.

[code]

Then it's the fee. They have different required fees for currencies.
[code]
The withdraw method in OkCoin.java is missing a parameter "target" as requ

[2017-08-11 11:32] npomfret commented on #1653
@cymp I've submitted a https://github.com/timmolter/XChange/pull/1685 which has all the clean up i intended plus implementations for the multi-currency calls that are documented.  They are not a part of the public api yet, that's a question we need to ask @timmolter .

To access the new market data calls you need to use:

[code]

There are implementations of the `params` objects available (current

[2017-08-11 11:40] npomfret commented on #1636
Sounds like you have a good handle on this - why not submit a PR yourself?

[2017-08-11 11:42] npomfret commented on #1636
Signature does not match - sounds like a problem in the digest to me.  Maybe the parameters aren't being included in the signature?

[2017-08-11 11:43] cymp commented on #1653
Thank you @npomfret, I will not be available until Wednesday so I can't test, but I guess I can send you the remaining of the initial bounty, which is 30 mBTC, they are already on their way to 1K5dYadQBBkTR3L4RkktMiNaJbx8uRRyyq. I will give you feedback once I have tested.

 I will give you the extra 10mBTC once this multi currency call case is closed. Do you agree?

Thanks again for your quick an

[2017-08-11 11:46] npomfret commented on #1653
thanks @cymp that's all fine.  I'm confident the multi currency stuff is working.  if or not we integrate into the public api is a different question, and maybe quite a big refactor - but I think it should go in.

[2017-08-11 17:07] #1683 closed

[2017-08-11 18:49] MartianTech commented on #1636
I'm not sure. That part is beyond my understanding. Hope you can figure out.

[2017-08-12 07:08] timmolter commented on #1680
Also people use this as a basis for Android apps, and last time I checked, Java 8 was not supported.

[2017-08-12 07:08] #1680 closed

[2017-08-12 07:09] #1662 closed

[2017-08-12 07:09] #1657 closed

[2017-08-12 07:09] #1652 closed

[2017-08-12 07:10] #1660 closed

[2017-08-12 07:15] timmolter commented on #1653
@npomfret I've seen multiple requests for these methods now, so it might be a good time to introduce them. Why `Iterable` though as opposed to `List`?

[2017-08-12 07:16] #1306 closed

[2017-08-12 07:17] timmolter commented on #1298
Closing due to no response.

[2017-08-12 07:17] #1298 closed

[2017-08-12 07:18] #1139 closed

[2017-08-12 07:18] #1161 closed

[2017-08-12 07:19] #1145 closed

[2017-08-12 07:23] #1175 closed

[2017-08-12 07:24] #1203 closed

[2017-08-12 07:26] #1334 closed

[2017-08-12 07:28] timmolter commented on #1569
@dimecoin If you want to post a bounty, let me know and I'll add it to: <https://github.com/timmolter/XChange/issues/1205>

[2017-08-12 07:28] #1569 closed

[2017-08-12 07:29] timmolter commented on #1628
looks to be complete.

[2017-08-12 07:29] #1628 closed

[2017-08-12 07:31] #1463 closed

[2017-08-12 07:31] timmolter commented on #1485
Is this now fixed?

[2017-08-12 07:32] #1489 closed

[2017-08-12 07:32] npomfret commented on #1485
Yep

[2017-08-12 07:33] timmolter commented on #1498
The coinbase V2 Api is not implemented. It seems like everyone is using the GDAX API for coinbase now.

[2017-08-12 07:33] #1498 closed

[2017-08-12 07:33] #1485 closed

[2017-08-12 07:33] #1512 closed

[2017-08-12 07:33] #1513 closed

[2017-08-12 07:34] #1456 closed

[2017-08-12 07:36] #1422 closed

[2017-08-12 07:36] #1448 closed

[2017-08-12 07:37] timmolter commented on #1525
Is this still an issue?

[2017-08-12 07:37] #1540 closed

[2017-08-12 07:37] #1555 closed

[2017-08-12 07:38] timmolter commented on #1549
Also the Coinbase impl. uses the deprecated V1 API. Try the GDAx impl.

[2017-08-12 07:38] #1549 closed

[2017-08-12 07:38] npomfret commented on #1525
I'll get back to you.  I can't quite remember the issue.  I think when getting information out of the exchange the cry pairs were all lowercased.  But I'm pretty sure its ok now

[2017-08-13 06:36] timmolter commented on #1573
I don't understand how this would work. The Domain classes are carriers of information more or less, not different implementations of actions. Maybe I don't understand interfaces as well as you do. An example would be helpful.

[2017-08-13 06:36] #1573 closed

[2017-08-13 06:37] #1594 closed

[2017-08-13 06:38] timmolter commented on #1544
referencing this related issue: https://github.com/timmolter/XChange/issues/1617

[2017-08-13 06:39] #1617 closed

[2017-08-13 06:39] #1640 closed

[2017-08-13 06:41] #1341 closed

[2017-08-13 06:42] #1414 closed

[2017-08-13 06:43] #1635 closed

[2017-08-13 06:44] #1651 closed

[2017-08-13 06:45] #1667 closed

[2017-08-13 06:46] #1571 closed

[2017-08-13 06:50] timmolter commented on #1212
It looks like this is now added to XChange.

[2017-08-13 06:50] #1212 closed

[2017-08-13 06:52] timmolter commented on #1665
Merging this feature request with this existing one: <https://github.com/timmolter/XChange/issues/1231>

[2017-08-13 06:52] #1665 closed

[2017-08-13 06:54] #1519 closed

[2017-08-13 06:57] #1646 closed

[2017-08-13 08:18] Zvezdin opened #1688 "Implement unified interface for historical course data"
The poloniex api allows you to download historical course data for different intervals (candlestick data each 5 min for example).

Example API call:
`https://poloniex.com/public?command=returnChartData&currencyPair=USDT_ETH&start=1499603961&end=9999999999&period=300`

The Poloniex API wrapper in XChange implements this feature, but it can only be used by writing exchange-specific code (Poloniex fo

[2017-08-13 16:03] EricAnderson1000 commented on #1633
I'll have a go at this! I'll start work this afternoon

[2017-08-13 16:16] npomfret commented on #1633
@EricAnderson1000 if you decide not to continue let me know, I will have time to do it later this week

[2017-08-14 09:18] npomfret commented on #1653
`Iterable`... only because I prefer to pass around immutable data structures

[2017-08-14 09:18] npomfret commented on #1525
Please close, I can't reproduce.

[2017-08-14 09:23] npomfret commented on #1525
Sorry, yes it's still a problem.  I will fix now.

[2017-08-14 15:58] npomfret commented on #1525
Fixed https://github.com/timmolter/XChange/pull/1689/commits/37325cb0c545e363203cd798d06b0c2912752b18

[2017-08-15 08:43] #1525 closed

[2017-08-15 16:41] andrehortab2u opened #1692 "Add Bitcointoyou"
Hi

Bitcointoyou have 200000 users, it's time to add this exchange to xchange

Example of use api:
https://github.com/Bitcointoyou/robo.net

[2017-08-15 23:30] MartianTech opened #1693 "[Kraken] adaptLimitOrder tradableAmount"
[code]

Most exchanges define `tradableAmount` in a limit order to be the entire order size client placed. However this Kraken's adapter define it to be the order size minus the partially filled size.

It's not a bug accidentally introduced because the author intentionally implemented this way. However this is not consistent with most other exchanges' implementation. Should we change this?

[2017-08-16 09:44] npomfret commented on #1693
How can you see the amount remaining typically?

[2017-08-16 10:31] MartianTech commented on #1693
Do you mean the unfilled amount in an order? Then it's the order size minus partially filled size just like the above implementation. However the problem here is that exchanges are defining `tradableAmount` differently.

[2017-08-16 13:55] cymp commented on #1653
@npomfret I am starting to test, and when I do
`marketDataService.getTickers(new MultiCurrencyPairTickersRequestParams(exchange.getExchangeSymbols()));`
I get an HTTP 414. Indeed, as far as I know the http urls are limited to 2k characters and here we have something like 1k currency pairs, exceeding this limit.

What do you think should be done? Split the calls and then aggreagate the results in t

[2017-08-16 13:59] npomfret commented on #1653
I didn't test that scenario, thanks for letting me know.

I think handling that in yobit specific code might not be the best solution.  The result would be multiple API calls when the user thinks they're only doing 1, which might have an adverse effect when rate limiting kicks in.  Perhaps for now we should just add a more helpful error message that explicitly says there are too many currency pair

[2017-08-16 14:02] cymp commented on #1653
You are right, for now I will split the calls in my client application in order to continue testing. I am going to add a todo as well.

[2017-08-16 14:03] npomfret commented on #1653
I'll make a change later today and add a better error message.

[2017-08-17 10:52] Achterhoeker commented on #1693
@MartianTech Which exchanges do not return the open amount for the order ?

As far as I known the exchanges Bitfinex, CexIO, Bitstamp, Kraken, Bittrex, Polo and Bleutrade return the amount still open for open open orders. (and not the original amount).
This is also discussed a long time ago, then the decision was made that the amount still open needs te be returned.

[2017-08-17 13:13] cymp commented on #1633
@EricAnderson1000 Have you made any progress?

[2017-08-17 13:14] EricAnderson1000 commented on #1633
Yes see https://github.com/timmolter/XChange/pull/1690 ... I would say about 75% done.

[2017-08-17 13:22] cymp commented on #1633
Ok great, please take special care of [cancel replace order](https://api.hitbtc.com/api/2/explore/) if it is not already done! And please give me your BTC address so that I can send you a part of the bounty.

[2017-08-17 22:22] EricAnderson1000 commented on #1633
Lets put it in my newly created Hitbtc Wallet so I can do some testing with it
14jzC9czcnY9Z22SsW4LaTSujkic5C8n6g

[2017-08-18 02:04] MartianTech commented on #1693
@Achterhoeker Sorry if I incorrectly used the term "most exchanges" but to name a few, Gdax, Okcoin and Bitfinex, which you stated the opposite -
[code]

The issue I had here was not whether to use `originalAmount` or `remainingAmount` but the inconsistency across exchanges.

However, if I were to make a decision to choose between those, I prefer `originalAmount`. The reason is that in a limit ord

[2017-08-18 02:49] EricAnderson1000 commented on #1633
@cymp replace or update order might prove to be a bit difficult as we are using JSR311 v1.1.1. Hitbtc uses PATCH which isn't directly supported by that library until 2.0. If the the team supports an upgrade to that library I could implement that operation in a follow up PR.

[2017-08-18 06:24] Achterhoeker commented on #1693
@MartianTech Ai, thanks for pointing me to the fact that bitfinex isn't returning the left open amount. That means that that exchange is different from the rest i am using.
But this discussion has been discussed before. I'll try to find the previous discussions.
As you could expect, i should make a different decision ;-)
Open orders do have to return the open order. (meaning, the order amount left

[2017-08-18 06:26] cymp commented on #1633
@timmolter any thoughts? I am too new and a bit far from this topic.

[2017-08-18 07:57] MartianTech commented on #1693
@Achterhoeker Thanks for your info too.

Most exchanges API do return the originalAmount since it's the invariant. Not every one return remainingAmount or executedAmount, though both are important. So it's hard to enforce every open order to contain those.

I think the best implementation is Bitfinex's
[code]
It's clear, unambiguous and complete. It'd be great if LimitOrder can model like this. Th

[2017-08-18 08:25] Achterhoeker commented on #1693
@MartianTech I totally agree. But that results in an api change. Although, if we keep the current naming in the limit order class the same, and make as an addition field remainingAmount or executedAmount (only one is needed, the other can be calculated) then current users are not forced to adapt the api change.
If the new field is an null pointer, the behavior is not implemented or not given by th

[2017-08-18 09:18] MartianTech commented on #1693
Yea that works for me too. Don't have to make API change. As long as we have consistent representation, I'm happy with it.

[2017-08-19 12:26] Achterhoeker commented on #1693
@MartianTech I've started with a first (small)kickoff for some exchanges, It this as you expected ?
https://github.com/Achterhoeker/XChange/tree/openOrderRemainingAmount

[2017-08-19 22:07] MartianTech commented on #1693
@Achterhoeker Yea looks good to me. Left one comment. thanks for your prompt solution.

[2017-08-20 06:31] nicostouch opened #1703 "Cryptopia orderbook returns total in BTC for the tradeableAmount"
The implementation of `CryptopiaAdapters.java`  sets the tradeableAmount of the LimitOrder to be the total value in BTC which is not how other implementations (at least, Poloniex, Bittrex, BTER that i've tried) behave. It should return CryptopiaOrders.volume field instead of CryptopiaOrder.total field to be consistent with other implementations.

[2017-08-21 14:13] npomfret opened #1705 "please revert new HitBTC stuff"
Hi @timmolter

Can I request that we revert the new HitBTC implementation as we've lost some functionality.

I recently added methods to move funds between the accounts in `HitbtcAccountService` but they've been deleted.  This functionality is crucial for my software, and is still supported by the exchange, there's no reason to remove it.

Could you please revert the commit until any missing funct

[2017-08-21 14:23] npomfret commented on #1705
@EricAnderson1000 what's happened to the hitbtc stuff that allows a user to transfer funds between the _main_ and _trading_ accounts? These methods were only just added and need to be supported still Without them you can trade with deposited funds, and similarly you can't withdraw funds from your trading account because you need to move them to the main account first.  Also, it's necessary to be a

[2017-08-21 14:44] npomfret commented on #1705
Ok, i've tested and can confirm that using `transferFunds` replaces the old functionality correctly.  However, I don't see why the method names were changed as the underlying functionality is still supported - this could have been done as a backward compatible change.

I think the method for doing internal transfers `transferFunds` is confusing and should be renamed something like `internalTransfe

[2017-08-21 14:48] EricAnderson1000 commented on #1705
I believe the names of the methods were closely named to the API calls. Since they have changed the API the names changed a bit. However that is good feedback.

I wasn't quite ready for the merge to happen (thus the *** NOT READY FOR MERGE*** at the top of the PR.

However I would like to take your suggestions and move forward with a new PR I can get going rather than reverting if that is OK?

[2017-08-21 14:48] npomfret commented on #1705
On a separate note.  It looks like the price scale information from the `hitbtc.json` is thrown away.  Again, this needs to be merged into the data that comes bank from the exchange.  Please can we fix or revert until fixed?

[2017-08-21 14:50] npomfret commented on #1705
If it's not ready to merge I suggest reverting.  My software is quite broken at the moment.

[2017-08-21 14:52] EricAnderson1000 commented on #1705
We need to add more tests to this sub-module then. Since none of the existing tests caused failure.

However can't you use a previously released version?

[2017-08-21 14:56] npomfret commented on #1705
Getting the previous snapshot is difficult, i don't even know how (my build just picks up the latest snapshot).  That not the point though, if this change wasn't ready and then shouldn't be merged.

Yes there are test missing, and that's unfortunate (and certainly not your fault), but that's also no reason to keep this change and everyone who uses the snapshots will be using an unfinished PR. I th

[2017-08-21 14:58] npomfret commented on #1705
It think `adaptToExchangeMetaData ` should look like this:

[code]

[2017-08-21 15:09] EricAnderson1000 commented on #1705
https://github.com/timmolter/XChange/pull/1707

[2017-08-21 15:29] cymp opened #1708 "[50 mBTC bounty] Fully implement Cryptopia API"
I am offering a 50mBTC bounty for this.

At the moment, the [Cryptopia API supported by XChange](https://github.com/timmolter/XChange/tree/develop/xchange-cryptopia/src/main/java/org/knowm/xchange/cryptopia/service) only has its market data service implemented.  It would be nice to complete it if needed and have its Trade and Account APIs implemented as well.

[2017-08-21 16:01] npomfret commented on #1708
If you can up your offer to 100 I can start this tomorrow.  Estimate I'd have something ready for testing within 48 hours.

[2017-08-21 16:13] cymp commented on #1708
I need to control my global budget since I have some additional bounties to open here, but I can offer you 75mBTC total if you plan to start this early as you said, with immediate 35 mBTC transfer to whichever address you want as soon as you agree and the remaining 40mBTC once you are finished.

What do you think?

[2017-08-21 16:34] npomfret commented on #1708
Ok, lets do that.

[2017-08-21 17:05] cymp commented on #1708
Ok great, please paste your btc address.

[2017-08-21 18:38] timmolter commented on #1705
OK, merge reverted. Thanks for working together on this!

[2017-08-21 18:46] cymp commented on #1633
@timmolter Maybe you miss this last message?

[2017-08-21 19:33] EricAnderson1000 commented on #1633
@cymp Also see https://github.com/mmazi/rescu/issues/95

[2017-08-21 21:13] cymp commented on #1633
Ok great!

[2017-08-21 22:45] MartianTech opened #1710 "[Okcoin] Withdraw crypto not working"
There are a few things wrong with the current implementation.
First it's the currency symbol. It should be changed to something like this. We also need to differentiate okcoin.com (International) with `btc_usd` and okcoin.cn with `btc_cny`.

[code]

Then it's the fee. They have different required fees for currencies. It can be changed into something like this -
[code]
The withdraw method in OkCoin

[2017-08-21 22:46] MartianTech commented on #1636
#1710 Created a new issue to track this bug.

[2017-08-22 08:09] npomfret commented on #1708
that's ok, pay me when its done and save some transaction fees.

[2017-08-22 08:19] timmolter commented on #1710
The signing it sometimes tough to debug, and is more or less trial and error. Is it only failing for certain endpoints or all endpoints in general?

[2017-08-22 08:21] MartianTech commented on #1710
@timmolter Just failing for withdrawing crypto. Account info and Trading service are working fine. Trying to fix this for a while and even reached out to their technical team but couldn't figure out the signing. Hope to get some help here.

[2017-08-22 08:25] timmolter commented on #1710
Can you submit a PR for the fixes you've already implemented? Then I can look at the withrow impl. You're saying the following is not working right?

`POST /api/v1/withdraw BTC/LTC/ETH Withdraw` from <https://www.okcoin.com/about/rest_api.do>

[2017-08-22 08:29] MartianTech commented on #1710
That's correct. I'd follow up with a PR. Thanks in advance.

[2017-08-22 10:38] #1703 closed

[2017-08-22 12:32] npomfret opened #1714 "open orders: tradableAmount"
I know this question was discussed recently but I can't find it, sorry.

What is the `tradableAmount` field _supposed_ to represent in a open order?  I guess it could be any of:

 * the original order size (before any fills happened)
 * the current order size (the original minus the total quantity filled already), aka _amountRemaining_
 * the amount filled already, aka _amountFilled_

[2017-08-22 12:37] cymp commented on #1714
I am 99% sure it is not the _amountFilled_ already, from what I observed in my software.
My understanding is that it corresponds to the _amountRemaining_.

[2017-08-22 16:27] npomfret commented on #1708
@cymp the bulk of the work is done, i'll submit a PR tomorrow.  I'm just waiting on some funds to clear so I can test placing orders and trading.  It's taking forever.

[2017-08-22 22:42] MartianTech commented on #1710
@timmolter Following up with #1717

[2017-08-23 03:28] MartianTech commented on #1714
This has been creating inconsistency across exchanges. I propose we change them to
[code]

[2017-08-23 08:25] timmolter commented on #1714
@MartianTech I think that's a great idea.

[2017-08-23 09:02] npomfret commented on #1714
+1 for this.  Big change though.

I'd prefer to name the 3rd one `filledAmount`, that's the terminology I'm familiar with from working in finance.  I think _executedAmount_ could be mistaken for _originalAmount_ by some.

[2017-08-23 09:05] timmolter commented on #1714
I like `filledAmount` better as well. We can keep the existing getter and setter (but delete the field) and just set/return whatever field we think is the standard one, in addition to the new three.

[2017-08-23 09:38] Achterhoeker commented on #1714
This is what i've already started with. See https://github.com/timmolter/XChange/issues/1693
I'll add an getter for filledAmount (doesn't need a field, it can be calculated from originalAmount and remaining amount)
I'll also rename the current amount field to original amount and maintain the getter/setter for it.
But the problem is time to do this. Next Wednesday is the first day i have some spare

[2017-08-23 10:04] timmolter commented on #1710
Sorry, I looked into it, but I don't see any obvious mistakes. I don't know how to further help you on this! :(

[2017-08-23 15:13] AdityaNayak commented on #1656
Were you able to identify the issue?

[2017-08-23 15:53] npomfret commented on #1656
Yes, fixed committed and merged

[2017-08-23 15:59] npomfret commented on #1708
There'll be a delay unfortunately. The work is done, bar some final testing but my home broadband isn't working and is showing no signs of being fixed :( Will push when I have some proper internet

[2017-08-23 19:05] mannuodesk opened #1719 "Kraken : Withdrawing to a bitcoin address"
I want to know that how will I be able to use kraken API for withdrawing BTC to a bitcoin address without adding that address as a beneficiary in the Kraken User Web Portal???

As I am getting error for invalid withdraw key in case providing BTC Address to withDraw function.

[2017-08-23 19:11] IceSte86 opened #1720 "[Kraken] CurrencyPair misspelled CHE/UR -->BCH/EUR"
`private static void generic(Exchange krakenExchange) throws IOException {

    // Interested in the private trading functionality (authentication)
        TradeService tradeService = krakenExchange.getTradeService();

    // Get the trade history
        Trades trades = tradeService.getTradeHistory(tradeService.createTradeHistoryParams());
        List<Trade> tradeHistory = trades.getTrades();

[2017-08-23 19:28] radumiron commented on #1078
@Muffon how did you get to fix your mistake? I'm experiencing the same issue.

[2017-08-24 14:29] odaken commented on #1710
@MartianTech
I don't have much confident with directly connect your issue but I experience a wrong signature issue before because of wrong encoding 'tradepwd'.  PR #1722

[2017-08-24 22:19] npomfret commented on #1708
@cymp #1723 has been submitted.  The cryptopia API isn't as fully featured as some others but I've implemented everything that fits into this project.

Have tested making orders, cancelling orders, getting trade history, account balances, wallet addresses etc.

Please take a look and test whenever your ready.

My BTC wallet address is 1K5dYadQBBkTR3L4RkktMiNaJbx8uRRyyq - sorry for the delay, had n

[2017-08-24 23:13] cymp commented on #1708
Thank you! I will test everything next week, but your 85mBTC payment (75 + 10 if I am correct) has been sent to 1K5dYadQBBkTR3L4RkktMiNaJbx8uRRyyq.

[2017-08-25 00:05] MartianTech commented on #1710
@odaken Thanks for working on this! I'd love to try it out. Does it work for you?

[2017-08-25 00:10] MartianTech commented on #1710
Btw, Okcoin is charging absurdly high network transaction fee - 0.002 for BTC. At the current price it's over $8 per withdraw. Comparable to bank wire transfer.

[2017-08-25 00:37] MartianTech commented on #1710
@odaken Hey man, I patched your PR and tested again. Although it was still failing, you were correct that it was due to encoding. My trade password had special symbols, which caused problem in encoding. I changed the trade password and now it works! Your insight is much appreciated.

[2017-08-25 00:46] MartianTech commented on #1719
As far as I know, you can't. Notice that the withdraw key isn't the actual BTC address, but the description you put in when you adding the address via web UI.

[2017-08-25 06:22] odaken commented on #1710
@MartianTech I am grad hearing from you that it works. I did not confirm this patch works in trade password includes special characters but the patch is working without special characters password.

I totally agree Okcoin expensive trade fee. They did not accept withdrawal in case we gives lower fee and interestingly even specify higher fee. As far as I experiencet the fee has to be exactly adjust

[2017-08-25 08:17] npomfret commented on #1708
@cymp thanks very much, funds received.  Please let me know if anything isn't quite as expected.

[2017-08-25 09:13] MartianTech commented on #1710
Yea what's even worse that the okcoin only apply a small portion of the fee they charge for actual transfer transaction. It means they kept the rest.

This PR is legit. We should merge it. Thanks for your work again.

[2017-08-25 09:27] #1705 closed

[2017-08-25 12:25] timmolter commented on #1710
Excellent work!

[2017-08-25 12:25] #1710 closed

[2017-08-25 12:29] #1708 closed

[2017-08-26 07:39] makarid commented on #1215
If you can support bitmex,it would be great!

[2017-08-27 05:52] algorithmcode opened #1725 "Could you add BitYep Price?"
Price API:
https://bityep.com/api/1/ticker

Thanks!

[2017-08-27 09:44] #1672 closed

[2017-08-27 13:36] Mearman commented on #1498
getting this issue with Kraken

[2017-08-27 18:05] coreshift opened #1727 "GDAX Deposit History"
I was going to ask on Twitter since this may not be an issue, but the account doesn't seem to be very active. Sorry if this is the wrong place to ask.

Going by the example code "Get Bitcoin Account Info from Bitstamp", I looked at GDAXAccountServiceRaw to find the proper method. It doesn't contain any deposit methods and neither does GDAXAccountService.

I also looked at GDAXAccountService.getFun

[2017-08-28 08:09] npomfret commented on #1727
That's correct, it's not implemented on gads yet.

[2017-08-28 08:13] npomfret commented on #1720
Have you tried the latest snap shot build?

[2017-08-28 08:15] npomfret commented on #1653
@timmolter this can be closed

[2017-08-28 08:16] npomfret commented on #1596
@timmolter i guess this can be closed too

@mhuusko5 could you test the latest snapshot ?

[2017-08-28 08:50] #1596 closed

[2017-08-28 08:51] #1653 closed

[2017-08-28 09:21] MartianTech opened #1728 "[Gdax] [Feature request] getFundingHistory implementation"
Currently GDAXAccountService doesn't have implementation for
`public List<FundingRecord> getFundingHistory(TradeHistoryParams params) throws IOException`
It'd be very useful if someone can implement this.

I've looked into the API. Although they don't have direct support for this method, we can use
`GET /accounts/<account-id>/ledger` and look for type of `transfer`

https://docs.gdax.com/#get-acco

[2017-08-29 00:27] MartianTech opened #1729 "Questions regarding Exchange and Service's states and lifecycle"
Let's say we have the following code in my class.
[code]
If I pass around the references to other classes, do I need to handle any synchronization or inconsistent state issue across classes when using these services?

Basically, I want to know during my program's lifecycle, is it safe to assume I only need to create one instance of Exchange and pass its reference anywhere without worrying about an

[2017-08-29 06:19] npomfret commented on #1729
The services are all stateless, you need to manage state yourself. You can pass around instances of the exchange object, or create new ones.

The problem comes with exchanges that use a nonce value.  In which case you should just have one instance of the exchange object, and pass it round.  Some exchanges let you create multiple API keys which allows the developer to create multiple instances of t

[2017-08-29 06:21] MartianTech commented on #1729
So as long as I only create one instance of exchange and pass around, I don't need to worry about nonce value or API keys?

[2017-08-29 06:33] cymp opened #1730 "[60mBTC bounty] Implement full livecoin API support"
I am offering a 60mBTC bounty to whomever finishes the implementation of the Livecoin API, which I believe is [already started](https://github.com/timmolter/XChange/tree/develop/xchange-livecoin/src/main/java/org/knowm/xchange/livecoin).

[2017-08-29 06:33] npomfret commented on #1729
Yes.  Err... mostly.

The problem with the exchanges that use a nonce is that you basically can't have any concurrent calls to the exchange, so no multi-threaded access, no multi-program access.  You can only issue one http request at a time.  Usually, this restriction only applies to the private APIs (the account service and trade service) because the public API calls (the market data service) of

[2017-08-29 06:34] cymp commented on #1633
@EricAnderson1000 I mentionned it on the thread you posted a link to, did you get a chance to work on it?

[2017-08-29 06:40] npomfret commented on #1730
75 and I could work on it today. I think it could get an initial PR with full implementation within a day or so.

[2017-08-29 06:50] npomfret opened #1731 "bulk queries"
@timmolter i recently implemented an exchange of @cymp which supports the concept of bulk queries for market data.  Would you be open to me adding this into the public API?

I suggest we deprecate `public Ticker getTicker(CurrencyPair currencyPair, Object... args)` in favour of `public Collection<Ticker> getTickers(TickersRequestParams params)`.  I'll change all implementations to delegate from on

[2017-08-29 07:02] cymp commented on #1730
Fine, there you go!

[2017-08-29 07:23] MartianTech commented on #1729
What would be considered concurrent http calls? Does that mean making a call before the first call return, or there is a timeframe threshold that two calls are made within?

To make sure multi threaded access working properly, what object would the mutex be placed on?

[2017-08-29 07:26] npomfret commented on #1729
That's right.  You have to wait for each call to finish to be sure that it's reached the exchange (or failed).

Take a look at `Mutex` (or semaphore) https://www.mkyong.com/java/java-thread-mutex-and-semaphore-example/

[2017-08-29 07:30] MartianTech commented on #1729
Thanks a lot!

[2017-08-29 07:36] npomfret commented on #1729
I guess the final thing to mention is that when using a mutex you need to make sure that which ever process _has_ the mutex will eventually give it up.  This is especially worth considering when accessing http resources inside the mutex....  What happens if the server is slow to respond, or maybe never responds (and doesn't close the connection or throw an error).  Then your program will never mak

[2017-08-29 07:37] nntaoli opened #1732 "There is no way to use this project, and too many methods are missing implement"
There is no way to use this project, and too many methods are missing implement

[2017-08-29 08:17] MartianTech commented on #1729
These are great information. I'd take a look and follow up with you. Would it be possible to integrate this synchronization mechanism into the library? It seems pretty generic and doesn't depend on specific exchange implementation.

[2017-08-29 12:14] EricAnderson1000 commented on #1633
I am still working on the second version of this PR. However it probably won't have the PATCH. This feature may take a couple of different PRs. But I hope to have the first one here merged today. Then the changes done to RESCU project done Thursday(?). Then and second PR for PATCH API on hitbtc here by the end of the week.

First attempt was merged, but then reversed merged because it was determin

[2017-08-29 13:30] npomfret commented on #1730
Cool.

I've done the bulk of the work but the API has been down since I started so haven't been able to test at all.  Have raised support tickets and queried them on twitter but no response so far.  Will try again tomorrow.

[2017-08-29 14:21] Achterhoeker commented on #1732
Perhaps i'm a strange person, but my own written bot is using this project successful for several years now.

[2017-08-29 18:41] e1ektr0 commented on #1732
For most popular exchanges most of important methods are implemented and working fine.

[2017-08-29 18:50] e1ektr0 opened #1734 "Build failed"
I'm using https://jitpack.io for cmpile project, and it's failed:
(https://jitpack.io/com/github/timmolter/XChange/7c3ca254fd/build.log)

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /home/jitpack/build/xchange-yobit/src/main/java/org/knowm/xchange/yobit/YoBitAdapters.java:[134,18] cannot find symbol
  symbol:   method join(java.lang.Stri

[2017-08-29 18:58] npomfret commented on #1734
What JVM are you using?

[2017-08-29 18:58] lucarosellini opened #1735 "[QUESTION] metadata json file"
Hello everybody,
is there a reason why the metadata override json file is loaded from the filesystem instead of the classpath in [BaseExchange#applySpecification](https://github.com/lucarosellini/XChange/blob/develop/xchange-core/src/main/java/org/knowm/xchange/BaseExchange.java#L77) ?

The absolute filename of the json file is not always easy to retrieve, especially in tests.

Thanks in advance,

[2017-08-29 19:03] npomfret commented on #1735
As far as I know it's always loaded from the classpath.

[2017-08-29 19:05] timmolter commented on #1735
By default it loads it from the classpath. If you want to override that one which comes with the project in "resources" you can do two things:

1. Replace the one in resources with your own.
1. Point to one on the file system somewhere.

[2017-08-29 19:09] e1ektr0 commented on #1734
As i say, i build it with jitpack io. And as i undestand, it using maven-compiler-plugin 1.7, cose this version set in pom.xml

[2017-08-29 19:10] timmolter commented on #1734
Is String.join() Java 8? If so that should be replaced.

[2017-08-29 19:11] e1ektr0 commented on #1734
Yes, it's java 8. Should i create a pull request for it, or better wait while some one fix it, coze i'm not good in java :-)

[2017-08-29 19:11] npomfret commented on #1734
That was probably me.  I'd accidentally commit some java 8 stuff but thought i'd removed it.  The build went green I'm sure.

[2017-08-29 19:14] npomfret commented on #1734
https://github.com/timmolter/XChange/pull/1736

[2017-08-29 20:16] #1732 closed

[2017-08-29 21:21] IceSte86 commented on #1720
Hi Nick!
Yes, I am using the latest release. Could not solve it niether using workaround creating the Currency Pair

[code]

None of this work. I noticed something similar with DASH, CurrencyPair comes as DAS/EUR from open orders and can't be used for creating a new one - this can be solve by intercepting this case and creating the CurrencyPair manually...

Can't find solution for BCH, let me know

[2017-08-30 03:11] nntaoli commented on #1732
sorry，I am a quick temper ，in the future my code pull request to xchange。

[2017-08-30 04:46] #1735 closed

[2017-08-30 04:48] timmolter commented on #1734
It's strange to me that Travis CI and my IDEs (Eclipse and Intellij) didn't catch this issue because the JRE is defined as 1.7 in the `pom.xml`. I'm using JDK 8, but it used to work fine and catch these issues.

[2017-08-30 04:57] #1734 closed

[2017-08-30 05:03] timmolter commented on #1731
Sounds good. Although I kinda do like the `Ticker` return value. Maybe both? I'll bump up the version to 4.3.0-SNAPSHOT for this because of the API change. I think `List<Ticker>` is better though in order to stay consistent with the rest of the API. Let's leave this open for a few days, and see if anyone has any objections/ideas. Perhaps after the next release September 5th.

[2017-08-30 05:04] timmolter commented on #1725
Would you be willing to place a bounty on this issue? Maybe 100 mBTC or so?

[2017-08-30 05:05] timmolter commented on #1692
Would you be willing to place a bounty on this issue? Maybe 100 mBTC or so?

[2017-08-30 05:07] timmolter commented on #1609
Not sure. `Now` seems like the one to use, as it's when the server returned the json I presume.

[2017-08-30 06:39] douggie commented on #1732
Cointrader auromated trading platform has been using this project for many
years without issue.

On Wed, 30 Aug 2017, 04:11 nntaoli, <notifications@github.com> wrote:

[2017-08-30 08:58] npomfret commented on #1730
Got a message from livecoin saying that their api is partially disabled due to a DDOS attack.  Will try again later today.

[2017-08-30 09:11] npomfret commented on #1720
I'm sorry I don't fully understand the problem.  You're saying that a BCH/EUR trade on Kraken come out in the trade history as CHE/UR?  If so it looks like the 'B' is missing, yes?

[2017-08-30 09:37] andrehortab2u commented on #1692
Yes! 100mbtc deal.

[2017-08-30 09:39] npomfret opened #1738 "bitcoin cash BCH v's BCC"
Does anyone have a good strategy for dealing with the fact that different exchanges use different names for the same currency.  The most obvious example is bitcoin cash, which is defined as BCH in this project.  I've found 4 exchanges (BleutradeExchange, DSXExchange, HitbtcExchange, YoBitExchange) that call it BCC.

[2017-08-30 09:43] npomfret commented on #1727
... and its a really useful feature that's missing in quite a few implementations (although some exchanges strangely don't support it).

[2017-08-30 09:45] npomfret commented on #1584
Has @simonkeliuotis started work on this?

[2017-08-30 10:04] npomfret commented on #1692
Do they even have an API?

[2017-08-30 10:55] simonkeliuotis commented on #1584
Most of the v1.1 endpoints are already supported and available, though, few are missing. I will implement them in the next day or two.

[2017-08-30 13:49] andrehortab2u commented on #1692
Documentation:

https://docs.google.com/document/d/1dIaSkY3oRDyrWVyJsd_tltV2HkXPvOiO3mXnVD_ZxI4/edit?usp=sharing

Link to generate the KEY

https://broker.bitcointoyou.com/TradeAPI/Index

Bot the use the API
https://github.com/Bitcointoyou/robo.net

2017-08-30 7:04 GMT-03:00 Nick Pomfret <notifications@github.com>:

--

Atenciosamente,

André Horta
*andre.horta@bitcointoyou.com <andre.horta@bitcoi

[2017-08-30 14:12] npomfret commented on #1692
Ok, thanks.  I couldn't find this anywhere!  I'll take a look.

[2017-08-30 18:18] Achterhoeker commented on #1738
Bittrex is also cash naming bcc. I've a local translation table for every exchange above xchange that can translate these extraordinaire cases.

[2017-08-30 18:31] Achterhoeker commented on #1720
@IceSte86 So an open order is reported as DAS/EUR ? That is strange, i've just checked it, an open order is in my used code reported as DASH/EUR (as expected) You are really sure you are using the latest available code ? (for several weeks ago open orders were reported as DAS/EUR. )

[2017-08-30 19:00] timmolter commented on #1720
Note: latest snapshot code (develop branch) is more up to date than the latest release (on Maven central).

[2017-08-31 07:18] IceSte86 commented on #1720
Hi all!
You're right. I am using the latest release 4.2.1 (both Core and Kraken)(http://search.maven.org/#search%7Cga%7C1%7Corg.knowm.xchange), not the latest snapshot. At this point I build some work-around, so I will wait for the next stable release before updating my code.
Only one thing I could not adjust, the creation of a Currency BCH recognised by Kraken (thus I cannot trade programmaticaly

[2017-08-31 07:21] timmolter commented on #1720
FYI, here's info on the release schedule.

<https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions>

[2017-08-31 07:21] #1720 closed

[2017-08-31 07:51] IceSte86 commented on #1720
Great! Thanks again!
PS nice job by providing support and regular development support for all these platform. I just start interacting with the cryptocurrency world... hope that as developer I may help in the future.

[2017-08-31 08:07] Arthurm1 opened #1741 "Question on extending FundingRecord types"
Currently `FundingRecord#Type`supports `WITHDRAWAL`and `DEPOSIT `.

Kraken API also returns a `TRADE` type (which is ignored) and I see GDAX has `MATCH`, `FEE `and `REBATE` although I'm not using GDAX

I'd like to add `TRADE ` as a type and then implement it for Kraken and I can see where to do this but I don't know enough about the code to know if this is a good idea or whether full ledgers have

[2017-08-31 08:21] npomfret commented on #1741
This feels to me something that could be achieved by exposing this data from a public method on `KrakenAccountServiceRaw`.  In fact is it there already `getKrakenLedgerInfo`?

As it's a Kraken specific _thing_ I don't think it belongs in the public API.

[2017-08-31 08:40] SilenceBTC opened #1742 "Exception in thread "main" java.lang.NoSuchFieldError: ACCEPT_EMPTY_ARRAY_AS_NULL_OBJECT"
Hi,

Im trying  to run PoloniexMarketDataDemo from Eclipse and Im getting error.

Can You help mi please.

`Exception in thread "main" java.lang.NoSuchFieldError: ACCEPT_EMPTY_ARRAY_AS_NULL_OBJECT
	at org.knowm.xchange.poloniex.service.PoloniexBaseService$1.configureObjectMapper(PoloniexBaseService.java:43)
	at si.mazi.rescu.serialization.jackson.DefaultJacksonObjectMapperFactory.createObjectMappe

[2017-08-31 09:39] npomfret commented on #1738
I'm beginning to think adding bitcoin cash as BCH was the wrong thing to do.  It looks like maybe more exchanges are using BCC despite the fact that BCC is already in use on some exchanges for a totally different coin.

Maybe this project is just missing an abstraction.  Perhaps the API should be using a higher level concept?  Imagine constants `BITCOIN` and `BITCOIN_CASH`, one for each currency,

[2017-08-31 09:54] Arthurm1 commented on #1741
Thanks.  If it's OK to put exchange specific stuff into the `XXXAccountServiceRaw `classes then I'll do that.

[2017-08-31 09:54] #1741 closed

[2017-08-31 16:48] EricAnderson1000 commented on #1633
BTW here is the PR for the backwards compatible change.
https://github.com/timmolter/XChange/pull/1715

[2017-09-01 06:43] timmolter commented on #1742
It works for me. Maybe their API was down? Or you need to use the latest SNAPSHOT code.

<https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions#what-is-the-release-cycle-for-xchange>

[2017-09-01 11:14] npomfret commented on #1728
What about https://docs.gdax.com/#list-fundings ?  Is that different?

[2017-09-01 11:44] npomfret commented on #1728
Also `/reports`??

[2017-09-01 23:33] MartianTech commented on #1728
https://docs.gdax.com/#list-fundings is for margin funding
"Every order placed with a margin profile that draws funding will create a funding record."

https://docs.gdax.com/#reports is for generating pdf or csv of fills or account statements.

I think https://docs.gdax.com/#get-account-history is the closest thing we can use.

[2017-09-01 23:34] MartianTech commented on #1728
I saw you already have a PR #1744.
Looking soon. Thanks!

[2017-09-02 06:50] npomfret commented on #1728
I had a go at implementing it.  There's no network transaction id unfortunately, it must be available somehow because I can see it on the site.

The implementation I've done isn't great but it sort of works.  It handles paging for you internally (like the ANX implementation) so effectively one java API call effectively ends up making several http calls.  It's messy but it's a start.

[2017-09-02 08:13] MartianTech commented on #1728
For network transaction id, Gdax links to an external website https://etherscan.io but I didn't find any API that will tell you the network transaction id.

[2017-09-02 08:14] npomfret commented on #1728
Yeah, but in order to make that link they must have the txn id in their system somewhere.  I couldn't find it in the API either though.

[2017-09-02 08:20] MartianTech commented on #1728
Ok I just found this
https://developers.coinbase.com/api/v2#transactions
Gdax is a bit unconventional because Coinbase handles the crypto deposit and withdraw with external accounts and then transfer from and to Gdax.
![image](https://user-images.githubusercontent.com/29751536/29994109-a5d0c664-8f7c-11e7-894a-3a61640096cd.png)

I supposed it could be pretty complicated to implement this since it i

[2017-09-02 08:22] npomfret commented on #1728
Good find!  I'll take a look later.

[2017-09-02 08:24] MartianTech commented on #1728
Thanks Nice. Appreciate your great work.

[2017-09-02 08:24] MartianTech commented on #1728
Thanks Nick. Appreciate your great work.

[2017-09-03 08:59] #1742 closed

[2017-09-03 09:00] timmolter commented on #1727
Was this completed in your last PR by chance?

[2017-09-03 09:01] timmolter commented on #1654
4.2.2 scheduled for Sept. 5th.

[2017-09-03 09:02] npomfret commented on #1727
Yes.

We found a better API call in the coinbase API that give more information (such as the external txn id) but haven't worked out a nice way to use the coinbase URI in the gdax implementation yet.

Maybe I'll do some more work on it soon, but for now please close.

[2017-09-03 09:02] timmolter commented on #1727
OK, thanks!

[2017-09-03 09:02] #1727 closed

[2017-09-03 13:27] mknights opened #1746 "Ticker object should have open & close price attributes"
I don't understand why the Ticker object has no open or close attributes so it might be my ignorance. I am trying to convert Ticker object into a ta4j Tick object. Any ideas/examples on historical data conversion from xchange to ta4j appreciated.

[2017-09-04 05:44] douggie opened #1747 "[50 mBTC Bounty] Bitmex implementation"
HI, Was thinking about implementing bitmex exchange and wondered if anyone had started work on this or intrested in collabrating.

[2017-09-04 07:31] dave0688 opened #1748 "Bitfinex: Floating Rate Offer: Delta hardcoded?"
Hey guys,

not sure if I'm understanding this correctly - but Bitfinex has a function to create an FRR offer with Delta (a definable delta to the floating rate rate). As far as I've understood this line here creates the Bitfinex FRR offer:

https://github.com/timmolter/XChange/blob/6b8c188c84861d8ec634bdecebbf504fb6aa0e7d/xchange-bitfinex/src/main/java/org/knowm/xchange/bitfinex/v1/service/Bitfine

[2017-09-04 07:53] Muffon commented on #1078
@radumiron I think it was my mistake with bad auth token.

[2017-09-04 08:07] jheusser commented on #1747
Check https://github.com/timmolter/XChange/issues/1215 opened by .. you 🤣

[2017-09-05 19:17] npomfret commented on #1730
The livecoin API finally came back. Here's the https://github.com/timmolter/XChange/pull/1751

[2017-09-05 21:49] andrewlin0410 opened #1752 "BTCChina makes gradle build fail"
So whenever I add btcchina into my app it fails.
Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

	File1: C:\Users\Andrew Lin\.gradle\caches\modules-2\files-2.1\org.quickfixj\quickfixj-messages-fix44\1.6.3\2fa788e985e84209b9ec93bd3ba9d54d6ea3da9d\quickfixj-messages-fix44-1.6.3.jar
	File2: C:\Users\Andrew Lin\.gradle\caches\modules-2\files-2.1\org.quickfixj\quickf

[2017-09-06 07:32] timmolter commented on #1752
I don't know, but try googling: `com.android.builder.packaging.DuplicateFileException`. Might need to exclude the FIX44.xml file in the gradle config.

[2017-09-07 00:04] andrewlin0410 commented on #1752
Can you reopen this since I can't find an answer on google. I believe this very much likely occurs to other people as well.

[2017-09-07 15:08] EricAnderson1000 commented on #1633
@npomfret @cymp Any feedback on the code merged so far?

[2017-09-07 17:24] npomfret commented on #1633
Not yet.  I'm still using the old implementation. Will move to the new one this week i hope.

[2017-09-07 18:15] cymp commented on #1633
Same here.

[2017-09-09 10:06] cymp commented on #1633
@EricAnderson1000 I have a problem. When I try to fetch the balance of the account, I don't have any value for certain currencies. For example, I receive no entry from HVN and AIR. I am not sure if this is a bug or a regression. I tried with the v2 API you just added (/api/2/account/balance) and I got several times a time out error. Did it work for you?

[2017-09-09 15:29] EricAnderson1000 commented on #1633
Yes I saw those timeout, but only when I made more than one request per second. Which I believe I read somewhere is their SLA. I am not sure if that is their throttling mechanism or not.. I will follow up.

[2017-09-09 16:23] cymp commented on #1633
hmmm, I don't think there is suck an issue with this, as I am used to call the api much more than on time per second and I never get any timeout, plus the fact that the documentation says that we should receive a HTTP 429 error. Moreover, I am getting this error the very first time I am calling it. Maybe there is something wrong on their side and this api method is not plugged.

[2017-09-09 23:44] MartianTech opened #1758 "[Kraken] Placing order timeout"
I've been having issues of its placing orders takes super long time to return and often result in a timeout. I don't have this problem with other exchanges. Is this a known issue on XChange or Kraken's end?

[2017-09-10 09:24] timmolter commented on #1758
You can increase the timeout param: <https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions#where-if-anywhere-are-the-http-read-timeouts-configured>

[2017-09-10 09:26] MartianTech commented on #1758
I've increased it to 30s, which is way longer than reasonable. In the event of timeout, what's your best practice?

[2017-09-10 09:30] timmolter commented on #1758
I would catch the exception and do whatever makes the most sense. I've heard Kraken's API is really bad under load.

[2017-09-10 10:05] MartianTech commented on #1758
Yea what i'm doing in case of timeout exception. I'd check the open orders and filled trade to see if that order has been placed. Have to code much more defensively for Kraken. Wanna see if other folks are also experiencing this issue. If yes, then it's mostly their server side's.

[2017-09-10 21:06] cymp commented on #1633
@EricAnderson1000 I tried to call org.knowm.xchange.hitbtc.v2.service.HitbtcMarketDataServicegetHitbtcSymbols() as well, and I have the same timeout error.
Could you please try to test this on your side and tell me if you have the same problem on the functions you implemented?

[2017-09-11 07:04] MartianTech commented on #1758
I think I can conclude that it's just their server's performance is bad because this also happens on the web UI. I'm going to close this issue.

[2017-09-11 07:04] #1758 closed

[2017-09-11 07:05] #1597 closed

[2017-09-11 14:12] Achterhoeker commented on #1758
Kraken is a big mess currently. I've set my timeout to several minutes. You need a time out from their side. If your side has a timeout and you use the api again, Kraken gives you a ban for several minutes. Almost all times a time out from the Kraken side the order isn't placed. (or a service unavailable error). A 502 error is a big guess what happened (trade done or not)

[2017-09-11 18:25] cymp commented on #1730
@npomfret I finally got a chance to start working on this. Thanks for your work.

For now:
- Missing getAllTickers
- Missing getAllOrderBooks
- getOrderBook misses parameter groupByPrice
- some coinbase code has been copied/pasted, maybe some cleaning is needed here and there as some variables have coinbase names

I will continue working on it tomorrow.

[2017-09-11 21:55] npomfret commented on #1730
Hi
Thanks for the feedback. Am away right now but will look at it when I get
back.

Nothing has been copy pasted by me, where exactly did you find this?

On Mon, 11 Sep 2017 at 20:26, cymp <notifications@github.com> wrote:

[2017-09-11 22:03] cymp commented on #1730
LivecoinMarketDataServiceRaw, there are some "coinbaseEx" occurences, maybe not you though, as the livecoin implementation had already been started by someone else.

[2017-09-11 22:40] npomfret commented on #1730
Ah yes, I think I remember

On Tue, 12 Sep 2017 at 00:04, cymp <notifications@github.com> wrote:

[2017-09-12 06:37] MartianTech commented on #1758
@Achterhoeker Thanks for confirming this. I had to write a lot of code to verify if an order has been placed or not. Even with that, it became unusable because their server's availability and performance are too bad to use for my trading strategy. It'd be great if you can let me know when they fix this. Their customer services are pretty good on the other hand.

[2017-09-12 06:53] MartianTech opened #1759 "Nonce precision"
This might be a dumb question but why some exchange's implementation round down the nonce value from system clock?

For example
[code]

[code]

According to Gemini, "We recommend using a timestamp at millisecond or higher precision. "
https://docs.gemini.com/rest-api/#private-api-invocation

So why don't we use `System.currentTimeMillis()` directly but need to round it down?

[2017-09-12 08:36] EzBar commented on #1738
Why can't it just be defined as an alternative code, the same way XBT is defined for BTC?
I.e., updating BCH definition in Currency.class and adding BCC (which isn't listed) as a reference:
public static final Currency BCH = createCurrency("BCH", "BitcoinCash", "BCC");
public static final Currency BCC = getInstance("BCH");

[2017-09-12 09:19] Achterhoeker commented on #1738
@EzBar That would give the problem that bcc is always seen as bch. And that is incorrect for some exchanges where bcc is in use for a total other altcoin. Bittrex for example has bcc and bch (2 different coins and markets). Those markets would be seen as the same using your proposal.

[2017-09-12 12:11] EzBar commented on #1738
I don't think there's a BCH currency at Bittrex.
I think the only conflict is with Livecoin's BCC which refers to BitConnect (limiting only to supported exchanges).
Is it possible to change Bittrex at the Adapter level? Translating any occurrence of BCC to BCH

[2017-09-12 12:45] Panchen commented on #1748
The exchange libs use v1 of the Bitfinex api. You can either supply a rate to lend or borrow at or 0.0 for a FRR loan.
See: https://bitfinex.readme.io/v1/reference#rest-auth-new-offer
Note placeBitfinexFixedRateLoanOrder is identical apart from it passes the supplied rate through to the same api call.

[2017-09-12 13:22] dave0688 commented on #1748
Hi Panchen,
thanks a lot for your reply! I saw the identical calls now.
So as far as I see there is no way to create an FRR loan with delta (like in the UI). Is that correct?

And, I haven't found a way to get the lending (=funding) history from Bitfinex in this API implementation. Is that not implemented yet? If it is, could you please point me to the place? I've been searching for it for quite a

[2017-09-12 13:53] Achterhoeker commented on #1738
@EzBar
sorry, you are correct, I was to quick with my answer.
The exchange with both currencies is bitfinex. BCH is there bitcoin cash and BCC is a local virtual coin.
Poloniex is also signaling BCC and BCH, but BCC doesn't seem to have any markets there anymore. (BCC as an other altcoin!)

BCC is BCH on bittrex and Bleutrade.

[2017-09-12 15:29] Panchen commented on #1748
I am not aware of a way to create an FRR loan with a delta in v1 of the BF api and hence xchange.

You can get your own lending history via:   getBitfinexActiveCredits()

You can't get the market's lending history via v1 / xchange. I believe it may be available via v2 of the BF api.

[2017-09-12 19:16] EricAnderson1000 commented on #1633
I have integrated it into my own project. As of recent I am not getting any of the timeout errors from the MarketData apis.

Let me create a little bit of a load test on the client and see where it starts to fail and how.

[2017-09-12 20:40] cymp commented on #1633
Indeed, it works as of now. I am not so confident about the stability of the v2 api, this could be a good thing to keep the legacy code of the v1 implementation.

[2017-09-12 20:43] EricAnderson1000 commented on #1633
I agree, keeping both in place for now is not a bad idea. Eventually we should deprecate all V1 services and plan to remove them we we are confident in hitbtc V2 api services.

[2017-09-12 20:48] cymp commented on #1633
Yes, the cancel replace order, did you get a chance to work on this?

[2017-09-12 20:49] EricAnderson1000 commented on #1633
Ah yes.. I need to patch the rest client library rescu to make that happen. Working on that now then.

[2017-09-12 21:03] cymp commented on #1633
Ok thanks!

All of my balances are here but are 0 when I use the v2 hitbtcAccountService.getAccountInfo().getWallet()... With the v1 I don't have this problem, this api is really messed up!

[2017-09-13 03:15] MartianTech commented on #1729
@npomfret In the previous comment, you brought up two great points.
[code]
I didn't really differentiate these two exceptions before but do you think I can deal with them like the following -
socket timeout: my last request did not reach to server at all and I can resend the last request. If I were to place an order, I can assume it didn't make it to the order book and safely place it again.

read

[2017-09-13 03:16] MartianTech commented on #1729
Also, what does `ExchangeSpecification.setHttpReadTimeout` set, socket or read timeout or both?

[2017-09-13 07:37] dave0688 commented on #1748
Hm, I just tried to fetch my own lending history with BitfinexTradeServiceRaw.getBitfinexActiveCredits(), but it only gives me my active loans, as the name says.
Also, there is no parameter I can specifiy a time range or something, it just fetches all my active credits.

Is there maybe another function? Or do I have to check in another class?

[2017-09-13 07:38] dave0688 commented on #1748
Sorry, I did not want to close it.

[2017-09-15 14:10] Leungfranklin opened #1763 "How to turn off those DEBUG messages"
When I run the demo program, I usually get many DEBUG statements like below in my output:
10:50:19.695 [default] [main] DEBUG
si.mazi.rescu.HttpTemplate - Request http status = 200

How can I turn it off? I try to remark all those logger.info, logger.debug statements but those still appear in my output

[2017-09-15 14:20] timmolter commented on #1763
See step 3: <https://github.com/timmolter/XChange/wiki/New-Implementation-Best-Practices>

Look for the `logback.xml` file to set the log level.

[2017-09-15 14:20] #1763 closed

[2017-09-16 12:06] serhansevim opened #1764 "Bitfinex v2 support (Bounty 0.1 BTC)"
Any plans on adding bitfinex rest/websocket v2 api into the library?
OHLC data is now supported so it would be very nice add.

Thanks,

[2017-09-18 06:53] pavlo-pastushok opened #1766 "Bitfinex open orders adaptation"
I propose set remaining amount instead of original to LimitOrder on adapting Bitfinex open orders (reason: amount in open orders never change until full order operation)

Place: BitfinexAdapters.java, 294 line

`limitOrders.add(new LimitOrder(orderType, order.getOriginalAmount(), currencyPair, String.valueOf(order.getId()), timestamp, order.getPrice(),
          order.getAvgExecutionPrice(), order

[2017-09-18 12:23] timmolter commented on #1746
`last` is the close. I never saw an exchange that provided an `open` value, but it would make sense!

[2017-09-18 12:23] #1746 closed

[2017-09-18 12:25] timmolter commented on #1759
I'm not sure how that got in there. You're analysis makes sense though. Would you test it and if it works, submit a PR with the improvement?

[2017-09-18 12:27] timmolter commented on #1764
Websocket = No. See README for a link to our partner websocket lib. I don't know of anyone working on the REST V2 API. If you posted a bounty, it'd surely get done!

[2017-09-18 12:28] timmolter commented on #1766
Can you submit a PR for this?

[2017-09-18 12:32] timmolter commented on #1688
Yes, that'd be fine. It should be implemented similar to the `Trades` code.

[2017-09-18 12:33] #1626 closed

[2017-09-18 13:41] pavlo-pastushok commented on #1766
okay, I will do that.

[2017-09-18 13:49] rostuha1 opened #1767 "createExchange method with generic"
I think it will be better to use generic instead of String exchangeClassName.

For example we can replace this method ->
public Exchange createExchangeWithoutSpecification(String exchangeClassName)

with it ->

    public Exchange createExchangeWithoutSpecification(Class<? extends Exchange> exchange) {
        try {
            return exchange.newInstance();
        } catch (InstantiationException

[2017-09-18 13:55] pavlo-pastushok commented on #1766
done, please check my PR

[2017-09-18 18:14] andrewlin0410 opened #1769 "Any more complete example for submitting orders?"
I am looking for some examples that submit orders and then check it is filled after sometime. If not, cancel and replace the orders. I need them for making a trading bot.
Are there similar examples? Or anyone willing to share?
Thank you

[2017-09-19 02:54] #1693 closed

[2017-09-19 08:04] MartianTech commented on #1759
PR #1770

[2017-09-19 08:04] #1759 closed

[2017-09-19 08:48] timmolter opened #1771 "Any objections to bumping Java compatibility to Java 8?"
For my needs, I don't need Java 7 support. I recall a long time ago, bumping to Java 8 would affect Android developers using XChange. If there are no objections, I'd like to bump XChange up to Java 8.

[2017-09-19 09:07] cymp commented on #1771
Yes I would love to bump to Java 8. By the way, J9 is released in a couple of days, would it be too risky to directly try to support J9 in XChange?

[2017-09-19 17:56] npomfret commented on #1730
@cymp I checked the code, there's no coinbaseEx references except for one parameter in the adapter class (which I've renamed).  Maybe you were looking at some old code.

[2017-09-19 18:03] cymp commented on #1730
You must be right, I was looking at 4.2.2-SNAPSHOT, maybe I haven't updated the sources.

[2017-09-19 20:23] ww3456 commented on #1758
I stopped using Kraken over two months ago because of the large number of timeouts and general unreliability. I was thinking of seeing whether things have improved but it seems not!

[2017-09-20 01:13] andrewlin0410 opened #1774 "Poloniex getting order book does not work?"
It seems it doesn't work. When I put BTC_USD, it returns an empty arraylist. I heard that poloniex uses usdt. Is that the issue?

[2017-09-20 05:29] cymp commented on #1774
Yes.

[2017-09-20 08:13] npomfret commented on #1729
Sorry for slow reply, have been away.

Yes, idempotent operations (read only stuff typically) can just be re-retried safely, but anything else must not be without consideration.  So if you aren't able to make the initial socket connection you can be sure it's safe to re-try any operation.  But, if the operation encounters a timeout whilst reading the response you need to be more careful - your und

[2017-09-20 08:51] cymp commented on #1633
@EricAnderson1000 do you also have this all 0 balance problem?

[2017-09-20 08:59] MartianTech commented on #1729
@npomfret Hey Nick, thanks for your reply. It's very helpful. Can you let me the two exception types that I can use to differentiate? So we have SocketTimeoutException for connTimeoutMillis. What would be for the readTimeoutMillis?

[2017-09-20 09:16] npomfret commented on #1729
I don't know the exact exceptions but you can force them to happen by setting the two timeout values to 1ms.  Obviously, you'll need to do them one at a time because the read timeout won't happen if the connection isn't made.

[2017-09-20 09:31] npomfret opened #1775 "date params for CexIOTradeServiceRaw.CexIOTradeHistoryParams not working"
I'm unable to get any **date** params working for trade history in for the cex.io exchange.  I think its a problem with their API but their support is pretty awful and won't answer my questions.

Has anyone managed to get this working?

[2017-09-20 18:42] EricAnderson1000 commented on #1633
@cymp Yes looks like it is an issue with their API...

[code]

Despite the UI Website showing the 0.05 BTC transfered to me and available for trading.

[2017-09-21 08:47] pavlo-pastushok opened #1777 "Compilation error in BitfinexAdapter"
In last SNAPSHOT of Bitfinex module, there is compilation error

`limitOrders.add(new LimitOrder(orderType, order.getOriginalAmount(), order.getRemainingAmount(), currencyPair, String.valueOf(order.getId()), timestamp, order.getPrice(),
          order.getAvgExecutionPrice(), order.getExecutedAmount(), status));`

to fix this:

`limitOrders.add(new LimitOrder(orderType, order.getRemainingAmount(),

[2017-09-21 08:49] timmolter commented on #1777
`develop`.

It seems to compile just fine: https://travis-ci.org/timmolter/XChange/builds

[2017-09-21 08:50] npomfret commented on #1777
Not sure what you mean - it's compiling for me right now.  Maybe update your local repo, perhaps a compile error was merged and then fixed?

[2017-09-21 08:51] pavlo-pastushok commented on #1777
okay, thanks, I will check my local repo

[2017-09-21 09:20] pavlo-pastushok commented on #1777
sorry, their was problem with SNAPSHOT versions locally, thanks

[2017-09-21 09:20] #1777 closed

[2017-09-21 11:46] #1766 closed

[2017-09-21 18:49] andrewlin0410 commented on #1774
How can this not be fixed? It is one of the biggest exchanges.

[2017-09-21 18:56] cymp commented on #1774
Please try USDT instead of USD.

[2017-09-21 18:57] #1774 closed

[2017-09-23 02:17] andrewlin0410 commented on #1774
But there is no USDT in the currency pairs. Did I miss it?

[2017-09-23 07:41] timmolter commented on #1774
`new CurrencyPair("BTC", "USDT");`

[2017-09-23 16:00] andrewlin0410 commented on #1752
It seems this only happens to android

[2017-09-24 19:51] andrewlin0410 opened #1780 "Does this always get you the latest snapshot? If not, how?"
allprojects {
		repositories {
			...
			maven { url 'https://jitpack.io' }
		}
	}

dependencies {
	        compile 'com.github.timmolter:XChange:master-SNAPSHOT'
	}

[2017-09-26 08:52] timmolter commented on #1780
That looks like gradle. I'm not familiar with it, so I cannot give you an answer.

[2017-09-26 08:52] #1780 closed

[2017-09-26 12:23] EricAnderson1000 commented on #1633
They haven't answered my open ticket... I have asked for an update. Support seems less than needed from hitbtc.

[2017-09-26 16:35] andrewlin0410 commented on #1780
It is gradle. Other people may be able to answer so can you reopen it?

[2017-09-26 17:13] npomfret commented on #1780
If you want the snapshot use

    compile 'org.knowm.xchange:xchange-anx:4.2.3-SNAPSHOT'
    compile 'org.knowm.xchange:xchange-bitbay:4.2.3-SNAPSHOT'
    compile 'org.knowm.xchange:xchange-bitcoinaverage:4.2.3-SNAPSHOT'
    ...

If you don't want the snapshot just use the version number without `-SNAPSHOT`.

[2017-09-26 23:19] andrewlin0410 opened #1781 "Does this library support concurrent data downloading?"
I am trying to download market data from multiple exchanges for multiple coins at the same time. For example, I create a MarketDataService instance for GDAX. Then I will call .getOrderBook(...) for multiple coins in different threads. Will they block each other and slow down the download? Should I create a MarketDataService instance for each thread? Which way will be faster?
What I did was the sec

[2017-09-27 07:34] timmolter commented on #1781
You'll want it to be multi-threaded. I use [Sundial](https://github.com/timmolter/Sundial) to run repeatable jobs that run in their own threads.

I've done both a global `MarketDataService` as well as creating a new one each time, and the speed is the same. It doesn't matter.

[2017-09-27 15:17] trebunski opened #1782 "Currency equals()- and hashcode()-Method"
Can You **fix equals() and hashcode()** for *org.knowm.xchange.currency.Currency* e.g. to use it in HashSet-Datastructures.

In My Opinion the Solution is:
 - Autogenerate **hashcode** and **equals** methods for **CurrencyAttributes**-Class
 - In **Currency::equals()** last Line of equals-method **return attributes.equals(other.attributes);**
 - Maybe another small fixes somewhere else ;)

[2017-09-27 16:30] andrewlin0410 commented on #1781
It seems creating an exchange takes about 500 ms on my computer. That converts to more than 10 seconds since I create instances for a few coins on many exchanges. I did every exchange creation in a callable and used executorservice's submit. Is this not the right way for multi-threading? Or is it just my computer is not fast enough? I run the program in Intellij and my computer's processor is i7 8

[2017-09-27 17:26] timmolter commented on #1781
500 ms is a long time so you should just create one instance per exchange and store them globally accessable by the threads. Do don't need one per currency pair either.

[2017-09-27 17:42] andrewlin0410 commented on #1781
Can you briefly explain how you store the instances globally. What I tried is creating a class called Variables and I create instances like this.
static MarketDataService gdaxMarketDataService = ExchangeFactory.INSTANCE.createExchange(GDAXExchange.class.getName()).getMarketDataService();
But then when I try
                   Ticker ticker = Variables.gdaxMarketDataService.getTicker(CurrencyPair.B

[2017-09-27 18:54] timmolter commented on #1781
Sorry, I cannot help you with that. Good luck!

[2017-09-29 07:19] npomfret commented on #1730
@cymp are you able to pay the bounty on this yet? 1K5dYadQBBkTR3L4RkktMiNaJbx8uRRyyq

[2017-09-30 14:00] lukasz-kaniowski opened #1784 "Binance support?"
Are there any plans on adding support for https://www.binance.com/ ?

[2017-10-01 10:51] cymp commented on #1730
Ok sure, I am paying it right now. Did you get a chance to work on the feedbacks I provided you?

[2017-10-01 18:23] sowhynot opened #1788 "Typo in JsonProperty in org.knowm.xchange.okcoin.dto.trade.OkCoinFuturesOrder.java"
https://github.com/timmolter/XChange/blob/0bc7ff11e59c0244e6e805872ced024fe271d220/xchange-okcoin/src/main/java/org/knowm/xchange/okcoin/dto/trade/OkCoinFuturesOrder.java

public OkCoinFuturesOrder(@JsonProperty("amount") BigDecimal amount, @JsonProperty("contact_name") String contractName

contact_name should be contract_name

[2017-10-02 15:44] npomfret commented on #1730
I couldn't find the things you mentioned

[2017-10-02 15:48] npomfret commented on #1730
`getAllTickers` is a non standard call that a couple of exchanges have chosen to implement.  It's not on the the exchange api  _public API_ call.

Same for `getAllOrderBooks`. We've discussed adding this to the public API, but it hasn't been done yet.

Not quite sure what you mean here, but as above I think this is non-standard behaviour.

Couldn't see this.

[2017-10-02 16:48] cymp commented on #1730
I am using 'PoloniexMarketDataServiceRaw.getAllPoloniexDepths', which calls 'Poloniex.getAllOrderBooks' and is very convenient in order to have all of the books in just one API call. 'getAllTickers' is very useful for the same reason. These features are vital (at least for me) because the Livecoin API call restrictions are not very permissive.

It is true that it is not in the xchange public api,

[2017-10-02 21:58] npomfret commented on #1730
We've discussed adding these methods to the public api - maybe now is the time.

@timmolter thoughts on migrating the API?  i made a similar change a while back that allowed more complex parameters to be specified for exchanges that support them.

[2017-10-02 22:02] npomfret commented on #1730
@cymp for future work you should be clear that you need the full exchange api, and not just the public xchange api implementing.  I personally wouldn't take on this work. Some of these exchanges API's are enormous and/or crazy hard to implement.  If the work is limited to the xchange public API it's a much more defined scope and therefor it's much easier to predict how much work there will be.

[2017-10-02 22:06] cymp commented on #1730
@npomfret I thought "Implement full livecoin API support" was clear enough, sorry if I didn't make myself clear, I will write more than 2 lines in the future :)

[2017-10-03 08:11] Eldenayri opened #1791 "Bitfinex IllegalArgumentException error"
i am getting warn on bitstamptickerdemo and cexio tickerdemo. i need just ticker datas and there is an exception. i am newbee and need help for fix that exeption. i am sorry if stupid question.

bitstamp exeption :

11:08:06.843 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory - Creating default exchange from class name
11:08:06.843 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory

[2017-10-03 13:53] Leungfranklin opened #1792 "Invalid moment parameter encountered in bitbay placelimitorder"
When I call bitbay placelimitorder, the following error is encountered
Exception in thread "main" org.knowm.xchange.exceptions.ExchangeException: 503: Invalid moment parameter. Request time doesn't match current server time
	at org.knowm.xchange.bitbay.service.BitbayBaseService.checkError(BitbayBaseService.java:37)
	at org.knowm.xchange.bitbay.service.BitbayTradeServiceRaw.placeBitbayOrder(BitbayT

[2017-10-03 21:54] cymp commented on #1730
I created a [PR](https://github.com/timmolter/XChange/pull/1793) for getAllOrderbooks, and getAllTickers was already there in the end.

[2017-10-04 07:51] #1788 closed

[2017-10-04 07:58] timmolter commented on #1792
Try creating a new API key on their site and using that in XChange. Otherwise, I'm not sure what to try.

[2017-10-04 08:21] allenday commented on #1771
J8 yes, J9 please no

[2017-10-04 08:23] allenday commented on #1623
there is a similar problem with Bittrex where the base/counter pair is inverted.  it requires special logic to use the data from this exchange.

[2017-10-04 08:30] cymp commented on #1771
Please tell why, could be interesting.

[2017-10-04 08:34] allenday commented on #1771
Android.
https://www.infoworld.com/article/3180758/mobile-development/android-switches-to-native-java-8-support.html

[2017-10-04 10:29] #1771 closed

[2017-10-04 13:34] Leungfranklin commented on #1792
Turns out that my PC time sync with NTP server has not been started. Bitbay check the time against their own time and rejects if there is a significant time difference. After time sync my PC, it works fine. Thanks.

[2017-10-04 13:34] #1792 closed

[2017-10-05 11:33] cymp opened #1797 "TradeService.cancelOrder(String orderId) can't always be implemented"
Hello,

I found out that some exchanges don't provide the API required to implement TradeService.cancelOrder(String orderId). For example, at least Livecoin and Binance require to provide the currency pair, in addition to the order ID. This method being one of the most used, I am not sure what to do here: changing it to TradeService.cancelOrder(LimitOrder order) provides overall compatibility but

[2017-10-05 17:11] npomfret commented on #1797
This has been added, but it might not be supported by the exchange you are using.  The method in question is

`public boolean cancelOrder(CancelOrderParams orderParams)`

And the parameter can support id and currency pair... if it's been implemented (see `TheRockCancelOrderParams` for an example).  Implementing it is usually trivial.

[2017-10-05 17:17] cymp commented on #1797
Ok thank you I will look into this.

[2017-10-06 07:26] #1781 closed

[2017-10-07 13:55] serhansevim commented on #1764
Just updated this issue with 0.1 BTC bounty. Let's see how this will work out.

[2017-10-08 17:16] sid12345678910 opened #1799 "WEX.nz support"
Anyone adding WEX.nz support?

[2017-10-09 08:51] Achterhoeker commented on #1799
@sid12345678910 Wex is already supported. But under its old name as BTCE.

[2017-10-09 19:51] digitalchaotics commented on #1769
I'm interested in hearing an answer to this question as well.  I've tried the obvious...

- polling tradeService.getOpenOrders (on Bittrex it's always empty)
- polling tradeService.getTradeHistory (same)

For my next trick I'll be looking for changes in the account balances.  I'll let you know.

[2017-10-09 21:57] run3wide opened #1802 "XMR_USD CurrencyPair is incorrect"
https://github.com/timmolter/XChange/blob/72f21d9b822392383f2db7039ed0d3655b82782d/xchange-core/src/main/java/org/knowm/xchange/currency/CurrencyPair.java#L131

I have submitted pull request.
https://github.com/timmolter/XChange/pull/1801

[2017-10-10 04:43] #1802 closed

[2017-10-10 07:31] schabe77 opened #1803 "HitBTC v1 - cancel Order doesn't work"
I'm unable to cancel an HitBTC Order.

HitBTC's documentation https://hitbtc.com/api#cancelorder states that the cancel request must provide the orginal orderId ("clientOrderId") and an newly generated orderId ("cancelRequestClientOrderId").

  org.knowm.xchange.hitbtc.service.HitbtcTradeServiceRaw.cancelOrderRaw(String):157

uses the same orderId for both fields.

[2017-10-10 07:43] schabe77 opened #1804 "org.knowm.xchange.dto.marketdata.Trade.hashCode()/equals() not Null-safe"
Trade's id may be null, e.g. in OKCoin's trade history a orderId is provided, but no tradeId.

Trade doesn't null-check the tradeId at hashCode() or equals(). Calling these methods on OkCoin's trade history item raises a NullPointerException.

`  public int hashCode() {`
`    return id.hashCode();`
`  }`

[2017-10-11 12:35] IvanSilaev opened #1806 "Example with Bitstamp exception"
Exception in thread "main" java.lang.NoSuchMethodError: com.fasterxml.jackson.core.JsonFactory.requiresPropertyOrdering()Z
	at com.fasterxml.jackson.databind.ObjectMapper.<init>(ObjectMapper.java:555)
	at com.fasterxml.jackson.databind.ObjectMapper.<init>(ObjectMapper.java:465)
	at org.knowm.xchange.BaseExchange.loadMetaData(BaseExchange.java:134)
	at org.knowm.xchange.BaseExchange.loadExchangeMet

[2017-10-12 06:11] #1806 closed

[2017-10-12 08:40] npomfret commented on #1804
Trades have a null id? That feels unlikely, maybe the problem is in the parsing of the results.  Perhaps the data format has changed.

[2017-10-12 10:08] schabe77 commented on #1804
I request the trades at OKCoin:
   UserTrades trades = connection.getLastOrders(CurrencyPair.ETH_USD);

An example result is:
  {"amount":0.23,"avg_price":300.86956521,"create_date":1507796576000,"deal_amount":0.23,"order_id":123456789,"orders_id":123456789,"price":300.88,"status":2,"symbol":"eth_usd","type":"buy"}
(status 2 means "fully filled")

This result is converted to this UserTrade
UserTra

[2017-10-12 10:47] npomfret commented on #1804
Right.  Sounds to me like the problem is that order's aren't being filtered out.  An order isn't a trade, and the method you are using (`getTradeHistory`?) should only be returning trades.  The exchange method returns both by the sound of it, so the xchange implementation possibly needs to filter out the open orders in this case.

[2017-10-12 10:51] schabe77 commented on #1804
My example order is a trade - it's fully filled. It just seems that OkCoin doesn't provide trade ids.

And again: even if there is no trade id, I don't want to run into a NullPointerException. Usage of id should be null-safe in Trade.

[2017-10-12 10:56] npomfret commented on #1804
Ok understood, that's very unusual.

You said '_status 2 means "fully filled"_', but the code in `getTradeHistory` passes the value "1" for the status parameter in `getOrderHistory`.  What am I missing here?

[2017-10-12 10:59] npomfret commented on #1804
Another question (sorry) - do you know what the difference is between the `order_id` and `orders_id` fields that are in the json you posted?

[2017-10-12 11:06] schabe77 commented on #1804
I just updated my code Example - i didn't recognize, that i posted the call to my wrapper-method, sorry.

The API documentation at https://www.okcoin.com/about/rest_api.html states for https://www.okcoin.com/api/v1/order_history.do that in the result there is a field "order_id". Maybe "orders_id" is just for downward compatibility ?!

And the request-status differs from the response-status:
 - "qu

[2017-10-12 11:39] npomfret commented on #1804
This is a tricky one.  xchange it seems assumes that all trades have a tradeId.  Which doesn't seem unreasonable.  Making the trade id nullable doesn't feel like the right thing to do.  Maybe the parser should put the orderId in the tradeId field (as well as in the orderId field).  If one orderId results in at most one trade then that seems a reasonable thing to do.  But if one orderId results in

[2017-10-12 13:13] iddqd1 opened #1807 "[COINBASE] bad ticker values returned for ETH_ pairs"
Example in groovy version 4.2.3
[code]

It prints over 5000 but it should be less than 300 for sure. 2017-10-12

[2017-10-13 10:21] EricAnderson1000 commented on #1803
I can take look into this.

[2017-10-13 11:53] timmolter commented on #1420
done. At least for all core DTOs.

[2017-10-13 11:53] #1420 closed

[2017-10-13 11:54] timmolter commented on #1714
deprecated `getTradeableAmount` also now removed.

[2017-10-13 11:54] #1714 closed

[2017-10-13 11:54] #1719 closed

[2017-10-13 11:55] timmolter commented on #1804
I'll chime in when I have more time. Sorry!

[2017-10-13 11:55] #1797 closed

[2017-10-13 11:56] timmolter commented on #1764
I added the bounty tag.

[2017-10-13 11:57] #1738 closed

[2017-10-13 11:58] timmolter commented on #1215
https://github.com/timmolter/XChange/issues/1747

[2017-10-13 11:58] #1215 closed

[2017-10-13 11:58] timmolter commented on #1747
Maybe offer a bounty?

[2017-10-13 11:59] timmolter commented on #1331
Maybe offer a bounty?

[2017-10-13 12:09] EricAnderson1000 commented on #1803
@schabe77 Please see PR request above.

[2017-10-13 12:36] EricAnderson1000 commented on #1764
Very interested... might have time this weekend if someone else doesn't claim it first.

[2017-10-13 12:45] serhansevim commented on #1764
@EricAnderson1000 sure it's yours. Open a pull request when completed. Upon merging into the main library I'll have it transferred to your bitcoin account.

[2017-10-13 14:58] schabe77 commented on #1803
I tried it and it works fine! Thank you.

[2017-10-13 14:58] #1803 closed

[2017-10-14 07:01] nethergrim commented on #1681
Will it be okay for you if I fork XChange, implement getOrder method, and create a pull request?

[2017-10-14 07:02] timmolter commented on #1681
of course!

[2017-10-14 23:37] vladmelnyk opened #1812 "Cannot resolve "XXBTXLTC" currency pair for Kraken"
@timmolter  When I try to get my trading history using
`tradeService.getTradeHistory()` I receive NPE which lead me to `KrakenUtils.translateKrakenCurrencyPair()`  returning null on "XXBTXLTC" currency pair, which I had back on 2015. Looks like it has 8 symbols and doesn't enter any of the ifs provided.
Moreover, on Kraken endpoint (https://api.kraken.com/0/public/AssetPairs) it seems to have "XLT

[2017-10-15 03:03] digitalchaotics opened #1813 "Examples of best practices for fundamental functions: buy/sell, withdraw/deposit"
The current examples are very basic, and don't show reliable best practices for accomplishing the most fundamental operations:

- place a buy or sell order, then sense when the order has completed (success, fail, error)
- withdraw from exchange A, sending coins to exchange B, then sense that the coins have been received

Having these examples would be very valuable as a demo, and would guide desig

[2017-10-15 07:59] WahidNasri commented on #1813
YES this would be very helpful and valuable

[2017-10-15 20:47] digitalchaotics opened #1816 "Multi-Value Deposit Addresses"
The current AccountService API does not accommodate multi-value deposit addresses.  For example on Bittrex, to deposit XMR you are required to provide two values:  the "Payment_id" and the "Base Address".  In another case (BTS) the two values are labeled "Memo" and "Registered Acct".  This issue impacts 18 coins on Bittrex.  I'm not aware of this issue on other exchanges.

This issue impacts the u

[2017-10-16 08:03] timmolter commented on #1813
If you make a list of exactly what you think should be shown, I'll open up an issue for it with a bounty.

[2017-10-16 19:44] Xion345 opened #1820 "Truncated List<FundingRecord> on Kraken"
**Issue Description**
When retrieving funding history, the returned List<FundingRecord> omits some funding events (the oldest ones).

**How to reproduce**

    Exchange krakenExchange = ExchangeFactory.INSTANCE.createExchange(
        KrakenExchange.class.getName());
    krakenExchange.getExchangeSpecification().setApiKey("API KEY");
    krakenExchange.getExchangeSpecification().setSecretKey("SECR

[2017-10-16 22:19] makarid commented on #1747
Hello,i can offer a bountry for this.Can you please tell me how much it is good and how can i do that.Thanks

[2017-10-17 05:51] digitalchaotics commented on #1813
NOTE:  This could become a new high-level API for trading and transfers.  Wrap up the inner complexities into a couple of API calls.

**_Place an order, and get notified of the final outcome_**
- Issue a buy order (currencyPair, price, quantity)
- Wait for...
-- rejection
-- timeout
-- order completely filled
-- unrecoverable error
- On rejection...
-- notify caller that the order has been rejecte

[2017-10-17 08:20] timmolter commented on #1747
@makarid To offer a bounty, just write a new comment on this issue how much you are offering. I will update the title with the bounty amount and add the bounty tag. When complete (I accept the pull request), the implementor will post his/her BTC address, and you can send the funds. If the implementor wants, I can hold the funds in escrow.

[2017-10-17 08:21] timmolter commented on #1747
A good amount to start would be around 50 mBTC, I think.

[2017-10-17 12:46] makarid commented on #1747
Thanks a lot for your reply.I offer 50mBTC if someone can implement the bitmex exchange.I am mostly interested on the XBTUSD perpetual swap contract,so maybe this is much more simpler.I am waiting for your responses,thanks a lot!

[2017-10-17 13:31] makarid commented on #1747
I would like to ask one thing.Is it possible the orderbook feed to be implemented with websocket?I read on the documentation of the bitmex that they only use websocket for data feeds and not for actions like open/cancel trades.I do not know the technicalities about that.Maybe i am wrong.Thanks.

[2017-10-17 13:48] timmolter commented on #1747
See our README about streaming APIs.

[2017-10-17 13:58] makarid commented on #1747
Can i transfer the same bounty to the xchange-stream in order the implementation to be made for websocket and not for this project?Thanks.

[2017-10-17 14:04] timmolter commented on #1747
Yes, go for it. Just close this issue and open a new one on their issues page.

[2017-10-17 14:04] timmolter commented on #1747
No wait, leave this open. I'll just remove the bounty if you tell me to do so.

[2017-10-17 14:05] makarid commented on #1747
Thanks a lot man! Please remove the bounty and i will make a new one on the stream xchange.

[2017-10-17 16:20] kyr7 opened #1823 "http proxy for exchanges"
Hello,

I'd like to add http proxy support. Rescu has it. I could add proxy host/port to ExchangeSpecification,  and then apply these host/port into every call of RestProxyFactory.createProxy via ClientConfig. Would such pull request be accepted?

[2017-10-17 21:07] makarid commented on #1747
Hi,i would like to reopen the bounty of 50mBTC for implementing Bitmex exchange.I read in the API documentation that Bitmex supports  HTTP Keep-Alive and have the same latency as websocket without using websockets.So i am waiting for your responses.Thanks a lot!

[2017-10-17 23:28] kstamos-code opened #1824 "Can not deserialize instance of java.util.LinkedHashMap out of START_OBJECT token"
Using latest develop branch

my main looks like:

`package main;

import java.io.IOException;
import java.util.Map;

import org.knowm.xchange.BaseExchange;
import org.knowm.xchange.ExchangeFactory;
import org.knowm.xchange.ExchangeSpecification;
import org.knowm.xchange.poloniex.PoloniexExchange;
import org.knowm.xchange.poloniex.dto.trade.PoloniexOpenOrder;
import org.knowm.xchange.poloniex.servi

[2017-10-18 06:54] timmolter commented on #1824
Maybe they changed their JSON. See what JSON is returned, make a unit test for it or modify an existing one, fix it and submit a PR with the fix.

[2017-10-18 06:57] timmolter commented on #1747
ok, reopened.

[2017-10-18 10:50] cymp opened #1825 "[60mBTC bounty] Liqui implementation"
Hello,

I would need full XChange implementation for Liqui, including support for a getAllDepths (or getAllOrderBooks), with its 'limit' parameter and a getAllActiveOrdersForAllCurrencyPairs implementation.

I had a very quick look at the api, and it seems pretty straightforward and standard.

[Liqui API](https://liqui.io/api)

[2017-10-18 10:58] npomfret commented on #1820
Sounds like a bug.

Are funding events returned via the `TradeHistory` call?  If so it might be difficult to implement.

The problem could be that the xchange API internally calls `TradeHistory` in order to get funding events.  The most recent 50 items that are returned are all trades and get filtered out.  So the user see's an empty list returned (because that's all the xchange api is currently s

[2017-10-18 11:14] npomfret commented on #1813
These improvements would be great but incredibly difficult to do on certain exchanges.

For example, some exchanges only process withdrawal once per day.  So everything can be working just fine, but so slowly your timeout would end up having to be enormous.

[2017-10-18 11:33] npomfret commented on #1731
Bulk queries for order books are supported on some exchanges and within this API.  No reason we can't do the same for tickers.

[2017-10-18 11:43] npomfret commented on #1816
This is a bit of a work in progress.  I started to add support for _complex_ addresses when I added the support for XRP withdrawals, see `RippleWithdrawFundsParams`.

I don't think there are any other implementations yet.

[2017-10-18 15:23] KIC opened #1826 "Kraken TradeService getting a NPE for getTradeHistory"
Maybe I do somehting wrong but at least it feels valid what I try to do :-)

Works:
[code]

Gets NPE:
[code]

[code]

[2017-10-18 21:54] iPretendILoveToCode commented on #1824
I am afraid I do not have the resources to do it at the moment.
I will try to have a look in the next few days.

[2017-10-18 22:34] digitalchaotics commented on #1813
What!?!?!?  Which exchanges are that slow?

[2017-10-18 22:41] digitalchaotics commented on #1826
I solved this problem by passing a more full-featured TradeHistoryParams object, and in this case making sure that the Currency is set.  It does mean that there's no "all" option, however.

[code]

[2017-10-19 07:45] KIC commented on #1826
using this i stillget a NPE

[code]

[2017-10-19 11:22] makarid opened #1827 "Bitbay new API"
Hello, as you know bitbay has change his website,but i do not know if they have change their API address also.I had made a program using Xchange that was working with the API before their website change,but now it is not working.I have change API keys and make a new one and still the same "auth error".Does someone knows what i must change in order to connect to their new API.Thanks a lot!

[2017-10-19 12:03] Achterhoeker commented on #1826
@KIC same as https://github.com/timmolter/XChange/issues/1812 ?
Problem there is that a currency pair from the past is not available anymore. (ltc/btc switched) The adapter doesn;t know how to handle this strange pair as it isn't signalled anymore.

[2017-10-19 12:19] Achterhoeker commented on #1812
@vladmelnyk The adapter isn't capable of handling pairs that aren't signalled anymore as a valid market.
For this particularly case an extra if is possible. But then we start again introducing more strange handlers for all edge cases.

Example not tested code that could solve your problem:
else if (currencyPairIn.length() == 8)
{
   Currency base = assetsMap.get(currencyPairIn.substring(0, 4));

[2017-10-19 12:32] vladmelnyk commented on #1812
@Achterhoeker I am suggesting including support for 8 symbol pairs anyway - because there are pairs like USDTZUSD XETCXETH  XETCXXBT that are size of 8.

[2017-10-19 13:46] Achterhoeker commented on #1812
@vladmelnyk The other current pairs are supported by the currencypair map. That map is build with all symbols retrieved from the Kraken exchange. All pairs currently signalled by Kraken are working correctly as far as i know. (my bot is using Kraken with all pairs)

[2017-10-19 14:16] KIC commented on #1826
yep. i have also tried different currencies also from the constants ... same result.

[code]

[2017-10-19 15:40] Xion345 opened #1829 "getFundingHistory(...) only returns BTC or USD events on Kraken Exchange"
**Issue Description**
The method `getFundingHistory()` on Kraken Exchange only returns funding events related to BTC or USD when called with the default TradeHistoryParams. Funding events related to other crypto currencies or other fiat currencies are not reported.

Excerpt from the list of *ledger* events (from which the list of funding events is obtained) returned by Kraken:

     # Trade ID, Ti

[2017-10-19 15:47] timmolter commented on #1829
That sounds like a bug.

[2017-10-19 15:52] Xion345 commented on #1829
Ok, I think the root cause is https://github.com/timmolter/XChange/blob/f9638acafb0cdc9c7036d0d8ef4936936f1a30e0/xchange-kraken/src/main/java/org/knowm/xchange/kraken/service/KrakenAccountService.java#L68

 KrakenFundingHistoryParams are explicitely created with BTC USD as currency.

[2017-10-19 15:53] timmolter commented on #1829
Yes, please feel free to fix it and submit a PR!

[2017-10-19 17:52] #1829 closed

[2017-10-19 19:34] digitalchaotics commented on #1816
Yes - the issue seems to be everywhere for XRP, but I've seen additional examples.  Lots of them on Bittrex, but I've also seen it on other exchanges.

[2017-10-19 19:38] digitalchaotics opened #1831 "C-Cex lockout?"
Maybe it's just me, but I'm getting a FORBIDDEN response from C-Cex.com during Exchange initialization.  I've checked my API keys, and they match what C-Cex gave me.

[code]

[2017-10-19 20:24] digitalchaotics commented on #1831
Ah - dug deeper.  It looks like the Account api hasn't been implemented, even though it's marked as supported on https://github.com/timmolter/XChange/wiki/Exchange-Support

[2017-10-19 20:24] #1831 closed

[2017-10-19 20:38] jcuypers commented on #1820
According to me this is similar to the behavior of gettradehistory.  It has also a limitation of 50 transactions.   like @timmolter explained you need to page the results by specifying and incrementing an offset.   A quick test just now solved the same problem for me.   please be aware that you still need to respect the API limits otherwise you will get locked out for 15min.  You can filter the re

[2017-10-19 20:48] Xion345 commented on #1820
Yes, you are right that the Kraken API limits the number of ledger entries returned to 50 per API call. I think that `getFundingHistory(...)` should however iterate over pages and return all funding history, i.e., the user should not need to implement pagination (or else it should be mentioned in the documentation)

I have a working prototype of an implementation of `getFundingHistory(...)` which

[2017-10-19 21:00] jcuypers commented on #1820
great to hear it's working. the offset would be more universal and is specifically for this purpose.  Anyway, if it works, great.

[2017-10-19 21:27] Xion345 commented on #1820
Got it working using the offset parameter, instead of the end parameter. You were right, it makes the code simpler, so it's all good.

[2017-10-20 07:14] #1820 closed

[2017-10-20 07:20] npomfret commented on #1816
I'd be happy to work on this stuff but it won't be for a couple of weeks (new puppy means I don't have time to wash let alone work!)

[2017-10-20 07:22] npomfret commented on #1826
It used to come back from the exchange as BTC/LTC?

[2017-10-20 07:23] npomfret commented on #1813
Quione do daily withdrawals, as does BTCMarkets (i think).

[2017-10-20 07:51] timmolter commented on #1823
The proxy settings could be added as well, as in #1798

[2017-10-20 09:02] timmolter opened #1833 "Are All Chinese Exchanges really shutdown and inactive?"
I used to use our BTCC module for market data and one day data flow stopped. What about Huobi, BitVC, other Chinese exchanges? Are any still active?

[2017-10-20 09:59] Saloed123 opened #1834 "Kraken interval"
Hello, how me add period of candles to kraken trades request

[2017-10-20 12:24] cymp opened #1836 "'tradableAmount' replaced by 'originalAmount' and 'RemainingAmount'"
Hello,

I am aware of that replacement, but is it implemented in all exchanges? I had a look at the Poloniex code, and I can see this in PoloniexAdapters.adaptPoloniexPublicOrders:
` LimitOrder limitOrder = new LimitOrder.Builder(orderType, currencyPair).originalAmount(level.getAmount()).limitPrice(level.getLimit()).build();
      orders.add(limitOrder);`
meaning that the depths are retrieved, Lim

[2017-10-20 19:48] Achterhoeker commented on #1836
@cymp Original amount and remaining amount are usefull for open orders. Were possible the xchange can indicate the original amount the order was placed with and remaining amount is the remaining amount still not traded. (waiting in the order book). Not all xchanges have this implemented, and not all xchanges can support this with their api. The original amount must be filled always. The remaining

[2017-10-21 08:04] cymp commented on #1836
On a limit order construction, shouldn't the remaining about not be the original amount by default instead of null? There is a lot of cases where null pointers can happen if not.
For example, I have a moveOrder(LimitOrder orderToMove, BigDecimal toPrice, Big Decimal toAmount) doing nothing if toPrice and toAmount are the same as what is in the orderToMove. The code has to be generic, and it has no

[2017-10-22 08:49] anklavez opened #1837 "" Could not find a key matching the given X-BFX-APIKEY." for Bitfinex"
Hello,

I've tried common code for getting account balance:
[code]
It's works perfect for most of exchanges (Bittrex, Kraken, Poloniex, etc), but for Bitfinex I got an error:
"org.knowm.xchange.exceptions.ExchangeException: org.knowm.xchange.bitfinex.v1.dto.BitfinexException: Could not find a key matching the given X-BFX-APIKEY."

Also  I double checked the keys them self (implement this function

[2017-10-22 15:38] EricAnderson1000 commented on #1764
I'm still working on this... it looks like bitfinex made some crazy API response choices.
[code]
Notice the missing property names in the JSON responses in the new API.

[2017-10-22 19:50] Xion345 opened #1838 "createFundingHistoryParams() throws Exception on GDAX"
I am trying to retrieve my funding history on GDAX, as follows:

    TradeHistoryParams params = service.createFundingHistoryParams();
    List<FundingRecord> recordList = service.getFundingHistory(params);

But `createFundingHistoryParams()` throws `NotAvailableFromExchangeException`
https://github.com/timmolter/XChange/blob/e1ae0c4b45af867b1f1ed3337037867150e23046/xchange-gdax/src/main/java/org/

[2017-10-22 21:56] Optictrollz commented on #1791
got this too
14:54:09.492 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory - Creating default exchange from class name
14:54:09.495 [default] [main] DEBUG org.knowm.xchange.ExchangeFactory - Creating default exchange from class name
14:54:09.668 [default] [main] DEBUG o.k.x.bitstamp.BitstampExchange - ExchangeMetaData [currencyPairs={BTC/USD=CurrencyPairMetaData [tradingFee=0.0025, minimum

[2017-10-22 22:40] EricAnderson1000 commented on #1764
@serhansevim Code is coming along nicely. I have all the MarketData calls implemented and tests added. Here is the branch I am working on

https://github.com/timmolter/XChange/compare/develop...EricAnderson1000:bitfinexV2Support

[2017-10-23 07:44] timmolter commented on #1791
@Optictrollz I fixed it. Pull latest commit on develop branch.
@Eldenayri Try the latest release. It works for me.

[2017-10-23 07:44] #1791 closed

[2017-10-23 17:51] jcuypers commented on #1812
Isn't there a way we could create some form/notion of active currency pairs that are currently tradable on an exchange  and ones that have been available before at some point in time?  As there are frequent changes to these tables you can't reliably used them as a ground-truth for a project, causing duplicate work and data.

[2017-10-23 18:33] #1837 closed

[2017-10-23 19:01] jcuypers commented on #1729
it would be beneficial if this could be integrated with the rate-limiter discussion.  mutex block with rate-limiting consideration.

[2017-10-23 19:08] makarid commented on #1827
Does anyone knows about this,please?

[2017-10-24 10:56] cerko2 commented on #1825
I would like to pick this up later this week or during the weekend.

[2017-10-24 23:16] iPretendILoveToCode commented on #1836
returnOpenOrders may contain the following, probably you can infer the completed amount:
  "BTC_VTC": [
    {
      "orderNumber": "19821693565",
      "type": "sell",
      "rate": "0.00099750",
      "startingAmount": "300.00000000",
      "amount": "300.00000000",
      "total": "0.29925000",
      "date": "2017-10-22 17:52:28",
      "margin": 0
    }
  ]

[2017-10-26 16:42] makarid commented on #1827
Please someone anwer me, do i need to set anything more than (apiKey,apiSecret,username) in order to connect to private bitbay api.Thanks a lot!

[2017-10-26 16:54] avolodin opened #1844 "Poloniex returnOrderTrades does not work"
Can not receive order trades. The exceptions occurs
com.fasterxml.jackson.databind.JsonMappingException: Can not deserialize instance of org.knowm.xchange.poloniex.PoloniexException out of START_ARRAY token

Please change return type for method returnOrderTrades in the class PoloniexAuthenticated:
from Map<String, PoloniexOpenOrder[]> returnOrderTrades(...)
to PoloniexUserTrade[] returnOrderTrades

[2017-10-26 16:56] npomfret commented on #1844
This is often the case when the exchange returns an error message instead of the data.  The xchange java code possibly isn't checking for the error message.  If this is the case and you have the correct logging turned on you should be able to see the error message that's coming back from the exchange.

[2017-10-26 17:07] digitalchaotics opened #1845 "C-CEX listing on the "Exchange Support" wiki is incorrect"
C-CEX does not have full support for the AccountService or TradeService.

They are both incorrectly listed as  being supported, but I see many instances of "throw new NotAvailableFromExchangeException()" and "throw new NotYetImplementedForExchangeException()" in the implementation.  CCEXAccountService is especially bad, but CCEXTradeService is also missing some critical functions.

Please change t

[2017-10-27 12:51] makarid opened #1846 "org.knowm.xchange.exceptions.ExchangeException: 0: null.What does this message mean?"
Hello, i have encounter this Exception when i am trying to place a limit order on Bitbay exchange.The code i have write is this:

                            TradeService tradeService = bitbayExchange.getTradeService();
                            BigDecimal tradeableAmount = new BigDecimal("5.00");
                            BigDecimal price = new BigDecimal("4901.15");

[2017-10-27 19:20] mike789vvv opened #1847 "Yobit Exchange Any Example Demo Has Error"
Hi everyone)
I try to run any example demo of Yobit Exchange, but everytime has errror,

Maybe I do somehting wrong ? May be I need set some parameters ?

[2017-10-27 20:59] MirkoTeran commented on #1847
Just set api key and secret to some fake values and it should work.

[2017-10-28 14:14] mike789vvv commented on #1847
Many thanks)))

[2017-10-28 14:14] #1847 closed

[2017-10-29 01:30] fredfortier opened #1848 "Error: getClientConfig()Lsi/mazi/rescu/ClientConfig"
I'm getting an error with this code:
[code]

Here is the error message:
`org.knowm.xchange.kraken.service.KrakenBaseService.getClientConfig()Lsi/mazi/rescu/ClientConfig;`

I used Kraken for this particular example but I've observed the same behavior with Binance. Bitfinex and Poloniex seem to behave correctly.

I'm new to the library so I may be missing something obvious. Any guidance would be app

[2017-10-29 18:14] Xion345 commented on #1846
Hi makarid,

I think this might be a bug in the implementation of bitBinance or a lack of parameter checking. It would be easier for people to help you if you included a stack trace.

[2017-10-29 18:44] makarid commented on #1846
Hi Xion345,
 thanks for your reply! I am sorry that i didn't put the stack trace.Here it is :

Exception in thread "main" org.knowm.xchange.exceptions.ExchangeException: 0: null
	at org.knowm.xchange.bitbay.service.BitbayBaseService.checkError(BitbayBaseService.java:37)
	at org.knowm.xchange.bitbay.service.BitbayTradeServiceRaw.placeBitbayOrder(BitbayTradeServiceRaw.java:41)
	at org.knowm.xchange.

[2017-10-29 20:52] fredfortier opened #1851 "Bitfinex: Date argument ignored in getTrades()"
My code goes like this:
[code]

I get trades but the last trade occurs today while I'd expect it to occur on 06/01/2017. I know that the Bitfinex V2 'trades' service accepts start and end date parameters.

I tried the same code with other exchanges. I ran into either the same issue or just could not instantiate a `MarketDataService`. Any pointer would be appreciated.

[2017-10-30 13:04] Xion345 commented on #1848
I had the same problem before updating to rescu 2.0.1, you _might_ have the same issue:

            <dependency>
                <groupId>com.github.mmazi</groupId>
                <artifactId>rescu</artifactId>
                <version>2.0.1</version>
            </dependency>

[2017-10-30 13:51] mike789vvv opened #1852 "Exmo support?"
Hi))
Are there any plans on adding support for https://www.exmo.me/ ?

API - https://exmo.me/ru/api

[2017-10-30 15:27] npomfret opened #1853 "balance for currency BTG in CexIO throws NPE"
When calling `getTotal` on `Balance` for the BTG currency on CexIO i'm getting a NPE.  The json that comes back from the exchange for the wallet looks like

"BTG" -> "{"available":"0.59513161"}"

There are no other fields. The resulting `Balance` object has null values in it's `frozen` and `total` fields.  The `getTotal` method doesn't handle this situation.

[2017-10-30 15:32] npomfret commented on #1853
I will fix...

[2017-10-30 15:44] fredfortier commented on #1848
It had a bad version number in one of my dependencies.

[2017-10-30 15:44] #1848 closed

[2017-10-31 16:42] bibryam commented on #1834
KrakenOHLCs krakenOHLC = marketDataService.getKrakenOHLC(CurrencyPair.BTC_USD, interval, last);
intervals could be: 5, 15, 30, 60 (1h), 240 (4h), 1440  (24h), 10080 (1 week), 21600 (15 days)

[2017-10-31 16:43] Saloed123 commented on #1834
Senq, i foubd this solution, but for historical data need use trades

вт, 31 жовт. 2017 о 18:42 Bilgin Ibryam <notifications@github.com> пише:

[2017-11-01 03:32] EricAnderson1000 commented on #1633
@cymp Here is the rest of this change. PATCH support working and tested

https://github.com/timmolter/XChange/pull/1855

[2017-11-01 08:29] BerndGit opened #1856 "Coinbase ETH/USD wrong value"
I got the following Ticker from Coinbase for ETH/USD:

Ticker [currencyPair=ETH/USD, last=6448.22, bid=6413.22, ask=6480.46, high=null, low=null,avg=null, volume=null, timestamp=null]

this is too good to be true. seems to be BTC/USD values.

[2017-11-01 08:31] timmolter commented on #1633
merged #1855

[2017-11-01 08:55] npomfret commented on #1856
I think the coinbase implementation is a bit broken.  Use the GDAX one instead.

@timmolter is there any value in keeping the coinbase code?

[2017-11-01 08:59] timmolter commented on #1856
I think we should remove it, as no one seems to be maintaining it. I assume most people use the GDAX impl.

[2017-11-01 09:19] Saloed123 commented on #1851
In this lib implemented v1 for Bitfinex

[code]

[2017-11-01 09:34] cymp commented on #1633
@EricAnderson1000 Thanks, I think I owe you 50 mBTC, right? Please give me your BTC address. By the way, did you manage to get some non 0 balance from the api v2 getBalances api call? I tried this week and I still have 0 everywhere...

[2017-11-01 21:28] cymp commented on #1633
@EricAnderson1000 By the way, what is the difference between clientOrderId and requestClientId  in this method?

[2017-11-01 22:48] andrewlin0410 opened #1858 "Serialize order book, trades, trade etc?"
Can you developers implement Serializable for these? I want to save some of the objects locally. Please tell me if this will be done. Otherwise I will have to do some cumbersome work.

[2017-11-02 01:40] EricAnderson1000 commented on #1633
https://hitbtc.com/api#cancel-replace-orders
What this really does is cancel the previous Order and Creates similar new one with the new parameters.

requestClientId: the new unique order id (system wide) for the new order. If left empty the system will create it.
clientOrderId: The uniqueOrderId of the order you want to cancel (replace).

OK I think I have figured it out the account balance.
The

[2017-11-02 01:57] EricAnderson1000 commented on #1633
Yes I did. Make sure you are calling the correct API for the Main vs the Trading. I have added a unit test here. You will have to provide your key and secret to the test as described in the Base Test class.

Here is an example. https://github.com/timmolter/XChange/pull/1859

[2017-11-02 04:21] deltacat opened #1860 "Batch retrieve orders, cannot get "status""
I'm using GDAX classes to operate my orders.
When use "tradeService.getOrder(String orderId)" to get one order, the returned data contains "status" correctly. But if I use the batch version to retrieve orders, status of the returned orders are always "PENDING_NEW".

I checked related source code such as "GDAXAdapter", found that the batch get function does not process "status".

I'm not sure it is

[2017-11-02 06:38] timmolter commented on #1858
try the snapshot jar, as I already did serialize them. Should be released soon.

[2017-11-02 06:38] #1858 closed

[2017-11-02 11:26] cymp commented on #1633
@EricAnderson1000 I paid you. By the way, I think you have forgotten to add the price parameter in updateMarketOrderRaw.

[2017-11-02 11:39] cymp commented on #1633
@EricAnderson1000 After having tried to fetch the balances, I think there might be a problem related to the format Hitbtc returns the balances: what is this negative "available" value?
Example:
![image](https://user-images.githubusercontent.com/3685318/32324158-b427d382-bfca-11e7-9edb-13834b55cd7a.png)
![image](https://user-images.githubusercontent.com/3685318/32324175-c2163510-bfca-11e7-930a-a35b

[2017-11-02 15:27] #1852 closed

[2017-11-02 15:29] mike789vvv commented on #1852
thanks for answer)

[2017-11-02 22:31] andrewlin0410 commented on #1858
Hi I am using the Snapshot. However, I don't see implement Serializable in Trade or Trades classes. My gradle file looks something like this:

repositories {
    mavenCentral()
    maven { url 'https://jitpack.io' }
}

dependencies {
    testCompile group: 'junit', name: 'junit', version: '4.12'
    compile 'com.github.timmolter:XChange:-SNAPSHOT'
}

Is this the wrong way to get Snapshot?

[2017-11-03 02:05] EricAnderson1000 commented on #1633
Indeed. I have updated the code and tested it with real funds. Works with price and quantity updates now. Here is the PR
https://github.com/timmolter/XChange/pull/1862

The way I see that screen is that you have .31 placed on a pending order that is not full-filled. And .23 in your trading account. That means you have -.08 on margin. Correct me if I am wrong.

[2017-11-03 08:17] timmolter commented on #1858
I guess your doing it wrong, as `Trade` implements Serializable:

https://github.com/timmolter/XChange/blob/develop/xchange-core/src/main/java/org/knowm/xchange/dto/marketdata/Trade.java

See the readme, and adapt to Gradle about SNAPSHOTS.

[2017-11-03 16:18] cymp commented on #1633
@EricAnderson1000 In this case with the Balance.getTotal() implementation, it will return .31+.23-.08 = .46? Looks a bit strange imo... Is this consistent with the other exchanges data?

I have also noticed that getTicker**s** implementation v2 is missing (getHitbtcTickers is implemented in HitbtcMarketDataServiceRaw v1) :

Thanks very much for your overall very good work!

[2017-11-03 17:02] andrewlin0410 commented on #1858
In case somebody else stumbles upon this, it should be like this:

repositories {
mavenCentral()
maven { url 'https://jitpack.io' }
}
dependencies {
testCompile group: 'junit', name: 'junit', version: '4.12'
    compile 'com.github.timmolter:XChange:develop-SNAPSHOT'
}

[2017-11-03 17:02] andrewlin0410 commented on #1780
In case somebody else stumbles upon this, it should be like this:
repositories {
mavenCentral()
maven { url 'https://jitpack.io' }
}
dependencies {
testCompile group: 'junit', name: 'junit', version: '4.12'
compile 'com.github.timmolter:XChange:develop-SNAPSHOT'
}

[2017-11-04 03:35] EricAnderson1000 commented on #1633
Yes this was missing in the RAW service
https://github.com/timmolter/XChange/pull/1863

I am a little confused here. I'm not sure how you would call getTotal on the Balance object since there are only three methods
[code]

It did get me thinking about about the AccountInfo object and how it adds up totals. It looks like if you add more than a single Wallet to the AccountInfo object, it throws an e

[2017-11-04 03:37] EricAnderson1000 commented on #1764
@serhansevim Are you still interested in this feature? I just need to implement about 35% more.

[2017-11-04 10:19] EzBar opened #1864 "LimitOrder's filledAmount vs Order's cummulativeAmount"
Hi guys,

Order class holds a 'cumulativeAmount' variable and I wonder why LimitOrder defines a NEW variable called 'filledAmount' which seems identical?
In addition, LimitOrder.getRemainingAmount() refers to the 'filledAmount' instead of the Order's class 'cimulativeAmount' which I believe is wrong, and in general, I think getRemainingAmount should belong to Order class and not LimitOrder class.

[2017-11-04 17:41] Xion345 commented on #1860
Yes, I had the same issue, and I was even planning to fix it. I'm 90% confident it is a bug. A quick fix is to use `GDAXTradeServiceRaw.getOrder(...)` but I think the adapter should be properly implemented.

[2017-11-04 17:45] Xion345 commented on #1856
I don't think this is a bug in the implementation because I use a desktop applet which reports exchange rates from Coinbase and it was returning false values the last days. It has returned to normal about 12-24 hours ago or so. So my conclusion is that it was a transient issue on Coinbase side, and I would advise -- if everyone agrees -- to close the issue.

[2017-11-04 17:49] Xion345 commented on #1838
I have implemented a fix as suggested at the end of the issue in https://github.com/timmolter/XChange/commit/39e7fb0e4e0d2adf8cc27b821ed8858ad6fce59e . So I am closing the issue for know but feel free to re-open it if you want to suggest a better way to implement `createTradeHistoryParams()`.

[2017-11-04 17:49] #1838 closed

[2017-11-04 17:56] fandre90 opened #1865 "Should Stop Loss orders be considered open ?"
Currently on GDAX, `getOpenOrders(...)` does **not** report active stop loss (and stop loss limit) orders. The fix is trivial, but I just wanted to know if  `getOpenOrders(...)` is expected to return stop loss orders or not.
If not, there is currently no way to retrieve active stop loss orders in XChange and think some methods should be added in the API to do so.

You can vote here: https://goo.gl

[2017-11-05 11:25] ww3456 opened #1866 "Travis builds not running unit tests"
Have the unit tests been disabled on purpose? e.g.

https://travis-ci.org/timmolter/XChange/builds/297084703#L454
[code]

KrakenAdaptersTest.testAdaptCurrencyPairs will need fixing if they are going to be turned back on.

[2017-11-05 11:36] timmolter commented on #1866
Do you know where that's coming from? I'm confused about how that it even there.

[2017-11-05 11:39] timmolter commented on #1866
Our `.travis.yml` config is this:

[code]

[2017-11-05 11:50] ww3456 commented on #1866
No, I'm afraid not. It is also skipping the javadoc, as though it is running in a configuration to speed up the build.

[2017-11-05 12:34] npomfret commented on #1846
If you turn on the logging properties that dump out the actual JSON response from the exchange you might see the error in more detail.

[2017-11-05 12:42] npomfret opened #1868 "reminder: symbol change for bitcoincash on hitbtc"

[2017-11-05 22:19] andrewlin0410 commented on #1094
Can someone clarify this even more? This is really confusing

[2017-11-06 02:41] ezzimaro opened #1871 "Support Bithumb"
Are there any plans on adding support for Bitthumb
https://www.bithumb.com
API : https://www.bithumb.com/u1/US127

[2017-11-06 16:36] makarid commented on #1846
Hi npomfret,
thank you for your reply.I don't know if this is the thing that you talking about,but i debugg the program and this printed on my console:

4835 [main] INFO org.knowm.xchange.bitbay.BitbayExchange - Calling Remote Init...
4836 [main] INFO org.knowm.xchange.bitbay.BitbayExchange - No remote initialization implemented for Bitbay. The exchange meta data for this exchange is loaded from a

[2017-11-06 17:36] npomfret commented on #1846
Search the docs for how to turn on the exchange json logging. Sorry, can't remember exactly how to do it right now.

[2017-11-06 17:38] makarid commented on #1846
Thanks a lot for your fast response!!! I will search it and post if i found something.Thanks again!

[2017-11-06 18:41] cerko2 commented on #1825
I'm already working on it although only on the weekends atm. Got the public api done, the trade api is almost done as raw services. You can check out the public api in my fork for now.

[2017-11-07 13:38] timmolter commented on #1865
I think it should be supported. If you want to implement it, go for it!

[2017-11-07 13:44] timmolter commented on #1868
Thanks for the reminder!

[2017-11-07 13:45] timmolter commented on #1865
Yes, they should be considered open.

[2017-11-07 13:47] timmolter commented on #1845
done.

[2017-11-07 13:47] #1845 closed

[2017-11-07 14:32] EzBar commented on #1864
I've already implemented it, so I can make sure all test pass and submit a pull request.

[2017-11-07 15:02] timmolter commented on #1866
OK, looks like Travis CI changed something on their end. I think it's fixed now.

<https://stackoverflow.com/questions/31945809/skip-first-mvn-install-in-travis-ci>

[2017-11-07 15:02] #1866 closed

[2017-11-07 15:03] timmolter commented on #1864
Sorry, I already pushed my changes. Can you see if it's what you were thinking?

[2017-11-07 15:40] #1856 closed

[2017-11-07 19:46] Achterhoeker commented on #1864
@timmolter I think that cummulitive amount is a different thing. In an order book, every entry can have a cummulitive amount that gives the total amount in the order book with the complete depth.
The filled amount is only used for open orders, to give the amount that is really processed. (is the original amount minus the remaining amount)

[2017-11-07 20:22] EzBar commented on #1864
@timmolter I saw that you've merged my last pull request. I fixed a few bugs and made sure it works all other Exchanges. New pull request is now pending.

@Achterhoeker I believe that the current interpretation of cumulativeAmount across all Adapters is what you refer to as the open-orders filledAmount. I guess that if we want to support orderbook dept-amount we need to consider renaming it to fil

[2017-11-09 02:41] ezzimaro opened #1875 "Additional currency -> QTUM"
please add QTUM coin

[2017-11-10 08:46] cymp opened #1876 "java.net.SocketException: Too many open files"
Hi,

After having experience a one day server downtime on one of the supported exchange, my code ended up looping on this exception, although the exchange api was back online:

	at java.net.Socket.createImpl(Socket.java:460)
	at java.net.Socket.connect(Socket.java:587)
	at sun.security.ssl.SSLSocketImpl.connect(SSLSocketImpl.java:673)
	at sun.net.NetworkClient.doConnect(NetworkClient.java:175)
	at

[2017-11-10 09:05] cymp commented on #1876
update: I think it is related to a bug where I failed to close open files while using Files.lines(), this had the side effect of preventing the socket file descriptors to be opened as well.

[2017-11-10 09:05] #1876 closed

[2017-11-10 22:45] #1875 closed

[2017-11-11 15:09] EricAnderson1000 commented on #1868
Here are a couple of tests. Seems to work as expected for V2. https://github.com/timmolter/XChange/pull/1879. There was no previous adapting of BCC -> BCH in XChange code. This means that if anywhere it would be in the application level code.

Here is the raw output from executing the tests in the PR above
[code]

AND

[code]

[2017-11-11 15:21] EricAnderson1000 commented on #1851
Hello @fredfortier can you try passing in just the date object? If that doesn't work I can add a unit test and figure out what is going on.

[code]

Please let me know if this does or does not work. Thank you

[2017-11-11 15:27] EricAnderson1000 commented on #1633
@timmolter I suggest we close this ticket as implemented.
@cymp If there are any more follow up issues, please create new issues and tag me. Thanks!

[2017-11-11 16:18] cymp commented on #1633
Ok will do, I didn't answer you because I had to work on something else and I haven't thought more about it yet.

[2017-11-12 15:30] lukasz-kaniowski opened #1882 "Binance throws ssl handshake exception"
When I'm executing `getAccountInfo` on binance I'm getting `sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target`
Ideas?

[2017-11-12 15:38] timmolter commented on #1882
Googling that error will lead you in the right direction. Also see: https://github.com/timmolter/XChange/wiki/Installing-SSL-Certificates-into-TrustStore

[2017-11-12 15:38] #1882 closed

[2017-11-12 16:51] piatekjulien opened #1884 "min-apk > 26 on Android after 4.3.0"
On the 4.2.3 version, everything was okay, but when I tried to upgrade to 4.3.0, I got the following error when I try to build my app:

Error:com.android.builder.dexing.DexArchiveBuilderException: Error while dexing javax/ws/rs/client/FactoryFinder.class

Error:com.android.dx.cf.code.SimException: invalid opcode ba (invokedynamic requires --min-sdk-version >= 26)

[2017-11-12 17:22] ewangelion opened #1885 "Bittrex: BittrexUtils.toPairString() is invalid (edit: also Poloniex)"
Hello!

Function:
BittrexUtils.**toPairString**()

Translates pair like this: currencyPair.counter-currencyPair.base (example LTC-BTC)
Where it should translate: currencyPair.base-currencyPair.counter (example BTC-LTC)

Fix:
Override BittrexUtils.toPairString() body with:
return currencyPair.base.getCurrencyCode().toUpperCase() + "-" + currencyPair.counter.getCurrencyCode().toUpperCase();

Best re

[2017-11-12 17:42] ewangelion commented on #1885
Same Thing for POLONIEX.

Poloniex returns empty list of orders without notification.
Bittrex returns failure message "INVALID_MARKET".

[2017-11-12 17:55] ewangelion commented on #1885
Ok, i am idiot - closing issue. xD

[2017-11-12 17:55] #1885 closed

[2017-11-13 09:05] timmolter commented on #1884
We bumped to Java 8: https://knowm.org/open-source/xchange/xchange-change-log/

Maybe you need to update your JDK???

[2017-11-13 10:46] npomfret opened #1886 "Java 8"
I just noticed the change to java 8 which is pleasing.  @timmolter what was the reason? are you planning to move to any of the java 8 APIs?

I was thinking `java.time` (in place of java.util.Date) would be nice.

[2017-11-13 11:01] timmolter commented on #1886
There was an issue about it a couple weeks ago, but I cannot find it.

No plans to "upgrade" to the Java 8 way, but now at least people can use it.

[2017-11-13 11:01] cymp commented on #1886
On reason I know of is that PATCH support was needed in rescu in order to implement somes hitbtc v2 api calls, which required Java 8: https://github.com/mmazi/rescu/pull/100.

[2017-11-13 12:51] winwish commented on #1833
As the crackdown of Bitcoin exchanges in China, BitVC is closed, Huobi moved out as www.huobi.pro, and okcoin moved to www.okex.com, btcchina is closed - I think its overseas branch www.btcc.com is still in operation.

[2017-11-13 12:52] winwish opened #1887 "Any plan to support Bitflyer and Coincheck?"

[2017-11-13 12:58] timmolter commented on #1887
no plans yet.

[2017-11-13 12:59] timmolter commented on #1833
I'll probably remove those modules from XChange then...

[2017-11-13 19:27] lukaszaoralek commented on #1747
@makarid
I've just written Bitmex streaming (websocket) as a module of the xchange-streaming project. I just made PR request there (https://github.com/bitrich-info/xchange-stream/pull/24), but if you want you can test it now https://github.com/lukaszaoralek/xchange-stream/tree/bitmex

I don't complain for bounty if you like it :)

[2017-11-13 19:38] lukaszaoralek commented on #1764
Hi, I've written xchange-stream module for bitfinex (based on wss://api.bitfinex.com/ws/2). I made PR there (https://github.com/bitrich-info/xchange-stream/pull/22). But, you can test it now (https://github.com/lukaszaoralek/xchange-stream/tree/poloniex/xchange-bitfinex)

...and if you like it I don't complain for bounty. :)

[2017-11-14 09:23] #1886 closed

[2017-11-14 09:29] npomfret opened #1889 "logging conf"
Has the logging mechanism changed recently?  I've just noticed that my application isn't logging as it was.  I have a `logback.xml` file in my classpath but it seems to be ignored now.

[2017-11-14 09:40] timmolter commented on #1889
Nothing was changed as far as I'm aware.

[2017-11-14 09:50] npomfret commented on #1889
Thanks, I must have changed something.

[2017-11-14 09:50] #1889 closed

[2017-11-14 09:52] winwish commented on #1833
Maybe they can be modified to
okex:
https://www.okex.com
okex API:
https://www.okex.com/intro_apiOverview.html

huobi.pro:
https://www.huobi.pro
huobi.pro API:
https://github.com/huobiapi/API_Docs_en/wiki

[2017-11-14 17:56] makarid commented on #1747
Hello lukas,
yes ofcourse i don't have a problem to give you the bounty.I just need to test it first because i don't have any experience with websocket.Thanks!

[2017-11-14 18:05] lukaszaoralek commented on #1747
Yep, I expect you will test it first and I can fix potential issues if there occur ...let me know here or in xchange-stream after testing ...the bitmex module has been merged with develop branch in xchange-stream

[2017-11-14 23:02] piatekjulien commented on #1884
@timmolter Sorry for the delayed reply.
I already use JDK8 on Android Studio. To be sure I updated it to the last version but the problem persists...
The error message just changed a little bit:

Error:com.android.builder.dexing.DexArchiveBuilderException: Error while dexing.

Error:com.android.tools.r8.ApiLevelException: Default interface methods are only supported starting with Android N (--min-

[2017-11-14 23:52] willedwards opened #1890 "BittrexAccountDemo does not work"
If I do the following:
1) open up  xchange-examples
2) go to src/main/java/org/knowm/xchange/examples/bittrex/v1
3) Change BittrexExamplesUtils to have my APIKey and Secret key
4) Run -> account/BittrexAccountDemo,

Expected:  some of my account details to be logged out
Actual: Exception in thread "main" org.knowm.xchange.exceptions.ExchangeException: INVALID_SIGNATURE

The reason for citing this,

[2017-11-15 04:51] johnzweng commented on #1884
As it seems the Android runtime (ART / Dalvik) don't support all features of Java 8 on older versions. To be clear, this has nothing to do with the software you use on your developer machine, that's the runtime inside the Android device which executes the application (https://source.android.com/devices/tech/dalvik/).

Here is a list of APIs in Java 8 which will only work on API level 24 and higher

[2017-11-15 07:33] timmolter commented on #1884
@piatekjulien It would be an interesting test to see if you temporarily bumped up the min API level to 24, and then tried. Or as your error message suggested >=26.

But I googled that error and it looks related to Guava. Try: https://stackoverflow.com/questions/45873274/google-guava-invokedynamic-requires-min-sdk-version-26

So I think it's more likely a guava issue on your end.

[2017-11-15 15:46] lukaszaoralek commented on #1410
@jheusser
I've just written PR with bitflyer websocket support https://github.com/bitrich-info/xchange-stream/pull/27. You can try/test it if it's still actual for you

[2017-11-15 15:46] lukaszaoralek commented on #1887
Bitflyer streaming support https://github.com/bitrich-info/xchange-stream/pull/27

[2017-11-16 17:16] skyliang168 opened #1891 "Access AccountService, error: org.knowm.xchange.bitstamp.dto.BitstampException: API key not found (HTTP status code: 403)"
Hi,
I used Example 2: Private Account Info to access AccountService, I got the error: org.knowm.xchange.bitstamp.dto.BitstampException: API key not found (HTTP status code: 403).
When I enter my Kraken account, I can see my account information, everything is good.
What is the problem? How can I resolve it?
Thank you so much!

[2017-11-16 20:20] skyliang168 commented on #1891
Hi,
When I execute to accountService.getAccountInfo() every time, I get the error.
Why getAccountInfo() in AccountService does not work.
Thank you so much!
Sky

[2017-11-17 04:28] Unbr8kbal opened #1892 "BitsoExchange defaults to BTC_MXN"
Not saying this is bad, but i was trying to run some stuff, and noticed that Bitso returns BTC_MXN and doesn't support passing in currency_pair to the api. I've made the necessary commits to make it work with the /v2 api, will PR.

[2017-11-17 04:53] Unbr8kbal commented on #1825
@cymp If @cerko2 needs help or if we could work something out, i would be willing to dedicate full-time to this.

[2017-11-17 05:01] Unbr8kbal commented on #1871
@timmolter Would it unfair to ask for a Bounty? Do you plan on doing this for free? Like my only issue is obviously love to contribute but until i need the exchange, i wouldn't do it for free.

[2017-11-17 06:54] #1892 closed

[2017-11-17 06:55] timmolter commented on #1871
Yes, you can always ask for a bounty if you want! I don't have time to work on it myself.

[2017-11-17 07:05] Unbr8kbal commented on #1887
@winwish Would you be willing to donate a bounty?

[2017-11-17 07:06] Unbr8kbal commented on #1871
@ezzimaro How fast you need this? Could happen faster with a bounty.

[2017-11-17 07:08] Unbr8kbal commented on #1784
@lukasz-kaniowski  Would you be willing to donate a bounty?

[2017-11-17 07:11] Unbr8kbal commented on #1205
@SeanRobb Do you still need this? and if so do you want it to go implement: https://docs.gdax.com/#api or https://developers.coinbase.com/api/v2 ??

[2017-11-17 10:37] makarid commented on #1747
Hi lukas,
i am sorry but i cannot test it because i don't know how to connect to bitmex.I have use the same method as the Xchange example provides changing the Exchange with StreamingExchange,but i cannot connect.Could you please update the examples on README file,for how to connect to the exchange and how to view ,for example, bid offers of the orderbook or something?The readme file of the Xchang

[2017-11-17 14:01] cerko2 commented on #1825
Dont really need any help, got almost everything done now just finishing up the adapters for the xchange api's.

[2017-11-17 14:22] skyliang168 commented on #1891
Hi,
I use the dependencies:
<dependencies>
        <dependency>
            <groupId>org.knowm.xchange</groupId>
            <artifactId>xchange-core</artifactId>
            <version>4.3.0</version>
        </dependency>
        <dependency>
            <groupId>org.knowm.xchange</groupId>
            <artifactId>xchange-examples</artifactId>
            <version>4.3.0</version>
        </depende

[2017-11-17 15:20] timmolter commented on #1891
bitstamp != kraken

[2017-11-17 15:48] skyliang168 commented on #1891
Hi Tim,

I am using the code now from your GitHub repository:

ExchangeSpecification exSpec = new
BitstampExchange().getDefaultExchangeSpecification();
exSpec.setUserName("34387");
exSpec.setApiKey("a4SDmpl9s6xWJS5fkKRT6yn41vXuY0AM");
exSpec.setSecretKey("sisJixU6Xd0d1yr6w02EHCb9UwYzTNuj");Exchange
bitstamp = ExchangeFactory.INSTANCE.createExchange(exSpec);
// Get the account informationAccountSer

[2017-11-17 22:35] willedwards commented on #1890
I am happy to close this, if anyone can verify it works for them. In which case, I must have a key issue.

[2017-11-18 05:42] piatekjulien commented on #1884
@timmolter @johnzweng Thanks a lot for your help !
I was able to run it on API 21 by adding these lines to my build.gradle file :

buildToolsVersion '26.0.2'
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

This URL was very useful https://developer.android.com/studio/write/java8-support.html

By the way, thank you

[2017-11-18 09:51] lukaszaoralek commented on #1747
@makarid
Hi makarid, no problem ...look at the code [BitmexManualExample](https://github.com/bitrich-info/xchange-stream/blob/develop/xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexManualExample.java) located at the test folder...it's complete example how can you obtain orderbook snapshots, trades and ticker events

[2017-11-18 10:21] makarid commented on #1747
Hi lukas,
thank you so much for these examples!!!Can you please also tell me what else do i need to set in order to connect to bitmex api?I have write the following method and i call it when i need to create an bitmexExchange:

    private static StreamingExchange bitmexApiConnection(){
        final String bitmexApiKey = "****";
        final String bitmexApiSecret = "****";

        StreamingExc

[2017-11-18 10:37] lukaszaoralek commented on #1747
@makarid
The streaming API supports only streaming public market data events. The public channels don't need authentication (like call setApiKey or setSecretKey). If you want also to use trade API, try to use REST API from the "standard" XChange library.

[2017-11-18 10:44] makarid commented on #1747
I am sorry but i am little confused.So the streamingAPI only displays public data info and doesn't do trades.How can i place trades if there isn't bitmex implementation on "standard" Xchange library?Thanks!

[2017-11-18 10:50] makarid commented on #1747
Also,even if i copy paste the code from the BitmexExampleFile.I get the following warning/error:

319 [main] WARN com.Test.BitmexStreamingExchange - No "exchange name" found in the ExchangeSpecification. The name is used to load the meta data file from the classpath and may lead to unexpected results.
Exception in thread "main" java.lang.NoClassDefFoundError: org/reactivestreams/Publisher
	at info

[2017-11-18 11:28] lukaszaoralek commented on #1747
@makarid
Exception in thread "main" java.lang.NoClassDefFoundError: org/reactivestreams/Publisher ...it says your jvm can't find the class Publisher. Please try this way:
[code]

[2017-11-18 11:57] makarid commented on #1747
God bless you man! Thanks a lot,it worked! What about trades? Can i execute trades? Thank you so much!

[2017-11-18 12:17] lukaszaoralek commented on #1747
@makarid
As I mentioned above the xchange-stream doesn't support the Trade API. You can consider this solution:

[2017-11-18 12:57] makarid commented on #1747
Can i send you an email?

[2017-11-18 14:47] lukaszaoralek commented on #1747
sure, check my github profile

[2017-11-18 15:40] SeanRobb commented on #1205
Yes i would like it if the coinbase exchange endpoints were updated for the new v2 endpoints.

[2017-11-19 16:26] willedwards commented on #1890
Turned out it was indeed a secret key issue. Closing this.

[2017-11-19 16:26] #1890 closed

[2017-11-20 01:30] Honmas opened #1894 "Huobi ETH/BTC limitOrder failed"
Huobi.pro api renewaled.
ETH/BTC, BCC/BTC, LTC/BTC currency is not available.

[2017-11-21 14:14] jcuypers opened #1899 "Intermittent Kraken Order execution issues"
I would like to get some feedback on the following behavior and see if there's a way around it.

When I execute an order on Kraken, via the raw xchange interface  I get any of the following behaviors:
1) works as expected.  get a normal KrakenOrderResponse.
2) connection timeout.  obvious that a retry is necessary
3) exchange exception.  Eservice unavailable and the like.  obvious that a retry is

[2017-11-21 14:50] jcuypers commented on #1899
On option 4.  sometimes the order goes through.  not consistent

[2017-11-21 21:26] skyliang168 commented on #1891
Hi Tim,

I use Exchange bitstamp = ExchangeFactory.INSTANCE.createExchange(PoloniexExchange.class.getName(),userName,password,apiKey,secretKey) now.
I can get the account information now.
Thank you!

[2017-11-21 21:26] #1891 closed

[2017-11-22 09:54] winwish commented on #1887
After I receive the postcard from them to pass verification, I think I can donate some or share with someone with the same needs.

[2017-11-22 10:54] joggerjoel commented on #1887
bitmex too

[2017-11-22 15:29] lukaszaoralek commented on #1887
If you are only interested in public (market data) API, the xchange-stream (websocket) supports Bitflyer and Bitmex now

[2017-11-23 02:19] Swoorup opened #1900 "Independent Reserve issue"
When running the marketdata/DepthDemo I get the following exception.

Any ideas?

[code]

[2017-11-23 09:49] cymp opened #1901 "Ticker volume: volume or volume quote?"
I've had an issue with using the "volume" value of the Ticker object, should its unit be read as the base or counter currency ? Documentation says "24h volume", and it seems that it is at least filled once as a base currency volume (in binance implementation), but instinctively I would have set it to the counter currency volume.
What should we do here? Document?  Or did I miss something?

[2017-11-23 10:13] jcuypers commented on #1901
base seems more logic.     as in ticker gives lets say 1 BASE is worth X counter currency and there has been already Y volume of BASE in volume today.       you can make your own calculation from there like base volume x counter for total real value.   if the volume would be expressed in counter it would become ambiguous as it changes all the time.

[2017-11-23 10:48] cymp commented on #1901
Makes sense, but on the exchanges the volumes are most of the time displayed in counter currency unit. As a win/win solution, what do you think of adding in Ticker something like:
[code]
\+ constructor parameter.

Quote volume is often provided by ticker api call on several exchanges and this would prevent from calculating it when needed.

[2017-11-23 11:03] jcuypers commented on #1901
From a programming point of view I would say its as good as it gets.  From a functional point of view its important that you always know exactly what you get back.  it's great to get a value, but if you assume it to be something else than it is then it might do more bad than good.   Also, be aware of scale issues and divide issues... seems like tricky.

[2017-11-23 12:54] mahalamobile opened #1902 "proxy to change IP address to bypass limit calls"
Hi,

Anyway of doing this. I need to make 2 calls for example to luno every 10 seconds, however, the API only allows 1 call every 10s. for example i need the bid, ask and then the bidvolume and askvolume under 1 timestamp. So impossible

Any advice welcome

thanks

[2017-11-23 13:19] cymp commented on #1901
Yes. I think there is something similar in Balance ( sthg like getTotal() { total != null : total : available + reserved} ).
@timmolter any thoughts?

[2017-11-24 10:32] timmolter commented on #1902
Sorry, cannot be done in XChange itself AFAIK. It'd be beyond the scope of this lib, too.

[2017-11-24 10:32] #1902 closed

[2017-11-24 10:36] timmolter commented on #1901
I always assumed volume referred to the base. I'm not overly excited about adding that extra method, but on the other hand it's small and doesn't hurt. If you want to submit a PR for it, go ahead.

[2017-11-24 10:37] timmolter commented on #1900
My guess is that Independent Reserve changed their response JSON and the XChange code not is broken. <See: https://github.com/timmolter/XChange/wiki/New-Implementation-Best-Practices>

[2017-11-24 10:39] timmolter commented on #1899
I don't have any experience with Kraken beside the public market data interface, and I just ignore errors. I'll leave this open, and maybe someone else can offer some advice.

[2017-11-24 10:40] timmolter commented on #1894
We need more information than that. What's the exact issue?

[2017-11-24 10:41] #1884 closed

[2017-11-24 10:42] #1868 closed

[2017-11-24 10:43] timmolter commented on #1860
I fix and a PR would be appreciated.

[2017-11-24 10:45] timmolter commented on #1851
@fredfortier You need to look at the implementation and see exactly what it's expecting. Every exchange is unique (unfortunately).

[2017-11-24 10:47] timmolter commented on #1846
@makarid Look at `BitbayBaseService.java:37` and you will discover the issue.

[2017-11-24 10:48] timmolter commented on #1844
The code in the Poloniex module will need to be fixed. A PR with the fix would be appreciated.

[2017-11-24 10:51] timmolter commented on #1836
@cymp

Yes, I think so.

[2017-11-24 10:51] #1834 closed

[2017-11-24 10:53] timmolter commented on #1823
I think this is now finished and merged

[2017-11-24 10:53] #1823 closed

[2017-11-24 10:56] cymp commented on #1901
@timmolter I've just submitted the PR, you can close this once it is accepted.

[2017-11-24 10:57] #1807 closed

[2017-11-24 10:57] timmolter commented on #1807
The coinbase module hasn't beed updated in a loooong time. People use the GDAX module now I believe.

[2017-11-24 11:00] timmolter commented on #1804
Maybe the adapter should use `"orders_id":123456789` as the id. Problem solved.

[2017-11-24 11:01] timmolter commented on #1799
I need to refactor the BTCE module to use the new name...

[2017-11-24 11:01] makarid commented on #1846
Hello timmolter,

thanks for your response.I am sorry but i am not a pro on programming and i am not sure if i can understand the error here correctly.In line 37 there is an if statement checking if the bitbay response on the request or not.If it is not responding then throws an error like ours? The only thing that come's to my mind is that i haven't put some parameters correctly(or not at all) on

[2017-11-24 11:02] timmolter commented on #1775
Any progress on this?

[2017-11-24 11:03] timmolter commented on #1769
Sorry, there are no complex examples like that in XChange. Such code would be welcome though!

[2017-11-24 11:03] #1769 closed

[2017-11-24 11:04] #1764 closed

[2017-11-24 11:06] #1654 closed

[2017-11-24 11:12] timmolter commented on #1846
You'll have to quickly become a pro then! :)

Clone the source code, and debug the code, looking at the values of everything. Unfortunately, the error response doesn't give much info.

[2017-11-24 12:03] makarid commented on #1846
This problem happens after the bitbay 3.0 version released.I hadn't any problem on bitbay 2.0 version.This is the code that i use to create my bitbay exchange instance if something seems strange please tell me,thanks:

    private  static Exchange bitbayApiConnection(){

        final String username = "***";
        final String bitbayApiKey = "***";
        final String bitbayApiSecret = "****";

[2017-11-24 13:25] Swoorup commented on #1900
This can be closed. I can only find this issue on JDK9, no issues on JDK8

[2017-11-24 13:53] #1900 closed

[2017-11-24 15:46] jcuypers opened #1904 "Ticker open not propagated in kraken adapter"
Missing open value in kraken ticker response.  also validation test fails to check correctly for this value.
open value needs to be added.

KrakenTicker [ask=KrakenOrder [price=1384.000000, volume=2, timestamp=2], bid=KrakenOrder [price=1380.000000, volume=4, timestamp=4], close=KrakenOrder [price=1380.000000, volume=0.08307540, timestamp=0], volume=[6869.36878990, 13000.33493644], volumeAvg=[1399

[2017-11-24 17:05] ghost opened #1905 "LivecoinTradeServiceRaw: makeMarketOrder"
Hello)
Some problem with method makeMarketOrder.

In method "makeMarketOrder" skipped response success or error detected like in method "makeLimitOrder".

Need small bugfix)))
Copy and paste missed block from method makeLimitOrder  to makeMarketOrder.

[2017-11-24 20:29] bingoko opened #1906 "Bittrex OHLC data"
I check the API, there is no method to get Bittrex OHLC data based on the resolution (1 min, 3 min, 5 min or 30min).

[2017-11-24 20:32] bingoko commented on #1906
The API version used for XChange Bittrex is v1.1 still, while v2.0 is released and provides more useful information.

[2017-11-25 21:19] mike789vvv opened #1907 "YoBitExchange.class init error"
Hi)
Found an bug,  when yobit exchange class init

ExchangeSpecification exSpec = new ExchangeSpecification(YoBitExchange.class);
exSpec.setApiKey("KEY_TOKEN_ID");
exSpec.setSecretKey("KEY_USER_SECRET");
Exchange yoBitExchange = ExchangeFactory.INSTANCE.createExchange(exSpec);

Exception in thread "main" java.lang.NullPointerException
	at org.knowm.xchange.yobit.YoBitAdapters.adaptToExchangeMetaDa

[2017-11-26 10:11] npomfret commented on #1775
Yes, that's fixed now.  The implementation didn't follow the spec and was using http header params instead of JSON in the body.  Amazingly it worked in most cases, but not for trade history.  It's been re-written now to follow the spec.

[2017-11-26 10:11] #1775 closed

[2017-11-26 11:41] lucarosellini commented on #1907
I confirm this bug in the develop branch, master is fine.

It's actually raising a NPE when initialising currency pair DKC/WAVES.
At YoBitAdapters, line 76, `exchangeMetaData.getCurrencies().get(pair.counter)` is null.

The failing code has been merged with PR #1877

[2017-11-26 14:08] ww3456 commented on #1899
"a way round it" - use a different exchange if possible? The Kraken Twitter feed is promising "major upgrades" in early December so there might be better things on the way.

https://twitter.com/krakenfx/status/933183555772882945
https://twitter.com/krakenfx/status/932910443785367552
https://twitter.com/krakenfx/status/932917134513934336

As you've noticed, it is currently highly unreliable at the

[2017-11-26 18:07] cerko2 commented on #1825
Alright, everything should be done now in #1908 including getAllDepths and getAllTickers.
For getAllActiveOrdersForAllCurrencyPairs is getActiveOrders.
The accountService methods I've left unimplemented since Liqui doesnt seem to support any of them.

[2017-11-26 21:47] pi-sw opened #1909 "Nullpointer in BinanceExchange getExchangeSymbols"
Receiving a NPE in the BinanceExchange when I want to get the available currency pairs:

[code]

[2017-11-27 10:12] Saloed123 opened #1910 "Poloniex pairs"
Hello, poloniex return exchange symbols. But i found two pairs which not trading on poloniex.

NAUT/BTC, NOTE/BTC.

[2017-11-27 16:29] douggie commented on #1231
Hi Tim,

think we can close this as it was comitted in #1231.

[2017-11-27 16:34] #1231 closed

[2017-11-29 06:32] jcuypers commented on #1899
Based on Kraken's feedback:  they are working on a new trading backend, regarding this problems.  for now they recommend setting/checking the userref parameter as a bypass/validation in case something goes wrong.  I guess this topic can be closed. thanks

[2017-11-29 06:32] #1899 closed

[2017-11-29 09:18] jcuypers commented on #1904
Patch submitted

[2017-11-29 09:18] #1904 closed

[2017-11-29 10:24] npomfret opened #1917 "Yobit NPE since withdrawals fees were added to metadata"
[code]

https://github.com/timmolter/XChange/commit/5174f9e931955dc201fa57e228564d8b884c9f84#diff-3419e65921dc46b58ec693342a320e81R76

Can't find the user name of the person who made the change (Roei Bar Aviv).

[2017-11-30 09:21] Best108 opened #1919 "Bittrex Add support for API v2 GetLatestTick method"
I found this on https://github.com/thebotguys/golang-bittrex-api/wiki/Bittrex-API-Reference-(Unofficial) , and it not only shows the prices, but the trade volumes as well.

An example of the link would look like this https://bittrex.com/Api/v2.0/pub/market/GetLatestTick?marketName=BTC-ETH&tickInterval=thirtyMin&_=1500915289434

Very useful for keeping a historical record of market ticks and their

[2017-11-30 23:41] cymp commented on #1825
I started to test the library, it seems to work globally thanks. I committed a small bug fix in #1922.

@cerko2 I think getAccountInfo() implementation is missing in the account service, yet Liqui support the wallet information with getInfo. Is there any reason why you did not implement it?

[2017-12-01 08:26] jcuypers opened #1924 "Exchange metadata - no distinction between withdrawel types"
Withdrawel fee Fiat on Kraken for  EUR/GBP/... is quoted as 60 USD / 60 EUR.  this is the SWIFT rate for international transfer.  SEPA rates are 0.09 EUR for EURO-zone bank transfers.

[2017-12-01 16:48] cerko2 commented on #1825
@cymp  My mistake I missed it. It's added in #1925

[2017-12-02 00:31] digitalchaotics opened #1926 "YoBit "getTradeHistory" is always empty?"
Has anyone using YoBit ever seen any results from "getTradeHistory"?  If so, what params are you passing?  It's always empty for me.  I've tried a number of variants.

Note that the code below is working for Bittrex, HitBTC, Poloniex, Livecoin, Bleutrade, and Cryptopia.

`
      try {
        List<UserTrade> trades = yobitExchange.getUserTrades(currencyPair, new Date(0), new Date());
        if (t

[2017-12-02 02:22] digitalchaotics commented on #1926
Build version is 4.3.0-SNAPSHOT (built locally)

[2017-12-02 09:13] npomfret commented on #1926
Unfortunately each exchange works differently and at the moment you need to check the exchange specific implementation to see what parameters the exchange uses.  We don't have a good solution for this yet.

For obit, the following works:

                    TradeHistoryParamsAll params = new TradeHistoryParamsAll();
                    params.setCurrencyPair(currencyPair);
                    par

[2017-12-02 11:03] nihiluis opened #1928 "Always create new exchange in multi thread environment?"
when im in a multi thread environment, i.e. dealing with a rest request, should I always create a new exchange or use the existing exchange?

[code]

[2017-12-02 11:10] digitalchaotics commented on #1928
You can reuse the exchange instance, but you should take steps to ensure that only one thread is active through the exchange at any given time.  More than one instance won't help you that much, because the rate limits on the exchange's servers will shut you down.  Better to put put each call in a synchronized block, with the sync object being the exchange itself.  (I have a wrapper class that prox

[2017-12-02 11:15] nihiluis commented on #1928
this doesnt sound good when Im handling http requests, quite some overhead. is there less overhead when I just create one?

[2017-12-02 11:27] digitalchaotics commented on #1928
Unless you have separate exchange accounts (and keys), the rate limits on the server will be your primary throttle.  The best you'll get is one or two requests per second, as an average rate.  Some of the exchanges require you to be slower - much slower.  The overhead of wrapping REST calls in a synchronized block will be negligible.

I haven't tested it, but I'll bet some of the exchanges also im

[2017-12-02 11:32] #1928 closed

[2017-12-03 19:13] sowhynot opened #1929 "Poloniex transfer between wallets isn't implemented"
https://poloniex.com/support/api/
transferBalance

[2017-12-03 20:29] digitalchaotics commented on #1926
Strange.  That's functionally equivalent to what I have.  Maybe it's just me...  :(

[2017-12-04 09:18] #1929 closed

[2017-12-04 18:19] jpink opened #1933 "Add support for Whaleclub"
Hi,

how about adding support to anonymous [Whaleclub](https://whaleclub.co/) exchange? Anonymous means that there is no ID verification needed, only email registration.

There is [REST API](http://docs.whaleclub.co/) available.

[2017-12-04 21:03] tdiesler opened #1934 "BitcoinAverage accesses outdated API"
This now uses https://apiv2.bitcoinaverage.com/#ticker-data-per-symbol

I'll provide a PR shortly

[2017-12-04 22:03] KosherBacon opened #1936 "ArithmeticException thrown when initializing exchange"
[code]

Unable to use GDAX exchange. The error appears during the initialization of the BigDecimals in `adaptToExchangeMetaData` within [`GDAXAdapters.class`](https://github.com/timmolter/XChange/blob/c88ebbca5a65b86e6e6ff88ef1a44937b6d74217/xchange-gdax/src/main/java/org/knowm/xchange/gdax/GDAXAdapters.java#L221)

Consider changing the rounding mode from `BigDecimal.ROUND_UNNECESSARY`?

I'm using

[2017-12-04 22:28] tdiesler opened #1937 "CexIO TickerDemo fails with NPE"

[2017-12-04 22:28] sowhynot opened #1938 "No BCH wallet support for OkCoin AccountService"

[2017-12-05 08:39] iddqd1 commented on #1936
The same here.

[2017-12-05 08:52] timmolter commented on #1936
I'm working on a fix now...

[2017-12-05 09:10] iddqd1 commented on #1936
@timmolter
int minScale = product.getBaseMinSize().scale() > product.getQuoteIncrement().scale() ? product.getBaseMinSize().scale():product.getQuoteIncrement().scale();

[2017-12-05 09:49] npomfret commented on #1936
The problem is that there is a product (ETH-EUR) with a minimum amount is 0.001 which is being rounded to 2dp.  Obviously, this doesn't really make any sense.

[2017-12-05 10:30] timmolter commented on #1936
done. please let me know if there are still issues.

[2017-12-05 10:30] #1936 closed

[2017-12-05 10:53] #1934 closed

[2017-12-05 10:53] #1937 closed

[2017-12-05 10:58] tdiesler commented on #1205
I'll take a stab at this, if that's ok.

[2017-12-05 10:58] #1938 closed

[2017-12-05 10:59] #1926 closed

[2017-12-05 11:01] #1917 closed

[2017-12-05 11:23] #1799 closed

[2017-12-05 11:57] mike789vvv commented on #1907
its working ok) thanks)

[2017-12-05 11:57] #1907 closed

[2017-12-05 12:21] #1919 closed

[2017-12-05 12:53] #1910 closed

[2017-12-05 14:09] timmolter commented on #1833
@winwish I changed the endpoints for okex, and none of the demos worked.

[2017-12-05 14:19] timmolter commented on #1833
@winwish I removed Huobi completely as the new API is completely different so it seems.

[2017-12-05 14:58] timmolter commented on #1833
I also removed Jubi, chbtc, btc38.

[2017-12-05 15:23] lumyus opened #1944 "ArithmeticException: Rounding necessary"
Hey,

I am all of a sudden getting the following error:

Any idea why this is happening? My code used to work perfectly until 1-2 days ago.

[2017-12-05 15:31] cymp commented on #1825
@cerko2 Everything I tested looks fine atm, if you like money, please give me a btc address.

[2017-12-05 15:39] cerko2 commented on #1825
@cymp Awesome, my btc address is 33Se6ELb8kPJnPLYYMVuDc1X3mRw73EYrp

[2017-12-05 15:42] cymp opened #1945 "[60mBTC bounty] Gate.io implementation"
Hello,

I offer a 60mBTC bounty to whom finishes the full implementation of Gate.io [API](https://gate.io/api2) before December 7th (2017, yes). If it is done before December 12th, the bounty would be 40 mBTC. If it is not done by then, I may be available to do it by myself.

And I always pay my bounties: [hitbtc](https://github.com/timmolter/XChange/issues/1633), [liqui](https://github.com/timmol

[2017-12-05 15:46] cymp commented on #1825
60mBTC are on their way to 33Se6ELb8kPJnPLYYMVuDc1X3mRw73EYrp.

[2017-12-05 15:50] cerko2 commented on #1825
Thanks!

[2017-12-05 15:52] timmolter commented on #1945
I did it today by converting bter to gate.io.

https://github.com/timmolter/XChange/commit/85e6925373e917cf86edacb4077ecd3913193ca8

Haven't tested it through though, nor do I plan to.

[2017-12-05 15:54] cymp commented on #1945
You just saved me 60mBTC if so. I am going to test it asap.?

[2017-12-05 15:54] timmolter commented on #1944
https://github.com/timmolter/XChange/issues/1936

[2017-12-05 15:54] #1944 closed

[2017-12-05 17:12] cymp commented on #1945
Works so far (balance, ticker, place order), thank you.

[2017-12-05 17:12] #1945 closed

[2017-12-05 19:43] tdiesler opened #1947 "Version mixup with fasterxml-jackson"
[code]

Also fix the funky import ordering issue in coinbase

[2017-12-05 20:41] #1947 closed

[2017-12-06 09:08] npomfret commented on #1205
@tdiesler it would be great if you could work on this.  I've been meaning to do it for a while but have not had the time.  Let me know if you get stuck.

I'm particularly interested in getting the deposit and withdrawal information.  If you need help testing just shout!

https://github.com/timmolter/XChange/issues/1728

[2017-12-06 09:31] timmolter commented on #1633
Can this be closed yet?

[2017-12-06 09:31] timmolter commented on #1541
Done.

[2017-12-06 09:31] #1541 closed

[2017-12-06 09:33] #1429 closed

[2017-12-06 09:36] #1728 closed

[2017-12-06 10:11] timmolter commented on #1233
Inspired from @rafalkrupinski 's ANX implementation, I updated the GDAX placelimitorder method to have better exception handling. The exception is documented on the generic method like you recommended, @mmazi . I think this is a step in the right direction.

[2017-12-06 10:16] cymp commented on #1633
Yes.

[2017-12-06 10:17] #1633 closed

[2017-12-06 13:24] #1609 closed

[2017-12-06 13:24] timmolter commented on #1730
Can this be closed?

[2017-12-06 13:26] cymp commented on #1730
@timmolter Yes sure

[2017-12-06 13:26] #1730 closed

[2017-12-06 13:27] timmolter commented on #1752
btc china has been removed from XChange.

[2017-12-06 13:27] #1752 closed

[2017-12-06 13:28] #1747 closed

[2017-12-06 13:28] #1833 closed

[2017-12-06 13:29] #1825 closed

[2017-12-06 13:30] timmolter commented on #1894
Huobi has been removed from XChange

[2017-12-06 13:30] #1894 closed

[2017-12-06 19:46] timmolter commented on #1767
I considered this, but I'm not so sure it's a problem needing fixing. The most common way to create an Exchange is to use the method with an ExchangeConfiguration, which uses a String for the exchange class name. I think this is advantageous for serialization or creating instances in the most generic way possible, from a config file for example.

I did add overloaded methods with this argument typ

[2017-12-06 19:46] #1767 closed

[2017-12-07 16:10] razem-io opened #1954 "Kraken Order results in [EGeneral:Invalid arguments]"
Hello,

I am trying to trade using the api since the web interface of kraken is not usable anymore.

When I set a Limit Order or Market Order I get the following exception:

[code]

I am using the following code (scala):

[code]

I am not sure yet what causes the error. Everything else seems to work fine (ticker, account).

[2017-12-07 20:04] azlax opened #1957 "KrakenOrderResponse include the error code and error message."
protected <R> R checkResult(KrakenResult<R> krakenResult)
in
public KrakenOrderResponse placeKrakenOrder(KrakenStandardOrder krakenStandardOrder) throws IOException

should return the krakenResult and not krakenResult.getResult();

So that we can programatically act upon different error codes are error messages from the Kraken API, instead of just a null krakenResult.

for example: API status 200

[2017-12-07 20:16] razem-io commented on #1954
Okay I debugged for an hour. I think I found the problem:

[code]

`result == null` in this case

[2017-12-07 20:29] razem-io commented on #1954
Sorry. I already used version 4.3.1 but forgot to resync sbt when using intellij. So it still used 4.3.0 which had this bug. Closed.

[2017-12-07 20:29] #1954 closed

[2017-12-08 06:24] #1782 closed

[2017-12-08 11:11] npomfret opened #1959 "implementation request: bitflyer.jp"

[2017-12-08 11:12] npomfret opened #1960 "implementation request: exmo.com"

[2017-12-08 11:12] npomfret opened #1961 "implementation request: uphold"

[2017-12-08 11:15] #1853 closed

[2017-12-08 17:46] ww3456 opened #1963 "CancelOrderParams"
I've just started trading with Binance and this is the first time I've not been able to cancel orders with just the ID, so am using TradeService interface's cancelOrder(CancelOrderParams) method added by @npomfret in #1625.

I'd like to suggest some changes to the CancelOrderParams implementations to make it more generic, e.g. so that it is easier to use the same CancelOrderParams object across di

[2017-12-09 07:43] crush777 opened #1965 "Bitfinex: Nonce is too small"
org.knowm.xchange.bitfinex.v1.dto.BitfinexException: Nonce is too small

[2017-12-09 21:47] robinersek commented on #1747
Hi all,

This discussion has been very useful to me, it was a great help to get the data streams running, thanks a lot!

I had lots of troubles with the REST requests though, but I finally got all request types running after a few days of head scratching & banging against the wall (it was especially difficult for me to calculate the nonce and signature properly, then I got stuck with feeding the d

[2017-12-09 22:22] fredfortier commented on #1965
You may have used a higher number with the same API key before. CCXT uses
seconds to epoch which is a fairly low number. Try creating a new API key.
On Fri, Dec 8, 2017 at 11:43 PM crush777 <notifications@github.com> wrote:

[2017-12-10 06:54] crush777 commented on #1965
You are right. Thanks !

[2017-12-10 06:54] #1965 closed

[2017-12-10 11:39] #1909 closed

[2017-12-10 15:34] ww3456 commented on #1882
Updating the JRE fixed this exception for me.

[2017-12-11 08:00] #1963 closed

[2017-12-11 14:56] npomfret commented on #1205
I wonder if using [this](https://github.com/irufus/gdax-java) might be a quick win ?

[2017-12-11 19:47] npomfret opened #1974 "new hitbtc api question"
@timmolter @EricAnderson1000

I just noticed the deletion of the old hitbtc implemention.  Are we sure the new one is ready to go?  At a glance I just noticed the code for `getFundingHistory`:

[code]

This doesn't look right to me, it calls `getTransactions` and converts all responses into _FundingRecords_, is this correct?  Surely not every transaction can be assumed to be a FundingRecord.

[2017-12-11 20:10] npomfret opened #1975 "gdax - java.lang.NoSuchMethodError"
I've just started getting this error after updating to the latest snapshot of 4.3.1 (not 4.3.2).

`Exception in thread "main" java.lang.NoSuchMethodError: org.knowm.xchange.gdax.GDAXAdapters.adaptToExchangeMetaData(Lorg/knowm/xchange/dto/meta/ExchangeMetaData;[Lorg/knowm/xchange/gdax/dto/marketdata/GDAXProduct;)Lorg/knowm/xchange/dto/meta/ExchangeMetaData;
`

I can't see a problem in the GDAXAdapt

[2017-12-11 20:29] #1975 closed

[2017-12-12 00:08] geirgp commented on #1233
I'm all for a defined exception structure, but with that example do you mean throwing checked exceptions? If so, thats a bad idea. You'd be forced to deal with the exception on every invocation and them re-wrap if you'd want proper handline, i.e propagating to exception handler up the stack.

Hope I just misunderstood your intention!

[2017-12-12 06:24] tdiesler commented on #1205
This project shows (very) low [activity](https://github.com/irufus/gdax-java/graphs/contributors) and has no [releases](https://github.com/irufus/gdax-java/releases).

You can monitor progress [here](https://github.com/tdiesler/XChange/tree/ghi1205). The functionality you're asking for is already implemented. This branch is still work in progress i.e. pls beware of incompatible changes.

[2017-12-12 08:23] lukasz-kaniowski commented on #1882
@ww3456 Thanks, this worked.

[2017-12-12 08:45] timmolter commented on #1233
@geirgp I don't think he meant checked exceptions. He put `throws FundsLackException, IllegalCurrencyException` on the method though as an extra way to document what unchecked exceptions can be thrown. Javadocs would provide additional and complementary information.

[2017-12-12 11:44] jcuypers commented on #1957
Can't you catch the error and do something with it?

        try {
            <whatever you need to do with the order>
        } catch (SocketException e) {
            System.out.println("Socket exception...");
            System.out.println(e.getMessage());
        } catch (NonceException e) {
            System.out.println("Nonce exception...");
            System.out.println(e.getMessage());

[2017-12-12 14:04] trebunski commented on #1782
Thanks :+1:

[2017-12-12 19:55] geirgp opened #1976 "(bitfinex) AccountService.getFundingHistory returns empty list for DASH"
For a Bitfinex account with 3 deposits (1xBTC, 2xDASH) I execute the below (kotlin) code
[code]
I expect the `btc` list to have 1 `FundRecord`, which it does, and `dash` to have 2, but it doesn't - list is empty

Any thoughts?

[2017-12-13 14:11] nitzanav opened #1977 "References/examples for building live feed"
Hi,

Thank you for this awesome project! It is amazing!

I want to build a live feed of crypto currencies order book, maybe using a deamon that is similar to what was done in [bitcoinium.com](https://github.com/veken0m/bitcoinium/blob/a60fee461405174ef82bcca89fefcb430baeb368/src/main/java/com/xeiam/tasks/GeneralUpdateDeamon.java#L25) just with sub seconds(100ms is great) pulling time interval.

I

[2017-12-14 08:43] sirilicious opened #1981 "Hitbtc getTradeHistory ignores paging"
I noticed that getTradeHistory of Hitbtc ignores the paging parameters - and always returns the latest 100 trades.

e.g:
[code]

[2017-12-14 10:23] npomfret commented on #1981
I'm not sure how complete the new implementation is (see https://github.com/timmolter/XChange/issues/1974).  @timmolter could you revert the deletion of the old one until it's tested a bit more?

[2017-12-14 12:13] jcuypers commented on #1977
the websocket part is fine. although you might want to try an api which aggregates streams from many exchanges instead of having to maintain a websocket for each specific one.  also sometimes the exchange support is better than the individual ones you are integrating yourself.   regarding the REST calls.   You will never get to the sub-second behavior as (like you indicated yourself), they will im

[2017-12-14 13:14] makarid opened #1982 "Adding and deleting CurrencyPair Symbols on exchanges"
Hello, i would like to ask you how can i add/remove new currency pairs on many exchanges on the project?I am seeing some new currency pairs on some exchanges and i would like to add them to the operational pairs of the exchanges.
Thanks

[2017-12-14 13:38] jamding opened #1983 "Implement Gemini AccountService#getFundingHistory"
Currently,
https://github.com/timmolter/XChange/blob/0af6279f52d779b324dfce4f4a710952e2ccb166/xchange-gemini/src/main/java/org/knowm/xchange/gemini/v1/service/GeminiAccountService.java#L75-L79

[2017-12-14 17:30] sirilicious commented on #1981
I'm a litte bit confused after i looked into the code of `org.knowm.xchange.hitbtc.v2.service.HitbtcTradeService`, because it is already doing something with pagination parameters.

[2017-12-14 17:33] k2cieslak commented on #1982
Hi @makarid

Please take a look at https://github.com/timmolter/XChange/pull/1973/commits/f6dffd317ceed39ce8a76bda98f543271cd522da
You need to amend those two classes to add currencies and currency pairs respecitevely.

&k

[2017-12-14 17:40] makarid commented on #1982
Thanks a lot for your response.After i do that,how can i add them to the ExchangeSymbol method.Thanks

[2017-12-15 09:15] nycrom opened #1984 "Gdax Exception - Rate limit exceeded"
Hi,

i get sometimes this exception, what is this and how can i catch it?
I only call the function every 5 minutes...

[code]

[2017-12-15 09:44] makarid commented on #1747
Hi robinersek,
thanks you so much for your post! I would like to ask you one thing about the data that these lines throwing:

// Order Book streams
		exchange.getStreamingMarketDataService().getOrderBook(xbtUsd).subscribe(orderBook -> {
		  System.out.println("First ask: " + orderBook.getAsks().get(0));
		  System.out.println("First bid: " + orderBook.getBids().get(0));
		}, throwable -> new Excep

[2017-12-15 09:52] timmolter commented on #1984
You could read the Exception message and compare to a String (Rate limit exceeded) or you could update to the latest snapshot jar and catch a `RateLimitExceededException`, which I recently added for GDAX.

[2017-12-15 09:52] #1984 closed

[2017-12-15 10:10] robinersek commented on #1747
Hi,
this is a subscription to the stream, so as the feed comes in, you do the action what you put between the { } brackets.
So if you want to evaluate each price quote as they come in, you simply need to change the System.out... lines to your script, or add additional script to it, like this:

// Order Book streams
exchange.getStreamingMarketDataService().getOrderBook(xbtUsd).subscribe(orderBook -

[2017-12-15 10:16] nycrom commented on #1984
Thank you very much!

[2017-12-15 14:34] jamding opened #1985 "Can't paginat GDAX trade history"
Currently `GDAXTradeService#getTradeHistory` doesn't return the paging cursor, https://github.com/timmolter/XChange/blob/7eb26719f609a8af4ac2cb207c2f1687724453bd/xchange-gdax/src/main/java/org/knowm/xchange/gdax/GDAX.java#L113-L117

According to [docs](https://docs.gdax.com/?php#pagination), we should return the paging cursor through response headers

[2017-12-15 20:23] makarid commented on #1747
Thanks a lot for your help robinersek!!!

[2017-12-15 20:34] Thleruth opened #1986 "Poloniex - createExchange(PoloniexExchange.class.getName()) throwing ExchangeException"
It is not possible for me to create an instance for PoloniexExchange. I tracked it down and it seems like it comes from the remoteInit() [within BaseExchange] which tries to access (as a test): "https://poloniex.com/public?command=returnCurrencies". However, the page has CAPTCHA enabled and thus return 403 (from a "Remote host closed connection during handshake" error) which in turns throw a new E

[2017-12-15 20:59] jcuypers commented on #1986
when I try the URL directly in a browser, it actually return the correct result without any problem.  No need to fill in/complete any captcha.  you might have hit some security measures (similar as google has if you hit it too many times from the same IP).   please go to the page again directly and complete the captcha succesfully and try again.

[2017-12-15 21:25] Thleruth commented on #1986
I sadly tried that and I am still getting the same issue :(

[2017-12-16 01:45] #1985 closed

[2017-12-16 07:25] jcuypers commented on #1986
Please refer to the following links, It will give you an idea on how you might solve it.
It seems to be a common issue.

https://github.com/dutu/poloniex-api-node/issues/20
https://github.com/ZhengyaoJiang/PGPortfolio/issues/4

good luck.

[2017-12-16 07:49] Thleruth commented on #1986
Appreciated, I will look into that :)

On 16-Dec-17 2:25 AM, jcuypers wrote:

[2017-12-16 07:50] #1986 closed

[2017-12-16 11:54] priteshwatch opened #1988 "Bitstamp limit order limit_price parameter"
Hello,

I might be mistaken here but the current implementation only support the price parameter of the call and does not have "limit_price" implemented. I that correct? Is there a way to support this?

POST | https://www.bitstamp.net/api/v2/buy/{currency_pair}/API v2
Request parameters
key | API key.
signature | Signature.
nonce | Nonce.
amount | Amount.
price | Price.
limit_price | If the order

[2017-12-16 14:48] npomfret commented on #1974
@timmolter would it be possible to bring the old hitbtc implemention back until the v2 api is finished?

[2017-12-16 15:08] EricAnderson1000 commented on #1974
Sorry it's been a busy week with Christmas coming up. I'll look into fixing this method this morning.

[2017-12-16 15:20] npomfret commented on #1974
A revert might just be the quickest thing to do in the short term - then we can get the new one finished later.

[2017-12-16 15:22] EricAnderson1000 commented on #1974
I would prefer to understand what is not working better before just reverting (I didn't remove it). It is better to go forward rather than backwards if possible.
@npomfret Can you give me an example where this is broken?

Here is the API for hitbtc
https://api.hitbtc.com/#get-transactions-history

Possible return types are
[code]

Here is how we are mapping the responses to Funding of Withdraw or

[2017-12-16 15:25] npomfret commented on #1974
Does the transactions endpoint only give deposits and withdrawal data?

[2017-12-16 15:27] EricAnderson1000 commented on #1974
That appears so. I think it is a poorly named API on hitbtc's side.

This is true! And needs to be fixed.

[2017-12-16 15:27] npomfret commented on #1974
Oh I see - my bad.  But yes, params are needed.

[2017-12-16 16:58] npomfret commented on #1983
I don't think the exchange supports it.

[2017-12-16 17:09] timmolter commented on #1974
Exactly my opinion too. It was marked as deprecated, I'm pretty sure.

@npomfret If you'd like to resurrect V1, I'm OK with it. Just try to keep it under a V1 sub package so it's clearly separated from V2. I think there are examples of this in other modules.

[2017-12-16 21:27] roeiba opened #1990 "Bitfinex withdrawal fee deleted"
Hi,

Commit f59e0891b only add IOTA, but instead of adding a currency, it deleted all other withdrawals fee data (xchange-bitfinex/src/main/resources/bitfinex.json)

It is probably a mistake, and someone pushed old code and wrongly solved local merged conflicts.

Please revert f59e0891b or cherry-pick bitfinex from 5174f9e93 again.

[2017-12-16 21:56] douggie opened #1991 "Support OKEX Futures Price Limits"
OKEX imposes max and min price limits, above which longs cannot be placed, and below which shorts cannot be placed.

In rapidly rising market, the max price limit can be below the current best bid/best ask in an  to cool down the market, also in a rapidly failing market, the min price limit can be above the current best bid/ask. In such instances placing limit orders at the current market, get rej

[2017-12-16 21:58] roeiba commented on #1990
Resolved under pull request:

https://github.com/timmolter/XChange/pull/1992

[2017-12-17 10:20] nitzanav commented on #1977
Thank you @jcuypers !

[2017-12-17 10:20] #1977 closed

[2017-12-17 10:49] axpence commented on #1784
this appears to be done, yes?

[2017-12-17 11:37] axpence opened #1993 "Binance Example"
Hi folks,
I was able to add `xchange-binance` to my project, however I am having trouble initializing the exchange. I don't see an example in the `examples/` and have tried two different methods:

[code]

Anybody have a Binance example they'd be willing to share? thanks!

[2017-12-17 17:04] jcuypers commented on #1993
Just try to get the basic exchange information  and proceed from there.
You could use a function like below to get a list of currencypairs of an exchange
classname for binance should be  :  org.knowm.xchange.binance.BinanceExchange

If this works:  just take any basic account/trade/market example of any other exchange and transform it.
It should be straightforward to do.  good luck

I've tested it

[2017-12-17 17:14] jcuypers opened #1994 "Binance bogus currencypair"
DEV 4.2.3 - '123/456` returned when querying available pairs.  all the rest seems normal.

[2017-12-17 17:43] axpence commented on #1993
Thanks, @jcuypers for your comment. I agree the first step is to try and get exchange information.

I attempted to obtain the `CurrencyPair`s using your method, however, I am getting the `Exception`. Here is how I am calling the code:

``` List<CurrencyPair> currencyPairs = getExchangeCurrencyPairs(org.knowm.xchange.binance.BinanceExchange.class.getName());```

Here is the terminal output:
[code]

[2017-12-17 18:27] sowhynot opened #1995 "Implement Poloniex margin account summary"

[2017-12-17 20:46] ww3456 commented on #1994
Hi, that is not an XChange error, it is just what Binance is returning from [https://www.binance.com/api/v1/ticker/allPrices](https://www.binance.com/api/v1/ticker/allPrices) i.e.
[code]
If it is causing a problem perhaps you could raise it with their support to find out what is going on.

[2017-12-17 21:00] trekmbikes opened #1998 "HitBTC exposes USDT balance as USD"
This is more of a question than an issue, but should XChange adapt requests for "USDT" to "USD" for HitBTC since the v2 api exposes it as such?

See https://api.hitbtc.com/api/2/explore/ , authorize with an API keypair and try either /account/balance or /trading/balance

[2017-12-17 21:23] timmolter commented on #1998
No, you should use USDT as the counter currency.

[2017-12-17 22:28] trekmbikes commented on #1998
I agree, I have funds on the site in USDT, but when I call XChange wallet.getBalance(Currency.USDT) it returns zero, because HitBTC v2 API actually returns this balance as USD.

[2017-12-18 00:17] Thleruth opened #1999 "Documentation error Bid/Ask (mixed up)"
I found an issue with one of Java docs it is stating: "Either BID (buying) or ASK (selling)" for the Type of MarketOrder.

In the case of a MarketOrder we are an investor, thus, the bid is actually the sell price and the ask is the buy price.

If we are placing a limit order (we are then a market maker), it is actually correct that placing a bid price will result in a buy (if hit) and placing a as

[2017-12-18 06:41] digitalchaotics opened #2000 "Probable incorrect 'else if' in LivecoinAdapters"
Pointing out a likely oversight that I stumbled across.

Starting at line 152 of LivecoinAdapters.java:

`

    if (typeName.equals("MARKET_SELL"))

      type = OrderType.ASK;

    else if (typeName.equals("LIMIT_SELL"))

      type = OrderType.ASK;

    else if (typeName.equals("LIMIT_BUY"))

      type = OrderType.BID;

    else if (typeName.equals("LIMIT_SELL"))

      type = OrderType.ASK;

[2017-12-18 07:25] KevinJannis commented on #1993
@jcuypers,

I am having the same issue as well.
It seems the error is caused in `BaseExchange.getExchangeMetaData()`, which returns `null`:
[code]

I do not use a metadata json file.

K.

[2017-12-18 07:32] KevinJannis commented on #1993
@timmolter,

It seems this issue is fixed in the `develop` branch. When is a new release expected?

K.

[2017-12-18 08:17] npomfret commented on #2000
Good spot.

[2017-12-18 08:39] jcuypers commented on #1993
Yes 4.2.3 works fine.
Seems strange naming to me : [main] DEBUG o.k.xchange.binance.BinanceExchange - ExchangeMetaData

[2017-12-18 09:19] timmolter commented on #1993
@KevinJannis https://github.com/timmolter/XChange/wiki/Frequently-Asked-Questions

[2017-12-18 09:31] timmolter commented on #1998
Does HitBTC return it as USD or does the xchange code convert it somewhere?

[2017-12-18 11:46] cristianlucaci commented on #1747
hi @robinersek , any chance you can implement Bitmex as a new module in XChange, according to https://github.com/timmolter/XChange/wiki/New-Implementation-Best-Practices ?

[2017-12-18 14:17] EricAnderson1000 commented on #1974
@npomfret @timmolter
Here is a PR
https://github.com/timmolter/XChange/pull/2001

[2017-12-18 14:20] EricAnderson1000 commented on #1981
I'll try and get a PR for this later today.

[2017-12-18 16:01] #1974 closed

[2017-12-18 16:58] trekmbikes commented on #1998
HitBTC returns it as USD

On 12/18/2017 2:31 AM, Tim Molter wrote:

[2017-12-18 19:01] KevinJannis commented on #1993
@jcuypers,

Can you create a new instance of the BinanceExchange? I can not seem to get it working. Are you using a metadata json file? Can you post that file if you use one?

K.

[2017-12-18 19:57] #1991 closed

[2017-12-18 20:16] robinersek commented on #1747
Hi, I'd love to contribute. Unfortunately, I do not have any spare time at the moment. If anyone is willing to take this on, I am happy to help in any way I can. The code I uploaded does work fine - I actually finished my fully working bot and have it running on BitMEX right now -, so if anyone has the time to do the XChange implementation I am here to help and discuss any issues.

[2017-12-18 20:50] priteshwatch commented on #1988
@timmolter  I have the fix for this, but the standard interfaces dont really fit.. is there a suggested way to introduce this fix?

[2017-12-19 07:52] jcuypers commented on #1993
@KevinJannis Yes. Working without a json file. nothing special

[2017-12-19 08:11] paulbistr opened #2003 "org.knowm.xchange.bitfinex.v1.dto.BitfinexException: Nonce is too small."
Hi Guys,
CurrentNanosecondTimeIncrementalNonceFactory.java is the generator of nonce values.

1. Why is it using  long newNonce = System.currentTimeMillis() * 1000; instead of System.nanoTime()
2. Is the Nonce generator ThreadSafe? It does not look like

Cheers!

[2017-12-19 10:09] cristianlucaci commented on #1747
@timmolter I would like to create a PR for Bitmex implementation, but please be advised its only a partial implementation. Only a small part of their API is implemented, mainly the Raw Margin/Account/Wallet operations. I will most probably implement the trading API sometime in the future (no ETA yet), depending on my requirements. Are you ok with this approach?

[2017-12-19 10:40] cristianlucaci commented on #1995
@sowhynot any chance you will also implement Poloniex MarginPosition? Thanks.

[2017-12-19 12:13] cristianlucaci commented on #1887
hey, does anyone has any updates on Bitflyer implementation? I intended to start the implementation, but I have difficulties enabling the API keys.

[2017-12-19 12:16] cristianlucaci commented on #1959
hey @npomfret,  any updates on the bitflyer implementation? Thanks

[2017-12-19 12:50] npomfret opened #2006 "coinfloor fees"
Coinfloor have added trading fees and I suspect the parser isn't dealing with them correct.

I will fix.

[2017-12-19 13:25] #2000 closed

[2017-12-19 13:26] #1995 closed

[2017-12-19 13:44] timmolter commented on #1747
Even a partial implementation is fine. You or someone later can always build upon it. Thanks!

[2017-12-19 18:31] KevinJannis commented on #1993
@jcuypers,

Can you fetch the exchange symbols? I keep getting the following error:

`org.knowm.xchange.binance.dto.BinanceException: -1021: Timestamp for this request is outside of the recvWindow.`

[2017-12-19 19:01] cymp commented on #1993
This is because your local system time is not close enough to the binance server one. Compare your server local time to https://api.binance.com/api/v1/time, and adjust your recvWindow size, or your local server time.

[2017-12-19 19:33] KevinJannis commented on #1993
@cymp,
I do not think it is not possible to set the recvWindow in this library?

[2017-12-19 22:43] cymp commented on #1993
Last time I checked, it was hardcoded indeed. Maybe needs a PR.

[2017-12-19 22:57] npomfret commented on #1959
Nope sorry, didn't even start.

[2017-12-20 08:28] KevinJannis commented on #1993
@cymp,
As requested:
https://github.com/timmolter/XChange/pull/2009

[2017-12-20 11:05] cristianlucaci commented on #1959
thanks, just started the implementation, I am only interested for now in the Margin part, but it wont take long to continue the trading part. #2011

[2017-12-20 11:23] cristianlucaci opened #2012 "GDAX API is outdated?"
hey, I am trying to test the GDAX API, but noticed the model is not matching the model on the exchange's  website. For example, the "GET /accounts"  will return accounts that have more fields than GDAXAccount currently has.
I couldn't find any open/closed issue discussing about this mismatch, if anyone has mode details or is currently working on this, please let me know.

https://docs.gdax.com/#ac

[2017-12-20 12:36] npomfret opened #2013 "implementation request: Lykke"

[2017-12-20 12:36] npomfret opened #2014 "implementation request: Coinroom"

[2017-12-20 12:38] nycrom opened #2015 "How to get the rates from bitcoin.de"
Hi,

im trying for hour now and i need help please. I have the json with my api keys and want to read the buy prices from bitcoin.de.

But i get always this message and an error when i want to call getTicker.

` Exchange bitcoindeExchange = ExchangeUtils.createExchangeFromJsonConfiguration();
MarketDataService marketDataService = bitcoindeExchange.getMarketDataService();
ticker = marketDataService

[2017-12-20 13:02] timmolter commented on #2015
getTicker isn't implemented yet for Bitcoin.de AFAIK.

[2017-12-20 13:03] nycrom commented on #2015
how to get the BTC EUR prices instead?

[2017-12-20 13:05] timmolter commented on #2015
You'll have to implement it in XChange. A PR would be appreciated if you get it working.

[2017-12-20 13:07] nycrom commented on #2015
As you can see im a newbie to java ... i think its out of my league

[2017-12-20 15:04] makarid commented on #1982
About my previous question i think i found it!

I want to add some new CurrencyPairs to some exchanges (because they have add support on those) in order, when i call the getExchangeSymbols method of that exchange, i will get the new List of CurrencyPairs that this exchange supports. My question is, in order to do that, do i need to modify the .json file of the specific exchange and add the new Cur

[2017-12-20 16:32] assaad commented on #1993
I am having a related issue:

17:31:40.814 [default] [main] WARN  o.k.xchange.binance.BinanceExchange - An exception occurred while loading the metadata java.lang.NullPointerException: null
	at org.knowm.xchange.binance.BinanceExchange.remoteInit(BinanceExchange.java:61)
	at org.knowm.xchange.BaseExchange.applySpecification(BaseExchange.java:111)
	at org.knowm.xchange.ExchangeFactory.createExchang

[2017-12-20 18:18] timmolter commented on #2015
Yeah, could be. If you're determined, it'd be a great way to learn Java and related tools! Just fork and clone, get an IDE and Maven setup and start looking at code and trying things out. It's a steep learning curve, but very rewarding.

Regarding bitcoin.de the ticker endpoint is not implemented, which is why you aren't able to successfully get that data. Only Trades and order book are implemente

[2017-12-20 18:18] #2015 closed

[2017-12-20 20:40] assaad opened #2018 "Get all prices in one shot"
Hello is there a function where we can get all prices from a market in one shot?
Iterating through different tickers is too slow.
Many thanks!

[2017-12-20 21:16] timmolter commented on #2018
Only if the exchange in question offers an endpoint for it, which in my experience is not usually the case.

[2017-12-20 21:29] digitalchaotics commented on #2018
I've only found that capability on the endpoints for Livecoin, HitBTC, Cryptopia, and Poloniex.  It's not supported in the XChange API, but the Poloniex MarketDataServiceRaw ("Map<String, PoloniexMarketData> getAllPoloniexTickers()") gets them all at once, caches the result for one second.  It returns the requested pair ticker you requested, and continues to do so until the data is more than one s

[2017-12-20 21:31] douggie commented on #2018
Hi,

feel free to take a look at https://github.com/timolson/cointrader it gets
each market on seperate threads so can handel getting data from 100's
markets simultanously.

On Wed, 20 Dec 2017, 21:16 Tim Molter, <notifications@github.com> wrote:

[2017-12-20 21:33] digitalchaotics commented on #2018
Yes - operating each exchange API on a separate thread will help a LOT.

[2017-12-20 21:46] timmolter commented on #2018
IIRC, there is a different open issue about adding such a generic method the MarketdataService API. If you wanted to implement it, I'd be welcome.

[2017-12-21 03:52] goleary91 opened #2020 "implementation request: BitGrail"

[2017-12-21 11:13] Beerius opened #2024 "Question: order rate"
Hello. Is it possible to manually set rate for a poloniex order? Thanks

[2017-12-21 17:33] bingoko opened #2025 "EXX exchange api"
Can anyone integrate this API?

[2017-12-21 17:45] cymp commented on #2025
You can propose a bounty and it can be done pretty quickly and well. I have done that several times.

[2017-12-21 22:43] tprochazka opened #2026 "Missing implementation of Funding History for Coinmate"
In CoinMate exchange is missing implementation for getFundingHistory().

I almost implemented it, so I can create the pull request if you want.

But I have several questions. CoinMate support much more funding operations like CREATE_VOUCHER, USED_VOUCHER, NEW_USER_REWARD and REFERRAL, technically USED_VOUCHER, NEW_USER_REWARD, and REFERRAL is DEPOSIT because you will get new money on the account,

[2017-12-21 22:51] tprochazka commented on #2026
One note to the orderType would be great to have an extra parameter in the FundingRecord with original operation typer which will be String and will contain native operation description of transaction like VOUCHER, REFFERAL, etc.

[2017-12-22 11:49] Saloed123 opened #2031 "Binance exchange"
Hello, which version of lib me need to use for Binance.
I use v 4.3.2-SNAPSHOT, but BinanceExchange not found
[code]

[2017-12-22 12:03] cymp commented on #2031
See the "Maven" section on the main page.

[2017-12-22 13:39] Saloed123 commented on #2031
Version 4.3.1?
Same problem
[code]

[2017-12-22 13:46] timmolter commented on #2031
Please carefully read the "Maven" section on the main page (README). You are missing something.

[2017-12-22 13:46] #2031 closed

[2017-12-22 13:54] Saloed123 commented on #2031
[code]
Help met. Solved

[2017-12-23 02:25] santiago113 opened #2033 "OkCoinExhange ,, Url Error , branch Develop , version 4.3.2"
Fix error in OkCoinExchange when Use_Intl = true and Use_Futures =false,,  In actual version 4.3.2 , without this fix throw  10005  'SecretKey' does not exist

I fix this error channging this code:

[code]

[code]

And now works,,

[2017-12-23 10:21] makarid opened #2034 "Problem on Trade Demo at Bitstamp"
Hello, i went to this link "https://knowm.org/open-source/xchange/xchange-example-code/" which has examples of code using the API. I have copy paste the following lines:

final OpenOrdersParamCurrencyPair openOrdersParamsBtcEur = (OpenOrdersParamCurrencyPair) tradeService.createOpenOrdersParams();
    openOrdersParamsBtcEur.setCurrencyPair(CurrencyPair.BTC_EUR);

When i am trying to test it,i get

[2017-12-23 10:31] makarid commented on #1846
I no longer get this error anymore.Thanks for you help!!!